<br>
<br>
<br>
<br>
Other statuses:
<h3>Applicant &ndash; user initiated</h3>
<ul>
  <li><a href="/tracking/user">Adult csig</a></li>
  <li><a href="/tracking/user?csigtype=child">Child csig</a></li>
  <li><a href="/tracking/user?group=overseas">Adult csig (overseas)</a></li>
  <li><a href="/tracking/user?csigtype=child&group=overseas">Child csig (overseas)</a></li>
  <li><a href="/tracking/user?status=renominate">Adult renominate</a></li>
  <li><a href="/tracking/user?status=application-submitted">Application submitted</a></li>
  <li><a href="/tracking/user?status=send-docs">Identity details received</a></li>

</ul>
<h3>Applicant &ndash; examiner initiated/no docs</h3>
<ul>
  <li><a href="/tracking/user?status=application-in-queue&csigtype=examiner">Your application is in the queue</a></li>
  <li><a href="/tracking/user?status=application-approved&csigtype=examiner">Application approved</a></li>
  <li><a href="/tracking/user?status=passport-on-its-way&csigtype=examiner">Your passport is on its way</a></li>
  <li><a href="/tracking/user?csigtype=examiner">Ask someone to confirm your identity</a></li>
  <li><a href="/tracking/user?status=csig-completed&csigtype=examiner">Identity details received</a></li>
  <li><a href="/tracking/user?status=renominate&csigtype=examiner">Person not eligible</a></li>
  <li><a href="/tracking/user?status=paper-form-no-docs&csigtype=examiner">Send the form</a></li>
</ul>
<h3>Person confirming identity</h3>
<ul>
  <li><a href="../../csig/start">Confirm someone's identity</a></li>
  <!-- <li><a href="/tracking/user-renominate-anytime">Renominate anytime</a></li> -->
  <!-- <li><a href="/tracking/track">What you need to do (new tracking page)</a></li> -->
</ul>
