{{#nunjucks}}
  <div class="sidebar-container">
    <ul class="sidebar-task">
      <li class="sidebar-task__panel">
        <h3>Application reference</h3>
        <p>PEX 319 825 680X</p>
      </li>
        {% if values['csig-type'] != 'examiner' %}
          {% if values['change-of-name-reason'] or not values['lost-stolen-no-docs'] %}
            <li class="sidebar-task__panel">
              <h3>Documents</h3>
              {% if values['passport-before'] %}
                <a href="/prototype/apply/docs-renew" target="_blank">
                  What you need to send
                </a>
              {% else %}
                <a href="/prototype/apply/docs-fta" target="_blank">
                  What you need to send
                </a><br>
              {% endif %}
            </li>
          {% endif %}
        {% endif %}
      {% if values['status'] === 'waiting-for-old' or values['status'] === 'send-us-your-docs' %}
        <li class="sidebar-task__panel" style="border-top: none;">
          <h3>Other links</h3>
          <p><a href="/prototype/startpage">Start a new application</a></p>
          <p><a href="/prototype/startpage">Give feedback</a></p>
        </li>
      {% endif %}
    </ul>
  </div>
{{/nunjucks}}