<div class="photo-preview">
  <ul class="sidebar-task">
    <li class="sidebar-task__panel">
      <h3>Application reference</h3>
      <p>PEX 319 825 680X</p>
    </li>
    {{#nunjucks}}
      {% if values['csig-type'] != 'examiner' %}
      <li class="sidebar-task__panel">
        <h3>Documents</h3>
        {% if values['passport-before'] %}
          <a href="/ftas/renew/docs-renew" target="_blank">
            Check what you need to send
          </a><br>
        {% else %}
          <a href="/ftas/renew/docs-fta" target="_blank">
            Check what you need to send
          </a><br>
        {% endif %}
      </li>
      {% endif %}
    {{/nunjucks}}
  </ul>
</div>