{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}
<div class="grid-row"><div class="column-two-thirds">

<h1>Choose how to get a passport urgently</h1>

<p>You'll need to attend an appointment at a <a href="/priority_service_170301/book-appointment/passport-offices">passport office in the UK</a>. You can choose an appointment online when you apply.</p>

</div>
</div>

<table class="comparison-table">
	<tbody>
		<tr>
			<td class="no-style"></td>
			<td><p class="bold-small">Paper</br>Premium</p></td>
				<td><p class="bold-small">Online</br>Premium</p></td>
					<td><p class="bold-small">Fast</br>Track</p></td>
		</tr>

		<tr>
			<td class="criterion"><span class="bold-small">How do I apply?</span></td>
			<td><div class="no">Paper form</div></td>
			<td><div class="yes">Online</div></td>
			<td><div class="no">Paper form</div></td>
		</tr>

			<tr>
				<td class="criterion"><span class="bold-small">When do I get my new passport?</span></td>
				<td>4 hours after your appointment</div></td>
				<td>30 minutes after your appointment</td>
				<td>1 week after your appointment by post</td>
			</tr>
		<tr>
			<td class="criterion"><span class="bold-small">What photos do I need?</span></td>

      <td><div class="yes">2 printed <br>photos</div></td>
			<td><div class="no"><a href="/priority_service_170301/photoguide-static/photorules/">1 digital <br>photo</a></div></td>
			<td><div class="yes">2 printed <br>photos</div></td>

		</tr>

		    <tr>
      <td class="criterion"><span class="bold-small">How much is an adult passport?</span></td>
      <td>£128</div></td>
      <td>£128</td>
      <td>£103</td>
    </tr>
         <tr>

		<tr>
				<td class="criterion"><span class="bold-small">Can I apply for a child passport?</span></td>
				<td>No</div></td>
				<td>No</td>
				<td>Yes</td>
		</tr>
			<tr>
      <td class="no-style">&nbsp;</td>
      <td><h2><a href="https://www.gov.uk/get-a-passport-urgently"><input class="button" type="submit" value="Choose"></h2></a></td>
      <td><h2><a href="/priority_service_170301/get-urgent-passport/premium-online"><input class="button" type="submit" value="Choose"></h2></a></td>
      <td><h2><a href="https://www.gov.uk/get-a-passport-urgently"><input class="button" type="submit" value="Choose"></h2></a></td>
    </tr>
	</tbody>
</table>


{{/main-content}}

{{/ layout}}
