{{< layout}}

{{$pageTitle}}Give details{{/pageTitle}}
{{$header}}
    <h1>Details submitted</h1>
{{/header}}

{{$content}}
<p>We've sent an email to the address you entered.</p>

<p>You may wish to check that the email has been received and that the person can go online to confirm your identity as soon as possible.</p>

<p>They need to do this by <strong>Friday 30 June 2017</strong> or your application will be delayed.</p>


<a href="" class="button">Continue</a><br>



{{/content}}

{{/ layout}}
