{{< layout}}

{{$pageTitle}}Give details{{/pageTitle}}
{{$header}}
    <h1>Who will confirm your identity?</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

  <p>You need to ask someone who:</p>
    <ul class="list-bullet">
      <li>has known you for at least 2 years</li>
      <li>is able to identify you, for example as a friend, neighbour or colleague (not someone you only know professionally, like a doctor)</li>
      <li>works in or is retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories" target="_blank">recognised profession</a></li>
      <li>lives in the UK</li>
      <li>has a current UK passport</li>
    </ul>

<p>Contact this person before you enter their details. You need their UK passport number.</p>
      <div id="csig-number-group" class="form-group">
          <fieldset>
            <div id="name-group" class="form-group">
                <label for="name" class="form-label-bold">
                    Full name
                </label>
                <span>
                    <input type="text" id="name" class="form-control name" name="name" value="" maxlength="16" aria-describedby="name-prefix" aria-required="true">
                </span>
            </div>
            <div id="email-group" class="form-group">
                <label for="email" class="form-label-bold">
                    Email
                    <span class="form-hint">We'll send them an email explaining what they need to do.</span>

                </label>
                <span>
                    <input type="text" id="email" class="form-control name" name="name" value="" maxlength="16" aria-describedby="name-prefix" aria-required="true">
                </span>
            </div>
            <div id="phoneno-group" class="form-group">
                <label for="phoneno" class="form-label-bold">
                    Phone number
                    <span class="form-hint">They'll use this phone number to sign in online.</span>
                </label>
                <span>
                    <input type="text" id="phoneno" class="form-control phoneno" name="phoneno" value="" maxlength="16" aria-describedby="phoneno-prefix" aria-required="true">
                </span>
            </div>
            <fieldset>
                <legend><span class="form-label-bold">Their UK passport number</span></legend>
                  <p class="form-hint" id="dob-hint">For example 502135326</p>
                    {{#input-text}}passport-number{{/input-text}}
            </fieldset>
          </fieldset>
          <a href="/csig_170601/user/tracking-waiting" class="button">Submit</a><br>

          <!--  {{#input-submit}}{{/input-submit}}-->
        </div>





        {{/form}}
    {{/ hmpo-partials-form}}



{{/content}}

{{/ layout}}
