{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>You need to confirm your identity</h1>
          <p>Your passport application is on hold. You look very different in your old and new photos, so you need to get a countersignature. </p>
    </header>
    <h2>What you need to do</h2>
        <a href="give-csig-details">Get someone to confirm your identity</a>
        <br/>        <br/>

    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Countersignature needed: on hold</td>
            <td>07:30pm on 10th of June 2017 </td>
          </tr>
          <tr>
            <td>Old passport received</td>
            <td>06:30pm on 10th of June 2017 </td>
          </tr>
          <tr>
            <td>Joined processing queue</td>
            <td>10:05am on 5th of June 2017 </td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>10:05am on 5th of June 2017 </td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of June 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking" class="button">Sign out</a><br>


{{/content}}


{{/ layout}}
