{{< layout}}

{{$pageTitle}}Contact details{{/pageTitle}}

{{$header}}
    <h1>Your contact details</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    {{#values.social-worker}}
      <p>We need your contact details instead of the applicant's. We'll only send you updates about this application.</p>
    {{/values.social-worker}}

    {{^values.social-worker}}
      <p>We'll only use these details to send you updates about your application.</p>
    {{/values.social-worker}}

    {{#input-text}}email{{/input-text}}

    <legend><span class="form-label-bold">Mobile or home number</span></legend>
    <p class="form-hint" id="dob-hint">Use a phone you have access to – we may call you if there's a problem.</p>
    {{#input-text}}mobile{{/input-text}}

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
