{{< layout}}

{{$pageTitle}}Your contact details{{/pageTitle}}

{{$header}}
    <h1>Contact details</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

      <p>We’ll only use these details to contact you about this application.</p>
      {{#input-text}}email{{/input-text}}
            <p>Use a phone you have access to &ndash; we may call you if there's a problem.</p>
      {{#input-text}}mobile{{/input-text}}

    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
