{{< layout}}

{{$pageTitle}}Mother or parent 1{{/pageTitle}}

{{$header}}
  <h1>
    <span class="heading-secondary">Mother or parent 1</span>
    {{values.parent1-first-names}}'s details
  </h1>
{{/header}}

{{$content}}

<p>You need to enter as much information as you can or this application may <br>be delayed.</p>

{{< hmpo-partials-form}}
{{$form}}

      {{#input-text}}parent1-town{{/input-text}}
      <fieldset>
        <legend><span class="form-label-bold">Country of birth</span></legend>
              {{#select}}application-country{{/select}}
      </fieldset>


      <fieldset>
          <div class="form-date">
            <legend><span class="form-label-bold">Date of birth</span></legend>
            <p class="form-hint" id="dob-hint">For example 31 08 1970</p>
              {{#input-text}}parent1-age-day{{/input-text}}
              {{#input-text}}parent1-age-month{{/input-text}}
              {{#input-text}}parent1-age-year{{/input-text}}
          </div>
      </fieldset>
      <br>
      <fieldset>
        <legend><span class="form-label-bold">Country of nationality</span></legend>
            <p class="form-hint" id="dob-hint">At the time of {{values.name}}'s birth</p>
              {{#select}}application-country{{/select}}
      </fieldset>

      <fieldset>
        <legend><span class="form-label-bold">UK passport number</span></legend>
            <p class="form-hint" id="dob-hint">For example 502135326, leave this blank if it doesn't apply</p>
              {{#input-text}}parent1-passport-number{{/input-text}}
      </fieldset>

      <fieldset>
          <div class="form-date">
            <legend><span class="form-label-bold">Date of issue</span></legend>
            <p class="form-hint" id="dob-hint">For example 12 04 2007, leave this blank if it doesn't apply</p>
              {{#input-text}}parent1-age-day{{/input-text}}
              {{#input-text}}parent1-age-month{{/input-text}}
              {{#input-text}}parent1-age-year{{/input-text}}
          </div>
      </fieldset>
      <br>
      <details>
          <summary>
              <span class="summary">I can't provide all the details</span>
          </summary>
          <label class="form-label-bold">
            Additional information
            <span class="form-hint">Why can't you provide all the information?</span>
          </label>
          <div class="panel panel-border-narrow">
              {{#textarea}}additional-information{{/textarea}}
          </div>
      </details>
    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
