{{< layout}}

{{$pageTitle}}Father or parent 2{{/pageTitle}}

{{$header}}
    <h1>{{values.parent2-first-names}}'s details</h1>
{{/header}}

{{$content}}

<div class="panel panel-border-wide alert-default">
<p>You need to enter as much information as you can or your application may be delayed.</p>
</div>

{{< hmpo-partials-form}}
{{$form}}

      {{#input-text}}parent2-town{{/input-text}}
      {{#input-text}}parent2-country{{/input-text}}

      <fieldset>
          <div class="form-date">
            <legend><span class="form-label-bold">Date of birth</span></legend>
            <p class="form-hint" id="dob-hint">For example 31 08 1970</p>
              {{#input-text}}parent1-age-day{{/input-text}}
              {{#input-text}}parent1-age-month{{/input-text}}
              {{#input-text}}parent1-age-year{{/input-text}}
          </div>
      </fieldset>
      <br>

      <!-- {{#input-text}}parent1-nationality{{/input-text}} -->

      <fieldset>
        <legend><span class="form-label-bold">Nationality</span></legend>
            <p class="form-hint" id="dob-hint">At the time of the passport holder's birth</p>
              {{#input-text}}parent1-passport-number{{/input-text}}
      </fieldset>

      <fieldset>
        <legend><span class="form-label-bold">UK passport number</span></legend>
            <p class="form-hint" id="dob-hint">If applicable, for example 502135326</p>
              {{#input-text}}parent1-passport-number{{/input-text}}
      </fieldset>

      <fieldset>
          <div class="form-date">
            <legend><span class="form-label-bold">Date of issue</span></legend>
            <p class="form-hint" id="dob-hint">If applicable, for example 12 04 2007</p>
              {{#input-text}}parent1-age-day{{/input-text}}
              {{#input-text}}parent1-age-month{{/input-text}}
              {{#input-text}}parent1-age-year{{/input-text}}
          </div>
      </fieldset>
      <br>
    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
