{{< layout}}

{{$pageTitle}}Parents' details{{/pageTitle}}

{{$header}}
    <h1>Parents' details</h1>
{{/header}}

{{$content}}

<p>We need these details to confirm {{values.name}} is eligible for a UK passport.</p>

{{< hmpo-partials-form}}
  {{$form}}
        <h2>Mother or parent 1</h2>
        {{#input-text}}parent1-first-names{{/input-text}}
        {{#input-text}}parent1-last-name{{/input-text}}

        <h2>Father or parent 2</h2>
        {{#input-text}}parent2-first-names{{/input-text}}
        {{#input-text}}parent2-last-name{{/input-text}}

        <div id="marriage-date">
          <fieldset>
            <legend><span class="form-label-bold">Date of marriage or civil partnership</span></legend>
            <div class="form-date">
              <p class="form-hint" id="dob-hint">If applicable, for example 25 08 2012</p>
              {{#input-text}}marriage-day{{/input-text}}
              {{#input-text}}marriage-month{{/input-text}}
              {{#input-text}}marriage-year{{/input-text}}
            </div>
          </fieldset>
          <br>
        </div>
      {{#input-submit}}{{/input-submit}}
  {{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
