{{< layout}}

{{$pageTitle}}Signing a new passport{{/pageTitle}}

{{$header}}
    <h1>Parents' details</h1>
{{/header}}

{{$content}}
    <div class="confirmation">
      <div class="section old-passport-details">
          <dl class="passport-number">
              <dt class="column-one-third">Parent 1</dt>
              <dd class="column-two-thirds">
                <p></p>
                <div class="button-wrapper">
                    <a href="/csig/referee">Change<span class="visuallyhidden"> passport number</span></a>
                </div>
              </dd>
          </dl>
          <dl class="expiry-date">
              <dt class="column-one-third">Grandparent 2</dt>
              <dd class="column-two-thirds">
                <p></p>
                <div class="button-wrapper">
                    <a href="/csig/referee">Change<span class="visuallyhidden"> expiry date</span></a>
                </div>
              </dd>
          </dl>
      </div>
    </div>
    {{< hmpo-partials-form}}
        {{$form}}
        <label class="form-label-bold">
          Additional information
          <span class="form-hint">Why can't you provide all the information?</span>
        </label>
        {{#textarea}}additional-information{{/textarea}}
          {{#input-submit}}{{/input-submit}}
        {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
