{{< layout}}

{{$pageTitle}}Parents' details{{/pageTitle}}

{{$header}}
    <h1>Parents' details</h1>
{{/header}}

{{$content}}

<p>We need to check that {{values.name}} is eligible to get a UK passport.</p>

{{< hmpo-partials-form}}
{{$form}}
      <h2>Mother or parent 1</h2>
      {{#input-text}}parent1-first-names{{/input-text}}
      {{#input-text}}parent1-last-name{{/input-text}}

      <h2>Father or parent 2</h2>
      {{#input-text}}parent2-first-names{{/input-text}}
      {{#input-text}}parent2-last-name{{/input-text}}

      <div id="marriage-date">
        <fieldset>
            <div class="form-date">
              <legend><span class="form-label-bold">Date of marriage or civil partnership</span></legend>
              <p class="form-hint" id="dob-hint">For example 18 09 2004. You can leave this blank if it doesn't apply.</p>
                {{#input-text}}age-day{{/input-text}}
                {{#input-text}}age-month{{/input-text}}
                {{#input-text}}age-year{{/input-text}}
            </div>
        </fieldset>
        <br>
      </div>

    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
