{{< layout}}

{{$pageTitle}}Your name{{/pageTitle}}


{{$header}}
    {{#values.change-name}}
      <h1>Your previous names</h1>
    {{/values.change-name}}
    {{^values.change-name}}
      <h1>Has {{values.name}} ever been known by any other names?</h1>
    {{/values.change-name}}
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
{{$form}}

{{#values.change-name}}
  <p>Tell us the name on your old passport and any other names you've been known by.</p>
  <input type="hidden" name="previous-name" value="true" required="true">
{{/values.change-name}}

{{^values.change-name}}
  {{#radio-group}}previous-name{{/radio-group}}
{{/values.change-name}}

<div id="previous-names" class="previous-names-form {{^values.change-name}}js-hidden{{/values.change-name}} reveal">
  <h2>List all previous names</h2>
  <br>
  <div class="grid-row duplicate-row">
    <div class="fields-wrap">
      <div class="column-half">
        <div>
          <label for="previous-first-name-1" class="form-label-bold">
              First and middle names
          </label>
        </div>
        <div class="form-group">
          <input type="text" name="previous-first-name" class="form-control" aria-required="false">
        </div>
      </div>
      <div class="column-half">
        <div>
          <label for="previous-last-name-1" class="form-label-bold">
              Last name
          </label>
        </div>
        <div class="form-group">
          <input type="text" name="previous-last-name" class="form-control" aria-required="false">
        </div>
      </div>
    </div>
  </div>
  <!--hidden row -->
  <div class="grid-row duplicate-row-template js-hidden">
    <div class="fields-wrap">
      <div class="column-half">
        <div>
          <label for="previous-first-name-1" class="form-label-bold">
              First and middle names
          </label>
        </div>
        <div class="form-group">
          <input type="text" name="previous-first-name" class="form-control" aria-required="false">
        </div>
      </div>
      <div class="column-half">
        <div>
          <label for="previous-last-name-1" class="form-label-bold">
              Last name
          </label>
        </div>
        <div class="form-group">
          <input type="text" name="previous-last-name" class="form-control" aria-required="false">
        </div>
      </div>
      <a class="remove-field" href="#">Remove</a>
    </div>
  </div>
  <a class="add-row" href="#">Add another name</a>
</div>

{{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}
{{/content}}


{{/ layout}}
