{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$content}}

<header>
  <h1>You need a different service</h1>
</header>

<p>You can't use Online Premium if your passport is lost or stolen. You must <a title="Part 1: Choose another sevice" href="https://www.gov.uk/report-a-lost-or-stolen-passport/y/in_the_uk">cancel your old passport</a>.</p>

<p>To get your passport urgently, you need to apply with <a title="Part 1: Choose another sevice" href="https://www.gov.uk/get-a-passport-urgently">Fast Track</a>.</p>


{{/ content}}

{{/ layout}}
