{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
    <h1>Get a passport urgently</h1>
{{/header}}


{{$content}}
<div class="article-container group">
<div class="content-block">
  <div class="inner">

<aside>
<div class="inner">
<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
    <ol>
          <li class="active">
            <span>Choose a service</span>
          </li>
          <li>
            <a title="Part 2: Passports types and prices" href="prices">Passport types and prices</a>
          </li>
          <!--<li>
            <span class="part-number">3.</span>
            <a title="Part 3: Get an application form, book and pay" href="/get-a-passport-urgently/book-appointment-pay">Get an application form, book and pay</a>
          </li>-->
          <li>
            <a title="Part 3: What to take to your appointment" href="what-to-take">What to take to your appointment</a>
          </li>
    </ol>
</nav>
</div>
</aside>

<header>
  <h1>1. Choose a service</h1>
</header>

</p>
If you're applying for a first British passport or to renew a child passport, you'll need to <a href=" ">use a different service</a>.

<h2>Get a passport in 1 day</h2>

<p>You can complete a paper form or apply online.</p>

<h3>Complete a paper form</h3>

<p>You can get a paper form at the Post Office. Take your completed form and 2 printed photos to a <a href="/find-regional-passport-office">passport office</a>. You can usually collect your new passport 4 hours after your appointment. 
</p>
Make an appointment to <a href="">drop off your form and photos</a>.
</p>

<h3>Apply online</h3>

<p>You can apply online, upload a digital photo and make an appointment to collect your new passport from a <a href="/find-regional-passport-office">passport office</a>. This is a new service. You can usually collect your new passport 1-2 days after submitting your application.
</p>
Make an appointment to <a href="">collect your new passport</a>.   
</p>

<h2>Get a passport in 7 days</h2>

<p><p>You can get a paper form at the Post Office. Take your completed form and 2 printed photos to a <a href="/find-regional-passport-office">passport office</a>. We'll post your new passport to you within 7 days of your appointment. You'll need to be home to sign your new passport when it arrives. 
</p>
Make an appointment to <a href="">drop off your form and photos</a>.
</p>

        <div class="panel panel-border-wide">
            <p>In exceptional circumstances, you can upgrade an existing application without making an appointment. Call the <a href="/passport-advice-line">Passport Adviceline</a></p>
        </div>

<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
<ul class="group">
      <li class="next">
        <a title="Navigate to next part" rel="next" href="prices">
          <span class="pagination-label">Next</span> <span class="pagination-part-title">Passports types and prices</span>
</a>          </li>
</ul>
</nav>
</footer>


<div class="print-link">
<a rel="nofollow" href="/get-a-passport-urgently/print">Print entire guide</a>
</div>

  </div>
</div>
<div class="meta-data group">
<p class="modified-date">Last updated 8 December 2016</p>
</div>



</div>





{{/ content}}
{{$sidebar}}
<br>
    <div class="column-one-third">
      <div class="related-container">
      <aside class="govuk-related-items" role="complementary">
      <h2>
        Passports
      </h2>
      <nav role="navigation">
        <ul>
            <li>
              <a href="/renew-adult-passport">
                Renew or replace your adult passport
              </a>
            </li>
            <li>
              <a href="/get-a-child-passport">
                Get a passport for your child
              </a>
            </li>
            <li>
              <a href="/apply-first-adult-passport">
                Apply for your first adult passport
              </a>
            </li>
            <li>
              <a href="/report-a-lost-or-stolen-passport">
                Cancel a lost or stolen passport
              </a>
            </li>
            <li>
              <a href="/passport-services-disabled">
                Passport services if you're disabled
              </a>
            </li>
            <li class="related-items-more">
              <a href="/browse/abroad/passports">
                More
                  <span class="visuallyhidden">
                    in
                    Passports
                  </span>
              </a>
            </li>
        </ul>
      </nav>
      </aside>

      </div>

        </div>

{{/sidebar}}


{{/ layout}}
