{{< layout}}


{{$main-content}}

      <div class="column-full">
          <div class="flash-card">
              <header>
              <h1>Using Premium Click and Collect</h1>
              </header>
              <div class="grid-row">
                  <div class="column-half">
                      <ol class="list-number">
                           <li><h2>Book an appointment</h2><p>
                            You'll collect your new passport from a passport office.</li>
                           <p></p>
                           <li><h2>Pay for your new passport</h2> 
                            <p>
                            A standard adult passport using this service is £128.<p></li>
                           </p>
                          <!-- is this too prescriptive, what about going to a photo shop? -->
                          <li><h2>Apply online</h2>
                          <p>You'll need to upload a digital photo.</> </li>
                          <p></p>
                          <li><h2>Collect your new passport</h2> <p>
                            You'll need to take your old passport with you.</li>
                      </ol>

                      <!--<a href="{{nextPage}}" class="button" role="button">{{#t}}buttons.next{{/t}}</a>-->
                      <a href="/prototype_161212/intro/choose-photo-method" class="button">Continue</a>
                  </div>
                  <!-- passport image -->
                  <div class="column-half">
                      <object type="image/svg+xml" data="../../public/images/passport_open_final.svg"type="image/svg+xml" class="svg" tabindex="-1" style="width:70%;padding-left:30px;padding-top:30px">
                          <img src="../../public/images/passport_open_final.png" width="206" height="215" alt="">
                      </object>
                  </div>

              </div>
          </div>
      </div>

{{/ main-content}}

{{/ layout}}
