{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
    <h1>Get a passport urgently</h1>
{{/header}}


{{$content}}
  <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
  <input class="submit" type="submit" value="Search">
</div>
</form>

    </div>

  </div>
</header> -->

  
<div class="article-container group">
<div class="content-block">
  <div class="inner">


<header>
  <h1>You need to use a different service</h1>
</header>

<p>Premium Click and Collect is a new service, it's not yet available to everyone.

You need to <a title="Part 1: Choose another sevice" href="index">choose another service. </p>

<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
<ul class="group">
      <li class="next">
        <a title="Navigate to next part" rel="next" href="/get-a-passport-urgently/cost">
          <span class="pagination-label">Back</span> <span class="pagination-part-title">
</a>          </li>
</ul>
</nav>
</footer>

  </div>
</div>
<div class="meta-data group">
<p class="modified-date">Last updated 8 December 2016</p>
</div>




{{/ content}}
{{$sidebar}}
<br>
    <div class="column-one-third">
      <div class="related-container">
      <aside class="govuk-related-items" role="complementary">
      <h2>
        Passports
      </h2>
      <nav role="navigation">
        <ul>
            <li>
              <a href="/renew-adult-passport">
                Renew or replace your adult passport
              </a>
            </li>
            <li>
              <a href="/get-a-child-passport">
                Get a passport for your child
              </a>
            </li>
            <li>
              <a href="/apply-first-adult-passport">
                Apply for your first adult passport
              </a>
            </li>
            <li>
              <a href="/report-a-lost-or-stolen-passport">
                Cancel a lost or stolen passport
              </a>
            </li>
            <li>
              <a href="/passport-services-disabled">
                Passport services if you're disabled
              </a>
            </li>
            <li class="related-items-more">
              <a href="/browse/abroad/passports">
                More
                  <span class="visuallyhidden">
                    in
                    Passports
                  </span>
              </a>
            </li>
        </ul>
      </nav>
      </aside>

      </div>

        </div>

{{/sidebar}}


{{/ layout}}
