{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>You need a countersignature</h1>
          <p>Your passport application is on hold. You look very different in your old and new photos, so you need to get a countersignature. </p>
    </header>
    <br/>
    <h2>What you need to do</h2>
        <h3>Send us your old passport </h3>
        <p>We haven't received your old passport.</p>

    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of January 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking" class="button">Sign out</a><br>

      <br/><br/><br/><br/>
      <p>Other statuses:</p>
      <ul>
          <li><a href="/public/images/tracking/track-5.png">Application received</li>
          <li><a href="/public/images/tracking/track-6.png">We've received your old passport</li>
          <li><a href="/public/images/tracking/track-7.png">Joined processing queue</li>
          <li><a href="/public/images/tracking/track-8.png">Photo rejected</li>
          <li><a href="/public/images/tracking/track-9.png">New photo received</li>
          <li><a href="/public/images/tracking/track-10.png">You need a countersignature</li>
          <li><a href="/public/images/tracking/track-11.png">Application approved</li>
          <li><a href="/public/images/tracking/track-12.png">Your passport is coming</li>
          <li><a href="/public/images/tracking/track-13-withdrawn.png">Withdrawn</li>
          <li><a href="/public/images/tracking/track-14-failed.png">Failed</li>
          <li><a href="/public/images/tracking/track-15-onw.png">Onw</li>
          <li><a href="/public/images/tracking/track-15-refused.png">Refused</li>
          <li><a href="/public/images/tracking/track-16-rpd.png">Don't track your application here</li>
      </ul>

{{/content}}


{{/ layout}}
