{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$header}}
    <h1>Track a passport application</h1>
{{/header}}

{{$content}}
      <p>You'll need your application reference.</p>
      <p>You'll find this in your confirmation email and any other email or text updates from HM Passport Office. Your reference begins with 'PEX'.</p>
      <a href="/tracking-email/track" class="button">Start now</a><br>
      <br/>
      <div class="panel panel-border-wide">
          <p>
              If you can't find your reference <a href="">contact HM Passport Office</a>.
          </p>
      </div>

{{/content}}


{{/ layout}}
