{{< layout}}

{{$pageTitle}}You need a different service{{/pageTitle}}

{{$header}}
    <h1>You need a different service</h1>
{{/header}}

{{$content}}
  <p>You must be 16 or older to use this service.</p>
  <div class="panel panel-border-wide">
    <p>
      Your date of birth: {{values.date-of-birth}}.<br><a href="/prototype_171127/renew/date-and-place-birth">Change</a>
    </p>
  </div>
  <p>If your date of birth is correct, you need to <a href="https://passportapplication.service.gov.uk/ips-olc/">use a different service</a>.</p>
{{/content}}

{{/ layout}}
