{{< layout}}

{{$pageTitle}}Where to sign your passport{{/pageTitle}}

{{$header}}
    <h1>Where to sign your passport</h1>
{{/header}}

{{$content}}

<p>Sign your new passport as soon as you get it. You can’t use it until you do.</p>

<p>Sign on the ‘holder’s signature’ line using black ballpoint pen.</p>

<div class="grid-row">
	<div class="column-two-thirds">
		<img src="/public/images/sign_passport_graphic.png" alt="sign your passport on holders signature line">
	</div>
</div>

<p>If you want more information <a href="https://www.gov.uk">go to gov.uk</a></p>
{{/content}}

{{/ layout}}
