{{< layout}}

{{$pageTitle}}Where to sign your passport{{/pageTitle}}

{{$header}}
    <h1>Where to sign your passport</h1>
{{/header}}

{{$content}}

<p>When you get your new passport, you must sign it with a black ballpoint pen. You can't use it until you do. </p>

<p>You need to sign on the holder’s signature line. Don't sign below the line.</p>

<div class="grid-row">
	<div class="column-two-thirds">
		<img src="/public/images/example_signed_passport.jpg" alt="sign your passport on holders signature line">
	</div>
</div>

<p>You don't need to sign your new passport if: </p>

<ol class="list-bullet">
<li>you’re aged 11 or under</li>
<li>you’ve told HM Passport Office you can’t sign because of a disability</li>
</ol>

<p>Your passport will show ‘the holder is not required to sign’.</p>

<p>If you make a mistake signing your passport, <a href="#">contact the Passport Adviceline</a>.</p>

{{/content}}

{{/ layout}}
