{{< layout}}

{{$pageTitle}}Upload your photo{{/pageTitle}}

{{$header}}
    <h1>Get your digital photo</h1>
{{/header}}

{{$content}}
    {{< hmpo-partials-form}}
    {{$form}}
        [Do we still need to say this? --->]
        <p>Your photo must be taken in the last month and meet the <br><a href="/../prototype_oix_1705180331/photoguide-static/photorules"> rules for passport photos</a>.</p>
        <p>[Smth more about where the code is or how to get one?]</p>

        <div id="photo-code-group" class="form-group">
            <label for="photo-code" class="form-label-bold">
                Photo code
            </label>
            <input type="text" name="photo-code" id="photo-code" class="form-control input-code photo-code" aria-required="true">
            <span id="reference-prefix" class="prefix">.</span>
            <input type="text" name="photo-code" id="photo-code" class="form-control input-code  photo-code" aria-required="true">
            <span id="reference-prefix" class="prefix">/</span>
            <input type="text" name="photo-code" id="photo-code" class="form-control input-code  photo-code-long" aria-required="true">

        </div>

        <a href="photo-retrieved" class="button">Get your photo</a><br/><br/>
    {{/form}}
    {{/ hmpo-partials-form}}

    <br/>
    <p>
          We keep all photos for up to 30 days in line with our <a href="" rel="external">privacy policy</a>.
        </p>


{{/content}}
<br/><br/>
{{$sidebar}}
<div class="column-one-third">
  <br/><br/>
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Check here</h2>
          <div class="photo">
            <!--  <img src="../../public/images/thumbnail.jpeg" alt="Your uploaded photo" title="Your uploaded photo" width="150">-->
            image here where the code is on the printed photo
          </div>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}
