{{< layout}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">

        <div class="grid-row">
            <div class="column-two-thirds">
              <header>
                <h1>You need a digital photo</h1>
              </header>
              <h2>Get a friend to take one</h2>

              <p>They can use a phone, digital camera or tablet. You'll upload your photo online.
              </p> 

              <p>We'll show you how to take a good passport photo.</p>

              <h2>Go to a photo shop or booth</h2>
            
              <p>If you go to a photo shop, they'll send you an email with a link to start your application. We'll access your photo automatically. </p>

              <p>If you use a booth, you'll need the digital photo code shown on your printed photos.</p>

              <br>
              <a href="/prototype_oix_170518/intro/choose-photo-method" class="button">Continue</a>

            </div>
            <div class="column-one-third">
              <img src="../../public/images/Photo_methods_2@2x.png" alt="" style="height:300px">
            </div>
        </div>
<!--
        <div class="grid-row">
            <div class="column-two-thirds">
              <details>
                    <summary><span class="summary">I have printed passport photos</span></summary>
                    <div class="panel panel-border-narrow">
                        You need to post 2 printed photos with your old passport. They must be taken within the last month.</p>
                      <p>We’ll check your photos. Your application will be delayed if we have to ask for different ones.</p>
                      <p><a href="/../prototype_oix_170518/renew-without-photo">Apply with printed photos</a></p>
                    </div>
                </details>
            </div>
            <div class="column-one-third">
            </div>
        </div>
      -->
    </div>
</div>

{{/main-content}}

{{/ layout}}
