{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$main-content}}

<div class="column-full">
  <h1>What you need to do</h1>
</div>

<div class="column-two-thirds">

  <ol class="task-list">
    <li>
      <ul class="task-list-items">

        <li class="task-list-item">
          <a class="task-name" href="/csig/user-send-book/fta-docs" aria-describedby="read-declaration-completed">
            Send your documents
          </a>
            <strong class="task-to-do" id="eligibility-completed">To do</strong>
            <p style="margin-top: 40px; display:block; clear:both;">
              HM Passport Office<br>
              Ref: PEX 319 825 680X<br>
              Aragon Court<br>
              Northminster Road<br>
              Peterborough<br>
              PE1 1QG
            </p>
            <p>Use a strong envelope that is the right size for your documents.
          You can use standard post or special delivery.</p>
        </li>
        <li class="task-list-item">
          <a class="task-name-complete" aria-describedby="eligibility-completed">
            Ask someone to confirm identity
          </a>
          <strong class="task-completed" id="eligibility-completed">Done</strong>
        </li>
      </ul>
    </li>
  </ol>
  <details>
    <summary><span class="summary">Application history</span></summary>
    <div class="panel panel-border-narrow">
      <article>
        <table>
          <tbody>
            <tr>
              <td>Ask someone to confirm your identity</td>
              <td>10:05am on 21 February 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 19 February 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:03am on 19 February 2018</td>
            </tr>
          </tbody>
        </table>
      </article>
    </div>
  </details>
</div>

<div class="column-one-third">
  <ul class="sidebar-task">
    <li class="sidebar-task__panel">
      <h3>Application reference</h3>
      <p>PEX 319 825 680X</p>
    </li>
    <li class="sidebar-task__panel">
      <h3>Payment reference</h3>
      <p>IE19852</p>
      <a href="#">Download PDF receipt</a>
    </li>
  </ul>
    <p style="margin:15px"><a href="http://www.gov.uk">Sign out</a></p>
</div>


{{/main-content}}



{{/ layout}}
