{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$header}}
    <h1>Sign into your application</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

          <fieldset>
            <div id="reference-group" class="form-group">
                <label for="reference" class="form-label-bold">
                    Application reference
                    <span class="form-hint">You’ll find this in your confirmation email, for example PEX 123 456 7890.</span>
                </label>

                <span>
                    <input type="text" id="reference" class="form-control reference" name="reference" value="{{values.pex}}" maxlength="16" aria-describedby="reference-prefix" aria-required="true">
                </span>
            </div>

      {{#input-submit}}{{/input-submit}}
      {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
