
{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
<h1>Track your passport application</h1>
<h2>Reference: PEX7381672568</h2>
{{< hmpo-partials-form}}
    {{$form}}
    <div class="timeline">
        <ul>
          <li class="action_needed">
            <h2>Waiting for your identity to be confirmed</h2>
            <p class="time">25 February 2018 2:30pm</p>
            <p>Email sent to {{values.csig-email}}<br>
            You need to remind {{values.csig-name}} or <a href="/csig/user-contact/" id="someone-else">ask someone else</a>.</p>
          </li>
          <li>
            <h2>Ask someone to confirm your identity</h2>
            <p class="time">21 February 2018 10:05am</p>
            <!-- <p>We can't print your new passport until your identity is confirmed.</p> -->
          </li>
          <li>
            <h2>Application received</h2>
            <p class="time">19 February 2018 10:05am</p>
          </li>
          </li>
          <li>
            <h2>Application submitted</h2>
            <p class="time">19 February 2018 10:03am</p>
          </li>
        </ul>
      </div>
  <br>
    <a href="/csig/user">Sign out</a>
    <input type="hidden" name="renominate" id="renominate" value="anytime">
    <input type="submit" value="Continue" id="submit-hidden" class="button visuallyhidden">
    {{/form}}
{{/ hmpo-partials-form}}

<script>
  $("#someone-else").click(function(e){
    e.preventDefault();
    $("#submit-hidden").click();
  })
</script>
{{/content}}


{{/ layout}}
