{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Ask someone to confirm identity</h1>
      </header>
      <p>We can't print your new passport until your identity is confirmed. Please don't send any documents until we have done this.</p>
      <input type="hidden" name="renominate" id="renominate" value="false">
      {{#input-submit}}{{/input-submit}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Ask someone to confirm identity</td>
              <td>10:05am on 21 February 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 19 February 2018</td>
            </tr>
          </tbody>
        </table>
      </article>
    {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}
{{$sidebar}}
  {{> partials-csig-sidebar}}
{{/sidebar}}

{{/ layout}}
