{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
<h1>Track your passport application</h1>
{{< hmpo-partials-form}}
    {{$form}}
  <input type="hidden" name="renominate" id="renominate" value="false">
  <div class="timeline">
      <ul>
        <li class="action_needed">
          <h2>You need to ask someone to confirm your identity</h2>
          <p class="time">21 February 2018 10:05am</p>
          <p>We can't print your new passport until your identity is confirmed.</p>
          {{#input-submit}}{{/input-submit}}
        </li>
        <li>
          <h2>Application received</h2>
          <p class="time">19 February 2018 10:05am</p>
        </li>
        </li>
        <li>
          <h2>Application submitted</h2>
          <p class="time">19 February 2018 10:03am</p>
        </li>
      </ul>
    </div>

    <br>
    <a href="http://www.gov.uk">Sign out</a>
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}


{{/ layout}}
