{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
  <header class="update-notice" style="background: #DEE0E2; color: #0B0C0C">
    <h1>Ask someone to confirm identity</h1>
  </header>
  <p>We can't print the new passport until the applicant's identity is confirmed.</p>
  <input type="hidden" name="renominate" id="renominate" value="false">
  {{#input-submit}}{{/input-submit}}
  <h2>Application history</h2>
  <article>
  <table>
      <tbody>
        <tr>
          <td>Ask someone to confirm identity</td>
          <td>10:05am on 21 February 2018</td>
        </tr>
        <tr>
          <td>Application received</td>
          <td>10:05am on 19 February 2018</td>
        </tr>
        <tr>
          <td>Application submitted</td>
          <td>10:03am on 19 February 2018</td>
        </tr>
      </tbody>
    </table>
    <br>
    <a href="http://www.gov.uk">Sign out</a>
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}


{{/ layout}}
