{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Ask someone to confirm<br>your identity</h1>
      </header>
      {{#nunjucks}}
        {% if values['csig-type'] == 'examiner' %}
          <p>We can't work on your application until this is done.</p>
        {% else %}
        <p>We can't work on your application until this is done.</p>
        <h2>What you need to do</h2>
        <p>You need to <a href="/csig/user-contact">ask someone to do this online</a>.</p>
        <p>If they can't do this online, you can give them a form to complete. You'll need to <a href="paper-application-select">download a paper form</a>.</p>
        <p>We can't receive your documents until your identity is confirmed. Once this is done, we’ll let you know where to send your documents.</p>
        {% endif %}
      {{/nunjucks}}

      <input type="hidden" name="renominate" id="renominate" value="false">
      {{> partials-csig-sidebar}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Ask someone to confirm your identity</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>
    {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}

{{/ layout-csig}}
