{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
     <h1>Use a paper form</h1>
     <p>You need give the form to someone who can confirm your identity.</p>
     <h2>Do you want to download the paper form?</h2>
     <p class="form-hint" id="dob-hint">You'll no longer be able to ask someone to do this online.</p>
     {{#radio-group}}confirm-csig-paper{{/radio-group}}
     {{#input-submit}}{{/input-submit}}
    {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}
{{$sidebar}}
{{/sidebar}}

{{/ layout-csig}}
