{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
  <header class="update-notice" style="background: #DEE0E2; color: #0B0C0C">
    <h1>Send back your old passport</h1>
  </header>
  <h2>You need to send back your old passport.</h2>
  <p>You don’t need to include a covering letter. It’s up to you whether you use standard post or a secure service.</p>
  <p>HM Passport Office<br>
           Ref: PEX 319 825 680X<br>
           Aragon Court<br>
           Northminster Road<br>
           Peterborough<br>
           PE1 1QG
        </p>
  <hr>
  <h2>Your application history</h2>
  <article>
  <table>
      <tbody>
        <tr>
          <td>Identity confirmed by {{values.csig-email}}</td>
          <td>02:05pm on 27 September 2017 </td>
        </tr>
        <tr>
          <td>Email sent to {{values.csig-email}}</td>
          <td>7:30pm on 10 September 2017 </td>
        </tr>
        <tr>
          <td>Application received</td>
          <td>10:05am on 5 September 2017 </td>
        </tr>
        <tr>
          <td>Application submitted</td>
          <td>10:03am on 5 September 2017 </td>
        </tr>
      </tbody>
    </table>
    <br>
    <a href="/csig">Sign out</a>
{{/content}}


{{/ layout}}
