{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Send your documents</h1>
      </header>

        <p>Charlotte Moore has provided details to help us confirm your identity.

        <h2>What you need to do</h2>

        <p>You can now send your documents. Use a strong envelope that is the right size for your documents. You can use standard post or special delivery.</p>

        <p>Send your documents to:</p>

        HM Passport Office<br>
        Ref: PEX 319 825 680X<br>
        Aragon Court<br>
        Northminster Road<br>
        Peterborough<br>
        PE1 1QG
      </p>

      {{> partials-csig-sidebar}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Identity details received</td>
              <td>2:05pm on 10 October 2018</td>
            </tr>
            <tr>
              <td>Email sent to person confirming your identity</td>
              <td>10:14am on 8 October 2018</td>
            </tr>
            <tr>
              <td>Ask someone to confirm your identity</td>
              <td>10:09am on 8 October 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:06am on 8 October 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 8 October 2018</td>
            </tr>
          </tbody>
        </table>
      </article>
    {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}

{{/ layout-csig}}
