
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Book an appointment</h1>
{{/header}}

{{$main-content}}

<div class="padding-wrapper">



<h1>Choose a date and place</h1>


<div class="grid-row">
<div class="column-two-thirds">

<p>You need to collect your passport in person from a <a href="/priority_service_170330/book-appointment/passport-offices">passport office in the UK</a>.</p>
 <p>If you can't find the date and place you need, <a href="https://www.gov.uk/get-a-passport-urgently">check the other urgent services</a>.</p>
</div>
</div>

<!--
<p>You can check collection times in: </p>

<p class="font-small"><a href="/priority_service_170330/book-appointment/london-week-1">London</a> &emsp; <a href="#">Peterborough</a> &emsp; <a href="#">Newport</a> &emsp; <a href="#">Liverpool</a> &emsp; <a href="#">Durham</a> &emsp; <a href="#">Glasgow</a> &emsp; <a href="#">Belfast</a></p>

-->
<div class="manage-times">
  <div class="manage-time-next">
<span class="font-small"><a href="#">Later <div class="later-arrow"></div></a> </span>
</div>

<div class="manage-time-previous">
<a href="/priority_service_170330/book-appointment/"><div class="earlier-arrow"></div> Earlier </div></a>
</div>

<div class="book-table">
  <table class="book-table">
  <tbody>
    <tr>
    <td><span class="bold-small">Saturday<br> 25 March</span></td>
    <td><span class="bold-small">Monday<br>  27 March</span></td>
    <td><span class="bold-small">Tuesday<br>  28 March</span></td>
    <td class="hide"><span class="bold-small">Wednesday<br>  29 March</span></td>
    <td class="hide"><span class="bold-small">Thursday<br>  30 March</span></td>
    <td class="hide"><span class="bold-small">Friday<br>  31 March</span></td>
    </tr>
  <tr>
  <td><span class="unavailable">London</br></span></td>
  <td><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>
  <td class="hide"><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">London </br></span></td>
    <td class="hide"><span class="unavailable">London </br></span></td>
    <td class="hide"><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>

</tr>
<tr>
  <td><span class="unavailable">Peterborough </br></span></td>
  <td><span class="unavailable">Peterborough </br></span></td>
    <td><span class="unavailable">Peterborough </br></span></td>
    <td class="hide"><span class="city-available"><a href="#">Peterborough </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Peterborough </br></span></td>
    <td class="hide"><span class="unavailable">Peterborough </br></span></td>



</tr>
<tr>
  <td><a href="/priority_service_170330/book-appointment/newport-week-1-selected"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
  <td><a href="#"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Newport </br></span></td>
    <td class="hide"><span class="unavailable">Newport </br></span></td>
    <td class="hide"><span class="unavailable">Newport </br></span></td>
    <td class="hide"><span class="unavailable">Newport </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></san></td>
      <td class="hide"><a href="#"><span class="city-available">Liverpool </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Liverpool </br></span></td>
    <td class="hide"><span class="unavailable">Liverpool </br></span></td>

</tr>
<tr>
  <td><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Durham </br></span></td>
  <td><span class="unavailable">Durham </br></span></td>
  <td class="hide"><span class="unavailable">Durham </br></span></td>
    <td class="hide"><span class="unavailable">Durham </br></span></td>
    <td class="hide"><span class="unavailable">Durham </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td class="hide"><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Glasgow </br></span></td>
    <td class="hide"><span class="unavailable">Glasgow </br></span></td>

</tr>
  <tr>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Belfast </br></span></td>
    <td class="hide"><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Belfast </br></span></td>


  </tr>

  </tbody>
  </table>


</div>
</div>

</div>
{{/main-content}}

{{/ layout}}
