
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<div class="padding-wrapper">


    <h1>Do you want to change your appointment?</h1>
  <!--  <p>You'll loose your original appointment. Your new appointment is:</p>-->


   <h2>Your original appointment</h2>
   <p>Thursday, 23 March 2017</br>
     at 4:30pm</p>
   <h2>Your new appointment</h2>
   <p>Friday, 17 March 2017</br>
     at 1:30pm</p>


<!--    <div class="panel panel-border-wide">
        <p>
          Thursday, 23 March 2017<br/>
          at 4:30pm
        </p>
    </div>
    <h2>Old appointment</h2>
    <div class="panel panel-border-wide">
        <p>
          Thursday, 23 March 2017<br/>
          at 10:30am
        </p>
    </div>-->


        <a href="confirmation-scenario-2" class="button">Yes, change my appointment</a>
        <br/><br/>
        <a href="confirmation-scenario-3">Don't change my appointment</a>

      </div>
    </div>

<!--
  <div class="column-one-third">
    <p>&nbsp;</p>
  </div>
-->

{{/main-content}}

{{/ layout}}
