{{< layout}}

{{$pageTitle}}Declaration{{/pageTitle}}

{{$header}}
    <h1>Declaration</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

      <p>By continuing you confirm that:</p>
      <ul class="list-bullet">
          <li>the information you've given is correct</li>
          <li>you agree to the <a href="https://www.passport.service.gov.uk/help/terms-and-conditions" class="new-window" target="_blank">terms and conditions<span class="visuallyhidden">(opens in a new window)</span></a></li>
      </ul>
      <div class="panel-important">
                <p>You could be prosecuted if you deliberately give untrue or misleading information.</p>
      </div>

      <fieldset>
          <legend class="visuallyhidden">You must agree in order to continue.</legend>
          <div id="contact-prefs-email-group" class="form-group form-group-compound">
              <label for="contact-prefs-email" class="block-label ">
                  <input type="checkbox" id="contact-prefs-email" name="contact-prefs-email" value="true" aria-required="false" required="true">
                      I agree
              </label>
          </div>
    </fieldset>

    <a href="/prototype_oix_170518/renew/payment" class="button">Continue to payment</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
