{{< layout}}

{{$main-content}}
    <div class="column-full">
        <div class="flash-card">
        <header>
        <h1>Before you continue</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">

              <p>It usually takes 3 weeks to get your new passport. Use a different service if you <a href="/get-a-passport-urgently">need your passport urgently</a>.</p></p>

              <p>If you've changed your name since your last passport, you need to <a href="https://www.gov.uk/changing-passport-information">update your information</a>.</p>

              <p>If your face has changed significantly, not including the normal signs of ageing, you need to <a href="https://passportapplication.service.gov.uk/ips-olc/">apply in a different way</a>.</p>

              <a href="/prototype_oix_170601/intro-oix/what-you-need" class="button">Continue</a><br>

            </div>
        </div>

        </div>
    </div>

{{/ main-content}}

{{/ layout}}
