{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$content}}

<header>
  <h1>Report your lost or stolen passport</h1>
</header>

<p>You must <a href="https://www.gov.uk/report-a-lost-or-stolen-passport/y/in_the_uk">report your passport lost or stolen</a>.</p>

<p>If you have already done so then continue.</p>

<a class="button" href="https://passportapplication.service.gov.uk/ips-olc/">Continue</a>

{{/ content}}

{{/ layout}}
