{{< layout}}

{{$pageTitle}}Your old and new passports{{/pageTitle}}

{{$header}}
    <h1>Receiving your old and new passports</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}
      <p>
        We have to send your old and new passport separately. Your new passport will be sent by special delivery. This is included in the passport fee.
      </p>
     <h2>How would you like us to send your old passport back to you?</h2>
        {{#radio-group}}return-passport{{/radio-group}}

<br/>
    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}

{{/content}}


{{/ layout}}
