{{< layout}}

{{$title}}Delivering your {{^values.veteran}}old passport{{/values.veteran}}{{#values.veteran}}passports{{/values.veteran}}{{/title}}

{{$header}}
    <h1>Delivering your {{^values.veteran}}old passport{{/values.veteran}}{{#values.veteran}}passports{{/values.veteran}}</h1>
{{/header}}

{{$content}}
    {{< hmpo-partials-form}}
        {{$form}}
            {{#values.veteran}}
                <p>We’ll send your old and new passports separately and from different locations.</p>
                <p>Both passports will be sent by special delivery to:
            {{/values.veteran}}
            {{^values.veteran}}
                <p>We recommend that you have your old passport returned by special delivery&nbsp;({{#currency}}3{{/currency}}&nbsp;extra).</p>
                {{#radio-group}}secure-return{{/radio-group}}
                <p>We’ll send your old passport to:
            {{/values.veteran}}
                <strong>
                    {{values.address1}},
                    {{#values.address2}}
                        {{values.address2}},
                    {{/values.address2}}
                    {{values.town}},
                    {{values.postcode}}</strong>.
            </p>
            {{#input-submit}}{{/input-submit}}
        {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
