{{< layout}}

{{$pageTitle}}Check your details before sending your application{{/pageTitle}}

{{$header}}
    <h1>Check your details</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}
<div class="confirmation">
            <div class="section old-passport-details">
                <h2>Old passport details</h2>
                    <dl class="passport-number">
                        <dt class="column-one-third">Passport number</dt>
                        <dd class="column-two-thirds">
                            <p>502135326</p>
                            <div class="button-wrapper">
                                <a href="/renew">Change<span class="visuallyhidden"> passport number</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="expiry-date">
                        <dt class="column-one-third">Expiry date</dt>
                        <dd class="column-two-thirds">
                            <p>August 2014</p>
                            <div class="button-wrapper">
                                <a href="/renew">Change<span class="visuallyhidden"> expiry date</span></a>
                            </div>
                        </dd>
                    </dl>
            </div>
            <div class="section new-passport-details">
                <h2>New passport details</h2>
                    <dl class="title">
                        <dt class="column-one-third">Title</dt>
                        <dd class="column-two-thirds">
                            <p>Mr</p>
                            <div class="button-wrapper">
                                <a href="/renew/title">Change<span class="visuallyhidden"> title</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="name">
                        <dt class="column-one-third">Name</dt>
                        <dd class="column-two-thirds">
                            <p>dsgsd gfdgdf</p>
                            <div class="button-wrapper">
                                <a href="/renew/name">Change<span class="visuallyhidden"> name</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="previous-names">
                        <dt class="column-one-third">Previous names</dt>
                        <dd class="column-two-thirds">
                            <p>You have never been known by any other names</p>
                            <div class="button-wrapper">
                                <a href="/renew/name">Change<span class="visuallyhidden"> previous names</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="gender">
                        <dt class="column-one-third">Gender</dt>
                        <dd class="column-two-thirds">
                            <p>Female</p>
                            <div class="button-wrapper">
                                <a href="/renew/gender">Change<span class="visuallyhidden"> gender</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="date-of-birth">
                        <dt class="column-one-third">Date of birth</dt>
                        <dd class="column-two-thirds">
                            <p>31 August 1970</p>
                            <div class="button-wrapper">
                                <a href="/renew/date-and-place-birth">Change<span class="visuallyhidden"> date of birth</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="town-of-birth">
                        <dt class="column-one-third">Town of birth</dt>
                        <dd class="column-two-thirds">
                            <p>dsgs</p>
                            <div class="button-wrapper">
                                <a href="/renew/date-and-place-birth">Change<span class="visuallyhidden"> town of birth</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="country-of-birth">
                        <dt class="column-one-third">Country of birth</dt>
                        <dd class="column-two-thirds">
                            <p>United Kingdom</p>
                            <div class="button-wrapper">
                                <a href="/renew/date-and-place-birth">Change<span class="visuallyhidden"> country of birth</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="signature">
                        <dt class="column-one-third">Signature</dt>
                        <dd class="column-two-thirds">
                            <p>We’ll reuse the signature from your old passport - REMOVE?</p>
                        </dd>
                    </dl>
                    <dl class="personal-details">
                        <dt class="column-one-third">Personal details</dt>
                        <dd class="column-two-thirds">
                            <p>Your personal details haven’t changed</p>

                            <div class="button-wrapper">
                                <a href="/renew/check-personal-data">Change<span class="visuallyhidden"> personal details</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="your-photo">
                        <dt class="column-one-third">Your photo</dt>
                        <dd class="column-two-thirds">
                            <div class="photo">
                              <img src="../../public/images/thumbnail.jpeg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
                            </div>
                        </dd>
                    </dl>
                    <dl class="your-appearance">
                        <dt class="column-one-third">Your appearance</dt>
                        <dd class="column-two-thirds">
                            <p>You can be recognised as the same person</p>
                            <div class="button-wrapper">
                                <a href="/renew/check-photo">Change<span class="visuallyhidden"> your appearance</span></a>
                            </div>
                        </dd>
                    </dl>
            </div>
            <div class="section application-details">
                <h2>Application details</h2>
                    <dl class="address">
                        <dt class="column-one-third">Address</dt>
                        <dd class="column-two-thirds">
                            <p>fgsg<br>fdgdfd<br>SW17 8HN</p>
                            <div class="button-wrapper">
                                <a href="/renew/home-address">Change<span class="visuallyhidden"> address</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="contact-details">
                        <dt class="column-one-third">Contact details</dt>
                        <dd class="column-two-thirds">
                            <p>dsfsa@dasda.com<br><br>07514283217</p>
                            <div class="button-wrapper">
                                <a href="/renew/contact-details">Change<span class="visuallyhidden"> contact details</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="progress-updates">
                        <dt class="column-one-third">Progress updates</dt>
                        <dd class="column-two-thirds">
                            <p>You’ve chosen not to get progress updates</p>
                            <div class="button-wrapper">
                                <a href="/renew/get-updates">Change<span class="visuallyhidden"> progress updates</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="passport-options">
                        <dt class="column-one-third">Passport options</dt>
                        <dd class="column-two-thirds">
                            <p>Standard size passport<br><br>You don’t require a braille sticker</p>
                            <div class="button-wrapper">
                                <a href="/renew/passport-options">Change<span class="visuallyhidden"> passport options</span></a>
                            </div>
                            <!-- Changed delivery to only focus on old passport, the new one always comes by special delivery, need 'standard post' option -->
                        </dd>
                    </dl>
                    <dl class="delivery-options">
                        <dt class="column-one-third">Your old passport</dt>
                        <dd class="column-two-thirds">
                            <p>Sent back by special delivery (£3 extra)</p>
                            <div class="button-wrapper">
                                <a href="/renew/delivery">Change<span class="visuallyhidden"> delivery options</span></a>
                            </div>
                        </dd>
                    </dl>
            </div>
            <div class="section cost-details">
                <h2>Cost</h2>
                    <dl class="total">
                        <dt class="column-one-third">Total</dt>
                        <dd class="column-two-thirds">
                            <p>£75.50</p>

                        </dd>
                    </dl>
            </div>
        </div>

    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}

{{/ layout}}
