{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_161124/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 2 of 12</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>Find a camera</h1>
                </header>
                <div class="grid-row">
                    <div class="column-half">
                      <p>You can use any device that takes digital photos (eg, a phone, digital camera or tablet).</p>
                      <p>You shouldn’t need to change the settings.</p>
                      <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-previous">
                                        <a href="/prototype_161124/photoguide-myself">Previous</a>
                                    </li>
                                    <li class="button-guide button-guide-next">
                                        <a href="/prototype_161124/photoguide-myself/guidemyself-get-help">Next</a>
                                    </li>
                                </ul>
                      </nav>
                    </div>
                    <div class="column-half">
                          <img src="../../public/images/photoguide/diagram-smartphone-digital-camera-tablet-x2.png" width="389" height="119" alt="">
                    </div>
                </div>
            </div>
        </div>

{{/main-content}}

{{/ layout}}
