{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_161124/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 5 of 12</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
            <div class="flash-card">
                <header>
                  <h1>Stand in the right position</h1>
                </header>
                <div class="grid-row">
                    <div class="column-half">
                      <p>You need to stand about 1.5 metres away from the person taking your photo and half a metre from the wall.</p>
                    </div>
                </div>
                <div class="grid-row">
                  <div class="column-one-third">
                       &nbsp;
                      </div>
                    <div class="column-two-thirds">
                      <object type="image/svg+xml" data="../../public/images/photoguide/diagram_distance_white_640.svg" type="image/svg+xml" class="svg" tabindex="-1">
                          <img src="../../public/images/photoguide/diagram_distance_white_640_x2.png"  alt="" width="550" height="212">
                      </object>
                    </div>
                    <nav class="guide-nav">
                              <ul>
                                  <li class="button-guide button-guide-previous">
                                      <a href="/prototype_161124/photoguide-myself/guidemyself-plain-bg">Previous</a>
                                  </li>
                                  <li class="button-guide button-guide-next">
                                      <a href="/prototype_161124/photoguide-myself/guidemyself-head-shoulders">Next</a>
                                  </li>
                              </ul>
                    </nav>
                </div>
            </div>
        </div>

{{/main-content}}

{{/ layout}}
