{{< layout}}

{{$pageTitle}}{{/pageTitle}}


{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <header class="update-notice">
          <h1><span class="icon-tick"></span> Application submitted</h1>
          <p>Application reference: <strong>PEX 319 825 680X</strong></p>
              <p>Your payment: £75.50, reference: IE19852</p>
          <p>Email confirmation sent to <strong>dsfsa@dasda.com</strong></p>
          <a href="" class="download">Download PDF receipt</a>
    </header>
    <br/>
    <div class="panel-important">
              <p>We can’t send your new passport until we have your old one and your printed photo.</p>
    </div>
    <h2>Send your old passport and your printed photo to:</h2>
    <p>HM Passport Office<br/>
       Ref: PEX 319 825 680X<br/>
       Aragon Court<br/>
       Northminster Road<br/>
       Peterborough<br/>
       PE1 1QG
    </p>
    <p>You don’t need to include a covering letter. It’s up to you whether you use standard post or a secure service.</p>

    <h2>Track your application</h2>
    <p>Use your reference <strong>PEX 319 825 680X</strong> to <a href="/../tracking">track your application</a>.</p>
    <p>If you have questions contact <a href="https://www.gov.uk/browse/abroad/passports" class="new-window" target="_blank">contact HM Passport Office<span class="visuallyhidden">(Opens in a new window)</span></a></p>

    <a href="" class="button">Give feedback</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
