{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Code error{{/pageTitle}}

{{$header}}
    <h1>We can’t find your code</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>Check your code and try again. You need to enter the code exactly as it’s written.

<p>You entered: abc.de/1fG2h3i4</p>

<p>If this keeps happening, contact the company that provided your digital photo.</p>

{{#input-submit}}try-again{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
