{{< layout}}

{{$pageTitle}}Date of birth{{/pageTitle}}

{{$header}}
    <h1>Date of birth</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<div id="date-group" class="form-group">
   <!-- <p>To run the right checks on your photo, we need to know your date of birth. This is so the check can allow for the photo rules for different ages.<p> -->
    <fieldset>
        <div class="form-date">
            <p class="form-hint" id="dob-hint">For example 20 01 2004</p>
            {{#input-text}}age-day{{/input-text}}
            {{#input-text}}age-month{{/input-text}}
            {{#input-text}}age-year{{/input-text}}
        </div>
    </fieldset>
</div>

{{#input-submit}}{{/input-submit}}
{{/form}}

{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
