{{< layout}}

{{$back}}
    {{#nunjucks}}
        {% if values['choose-photo'] == 'take' or values['choose-photo'] == 'upload' %}
            <a href="upload" class="back-link">Back</a>
        {% elif values['choose-photo'] == 'code' %}
            <a href="retrieve" class="back-link">Back</a>
        {% endif %}
    {{/nunjucks}}
{{/back}}

{{$pageTitle}}
    You need another photo
{{/pageTitle}}

{{$header}}
    <h1>You need another photo</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>This photo has failed our automated checks for the following reason:</p>

<div class="panel panel-photo-result panel-photo-error">
    <h2 class="bold-medium">Sorry, we can’t crop this photo</h2>
    <p>We're having problems with your photo. Try again or use a different photo.</p>
</div>

{{#input-submit}}try-another-photo{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
