{{< layout}}

{{$back}}
<div class="photo-guide">
    <a href="choose-photo-method" class="back-link">Other ways to get a photo</a>
    <span class="marker">Guide part 1 of 9</span>
</div>
{{/back}}

{{$main-content}}

<div class="column-full photo-guide-start">
    <div class="flash-card">
        <header>
            <h1>How to take a digital photo</h1>
        </header>
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/JWbfnOYmx6I?rel=0" frameborder="0" webkitallowfullscreen=""
                        mozallowfullscreen="" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <nav class="guide-nav">
                <ul style="margin-left:18px">
                    <li class="button-guide button-guide-next">
                        <a href="{{nextPage}}" style="font-size: 20px">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{{/main-content}}

{{/ layout}}
