{{< layout}}

{{$pageTitle}}
    Rules for digital passport photos
{{/pageTitle}}

{{$header}}
    <h1>Rules for digital passport photos</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<div class="panel panel-border-wide alert-default">
    Make sure your photo meets these rules. If it doesn’t, you may have problems with your application or when you travel.
</div>

<p>Avoid common mistakes – for example, using a background with patterns or the wrong colour, bad lighting and reflections on glasses.</p>

<h2>Use a plain light-coloured background</h2>
<ul class="list list-bullet">
    <li>no texture or patterns</li>
    <li>no objects behind you</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-plain.jpg" alt="" class="">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-textured-background.jpg" alt="">
            <div class="result">
                <p class="failed">Textured background</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-object-in-background.jpg" alt="">
            <div class="result">
                <p class="failed">Object in background</p>
            </div>
        </li>
    </ul>
</div>

<h2>Even lighting and no shadow</h2>
<ul class="list list-bullet">
    <li>balanced light – no shadows on your face or behind you</li>
    <li>it’s best to use natural sunlight, for example facing a window</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m1-plain.jpg" alt="">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m1-uneven-harsh.jpg" alt="">
            <div class="result">
                <p class="failed">Shadow on face</p>
            </div>
        </li>
        <li>
            <img src="/../../public/images/photoguide/uncropped-photos/image-m1-flash-shadow.jpg" alt="">
            <div class="result">
                <p class="failed">Shadow behind head</p>
            </div>
        </li>
    </ul>
</div>

<h2>Include your head, shoulders and upper body</h2>
<ul class="list list-bullet">
    <li>clear space around your head and shoulders</li>
    <li>don’t crop your photo – it will be done for you</li>
</ul>

<h2>Plain expression and face in full view</h2>
<ul class="list list-bullet">
    <li>face front on to the camera</li>
    <li>hair away from your face and eyes</li>
    <li>don’t smile or frown – eyes open and mouth closed</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-f1-plain.jpg" alt="">
            <div class="result">
                <p class="approved">Plain expression</p>
            </div>
        </li>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-f1-smiling.jpg" alt="">
            <div class="result">
                <p class="failed">Don’t smile</p>
            </div>
        </li>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-f1-mouth-open.jpg" alt="">
            <div class="result">
                <p class="failed">Keep your mouth closed</p>
            </div>
        </li>
    </ul>
</div>

<h2>No head covering</h2>
<ul class="list list-bullet">
    <li>unless it’s for religious or medical reasons</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-f2-religious-head-covering.jpg" alt="">
            <div class="result">
                <p class="approved">Religious headwear</p>
            </div>
        </li>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m3-head-covering.jpg" alt="">
            <div class="result">
                <p class="failed">No fashion headwear</p>
            </div>
        </li>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-f1-hair-accessory.jpg" alt="">
            <div class="result">
                <p class="failed">No hair accessories</p>
            </div>
        </li>
    </ul>
</div>

<h2>Take glasses off</h2>
<h3>If you need to keep glasses on:</h3>
<ul class="list list-bullet">
    <li>your eyes must be visible without any glare or reflections</li>
    <li>no sunglasses or tinted glasses</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <!-- <div> -->
            <!-- <li>
                <img src="../../public/images/photoguide/uncropped-photos/image-m2-plain.jpg" alt="">
                <div class="result">
                    <p class="approved">Glasses off</p>
                </div>
            </li> -->
            <li>
                <img src="../../public/images/photoguide//uncropped-photos/image-m2-plain-glasses.jpg" alt="">
                <div class="result">
                    <p class="approved">Eyes fully visible</p>
                </div>
            </li>
        <!-- </div>
        <div> -->
            <li>
                <img src="../../public/images/photoguide/uncropped-photos/image-m2-glasses-tinted-covering-eyes.jpg" alt="">
                <div class="result">
                    <p class="failed">Don’t cover eyes with glasses</p>
                </div>
            </li>
            <li>
                <img src="../../public/images/photoguide/uncropped-photos/image-m2-glasses-reflection.jpg" alt="">
                <div class="result">
                    <p class="failed">No glare on glasses</p>
                </div>
            </li>
        <!-- </div> -->
    </ul>
</div>

<h2>Children and babies</h2>
<p>Children must be on their own in the picture – no toys or dummies.</p>
<h3>If the child is under 6, they don't have to:</h3>
<ul class="list list-bullet">
    <li>look directly at the camera</li>
    <li>have a plain expression</li>
</ul>
<h3>If the child is under 1:</h3>
<ul class="list list-bullet">
    <li>they don’t have to have their eyes open</li>
    <li>you can support their head with you hand, but your hand must not be visible</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-plain.jpg" alt="" class="" style="filter: contrast(0%)">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-textured-background.jpg" alt="" style="filter: contrast(0%)">
            <div class="result">
                <p class="failed">No dummies</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-object-in-background.jpg" alt="" style="filter: contrast(0%)">
            <div class="result">
                <p class="failed">1 person only in photo</p>
            </div>
        </li>
    </ul>
</div>

<h2>Technical requirements</h2>
<p>It’s best to use the auto settings on your device.</p>
<h3>Your photo must be:</h3>
<ul class="list list-bullet">
    <li>clear and in focus</li>
    <li>in colour</li>
    <li>unaltered by computer software</li>
    <li>at least 600 pixels wide and 750 pixels tall</li>
    <li>at least 50KB and no more than 10MB</li>
</ul>

{{#input-submit}}{{/input-submit}}

<details>
    <summary><span class="summary">I can’t get a digital photo</span></summary>
    <div class="panel panel-border-narrow" style="margin-bottom:30px">
        <p>If you can’t get a digital photo, you can get one by...</p>
    </div>
</details>

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
