{{< layout}}

{{$pageTitle}}Photo rules{{/pageTitle}}

{{$header}}
    <h1>Photo rules</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>Intro paragraph.</p>

<h2>Use a plain light-coloured background</h2>
<ul class="list list-bullet">
    <li>no texture or patterns</li>
    <li>no objects behind you</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-plain.jpg" alt="" class="">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-textured-background.jpg" alt="">
            <div class="result">
                <p class="failed">Textured background</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-object-in-background.jpg" alt="">
            <div class="result">
                <p class="failed">Object in background</p>
            </div>
        </li>
    </ul>
</div>

<h2>Even lighting and no shadow</h2>
<ul class="list list-bullet">
    <li>balanced light – no shadows on your face or behind you</li>
    <li>it’s best to use natural sunlight, for example facing a window</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m1-plain.jpg" alt="">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m1-uneven-harsh.jpg" alt="">
            <div class="result">
                <p class="failed">Shadow on face</p>
            </div>
        </li>
        <li>
            <img src="/../../public/images/photoguide/uncropped-photos/image-m1-flash-shadow.jpg" alt="">
            <div class="result">
                <p class="failed">Shadow behind head</p>
            </div>
        </li>
    </ul>
</div>

<h2>Use a plain light-coloured background</h2>
<ul class="list list-bullet">
    <li>no texture or patterns</li>
    <li>no objects behind you</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-plain.jpg" alt="" class="">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-textured-background.jpg" alt="">
            <div class="result">
                <p class="failed">Textured background</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-object-in-background.jpg" alt="">
            <div class="result">
                <p class="failed">Object in background</p>
            </div>
        </li>
    </ul>
</div>

<h2>Even lighting and no shadow</h2>
<ul class="list list-bullet">
    <li>balanced light – no shadows on your face or behind you</li>
    <li>it’s best to use natural sunlight, for example facing a window</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m1-plain.jpg" alt="">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m1-uneven-harsh.jpg" alt="">
            <div class="result">
                <p class="failed">Shadow on face</p>
            </div>
        </li>
        <li>
            <img src="/../../public/images/photoguide/uncropped-photos/image-m1-flash-shadow.jpg" alt="">
            <div class="result">
                <p class="failed">Shadow behind head</p>
            </div>
        </li>
    </ul>
</div>

<h2>Use a plain light-coloured background</h2>
<ul class="list list-bullet">
    <li>no texture or patterns</li>
    <li>no objects behind you</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-plain.jpg" alt="" class="">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-textured-background.jpg" alt="">
            <div class="result">
                <p class="failed">Textured background</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-object-in-background.jpg" alt="">
            <div class="result">
                <p class="failed">Object in background</p>
            </div>
        </li>
    </ul>
</div>

<h2>Even lighting and no shadow</h2>
<ul class="list list-bullet">
    <li>balanced light – no shadows on your face or behind you</li>
    <li>it’s best to use natural sunlight, for example facing a window</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m1-plain.jpg" alt="">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m1-uneven-harsh.jpg" alt="">
            <div class="result">
                <p class="failed">Shadow on face</p>
            </div>
        </li>
        <li>
            <img src="/../../public/images/photoguide/uncropped-photos/image-m1-flash-shadow.jpg" alt="">
            <div class="result">
                <p class="failed">Shadow behind head</p>
            </div>
        </li>
    </ul>
</div>

<h2>Use a plain light-coloured background</h2>
<ul class="list list-bullet">
    <li>no texture or patterns</li>
    <li>no objects behind you</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-plain.jpg" alt="" class="">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-textured-background.jpg" alt="">
            <div class="result">
                <p class="failed">Textured background</p>
            </div>
        </li>
        <li>
            <img src="/public/images/photoguide/uncropped-photos/image-m2-object-in-background.jpg" alt="">
            <div class="result">
                <p class="failed">Object in background</p>
            </div>
        </li>
    </ul>
</div>

<h2>Even lighting and no shadow</h2>
<ul class="list list-bullet">
    <li>balanced light – no shadows on your face or behind you</li>
    <li>it’s best to use natural sunlight, for example facing a window</li>
</ul>
<div class="guidance-photos" aria-hidden="true">
    <ul>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m1-plain.jpg" alt="">
            <div class="result">
                <p class="approved">Approved</p>
            </div>
        </li>
        <li>
            <img src="../../public/images/photoguide/uncropped-photos/image-m1-uneven-harsh.jpg" alt="">
            <div class="result">
                <p class="failed">Shadow on face</p>
            </div>
        </li>
        <li>
            <img src="/../../public/images/photoguide/uncropped-photos/image-m1-flash-shadow.jpg" alt="">
            <div class="result">
                <p class="failed">Shadow behind head</p>
            </div>
        </li>
    </ul>
</div>

{{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
