{{< layout}}

{{$main-content}}

<link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

<div class="column-full" style="text-align:center">
    <img src="../../public/images/progress.gif" style="width:50px" class="animated-progress" />

    {{#nunjucks}}
        {% if values['choose-photo'] == 'take' or values['choose-photo'] == 'upload' %}
            <h3>Processing image</h3>
        {% elif values['choose-photo'] == 'code' %}
            <h3>Retrieving image</h3>
        {% endif %}
    {{/nunjucks}}

    <script>
        setTimeout(function () {
            window.location.href = 'fetch-photo-result'
        }, 1000);
    </script>
</div>

{{/main-content}}

{{/ layout}}
