{{< layout}}

{{$back}}
    {{#nunjucks}}
        {% if values['choose-photo'] == 'upload' %}
            <a href="upload" class="back-link">Back</a>
        {% elif values['choose-photo'] == 'code' %}
            <a href="retrieve" class="back-link">Back</a>
        {% endif %}
    {{/nunjucks}}
{{/back}}

{{$pageTitle}}
    Thank you
{{/pageTitle}}

{{$header}}
    <h1>Thank you</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<h2>What happens next</h2>
<p>Send us your digital photos, and complete a short survey.</p>
<p>Where to send the photos, and a link to the survey are in the email we sent confirming your participation in this photo research.</p>

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}