{{< layout}}

{{$pageTitle}}Upload your photo{{/pageTitle}}

{{$header}}
    <h1>Retrieve your digital photo</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}

        <div id="photo-code-group" class="form-group">
            <fieldset>
                <legend>
                    <span class="form-label-bold">Photo code</span>
                    <span id="photo-code-hint" class="form-hint">This is case-sensitive, for example abc.de/1fG2h3i4</span>
                </legend>


                <div class="photo-code" data-gakey="photo-code">
                    <div id="photo-code-sld-group" class="form-group">
                        <label for="photo-code-sld" class="visually-hidden">
                            Photo code first part
                        </label>
                        <input type="text" name="photo-code-sld" id="photo-code-sld" class="form-control" aria-required="true"
                            maxlength="6" aria-describedby="photo-code-sld-hint">
                    </div>

                    <span>.</span>
                    <div id="photo-code-tld-group" class="form-group">
                        <label for="photo-code-tld" class="visually-hidden">
                            Photo code second part
                        </label>
                        <input type="text" name="photo-code-tld" id="photo-code-tld" class="form-control" aria-required="true"
                            maxlength="3" aria-describedby="photo-code-tld-hint">
                    </div>

                    <span>/</span>
                    <div id="photo-code-path-group" class="form-group">
                        <label for="photo-code-path" class="visually-hidden">
                            Photo code third part
                        </label>
                        <input type="text" name="photo-code-path" id="photo-code-path" class="form-control" aria-required="true"
                            maxlength="8" aria-describedby="photo-code-path-hint">
                    </div>

                </div>
            </fieldset>
        </div>

        {{#input-submit}}{{/input-submit}}

    {{/form}}
    {{/ hmpo-partials-form}}

{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <br>
    <br>
    <div class="sidebar related">
        <div class="photo-preview-inner">
            <h2 class="heading-medium">Where to find your code</h2>
            <img src="../../public/images/printed-photo-code.png" width="250" height="285" alt="">
        </div>
    </div>
</div>
{{/sidebar}}

{{/ layout}}
