{{< layout}}

{{$pageTitle}}
    {{#values.routeFromPhotoGuide}}
        Upload your photo
    {{/values.routeFromPhotoGuide}}
    {{^values.routeFromPhotoGuide}}
        Upload your photo
    {{/values.routeFromPhotoGuide}}
{{/pageTitle}}

{{$header}}
    {{#values.routeFromPhotoGuide}}
        <h1>Upload your photo</h1>
    {{/values.routeFromPhotoGuide}}
    {{^values.routeFromPhotoGuide}}
        <h1>Upload your photo</h1>
    {{/values.routeFromPhotoGuide}}
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>Your photo will go through an automated check. We'll show you the result.</p>
<p>You'll need to review it before you add the photo to your application.</p>

<div id="photo-photo-choose-file-group" class="form-group">
    <label for="photo-choose-file" class="button photo-upload-label" role="button">
        <span id="photo-label-text">Upload your photo</span>
    </label>
    <input type="file" accept="image/jpeg" onchange="form.submit()" id="photo-choose-file" class="photo-choose-file" name="photo-choose-file" aria-controls="progress-container" aria-required="true">
</div>

<!-- {{#input-submit}}upload-your-photo{{/input-submit}} -->

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
