{{< layout}}

{{$pageTitle}}
    {{#values.routeFromPhotoGuide}}
        Take your photo
    {{/values.routeFromPhotoGuide}}
    {{^values.routeFromPhotoGuide}}
        Upload your photo
    {{/values.routeFromPhotoGuide}}
{{/pageTitle}}

{{$header}}
    {{#values.routeFromPhotoGuide}}
        <h1>Take your photo</h1>
    {{/values.routeFromPhotoGuide}}
    {{^values.routeFromPhotoGuide}}
        <h1>Upload your photo</h1>
    {{/values.routeFromPhotoGuide}}
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>Your photo will go through an automated check. We'll show you the result.</p>
<p>You'll need to review it before you add the photo to your application.</p>

<div id="photo-photo-choose-file-group" class="form-group">
    <label for="photo-choose-file" class="button photo-upload-label" role="button">
        <span id="photo-label-text">Upload your photo</span>
    </label>
    <input type="file" accept="image/jpeg" onchange="form.submit()" id="photo-choose-file" class="photo-choose-file" name="photo-choose-file" aria-controls="progress-container" aria-required="true">
</div>

<!-- {{#input-submit}}upload-your-photo{{/input-submit}} -->


<h2>How to take a good passport photo</h2>
<div class="grid-row photo-upload-eg">
    <div class="column-half img">
        <img src="/public/images/good-passport-photo.jpg" alt="">
    </div>

    <div class="column-half">
        <ol class="list list-number">
            <li>Get a friend to take your photo</li>
            <li>Use a plain light-coloured background, without any pattern or texture</li>
            <li>Even lighting and no shadows</li>
            <li>Face front on and don't smile</li>
            <li>Include your shoulders and upper body</li>
            <li>Take your glasses off (if you can)</li>
        </ol>
    </div>
</div>
<br>

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
