{{< layout}}

{{$back}}
<div class="photo-guide">
  <a href="/../priority_service_170215/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 5 of 8</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
          <div class="flash-card">
              <header>
                  <h1>Check for shadows</h1>
              </header>
              <div class="grid-row">
                  <div class="column-full">
                    <p>Make sure there are no shadows on your face or behind you.</p>
                    <!-- <p>Make sure:</p>
                    <ul class="list-bullet">
                      <li>you use natural light (eg a large window facing you)</li>
                      <li>the lighting is even – don’t stand too close to a lamp that’s switched on</li> -->
                    </ul>
                    <div class="guidance-photos" aria-hidden="true">
                        <ul>
                            <li>
                                <img src="../../public/images/photoguide/uncropped-photos/image-m1-plain.jpg" alt="">
                                <div class="result" style="height: 38px;">
                                    <p class="approved">No shadows</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../public/images/photoguide/uncropped-photos/image-m1-uneven-harsh.jpg" alt="">
                                <div class="result" style="height: 38px;">
                                    <p class="failed">Shadow on face</p>
                                </div>
                            </li>
                            <li>
                                <img src="/../../public/images/photoguide/uncropped-photos/image-m1-flash-shadow.jpg" alt="">
                                <div class="result" style="height: 38px;">
                                    <p class="failed">Shadow behind head</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <nav class="guide-nav">
                              <ul>
                                  <li class="button-guide button-guide-previous">
                                      <a href="{{backLink}}" style="font-size: 20px">Previous</a>
                                  </li>
                                  <li class="button-guide button-guide-next">
                                      <a href="{{nextPage}}"  style="font-size: 20px">Include your shoulders</a>
                                  </li>
                              </ul>
                    </nav>
                  </div>
              </div>
          </div>
        </div>

{{/main-content}}

{{/ layout}}
