{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_161110/intro/you-need-a-photo-v2" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 5 of 5</span>
        </div>
{{/back}}

{{$main-content}}
        <div class="column-full">

                <header>
                    <h1>Get yourself ready</h1>
                </header>
                <div class="grid-row">
                    <div class="column-two-thirds">
                      <p>There are some rules about how you appear in your passport photo. Your application will be delayed if your photo doesn't meet these rules.</p>

                        <object type="image/jpg" data="/public/images/photoguide_the rules.png"type="image/svg+xml" class="svg" tabindex="-1" style="width:100%;padding-left:0px;padding-top:60px">
                          <img src="/public/images/photoguide_the rules.png" width="" height= alt="">
                      </object>

                      <!-- <h3>We’ll crop the photo for you</h3>
                      <p>To do this correctly, photos must:</p>
                      <ol class="list-bullet">
                          <li>include your full head, shoulders and upper body</li>
                          <li>have lots of clear space around your head and shoulders</li>
                          <li>be taken against a plain background (for example, light grey or cream)</li>
                          <li>not have any shadows on your face or behind you</li>
                          -->


                      <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-previous">
                                        <a href="{{backLink}}">Previous</a>
                                    </li>
                                    <li class="button-guide button-guide-next">
                                        <a href="/../prototype_161110/uploadphoto">Take your photo</a>
                                    </li>
                                </ul>
                      </nav>
                    </div>
                    <div class="column-one-thirds">
                      <!--image here-->
                    </div>
                </div>

        </div>

{{/main-content}}

{{/ layout}}
