{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
  <h1>Contacting the person</h1>

  <p>We'll send the person confirming your identity an email. You must contact them before we send the email.</p>

  <h2>You need to ask someone who:</h2>

  <ul class="list-bullet">
    <li>has known you personally for at least 2 years, for example as a friend <br>or neighbour</li>
    <li>works in or is retired from a <a href="/govuk/" target="_blank">recognised profession</a></li>
    <li>has a current UK passport</li>
  </ul>


  <div class="panel panel-border-wide">
    <p>Make sure the person knows your date of birth, including the year.</p>
  </div>
  {{< hmpo-partials-form}}
    {{$form}}
      <div id="contact-csig-group" class="form-group form-group-compound" style="margin-top:-15px">
        <label for="contact-csig" class="block-label">
          <input type="checkbox" id="contact-csig" name="contact-csig" value="true" aria-required="false" required="true">
            I've contacted the person and they agree to confirm my identity.
        </label>
      </div>
      <br>
      {{#input-submit}}{{/input-submit}}
    {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}


{{/ layout}}
