{{< layout}}

{{$pageTitle}}Give details{{/pageTitle}}
{{$header}}
    <h1>Contact the person</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
  {{$form}}
    <div id="contact-csig-group" class="form-group form-group-compound" style="margin-top:-15px">
      <label for="contact-csig" class="block-label">
        <input type="checkbox" id="contact-csig" name="contact-csig" value="true" aria-required="false" required="true">
          I've contacted the person and they agree to confirm my identity.
      </label>
    </div>
    <br>
    {{#input-submit}}{{/input-submit}}
  {{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
