{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>We've sent the email</h1>
    </header>

    <h2>What happens next</h2>
    <p>We'll let you know when your identity has been confirmed. We can then continue with your application.</p>
    <p>If you don't get an update in the next few days, remind the person that they need to go online to confirm your identity.</p>
    <p>
    <a class="button" href="/csig_170830/user/tracking-waiting">Done</a>
{{/content}}

{{/ layout}}
