{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
  <header class="update-notice">
    <h1>Ask someone to confirm <br>your identity</h1>
    <p>You need to do this as your passport is damaged.</p>
  </header>
  <h2>You must ask someone who:</h2>

  <ul class="list-bullet">
    <li>has known you as a friend, neighbour or colleague for at least 2 years</li>
    <li>works in or is retired from a <a href="/govuk/" target="_blank">recognised profession</a></li>
    <li>has a current UK passport</li>
  </ul>
  <h2>Contact the countersignatory</h2>
  <p>You must contact the countersignatory before continuing your application. We'll send them an email on your behalf once they've agreed.</p>
  {{< hmpo-partials-form}}
    {{$form}}
      <div id="contact-csig-group" class="form-group form-group-compound">
        <label for="contact-csig" class="block-label">
          <input type="checkbox" id="contact-csig" name="contact-csig" value="true" aria-required="false" required="true">
            I've contacted my countersignatory and they have agreed to confirm my identity.
        </label>
      </div>
      <br>
      {{#input-submit}}{{/input-submit}}
    {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}


{{/ layout}}
