{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
  <header class="update-notice">
    <h1>You need to ask someone to<br>confirm your identity</h1>
  </header>
  <p>This is because your old passport is damaged.</p>

  <a href="csig-requirements" class="button">Continue</a>
  <br><br>
  <h2>Application history</h2>
  <article>
  <table>
      <tbody>
        <tr>
          <td>Old passport received</td>
          <td>06:30pm on 10th of August 2017 </td>
        </tr>
        <tr>
          <td>Joined processing queue</td>
          <td>10:05am on 5th of August 2017 </td>
        </tr>
        <tr>
          <td>Application received</td>
          <td>10:05am on 5th of August 2017 </td>
        </tr>
        <tr>
          <td>Application submitted</td>
          <td>10:03am on 5th of August 2017 </td>
        </tr>
      </tbody>
    </table>
    <br>
    <a href="csig-requirements">Sign out</a>
{{/content}}


{{/ layout}}
