{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>Waiting to confirm your identity</h1>
          <p>Your passport application is on hold.</p>
    </header>
    
    <h2>What happens next</h2>
    <p>We'll let you know when your identity has been confirmed. We can then continue with your application.</p>
    <p>If you don't get an update in the next few days, remind the person that they need to go online to confirm your identity.</p>

    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Email sent to person confirming identity</td>
            <td>07:30pm on 10th of August 2017 </td>
          </tr>
          <tr>
            <td>Old passport received</td>
            <td>06:30pm on 10th of August 2017 </td>
          </tr>
          <tr>
            <td>Joined processing queue</td>
            <td>10:05am on 5th of August 2017 </td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>10:05am on 5th of August 2017 </td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of August 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="http://www.gov.uk" class="button-secondary">Sign out</a><br>


{{/content}}


{{/ layout}}
