{{< hmpo-layout}} {{$propositionHeader}} <div class="header-proposition">
    <div class="content">
        <nav id="proposition-menu">
            <a href="/" title="Apply for a passport" id="proposition-name"></a>
        </nav>
    </div>
    </div>
    {{/propositionHeader}}
    {{$main}}
    {{$breadcrumb}}{{/breadcrumb}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <style>
        .dashed-line::before {
            content: "— ";
            margin-left: -25px;
            padding-right: 5px;
        }

        .list {
            margin-left: 25px;
        }

        .GDS {
            margin-top: 30px;
        }

        .sidebar {
            border-top: 3px solid #005ea5;
        }
        h1.govuk-heading-xl {
            margin-top: 28px;
            margin-bottom: 50px;
            font-size: 48px;
        }
    </style>
    <main id="content" class="main-content" role="main">
        <div class="fill-banner">
            <a class="button__fill" id="populate" />Fill</a>
            <a class="button__fill" href="/">Home</a>
            <a class="button__fill" href="./">/</a>
        </div>
        {{> hmpo-partials-back}}
        <div class="grid-row">
            <div class="column-two-thirds">
                <header>

                    <div class="column-two-full">
                        <h1 class="govuk-heading-xl">
                            Travel to Europe after Brexit
                        </h1>
                    </div>

                    <div class="column-two-thirds">
                        <p>Contents</p>
                        <ul class="list list-contents">
                            <li class="dashed-line"><a href="#data-table-numeric">Rules for passports</a></li>
                            <li class="dashed-line"><a href="#data-visualisation">Check a passport for travel to Europe</a></li>
                            <li class="dashed-line"><a href="#data-visualisation">List of countries affected</a></li>
                            <li class="dashed-line"><a href="#data-visualisation">Applying for a new passport</a></li>

                        </ul>
                    </div>

                </header>
            </div>
        </div>

        <div class="grid-row">
            <div class="column-two-thirds">
                <hr>

                <h2>Rules for passports</h2>

                <p>The rules for travel to most countries in Europe will change if the UK leaves the European Union with no deal.</p>

                <p>After 29 March 2019:</p>

                <p><strong>1.</strong> You will need to have 6 months left on your passport from your date of arrival. This applies to adult and child passports.</p>

                <p><strong>2.</strong> Any extra months added to a 10 year passport will not count. This only applies to adult passports.</p>

                <p>Many adult passports are valid for more than 10 years because extra months used to be added.</p>

                <p>The new rules will apply to passports issued by the UK, Gibraltar, Guernsey, the Isle of Man and Jersey.</p>

                <h2>Check a passport for travel to Europe</h2>

                <p>Before booking travel, you need to check your passport meets the new rules.</p>

                <p>You can use this tool to <a href="">check a passport for travel to Europe</a>.</p>

                <h2>List of countries affected</h2>

                <p>The new rules will apply to travel to and between countries in the Schengen area. These are:</p>
                <ul class="list-bullet">
                  <li>Austria</li>
                  <li>Belgium</li>
                  <li>Czech Republic</li>
                  <li>Denmark</li>
                  <li>Estonia</li>
                  <li>Finland</li>
                  <li>France</li>
                  <li>Germany</li>
                  <li>Greece</li>
                  <li>Hungary</li>
                  <li>Iceland </li>
                  <li>Italy</li>
                  <li>Latvia</li>
                  <li>Liechtenstein</li>
                  <li>Lithuania</li>
                  <li>Luxembourg</li>
                  <li>Malta</li>
                  <li>Netherlands</li>
                  <li>Norway</li>
                  <li>Poland</li>
                  <li>Portugal</li>
                  <li>Slovakia</li>
                  <li>Slovenia</li>
                  <li>Spain</li>
                  <li>Sweden</li>
                  <li>Switzerland</li>
                </ul>

                <h3>Travel to other countries in the EU</h3>

                <p>The new rules do not apply to the Republic of Ireland &ndash; you can travel until the expiry date in your passport.</p>

                <p>Bulgaria, Croatia, Cyprus and Romania are in the European Union but not in the Schengen area. You should <a href="https://www.gov.uk/foreign-travel-advice">check the entry requirements</a> for these countries.</p>

                <h2>Applying for a new passport</h2>

                <p>If your passport is valid for less than 6 months, you'll need to <a href="">apply for a new passport</a> before you travelling to the countries affected.</p>

                <div role="note" aria-label="Information" class="panel panel-border-wide application-notice info-notice">
                <p>More people than usual will be applying for a new passport &ndash; make sure you apply with plenty of time before you travel.</p>
                </div>

                <p>If you need to, you can apply to <a href="https://www.gov.uk/get-a-passport-urgently">get a passport urgently</a>.</p>


            </div>

            <div class="column-one-third">
                <div class="sidebar related GDS">
                    <div class="photo-preview-inner">
                        <div class="inner group related-subsection">
                            <h2 id="parent-subsection">Related content</h2>
                            <nav role="navigation" aria-labelledby="parent-subsection">
                                <ul>
                                  <li><a href="https://www.gov.uk/apply-renew-passport">Apply for a new passport</a></li>
                                    <li><a href="https://www.gov.uk/get-a-passport-urgently">Get a passport urgently</a></li>
                                    <li><a href="https://www.gov.uk/passport-fees">Passport fees</a>
                                      <li><a href="">{technical notice}</a></li>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{/main}}

    {{$bodyEnd}}

    {{> hmpo-partials-body-end}}
    {{/bodyEnd}}
{{/ hmpo-layout}}
