{{< layout}}

{{$pageTitle}}British nationality{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>British nationality</h1>
{{/header}}

{{$content}}

<p>When you apply for a first UK passport, we have to work out your claim to British nationality.</p>


<p>In most cases your claim depends on where and when you were born, as well as <a href="../../guidance/parents-details" target="_blank">your parents' details</a>.</p>

<div class="panel panel-border-wide">
  <p>You can <a href="https://www.gov.uk/check-british-citizen" target="_blank">check if you're a British citizen online</a> or read the rules.</p>
</div>

<br>

<h2>Born in the UK</h2>

<h3>Born before 1 January 1983</h3>

<p>You're a British citizen if you were born in the UK before 1 January 1983.</p>

<br>

<h3>Born on or after 1 January 1983</h3>

<p>You won’t automatically become a British citizen if you were born in the UK. Your claim also depends on your parents' circumstances.</p>

<p>At the time of your birth, one of your parents must have been:</p>

<ul class="list list-bullet">
    <li>a British citizen</li>
    <li>settled in the UK</li>
</ul>

<p>‘Settled’ means you can stay in the UK without any time restrictions, for example you have indefinite leave to remain.</p>

<p>If you're claiming nationality through your father or parent 2, your parents must have been married or in a civil partnership at the time of your birth, or at any point after that.</p>

<br>

<h2>Naturalised or registered</h2>

<p>You'll automatically become a British citizen if you've naturalised or registered through the Home Office.</p>

<br>

<h2>Born outside the UK</p>

<h3>Born before 1 January 1983</h3>

<p>You can only claim British nationality through your father or parent 2, who must either have been:</p>

<ul class="list list-bullet">
    <li>born in the UK</li>
    <li>naturalised or registered at the time of your birth</li>
</ul>

<p>You parents must have been married or in a civil partnership at the time of your birth, or at any point after that. If they weren't, you won't have a claim.</p>

<br>

<h3>Born on or after 1 January 1983</h3>

<p>You can only claim British nationality through your parents. They must either have been:</p>

<ul class="list list-bullet">
    <li>born in the UK</li>
    <li>naturalised or registered at the time of your birth</li>
</ul>

<p>If this was your father or parent 2, your parents must have been married or in a civil partnership when you were born, or at any point after that.</p>

<br>

<h2>Further information</h2>

<p>Check the rules if your circumstances are more complicated, or you think you might be eligible for <a href="https://www.gov.uk/types-of-british-nationality">other types of British nationality</a>.</p>

{{/content}}

{{/ layout}}
