{{< layout}}

{{$pageTitle}}Children Acts{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Children Acts</h1>
{{/header}}

{{$content}}
<p>The care orders and the relevant [...]</p>

<h2>Full Care Order</h2>
<ul class="list list-bullet">
    <li>section 1</li>
    <li>section 2</li>
    <li>section 3</li>
</ul>

<h2>Interim Care Order</h2>
<ul class="list list-bullet">
    <li>section 1</li>
    <li>section 2</li>
    <li>section 3</li>
</ul>

<h2>Accommodated Care Order</h2>
<ul class="list list-bullet">
    <li>section 1</li>
    <li>section 2</li>
    <li>section 3</li>
</ul>

<h2>Get help</h2>
<p><a href="https://www.gov.uk/passport-advice-line">Contact the Passport Adviceline</a> if you aren’t sure what documents you need or if your circumstances are more complicated.</p>

{{/content}}

{{/ layout}}
