{{< layout}}

{{$pageTitle}}Children Acts{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Children Acts</h1>
{{/header}}

{{$content}}
<p>The care orders and the relevant Children Act that they come under in England, Wales, Northern Ireland and Scotland</p>

<h2>Full Care Order</h2>
<ul class="list list-bullet">
    <li>Section 31 of the Children Act 1989 (England & Wales)</li>
    <li>Article 50 of the Children (Northern Ireland) Order 1995</li>
    <li>Section 86 (and 11) of the Children (Scotland) Act 1995</li>
</ul>

<h2>Interim Care Order</h2>
<ul class="list list-bullet">
    <li>Section 38 of the Children Act 1989 (England, Wales, Scotland)</li>
    <li>Article 57 of the Children (Northern Ireland) Order 1995</li>
</ul>

<h2>Accommodated Care Order</h2>
<ul class="list list-bullet">
    <li>Section 20 of the Children Act 1989 (England & Wales)</li>
    <li>Article 21 of the Children (Northern Ireland) Order 1995</li>
    <li>Section 25 (and 70) of the Children (Scotland) Act 1995</li>
</ul>

<h2>Get help</h2>
<p><a href="https://www.gov.uk/passport-advice-line">Contact the Passport Adviceline</a> if you aren’t sure what documents you need or if your circumstances are more complicated.</p>

{{/content}}

{{/ layout}}
