{{< layout}}

{{$pageTitle}}Confirming your identity{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Confirming your identity online</h1>
{{/header}}

{{$content}}

<p>For some kinds of applications, you need to ask someone to confirm your identity. This confirms an application belongs to you and helps protect your identity.</p>

<p>The person you ask can do this online. They don't need to sign a printed photo.</p>

<h2>Who can do this</h2>

You need to ask someone who:</p>
<ul class="list-bullet">
  <li>is 18 or older</li>
  <li>and lives in the UK</li>
  <li>and has a current UK passport</li>
  <li>and works in or is retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories" target="_blank">recognised profession</a></li>
</ul>

<p>You must have known them personally for at least 2 years, for example a friend, neighbour or colleague.</p>

<p>They must not be related to you, in a relationship with you or living at the same address. They must not work at Her Majesty's Passport Office.</p>


<h2>How it works</h2>

<p>After submittng your application, you'll need to contact the person and sign in to provide their details.</p>

<p>Her Majesty's Passport Office will send them an email with a reference and a link to go online. They will need your date of birth to sign in.</p>

<p>We'll check their identity, show them your digital photo and ask a few questions about how they know you.</li>

</ol>

<p>If there's a problem or they don't do this, you'll need to ask someone else. You can only ask one person at a time. </p>

<!-- <h2>When you need to do this</h2>

<p>You'll need to ask someone to confirm your identity if you're:</p>

<ul class="list list-bullet">
    <li>applying for a first passport</li>
    <li>replacing a lost or stolen passport</li>
    <li>renewing a passport for a child aged 11 or younger</li>
    <li>renewing a passport that expired some time ago</li>
</ul>
 -->

{{/content}}

{{/ layout}}
