{{< layout}}

{{$pageTitle}}Confirming your identity{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Confirming someone's identity online</h1>
{{/header}}

{{$content}}

<p>For some passport applications, you need to ask someone to confirm your identity. This confirms an application belongs to you and helps protect your identity.</p>

<p>The person you ask can do this online &ndash; they don't need to sign a printed photo.</p>

<h2>Who can do this</h2>

To confirm someone's identity, you need to:</p>
<ul class="list-bullet">
  <li>be 18 or older</li>
  <li>and live in the UK</li>
  <li>and have a current UK passport</li>
  <li>and work in or be retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories" target="_blank">recognised profession</a></li>
</ul>
<p>You need to have known the applicant personally for at least 2 years, for example as a friend, neighbour or colleague.</p>
<p>If you're confirming a child's identity, you need to have known the person making the application personally for at least 2 years.</p>

<h2>When can't you do this</h2>
<p>You can't confirm someones's identity if you're:</p>
<ul class="list-bullet">
  <li>related to them</li>
  <li>in a relationship with them</li>
  <li>living at the same address</li>
  <li>working for Her Majesty's Passport Office</li>
</ul>

<h2>How to confirm someone's identity online</h2>
<p>
<ol class="list-number">
  <li style="margin-bottom:15px">The applicant, or the person applying for them, should have contacted you before giving your details to HM Passport Office. They'll need to give you some personal information to help you sign in online.</li>
  <li style="margin-bottom:15px">You'll get an email from HM Passport Office with a reference and a link to go online.</li>
  <li style="margin-bottom:15px">Once we've confirmed who you are, we'll ask a few questions about how you know the applicant or the person applying for them. We'll also show you a passport photo.</li>
</ol>

<p>You'll need to use a secure device. It takes about 10 minutes. </p>


<!-- this isn't needed for inline guidance  <h2>When you need to do this</h2>

<p>You'll need to ask someone to confirm your identity if you're:</p>

<ul class="list list-bullet">
    <li>applying for a first passport</li>
    <li>replacing a lost or stolen passport</li>
    <li>renewing a passport for a child aged 11 or younger</li>
    <li>renewing a passport that expired some time ago</li>
</ul>
 -->

{{/content}}

{{/ layout}}
