{{< layout}}

{{$pageTitle}}Get someone to confirm your identity{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Get someone to confirm your identity</h1>
{{/header}}

{{$content}}

<p>You'll need someone to confirm your identity if you're applying for a:</p>

<ul class="list-bullet">
    <li>first passport</li>
    <li>replacement of a lost or stolen passport</li>
    <li>renewal of a passport for a child aged 11 or under</li>
    <li>renewal of a passport if your appearance has changed so much you can't be recognised from your existing passport</li>
</ul>
<br>

<h2>Who you can ask</h2>
<p>They must:</p>

<ul class="list-bullet">
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>

<p>They can't be:</p>

<ul class="list-bullet">
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>
<br>

<h2>What they have to do</h2>
<p>Paragraph.</p>
<p>Paragraph.</p>
<p>Paragraph.</p>

<ul class="list-bullet">
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>

<p>Paragraph.</p>

{{/content}}

{{/ layout}}