{{< layout}}

{{$pageTitle}}Documents to prove responsibility for the child{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Documents to prove responsibility for the child</h1>
{{/header}}

{{$content}}

<h2>If you have been appointed in a will as guardian to a child (testementary guardian)</h2>
<h3>Send the following:</h3>
<ul class="list list-bullet">
    <li>documentary evidence to show that you have been appointed guardian</li>
    <li>a signed and dated letter to confirm that there are no court orders, and that no other person has parental responsibility (in Scotland the letter doesn't need to confirm parental responsibility)</li>
</ul>

<h2>If you're caring for a child in the absence or death of the parent or guardian (loco parentis)</h2>
<h3>Send the following:</h3>
<ul class="list list-bullet">
    <li>statutory declaration</li>
</ul>
<h3>And 1 of the following:</h3>
<ul class="list list-bullet">
    <li>their parent's death certificate or will</li>
    <li>a letter from social services</li>
    <li>the applicant's full birth certificate</li>
    <li>proof that you receive their child benefit payments</li>
    <li>a letter from a head teacher at the child's school, or the child's doctor (they must personally know the child, the applicant and the circumstances)</li>
</ul>
<h2>If you're a foster parent</h2>
<h3>Send the following:</h3>
<ul class="list list-bullet">
    <li>that they consent to the child having a passport</li>
    <li>they include details of the section of the Act the child is in care under</li>
    <li>there are no other causes for concern with the application</li>
</ul>

<h2>Other situations where you're acting as a parent</h2>
<h3>Send the following:</h3>
<ul class="list list-bullet">
    <li>a letter explaining the circumstances, and why you're making the application</li>
    <li>documentary evidence to prove responsibility for the child</li>
</ul>

<h2>Get help</h2>
<p><a href="https://www.gov.uk/passport-advice-line">Contact the Passport Adviceline</a> if you aren’t sure what documents you need or if your circumstances are more complicated.</p>

{{/content}}

{{/ layout}}
