{{< layout}}

{{$pageTitle}}Documents to prove responsibility for the child{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Documents to prove responsibility for the child</h1>
{{/header}}

{{$content}}

<h2>If you have been appointed in a will as guardian to a child (testementary guardian)</h2>
<h3>Send the following</h3>
<ul class="list list-bullet">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
</ul>

<h2>If you have been appointed in a will as guardian to a child (testementary guardian)</h2>
<h3>Send the following</h3>
<ul class="list list-bullet">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
</ul>

<h2>If you have been appointed in a will as guardian to a child (testementary guardian)</h2>
<h3>Send the following</h3>
<ul class="list list-bullet">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
</ul>

<h2>If you have been appointed in a will as guardian to a child (testementary guardian)</h2>
<h3>Send the following</h3>
<ul class="list list-bullet">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
</ul>

<h2>Get help</h2>
<p><a href="https://www.gov.uk/passport-advice-line">Contact the Passport Adviceline</a> if you aren’t sure what documents you need or if your circumstances are more complicated.</p>

{{/content}}

{{/ layout}}
