{{< layout}}

{{$pageTitle}}Extra guidance for first time applications{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Extra guidance for first time applications</h1>
{{/header}}

{{$content}}

<p>We may ask for extra information for a first time application.</p>

<h2>Grandparents' details</h2>
<p>If your parents' details provided is not enough to establish a claim to British nationality, we may ask for your grandparents' details.</p>
<p>Based on what you tell us, we may ask for your grandparents:</p>
<ul class="list list-bullet">
    <li>name, date and place of birth</li>
    <li>date of marriage or civil partnership (if this applies)</li>
</ul>

{{/content}}

{{/ layout}}