{{< layout}}

{{$pageTitle}}Passport interviews{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Passport interviews</h1>
{{/header}}

{{$content}}

<p>You may be asked for an interview if:</p>

<ul class="list-bullet">
    <li>you're 16 or older and you've never had a UK passport before</li>
    <li>you're renewing a passport with a dark blue cover</li>
</ul>

<p>After we've checked your application and documents, we'll send you a letter asking you to phone for an appointment at <a href="https://www.gov.uk/passport-interview-office" target="_blank">a passport interview office</a>.</p>
<br>

<h2>What happens at the interview</h2>
<p>Your appointment will last about 30 minutes.</p>
<p>You can bring a friend or relative with you to the office, but they'll have to wait in reception while you have your interview.</p>
<p>We'll check your photo looks like you and ask you some questions to confirm your identity. You'll need to leave your face uncovered.</p>
<br>

<h2>When you book your appointment</h2>
<p>Tell us if you:</p>

<ul class="list-bullet">
    <li>have a disability that prevents you from taking part in an interview</li>
    <li>need a sign language interpreter</li>
    <li>need a private interview room because you don't want to uncover your face in public</li>
</ul>
<br>

<h2>After the interview</h2>
<p>You won't get your new passport on the day. We'll carry out final checks on your application before we send your new passport.</p>

{{/content}}

{{/ layout}}