{{< layout}}

{{$pageTitle}}Passport interviews{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Passport interviews</h1>
{{/header}}

{{$content}}

<p>You may be asked for an interview at a <a href="https://www.gov.uk/passport-interview-office" target="_blank">passport office</a> if you've never had a UK passport before, or your old passport expired some time ago.</p>

<p>The interview helps us confirm who you are and that the passport application belongs to you.</p>

<p>It's an important part of protecting your identity. It stops other people applying for a passport in your name.</p>




<br>

<h2>What happens at the interview</h2>

<p>Your appointment will last about 30 minutes.</p>

<p>We'll ask you some questions about yourself that someone trying to steal your identity may not know. We'll also check your photo looks like you.</p>

<p>You can bring a friend or relative with you to the office, but they can't sit with you during the interview.</p>

<div class="panel panel-border-wide">
  <p>You won't get your new passport on the day. We'll carry out final checks on your application before we send your new passport.</p>
</div>

<br>

<h2>Booking your appointment</h2>
<p>We'll send you a letter asking you to phone for an appointment. When you call, tell us if you need:</p>

<ul class="list-bullet">
    <li>a sign language interpreter</li>
    <li>someone to be with you during the interview, such as a parent or carer
    <li>a private interview room because you don't want to uncover your face in public</li>
</ul>
<br>

<h2>If you have a disability and can't attend</h2>

<p>You'll need to send a letter from your doctor if you have a mental or physical disability that would prevent you from taking part in a passport interview.</p>

<p>Include the letter with your documents. We'll tell you where to send them after we've received your application.</p>

<br>


{{/content}}

{{/ layout}}
