{{< layout}}

{{$pageTitle}}About your parents{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>About your parents</h1>
{{/header}}

{{$content}}

<p>We ask for parents' details to work out your claim to <a href="../../guidance/british-nationality" target="_blank">British nationality</a> and to confirm your identity.</p>

<p>It's important you provide as much information as you can about them. If you don't know their details, you'll need to tell us why.</p>

<br>

<h2>Single parents</h2>

<p>Provide as much information as you can and leave the details for the other parent blank. You'll need to tell us that you don't know your other parent.</p>

<br>

<h2>Same-sex parents</h2>

<p>Enter the details of the person who gave birth or who is listed second on adoption certificate, under parent 1.</p>

<p>Enter the details of the person listed first on the birth or adoption certificate under parent 2.</p>

<br>

<h2>If you were adopted</h2>

<p>Give the details of your adoptive parents.</p>

<p>If you only have one adoptive parent, give their details and leave the section for the other parent blank. You'll need to tell us it was a sole adoption.</p>

<br>

<h2>If you were conceived through sperm donation</h2>

<p>You don't need to tell us if you were conceived through sperm donation and born in the UK. Give parents' details as they appear on your birth certificate.</p>

<p>There are <a href="https://www.gov.uk/government/publications/how-to-get-a-passport-if-your-child-was-conceived-through-sperm-donation/children-conceived-through-sperm-donation"target="_blank">different rules</a> if you were conceived through sperm donation and born outside the UK.</p>

<br>

<h2>If you were born through surrogacy</h2>

<p>Provide the details of your parents as they appear on the parental order.</p>

<p>You need to <a href="https://www.gov.uk/government/publications/surrogacy-overseas"target="_blank">check the rules</a> if they don't have a parental order and you were born outside the UK.</p>



{{/content}}

{{/ layout}}
