{{< layout}}

{{$pageTitle}}Parents' details{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Parents' details</h1>
{{/header}}

{{$content}}

<p>When you apply for a first UK passport, we ask for details about your legal parents. In most cases we need this information to work out your claim to British nationality.</p>


<h2>Single parents</h2>

<p>Provide as much information as you can and leave the details for the other parent blank. You'll need to tell us why you don't know this information.</p>

<h2>Same sex parents</h2>

<p>The person who gave birth or who is listed second on adoption certificate should enter their details as parent 1.</p>

<p>The person listed first on the birth or adoption certificate should enter their details as parent 2.</p>

<h2>If you were adopted</h2>

<p>Give the details of your adoptive parents. We don't need to know the details of your biological parents.<p>

<p>If it was a sole adoption, give the details of your adoptive parent and leave the details for the other parent blank.</p>

<h2>If you were conceived through sperm donation</h2>

<p>You don't need to tell us if you were conceived through sperm donation and born in the UK. Give your parents' details as they appear on your birth certificate.</p>

<p>There are <a href="https://www.gov.uk/government/publications/how-to-get-a-passport-if-your-child-was-conceived-through-sperm-donation/children-conceived-through-sperm-donation">different rules</a> if they were conceived through sperm donation and born outside the UK.</p>

<h2>If you were born through surrogacy</h2>



<ul class="list-bullet">
    <li>a British citizen</li>
    <li>settled in the UK</li>
</ul>


{{/content}}

{{/ layout}}
