{{< layout}}

{{$pageTitle}}About your parents{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>About your parents</h1>
{{/header}}

{{$content}}

<p>We need to ask for details about your parents when you apply for a first UK passport. In most cases we use this information to work out your claim to <a href="../../guidance/british-nationality" target="_blank">British nationality</a>.</p>

<p>It's important you provide as much information as you can. If you don't know their details, you'll need to tell us why.</p>
<br>

<h2>If you don't know whose details to provide</h2>

<br>

<h3>Single parents</h3>

<p>Provide as much information as you can and leave the details for the other parent blank. You'll need to tell us why you don't know these details.</p>

<br>

<h3>Same-sex parents</h3>

<p>The person who gave birth or who is listed second on adoption certificate should enter their details as parent 1.</p>

<p>The person listed first on the birth or adoption certificate should enter their details as parent 2.</p>

<br>

<h3>If you were adopted</h3>

<p>Give the details of your adoptive parents. We don't need to know your biological parents details.<p>

<p>If it was a sole adoption, give the details of your adoptive parent and leave the details for the other parent blank.</p>

<br>

<h3>If you were conceived through sperm donation</h3>

<p>You don't need to tell us if you were conceived through sperm donation and born in the UK. Give your parents' details as they appear on your birth certificate.</p>

<p>There are <a href="https://www.gov.uk/government/publications/how-to-get-a-passport-if-your-child-was-conceived-through-sperm-donation/children-conceived-through-sperm-donation"target="_blank">different rules</a> if you were conceived through sperm donation and born outside the UK.</p>

<br>

<h3>If you were born through surrogacy</h3>

<p>Provide the details of your parents as they appear on your parental order.</p>

<p>You need to <a href="https://www.gov.uk/government/publications/surrogacy-overseas"target="_blank">check the rules</a> if you were born outside the UK and don't have a parental order.</p>



{{/content}}

{{/ layout}}
