{{< layout}}

{{$pageTitle}}Recognised professions{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$content}}

<div id="back">
    <a href="confirming-your-identity" class="back-link">Back</a>
</div>

<h1>Recognised professions</h1>

<p>Examples include:</p>

<ul class="list list-bullet">
    <li>accountant</li>
    <li>airline pilot</li>
    <li>bank or building society official</li>
    <li>barrister</li>
    <li>chairman or director of limited company</li>
    <li>chiropodist</li>
    <li>councillor</li>
    <li>civil servant</li>
    <li>dentist</li>
    <li>director, manager or personnel officer of a VAT-registered company</li>
    <li>engineer with professional qualifications</li>
    <li>fire service official</li>
    <li>funeral director</li>
    <li>journalist</li>
    <li>Justice of the Peace</li>
    <li>legal secretary</li>
    <li>licensee of public house</li>
    <li>manager or personnel officer of a limited company</li>
    <li>minister of a recognised religion</li>
    <li>nurse</li>
    <li>officer of the armed services</li>
    <li>optician</li>
    <li>paralegal</li>
    <li>person with honours, for example an OBE or MBE</li>
    <li>pharmacist</li>
    <li>police officer</li>
    <li>Post Office official</li>
    <li>president or secretary of a recognised organisation</li>
    <li>professional photographer</li>
    <li>social worker</li>
    <li>solicitor</li>
    <li>stock broker or insurance broker</li>
    <li>surveyor</li>
    <li>teacher or lecturer</li>
    <li>travel agent</li>
</ul>
<br>

<h2>People who aren't accepted</h2>

<ul class="list list-bullet">
    <li>anyone who works for HM Passport Office</li>
    <li>doctors, unless they know you well (for example, as a friend) and they can recognise you from your photo</li>
</ul>

{{/content}}

{{/ layout}}