{{< layout}}

{{$pageTitle}}Recognised professions{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Recognised professions</h1>
{{/header}}

{{$content}}

<h2>Recognised professions</h2>
<p>Examples include:</p>

<ul class="list-bullet">
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>
<br>

<h2>People who aren't accepted</h2>

<ul class="list-bullet">
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>

{{/content}}

{{/ layout}}