{{< layout}}

{{$pageTitle}}Confirming your identity{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Who can confirm someone's identity</h1>
{{/header}}

{{$content}}
<aside class="part-navigation-container govuk" role="complementary">
  <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
          Who can confirm someone's identity
        </li>
        <li>
          <a href="/guidance/confirming-your-identity">How to confirm someone's identity</a>
        </li>
    </ol>
  </nav>
</aside>
<p>For some passport applications, HM Passport Office needs someone to confirm the applicant’s identity. This helps protect their identity and check the application belongs to the right person.
</p>

<h2>Who can do this</h2>

To confirm someone's identity online, you need to:</p>
<ul class="list-bullet">
  <li>be 18 or older</li>
  <li>and live in the UK</li>
  <li>and have a current UK passport</li>
  <li>and work in or be retired from a recognised profession</li>
</ul>
<p>You need to have known the applicant, or the person making the application, personally for at least 2 years &ndash; for example as a friend, neighbour or colleague.</p>

<p>You must not be related, in a relationship with or living at the same address as the applicant or the person making the application. </p>

<h2>Recognised professions</h2>

<p>You must work in or be retired from a recognised profession and know the applicant personally. For instance, if you're a doctor who only knows the applicant as a patient you can't confirm their identity.</p>

<p>Examples of recognised professions include:</p>

<ul class="list list-bullet">
  <li>accountant</li>
  <li>airline pilot</li>
  <li>articled clerk of a limited company</li>
  <li>assurance agent of a recognised company</li>
  <li>bank or building society official</li>
  <li>barrister</li>
  <li>chairman or director of a limited company</li>
  <li>chiropodist</li>
  <li>commissioner for oaths</li>
  <li>councillor - local or county</li>
  <li>civil servant - permanent</li>
  <li>dentist</li>
  <li>director, manager or personnel officer of a VAT-registered company</li>
  <li>doctor</li>
  <li>engineer with professional qualifications</li>
  <li>financial services intermediary, for example a stockbroker or insurance broker</li>
  <li>fire service official</li>
  <li>funeral director</li>
  <li>insurance agent of a recognised company - full time</li>
  <li>journalist</li>
  <li>Justice of the Peace</li>
  <li>legal secretary - fellow or associate member of the Institute of Legal Secretaries and PAs</li>
  <li>licensee of a public house</li>
  <li>local government officer</li>
  <li>manager or personnel officer of a limited company</li>
  <li>member, associate or fellow of a professional body</li>
  <li>Member of Parliament</li>
  <li>Merchant Navy Officer</li>
  <li>minister of a recognised religion including Christian Science</li>
  <li>nurse - registered</li>
  <li>officer of the armed services</li>
  <li>optician</li>
  <li>paralegal - certified, qualified or associate member of the Institute of Paralegals</li>
  <li>person with honours - OBE or MBE</li>
  <li>pharmacist</li>
  <li>photographer - professional</li>
  <li>police officer</li>
  <li>Post Office official</li>
  <li>president or secretary of a recognised organisation</li>
  <li>Salvation Army Officer</li>
  <li>social worker</li>
  <li>solicitor</li>
  <li>surveyor</li>
  <li>teacher or lecturer</li>
  <li>trade union officer</li>
  <li>travel agent - qualified</li>
  <li>valuer or auctioneer - fellow or associate member of the incorporated society</li>
  <li>Warrant Officer or Chief Petty Officer</li>
</ul>
<div>

  <p>You can't confirm someone's identity if you work at HM Passport Office. </p>
  <p>If you work at UK Visas and Immigration and are involved with applications for British citizenship or right of abode in the UK you also can't do this.</p>


<h2><a href="/guidance/confirming-your-identity">Next</a></h2>


{{/content}}

{{/ layout}}
