{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$content}}
<style>
.damaged-example {
  /*width: 500px;*/
  margin-bottom: 40px;
}
</style>
<div class="govuk">
<div class="govuk-title length-average">
<h1 style="font-size:48px">Damaged passports</h1>
</div>

<aside class="part-navigation-container" role="complementary">
  <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
          <a href="/govuk/damaged">Definition of a damaged passport</a>
        </li>
        <li>
      Examples of damaged passports
        </li>
        <li>
          <a href="/govuk/damaged-renew">What to do if your passport is damaged</a>
        </li>
    </ol>
  </nav>
</aside>

<h1 class="part-title">2. Examples of damaged passports</h1>

<div class="damaged-example">
  <img src="../../public/images/damaged/damaged-laminate.jpg"  />
  <p>The laminate on the photo page is coming away.</p>
</div>
<div class="damaged-example">
  <img src="../../public/images/damaged/damaged-liquid.jpg" />
  <p>The page is discoloured and has excess water damage.</p>
</div>
<div class="damaged-example">
  <img src="../../public/images/damaged/damaged-dog.jpg"  />
  <p>The front cover and other pages are torn.</p>
</div>
<div class="damaged-example">
  <img src="../../public/images/damaged/damaged-antenna.jpg" />
  <p>The back cover is creased so badly that the chip is no longer working.</p>
</div>

</div>
<h2><a href="/govuk/damaged-renew">Next</a></h2>

</div>
{{/content}}



{{/ layout}}
