{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$content}}
<div class="govuk">
<div class="govuk-title length-average">
<h1 style="font-size:48px">Damaged passports</h1>
</div>

<aside class="part-navigation-container" role="complementary">
  <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
        Definition of a damaged passport
        </li>
        <li>
          <a href="/govuk/damaged-renew">What to do if your passport is damaged</a>
        </li>
    </ol>
  </nav>
</aside>

    <h1 class="part-title">
    1. Definition of a damaged passport</h1>
    <p>A damaged passport is one that can't be used as proof of identity.</p>
    <p>Your passport is damaged if:</p>
  <ul>
    <li>you can't read any of your details</li>
    <li>any pages are missing</li>
    <li>there's significant water damage</li>
    <li>a spillage covers information on any page</li>
    <li>the laminate on the photo page is coming away</li>
    <li>the photo page is discoloured</li>
    <li>the chip is damaged or showing through the back cover (e-passports only)</p>
  </ul>
<h2>Examples of damaged passports</h2>
<br></br>
<br></br>
    <br>
      <div class="panel panel-border-wide">
      <p>You may not be allowed to leave or enter the UK if you travel with a damaged passport.</p></div>
    <br>

</div>
<h2><a href="/govuk/who-can-do-this">Next</a></h2>

</div>
{{/content}}



{{/ layout}}
