{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$content}}
<div class="govuk">
<div class="govuk-title length-average">
<h1 style="font-size:48px">Confirming someone's identity for a UK passport</h1>
</div>

<aside class="part-navigation-container" role="complementary">
  <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
          <a href="/govuk/">Recognised professions</a>
        </li>
        <li>
          <a href="/govuk/who-can-do-this">Who can do this?</a>
        </li>
        <li>
          How to confirm someone's identity
        </li>
    </ol>
  </nav>
</aside>

    <h1 class="part-title">
       3. How to confirm someone's identity</h1>


<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
<p>You&lsquo;ll receive an email from Her Majesty's Passport Office with an application reference and a link to go online. You&lsquo;ll be shown a photo of the person applying and asked a few questions about how you know them.</p>
<p>You need to know the applicant&lsquo;s date of birth, including the year.</p>
<p>To confirm who you are and your profession, you&lsquo;ll need to enter your:
  <ul>
    <li> National Insurance number</li>
     <li>UK passport details</li>
     <li>employer&lsquo;s details</li>
   </ul>
   <br>
  <p>You don&lsquo;t need to sign a printed photo.</p>
  <div class="panel-important">
<p>It’s a criminal offence to make a false statement to help someone get a passport.&nbsp;</p></div>


</div>
</div>
{{/content}}

{{/ layout}}
