{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$content}}
<div class="govuk-title length-average">
<h1 style="font-size:48px">Confirming someone's identity for a UK passport</h1>
</div>

  <aside class="part-navigation-container" role="complementary">
    <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
<ol class="column-half">
    <li style="margin-bottom:10px">
      <a href="/govuk">Who can do this?</a>
    </li>
    <li>
      How to confirm someone's identity</li>
</ol>
</nav>

  </aside>

    <h1 class="part-title">
      2. How to confirm someone's identity</h1>


<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
<p>This is similar to providing a countersignature but you can do it online.</p><p>To confirm someone's identity, you need to:</p><p>1. Be given an application reference and a [link] from the person applying</p><p>2. Go online using the [link] and enter the person's application reference</p><p>3. Provide a few details including your UK passport number, national insurance number and employer's details</p><p>4. Identify a photo as the person applying</p><p>5. Confirm that you know the person well</p><p>This should take about 10 minutes.</p>

<div role="note" aria-label="Help" class="application-notice help-notice">
<p>It’s a criminal offence to make a false statement to help someone get a passport.&nbsp;</p></div>


</div>
{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <div class="sidebar" style="margin-top:50px">
      <div class="column-third add-title-margin">
        <aside class="govuk-related-items" data-module="track-click" role="complementary">
          <h2 data-track-count="sidebarRelatedItemSection">
            Passports
          </h2>


          <nav role="navigation">
            <ul>
                <li>
                  <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/photos-for-passports" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Rules for passport photos&quot;}" href="/photos-for-passports">Rules for passport photos</a>
                </li>
                <li class="related-items-more">
                  <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/browse/abroad/passports" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="/browse/abroad/passports">
                    More
                      <span class="visuallyhidden">
                        in
                        Passports
                      </span>
    </a>            </li>
            </ul>
          </nav>
      </aside>

    </div>
</div>
</div>
{{/sidebar}}

{{/ layout}}
