{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$content}}
<div class="govuk">
<div class="govuk-title length-average">
<h1 style="font-size:48px">Terms and conditions</h1>
</div>
<p>By applying for a passport you agree to these terms and conditions.</p>

<p>You confirm that you or the applicant:</p>

<ul>
<li>are a British national and haven't lost or given up your national status</li>
<li>aren’t breaking the terms of a court order by making this application</li>
<li>don’t owe any money to the UK government for repatriation costs, for example when the government pays to get you home from abroad</li>
<li>understand by voluntarily applying for a UK passport you may lose citizenship of another country</li>
<li>will tell Her Majesty's Passport Office if you were born through surrogacy</li>
</ul>
<p>
<p>If this is an application for a child passport, you confirm that you:</p>
<ul>
<li>have parental responsibility</li>
<li>will send any court orders relating to the child's residence, contact or removal from the UK
</ul>
<p>
<p>We may ask for more information before we can continue with your application.</p>

<div class="panel-important">
<p>If you give untrue or misleading information, we may share information with the police in the UK or abroad and you could be prosecuted.</p>
</div>

<h2>Your new photo</h2>

<p>Your new photo must look like you and must not have been altered in any way. It must have been taken in the last month.</p>

<p>Photos that pass our online checks may still be unsuitable for your new passport. We may ask for a different digital or paper photo.</p>

<h2>Your new passport</h2>

<p>When you get your new passport you must sign it with black ballpoint pen. You can’t use it until you do.</p>

</p>If you can’t sign your name, provide an explanation before you pay. Your passport will show ‘the holder is not required to sign’.</p>

<h2>Passport fee</h2>

<p>Payments are managed by a company called Atos - you’ll be taken to their website when you pay. Atos are responsible for the information you provide on their website and the availability of their service.</p>

<h2>Cancellation and refunds</h2>

<p>You won’t get a refund if:</p>
<ul>
<li>your application is delayed because we need to make extra checks</li>
<li>we move you to a different service and your application takes longer, for example you’re moved from Online Premium to Fast Track</li>
<li>we haven't received your old passport or documents within 90 days of submitting your application</li>
<li>we withdraw your application because we haven’t received all the information we’ve asked for</li>
<li>you cancel your application</li>
</ul>

<p>You can cancel your application at any time but you’ll need to do it in writing. <a href="https://www.passport.service.gov.uk/help">Contact us</a> to find out what you need to do.</p>

<h2>Applying with Online Premium</h2>

<p>You need to come to your collection appointment in person. You must bring your old passport with you – you can’t collect your new passport without it.</p>

<div class="panel-important">
<p>Your old passport will be cancelled on the day of your collection appointment. You can’t use it - you could be stopped by the authorities if you do.</p>
</div>

<p>If you can’t go to your collection appointment, <a href="https://www.passport.service.gov.uk/help">contact us</a>. We’ll arrange another time for you to collect your new passport. If you don’t collect it within 28 days we’ll cancel it. You’ll have to apply and pay again.</p>

<h2>Lost, stolen or damaged passports</h2>
<p>You confirm that you or the applicant will:</p>
<ul>
<li>contact HM Passport Office immediately if the old passport is lost, stolen or damaged after you've applied</li>
<li>return a lost passport to a UK passport office if it comes into your possession</li>
</ul>

<h2>Your privacy</h2>

<p>You understand that:</p>

<ul>
<li>the details you’ve given will be checked against information held by other organisations to decide whether to issue or withdraw a passport</li>
<li>we retain your data electronically and may use it to check our systems work securely and effectively</li>
<li>we may pass information about your passport or related records to organisations in the UK and abroad when you use your passport, obtain a service, or when it's in the public interest to do so</li>
<li>we may ask for feedback through links and post-application surveys</li>
</ul>

<p>Your information and photos will be stored securely and used in line with our <a href="https://www.passport.service.gov.uk/help/privacy">privacy policy</a> and <a href="https://www.passport.service.gov.uk/help/cookies">cookie policy</a>.</p>



<a href="" class="button">Close</a><br/><br/>

{{/content}}

{{/ layout}}
