{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$content}}
<div class="govuk">
<div class="govuk-title length-average">
<h1 style="font-size:48px">Confirming someone's identity for a UK passport</h1>
</div>

  <aside class="part-navigation-container" role="complementary">
    <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
      <ol class="column-half">
          <li>
            <a href="/govuk">Recognised professions</a>
          </li>
          <li>
            Who can do this?
          </li>
          <li>
            <a href="/govuk/how-confirm">How to confirm someone's identity</a>
          </li>
      </ol>
    </nav>
  </aside>

      <h1 class="part-title">2. Who can do this?</h1>


<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
<p>When a person applies for a UK passport, Her Majesty's Passport Office sometimes needs to check that they are who they claim to be. <br><br>The person applying for the passport must ask someone they know well to confirm their identity.</p><p><span style="font-size: 24px; font-weight: 700;">To confirm someone's identity, you must:</span></p>

<ul>
<li>work or in or be retired from a recognised profession</li>
<li>live in the UK and have a UK passport</li>
<li>have known the person applying as a friend, neighbour or colleague for at least 2 years</li></ul>

<div class="example">
<p>You must not be related to, in a relationship with or living at the same address as the person applying.</p>
</div>

<h2><a href="/govuk/how-confirm">Next</a></h2>


</div>
</div>
{{/content}}



{{/ layout}}
