{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_161212/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
           <span class="marker">Guide part 1 of 8</span>
       </div>
{{/back}}

{{$main-content}}
       <div class="column-full">
           <div class="flash-card">
               <header>
                   <h1>Find a camera</h1>
               </header>
               <div class="grid-row">
                   <div class="column-half">
                     <p><strong>Ask a friend to take your photo.</strong></p>
                     <p>They can use any device that takes digital photos, including a phone, digital camera or tablet.</p>
                     <p>It's best to use the auto settings.</p>
                     <nav class="guide-nav">
                               <ul>
                                   <li class="button-guide button-guide-previous">
                                       <a href="{{backLink}}"" style="font-size: 20px">Back</a>
                                   </li>
                                   <li class="button-guide button-guide-next">
                                       <a href="{{nextPage}}" style="font-size: 20px">Find a plain background</a>
                                   </li>
                               </ul>
                     </nav>
                   </div>
                      <div class="column-half">
                         <img src="/public/images/photoguide/diagram-smartphone-digital-camera-tablet-x2.png" width="389" height="119" alt="">
                   </div>
           </div>
       </div>

{{/main-content}}

{{/ layout}}
