
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<div class="padding-wrapper">


    <h1>Check your collection appointment</h1>


    <div class="panel-important">
          <p>You need to complete your application to keep this appointment.</p>
        </div>


      <span class="bold-medium">Thursday, 6 April 2017</br>
        at 1:00pm</span>
        <span class="font-medium">&nbsp; <a href="/priority_service_170510/book-appointment/london-week-2-selected-change">Change</a></span>
      <p></p>
      <p class="font-small"><span class="bold-small">London HM Passport Office</span></br>
    Globe House </br>
    89 Eccleston Square </br>
    London </br>
    SW1V 1PN </br>
      <a href="https://www.google.co.uk/maps/place/Newport+HM+Passport+Office/@51.5812985,-2.9860147,15z/data=!4m2!3m1!1s0x0:0x572ae1c5870c53da?sa=X&ved=0ahUKEwi-0JXZmI3SAhUECsAKHfFiCq0Q_BIIdjAK">View map</a></p>

      <p>It usually takes 30 minutes to get your new passport.</p>

    </p>

        <p class="font-medium"><a href="/priority_service_170510/intro/you-need-a-photo" class="button">Start your application</a></p>

      </div>
    </div>

<!--
  <div class="column-one-third">
    <p>&nbsp;</p>
  </div>
-->

{{/main-content}}

{{/ layout}}
