
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Choose a date and a passport office</h1>
{{/header}}

{{$main-content}}

<div class="padding-wrapper">

<h1>Choose a date and place</h1>

<div class="grid-row">
<div class="column-two-thirds">

<p>You need to collect your passport in person from a <a href="/priority_service_170510/book-appointment/passport-offices">passport office in the UK</a>.</p>
 <p>If you can't find the date and place you need, <a href="https://www.gov.uk/get-a-passport-urgently">check the other urgent services</a>.</p>


</div>
</div>


  <div class="error-summary-heading-orange">
    <h3 style="margin-top:0">The date or place you selected has just been chosen by somebody else. </br>Please choose a different one.</h3>
  </div>
<!--
  <div class="error-summary-heading-orange">
    <h3 style="margin-top:0">There are no appointments available for Online Premium, you need to apply with <a href="">Paper Premium</a>.</h3>
  </div>
-->
<div class="manage-times">
  <div class="manage-time-next">
    <!-- later desktop -->
<span class="font-small hide"><a href="/priority_service_170510/book-appointment/book-appointment-2">Later<div class="later-arrow"></div></a> </span>
<!-- later responsive -->
<span class="font-small show-responsive"><a href="/priority_service_170510/book-appointment/book-appointment-2_mobile">Later<div class="later-arrow"></div></a> </span>

</div>
<!--
<div class="manage-time-previous">
<a href="/priority_service_170510/book-appointment/"><div class="earlier-arrow"></div> Earlier </div></a>
</div>
-->

<div class="book-table">
  <table class="book-table">
  <tbody>
    <tr>
    <td><span class="bold-small">Wednesday<br> 5 April</span></td>
    <td><span class="bold-small">Thursday<br>  6 April</span></td>
    <td><span class="bold-small">Friday<br>  7 April</span></td>
    <td class="hide"><span class="bold-small">Saturday<br>  8 April</span></td>
    <td class="hide"><span class="bold-small">Monday<br> 10 April</span></td>
    <td class="hide"><span class="bold-small">Tuesday<br>  11 April</span></td>

    </tr>
  <tr>
    <td><span class="unavailable">London </br></span></td>
    <td><span class="city-available"><a href="/priority_service_170510/book-appointment/london-week-2-selected">London </br><span class="available">Available</span></span></a></td>
    <td><span class="city-available"><a href="#">London </br><span class="available">Available</span></span></a></td>
    <td class="hide"><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>
    <td class="hide"><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>
    <td class="hide"><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>

</tr>
<tr>
  <td><span class="unavailable">Peterborough </br></span></td>
  <td><span class="city-available"><a href="#">Peterborough </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Peterborough </br></span></td>
    <td class="hide"><span class="city-available"><a href="#">Peterborough </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="city-available"><a href="#">Peterborough </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Peterborough </br></span></td>



</tr>
<tr>
  <td><span class="city-available"><a href="/priority_service_170510/book-appointment/newport-week-1-selected">Newport </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Newport </br></span></td>
  <td><span class="unavailable">Newport </br></span></td>
  <td class="hide"><span class="unavailable">Newport </br></span></td>
  <td class="hide"><span class="unavailable">Newport </br></span></td>
  <td class="hide"><span class="unavailable">Newport </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></san></td>
      <td class="hide"><span class="unavailable">Liverpool </br></span></td>
    <td class="hide"><span class="unavailable">Liverpool </br></span></td>
    <td class="hide"><span class="unavailable">Liverpool </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">Durham </br></span></td>
  <td><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Durham </br></span></td>
  <td class="hide"><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Durham </br></span></td>
    <td class="hide"><span class="unavailable">Durham </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td class="hide"><span class="unavailable">Glasgow </br></span></td>
    <td class="hide"><span class="unavailable">Glasgow </br></span></td>
    <td class="hide"><span class="unavailable">Glasgow </br></span></td>

</tr>
  <tr>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Belfast </br></span></td>
    <td class="hide"><span class="unavailable">Belfast </br></span></td>
    <td class="hide"><span class="unavailable">Belfast </br></span></td>
  </tr>
  </tbody>
  </table>
</div>
</div>
</div>

{{/main-content}}

{{/ layout}}
