{{< layout-photo-checker}}

{{$back}}
    {{#nunjucks}}
        {% if values['choose-photo'] == 'take' or values['choose-photo'] == 'upload' %}
            <a href="upload" class="back-link">Back</a>
        {% elif values['choose-photo'] == 'code' %}
            <a href="retrieve" class="back-link">Back</a>
        {% endif %}
    {{/nunjucks}}
{{/back}}

{{$pageTitle}}
    Photo check
{{/pageTitle}}

{{$header}}
    <h1>Photo check</h1>
{{/header}}

{{$content}}

{{<hmpo-partials-form}}
{{$form}}

<div class="photo-preview">
    <div class="photo-preview-inner">
        <h2 class="heading-medium">Your photo</h2>
        <div class="photo">
            {{#nunjucks}}
                {% if values['applicant-age'] <= 11 %}
                    <img src="/public/images/photo/result/thumbnail-child-age-0-5-fail.jpg" alt="Your photo" title="Your photo" width="150">
                {% else %}
                    <img src="/public/images/photo/result/thumbnail-adult-fail.jpg" alt="Your photo" title="Your photo" width="150">
                {% endif %}

                {% if values['choose-photo'] == 'take' or values['choose-photo'] == 'upload' %}
                    {# Show nothing #}
                {% elif values['choose-photo'] == 'code' %}
                    <p style="font-size:16px; font-weight:bold; color:grey">abc.de/2jdD4hk</p>
                {% endif %}
            {{/nunjucks}}
        </div>
    </div>
</div>

<!-- <p>The check has rated your photo against the photo rules to see if it is suitable for a new passport.</p> -->
<p>The photo check gives an estimate of how likely it is that your photo will be suitable for a new passport.</p>

<div class="grid-row">
    <h2 style="padding: 0 15px;">Results</h2>

    <h3 style="padding: 0 15px;">Background and lighting</h3>
    <div class="column-one-third">
        <!-- <div class="panel panel-border-wide" style="border-color: #b10e1e;">
            <p>Poor</p>
        </div> -->
        <p style="font-size: 32px; font-weight: 600; text-transform: uppercase; color: #b10e1e; margin-bottom: 20px;">Poor</p>
    </div>
    <div class="column-two-thirds">
        <p style="margin-top: 15px;">Photos with a poor rating are unlikely to be suitable for a new passport.</p>
        <details>
            <summary><span class="summary">What’s affecting this result?</span></summary>
            <div class="panel panel-border-narrow">
                <h3>We can't find the outline of your head</h3>
                <p>Please try:</p>
                <ul class="list list-bullet">
                    <li>standing in front of a plain light coloured background</li>
                    <li>tying your hair back or brushing it down if it's loose</li>
                    <li>standing further away from the wall to avoid shadows</li>
                    <li>to make sure the background has no glare or patterns</li>
                </ul>
                <h3>The lighting is too dark or uneven</h3>
                <p>Please try:</p>
                <ul class="list list-bullet">
                    <li>standing further away to avoid shadows</li>
                    <li>switching the flash off</li>
                    <li>standing where there's more natural light</li>
                </ul>

            </div>
        </details>
    </div>

    <hr style="margin-left: 15px; margin-right: 15px; min-width: 1px;">

    <h3 style="padding: 0 15px;">Face and expression</h3>
    <div class="column-one-third">
        <!-- <div class="panel panel-border-wide" style="border-color: #ffbf47;">
            <p>Okay</p>
        </div> -->
        <p style="font-size: 32px; font-weight: 600; text-transform: uppercase; color: #ffbf47; margin-bottom: 20px;">Okay</p>
    </div>
    <div class="column-two-thirds">
        <p style="margin-top: 15px;">Photos with an okay rating don't meet all the rules and may not be suitable for a new passport.</p>
        <details>
            <summary><span class="summary">What’s affecting this result?</span></summary>
            <div class="panel panel-border-narrow">
                <h3>It looks like your eyes are closed</h3>
                <ul class="list list-bullet">
                    <li>you must keep your head straight and in the centre of the photo</li>
                    <li>you can still submit your photo if you believe it should be accepted (for example there's a medical reason why you can't open your eyes)</li>
                </ul>
            </div>
        </details>
    </div>

    <hr style="margin-left: 15px; margin-right: 15px; min-width: 1px;">

    <h3 style="padding: 0 15px;">Quality and format</h3>
    <div class="column-one-third">
        <!-- <div class="panel panel-border-wide" style="border-color: #28a197;">
            <p>Good</p>
        </div> -->
        <p style="font-size: 32px; font-weight: 600; text-transform: uppercase; color: #28a197; margin-bottom: 20px;">Good</p>
    </div>
    <div class="column-two-thirds">
        <p style="margin-top: 15px;">Photos with a good rating may still be unsuitable for a new passport. Make sure your photo meets the <a href="../help/photo-rules-photo-checker" target="_blank">passport photo rules</a>.</p>
    </div>
</div>
<br>



{{#input-submit}}check-another-photo{{/input-submit}}

<details>
    <summary><span class="summary">I can’t meet the photo rules</span></summary>
    <div class="panel panel-border-narrow">
        <p>You can still use a photo if you can’t meet the photo rules because of a religious or medical reason. We’ll
            ask you to explain the circumstances when you submit your photo in the passport application.</p>
    </div>
</details>

{{/form}}
{{/hmpo-partials-form}}

{{/content}}

{{$sidebar}}
<!-- <div class="column-one-third" style="margin-top:50px">
    <div class="sidebar related">
        <div class="photo-preview-inner">
            <h2 class="heading-medium">Your photo</h2>
            <div class="photo">
                {{#nunjucks}}
                    {% if values['applicant-age'] <= 11 %}
                        <img src="/public/images/photo/result/thumbnail-child-age-0-5-fail.jpg" alt="Your photo" title="Your photo" width="150">
                    {% else %}
                        <img src="/public/images/photo/result/thumbnail-adult-fail.jpg" alt="Your photo" title="Your photo" width="150">
                    {% endif %}

                    {% if values['choose-photo'] == 'take' or values['choose-photo'] == 'upload' %}
                        {# Show nothing #}
                    {% elif values['choose-photo'] == 'code' %}
                        <p style="font-size:16px; font-weight:bold; color:grey">abc.de/2jdD4hk</p>
                    {% endif %}
                {{/nunjucks}}
            </div>
        </div>
    </div>
</div> -->
{{/sidebar}}

{{/ layout-photo-checker}}
