{{< layout-photo-checker}}

{{$back}}
    {{#nunjucks}}
        {% if values['choose-photo'] == 'take' or values['choose-photo'] == 'upload' %}
            <a href="upload" class="back-link">Back</a>
        {% elif values['choose-photo'] == 'code' %}
            <a href="retrieve" class="back-link">Back</a>
        {% endif %}
    {{/nunjucks}}
{{/back}}

{{$pageTitle}}
    Your photo result
{{/pageTitle}}

{{$header}}
    <h1>Your photo result</h1>
{{/header}}

{{$content}}

{{<hmpo-partials-form}}
{{$form}}

<div class="photo-preview">
    <div class="photo-preview-inner">
        <h2 class="heading-medium">Your photo</h2>
        <div class="photo">
            {{#nunjucks}}
                {% if values['applicant-age'] <= 11 %}
                    <img src="/public/images/photo/result/thumbnail-child-age-0-5-fail.jpg" alt="Your photo" title="Your photo" width="150">
                {% else %}
                    <img src="/public/images/photo/result/thumbnail-adult-fail.jpg" alt="Your photo" title="Your photo" width="150">
                {% endif %}

                {% if values['choose-photo'] == 'take' or values['choose-photo'] == 'upload' %}
                    {# Show nothing #}
                {% elif values['choose-photo'] == 'code' %}
                    <p style="font-size:16px; font-weight:bold; color:grey">abc.de/2jdD4hk</p>
                {% endif %}
            {{/nunjucks}}
        </div>
    </div>
</div>

<p>Your photo has been through an automated check.</p>

<h2 class="govuk-table__caption">Photo criteria and results</h2>
<table class="govuk-table">
    <!-- <caption class="govuk-table__caption" style="text-align: left; font-weight: bold;">Photo criteria and results</caption> -->
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Photo criteria</th>
            <th class="govuk-table__header" scope="col">Photo check result</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Background and lighting</td>
            <td class="govuk-table__cell">Fair</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Your appearance</td>
            <td class="govuk-table__cell" style="color: #b10e1e; font-weight: bold;">Weak</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Photo quality and format</td>
            <td class="govuk-table__cell">Strong</td>
        </tr>
    </tbody>
</table>
<br>

<!-- <table class="govuk-table">
    <caption class="govuk-table__caption" style="text-align: left; font-weight: bold;">Photo criteria and results</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Photo criteria</th>
            <th class="govuk-table__header" scope="col">Photo check result</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Background and lighting</th>
            <td class="govuk-table__cell">Fair</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Your appearance</th>
            <td class="govuk-table__cell">Weak</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Photo quality and format</th>
            <td class="govuk-table__cell">Strong</td>
        </tr>
    </tbody>
</table> -->

<!-- <ol class="list-number">
    <li class="list-item-bold">Background and lighting
        <p>Your photo must have:</p>
        <ul class="list-bullet">
            <li>a plain light-coloured background &ndash; without texture or pattern</li>
            <li>balanced light &ndash; no shadows on your face or behind you</li>
            <li>no objects behind you</li>
        </ul>
    </li>
    <li class="list-item-bold">Your appearance
        <p>Make sure:</p>
        <ul class="list-bullet">
            <li>the photo is a good likeness taken in the last month</li>
            <li>your whole face is visible

            {{#nunjucks}}
                {% if values['applicant-age'] >= 6 %}
                    with your eyes open</li>
                    <li>you have a plain expression &ndash; no smile and mouth closed
                {% endif %}
            {{/nunjucks}}

            </li>
            <li>there are no reflections or glare (if you have to wear glasses)</li>
            <li>you’re not wearing headwear (unless for religious or medical reasons)</li>
        </ul>
    </li>
    <li class="list-item-bold">Photo quality and format
        <p>Your photo must:</p>
        <ul class="list-bullet">
            <li>be in colour, with no effects or filters</li>
            <li>not be blurred or have ‘red eye’</li>
            <li>be unedited &ndash; you can’t ‘correct’ your passport photo</li>
        </ul>
    </li>
</ol>
<br> -->

{{#nunjucks}}
    {% if values['choose-photo'] == 'take' or values['choose-photo'] == 'upload' %}
        <div class="panel panel-border-wide alert-warning">
            <p class="list-item-bold">
                Automated check</p>
    {% elif values['choose-photo'] == 'code' %}
        <div class="panel panel-border-wide alert-default">
            <p class="list-item-bold">
                Our automated check suggests</p>
    {% endif %}
        <p>
            <ul class="list-bullet">
                {% if values['applicant-age'] <= 11 %}
                    <li>it looks like your eyes are closed</li>
                    <li>it looks like you’re not facing the camera</li>
                    <li>we can’t find the outline of your head</li>
                {% else %}
                    <li>it looks like your mouth is open</li>
                    <li>we can’t find the outline of your head</li>
                {% endif %}
            </ul>
        </p>

        {% if values['applicant-age'] < 1 %}
            <p>It needs to meet all of these <a href="./photo-guidance" target="_blank">photo rules for ages under 1</a>.</p>
        {% elif values['applicant-age'] < 6 %}
            <p>It needs to meet all of these <a href="./photo-guidance" target="_blank">photo rules for ages under 6</a>.</p>
        {% elif values['applicant-age'] < 16 and not values['rising-16'] %}
            <p>It needs to meet all of these <a href="./photo-guidance" target="_blank">photo rules for ages between 6 and 16</a>.</p>
        {% else %}
            <p>It needs to meet all of these <a href="./photo-guidance" target="_blank">photo rules for ages 16 and over</a>.</p>
        {% endif %}

    </div>


{{/nunjucks}}

<h2 class="heading-medium">
    You can use the photo</h2>
<ul class="list-bullet">
    <li>if you have a medical or religious reason why it doesn't meet the rules</li>
    <li>if you think it meets all the rules</li>
</ul>

{{#nunjucks}}
    {% if values['choose-photo'] == 'code' %}
        <div class="panel panel-border-wide">
            <p>If your photo doesn't meet the rules you may have problems with your application or when you travel.</p>
        </div>
    {% endif %}
{{/nunjucks}}
<br>

<!-- <h2>Do you want to submit this photo?</h2>

{{#radio-group}}oix-override{{/radio-group}}

<div id="oix-override" class="reveal js-hidden">
    <div class="panel panel-border-narrow" style="margin-top:-20px; margin-bottom:20px;">
        <label for="oix-override-reason" class="form-label">
            Tell us why you’d like to use this photo:
        </label>
        {{#textarea}}oix-override-reason{{/textarea}}
    </div>
    <br>
</div>

<div id="oix-override-group" class="form-group">
    <fieldset role="radiogroup" aria-required="true">
        <legend>
            <span class="visuallyhidden">Do you want to use this photo?</span>
        </legend>

        <label class="block-label selected" for="oix-override-true">
            <input type="radio" name="oix-override" id="oix-override-true" value="true" required="true" data-toggle="oix-override" aria-controls="oix-override" aria-expanded="true">
            Yes, I want to submit it
        </label>

        <div class="panel panel-border-narrow js-hidden" id="oix-override" style="margin-top:10px; margin-bottom:0px;">
            <label for="oix-override-reason" class="form-label">
                Explain why you’d like to use this photo
            </label>
            {{#textarea}}oix-override-reason{{/textarea}}
        </div>

        <label class="block-label" for="oix-override-false">
            <input type="radio" name="oix-override" id="oix-override-false" value="false" required="true">
            No, I want to get another photo
        </label>
    </fieldset>
</div> -->

{{#input-submit}}check-another-photo{{/input-submit}}

{{#nunjucks}}
    {% if values['choose-photo'] == 'take' or values['choose-photo'] == 'upload' %}
        <div class="panel panel-border-wide">
            <p>If your photo doesn't meet the rules you may have problems with your application or when you travel.</p>
        </div>
    {% endif %}
{{/nunjucks}}

{{/form}}
{{/hmpo-partials-form}}

{{/content}}

{{$sidebar}}
<!-- <div class="column-one-third" style="margin-top:50px">
    <div class="sidebar related">
        <div class="photo-preview-inner">
            <h2 class="heading-medium">Your photo</h2>
            <div class="photo">
                {{#nunjucks}}
                    {% if values['applicant-age'] <= 11 %}
                        <img src="/public/images/photo/result/thumbnail-child-age-0-5-fail.jpg" alt="Your photo" title="Your photo" width="150">
                    {% else %}
                        <img src="/public/images/photo/result/thumbnail-adult-fail.jpg" alt="Your photo" title="Your photo" width="150">
                    {% endif %}

                    {% if values['choose-photo'] == 'take' or values['choose-photo'] == 'upload' %}
                        {# Show nothing #}
                    {% elif values['choose-photo'] == 'code' %}
                        <p style="font-size:16px; font-weight:bold; color:grey">abc.de/2jdD4hk</p>
                    {% endif %}
                {{/nunjucks}}
            </div>
        </div>
    </div>
</div> -->
{{/sidebar}}

{{/ layout-photo-checker}}
