{{< layout-photo-checker}}

{{$pageTitle}}How to get a digital passport photo{{/pageTitle}}

{{$header}}
    <h1>How to get a digital passport photo</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <p>There are 3 ways:</p>

    <h2>Photo taken at home</h2>
    <p>You'll need someone to help you and a device that takes digital photos.</p>

    <h2>Photo with a code</h2>
    <p>Get your photo taken in a booth or shop, and <a href="../help/photo-code" target="_blank">get a code with your photo</a>. Use the code to add the photo to your application.</p>

    <h2>Photo in a digital file</h2>
    <p>Get your photo taken in a shop and get a digital file of your photo. Upload the file to add the photo to your application.</p>

    {{#input-submit}}{{/input-submit}}

    <div class="panel panel-border-wide">
        <p>The photo code is a new service and may not be available yet from photo booths or shops in your area.</p>
    </div>

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{$sidebar}}
<!-- <div class="column-one-third">
    <br>
    <br>
    <div class="photo-preview-inner">
        <object data="../../public/images/digital-photo-upload.svg" type="image/svg+xml" class="svg" tabindex="-1" style="width:120px;"></object>
    </div>
</div> -->
{{/sidebar}}

{{/ layout-photo-checker}}
