{{< layout-photo-checker}}

{{$pageTitle}}Check a passport photo{{/pageTitle}}

{{$header}}
    <h1 class="heading-xlarge">Check a passport photo</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
    {{$form}}

        <p>Before you start, you’ll need a digital passport photo. If you don’t have one, we’ll show you how.</p>

        <p>It takes about 5 minutes.</p>

        {{#input-submit}}start{{/input-submit}}

    {{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{$sidebar}}
{{/sidebar}}

{{/ layout-photo-checker}}
