{{< layout-photo-checker}}

{{$pageTitle}}Check a passport photo{{/pageTitle}}

{{$header}}
    <h1 class="heading-xlarge">Check a passport photo</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
    {{$form}}

        <p>You need a digital photo if you're applying for a passport online.</p>

        <p>You can upload and check a photo before you start an application.</p>

        {{#input-submit}}start{{/input-submit}}

    {{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{$sidebar}}
    <div class="column-one-third">
        <div class="sidebar" style="margin-top:50px">
            <div class="photo-preview-inner">
                <h2 class="heading-medium">Get a passport photo</h2>
                <ul>
                    <!-- <li style="margin-bottom:10px"><a href="https://www.gov.uk/photos-for-passports/rules-for-digital-photos" target="_blank">How to get a digital passport photo</a></li>
                    <li><a href="./help/photo-guidance" target="_blank">How to take a digital passport photo</a></li> -->
                    <li style="margin-bottom:10px"><a href="./help/how-to-get-a-digital-photo" target="_blank">How to get a digital passport photo</a></li>
                    <li><a href="./help/how-to-take-a-digital-photo" target="_blank">How to take a digital passport photo</a></li>
                </ul>
            </div>
        </div>
    </div>
{{/sidebar}}

{{/ layout-photo-checker}}
