{{< layout-photo-checker}}

{{$pageTitle}}
    How to take a digital passport photo
{{/pageTitle}}

{{$header}}
    <h1>How to take a digital passport photo</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>Use this guidance to take a digital photo that meets the passport photo rules.<p>

<div class="panel panel-border-wide">
    <p>If your photo doesn't meet the rules you may have problems with your application or when you travel.</p>
</div>

{{#nunjucks}}

    {% if values['applicant-age'] >= 16 or values['rising-16'] %}

        <h2>Use a plain light-coloured background</h2>
        <ul class="list list-bullet">
            <li>no texture or patterns</li>
            <li>no objects behind you</li>
        </ul>
        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <img src="/public/images/photoguide/uncropped-photos/image-m2-plain.jpg" alt="" class="">
                    <div class="result">
                        <p class="approved">Approved</p>
                    </div>
                </li>
                <li>
                    <img src="/public/images/photoguide/uncropped-photos/image-m2-textured-background.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">Textured background</p>
                    </div>
                </li>
                <li>
                    <img src="/public/images/photoguide/uncropped-photos/image-m2-object-in-background.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">Object in background</p>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        <h2>Even lighting and no shadows</h2>
        <ul class="list list-bullet">
            <li>balanced light &ndash; no shadows on your face or behind you</li>
            <li>it’s best to use natural sunlight, for example facing a window</li>
        </ul>
        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m1-plain.jpg" alt="">
                    <div class="result">
                        <p class="approved">Approved</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m1-uneven-harsh.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">Shadow on face</p>
                    </div>
                </li>
                <li>
                    <img src="/../../public/images/photoguide/uncropped-photos/image-m1-flash-shadow.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">Shadow behind head</p>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        <h2>Stand in the right position</h2>
        <ul class="list list-bullet">
            <li>stand 0.5 metres (1.5 feet) away from your background (this reduces shadow)</li>
            <li>the person taking the photo should stand 1.5 metres (5 feet) from you</li>
            <li>include your head, shoulders and upper body in the photo</li>
            <li>don’t crop your photo &ndash; it will be done for you</li>
        </ul>
        <div class="guidance-photos" aria-hidden="true" style="width:50%">
            <ul>
                <li>
                    <img src="/public/images/good-passport-photo.jpg" alt="">
                </li>
            </ul>
        </div>
        <br>

        <h2>Plain expression and face in full view</h2>
        <ul class="list list-bullet">
            <li>face front on to the camera</li>
            <li>don’t smile or frown &ndash; eyes open and mouth closed</li>
            <li>your photo should be a good likeness and taken in the last month</li>
        </ul>
        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-f1-plain.jpg" alt="">
                    <div class="result">
                        <p class="approved">Plain expression</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-f1-smiling.jpg" alt="">
                    <div class="result">
                        <p class="failed">Don’t smile</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-f1-mouth-open.jpg" alt="">
                    <div class="result">
                        <p class="failed">Keep your mouth closed</p>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        <h2>No headwear</h2>
        <ul class="list list-bullet">
            <li>unless it’s for religious or medical reasons</li>
        </ul>
        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-f2-religious-head-covering.jpg"
                        alt="">
                    <div class="result">
                        <p class="approved">Religious headwear</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m3-head-covering.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">No fashion headwear</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-f1-hair-accessory.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">No hair accessories</p>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        <h2>Eyes fully visible</h2>
        <ul class="list list-bullet">
            <li>hair away from your face and eyes</li>
            <li>take your glasses off (if you can)</li>
        </ul>
        <h3>If you need to keep glasses on:</h3>
        <ul class="list list-bullet">
            <li>your eyes must be visible without any glare or reflections</li>
            <li>no sunglasses or tinted glasses</li>
        </ul>
        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m2-plain-glasses.jpg"
                        alt="">
                    <div class="result">
                        <p class="approved">Eyes fully visible</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m2-glasses-tinted-covering-eyes.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">Don’t cover eyes with glasses</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m2-glasses-reflection.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">No glare on glasses</p>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        <h2>Watch 'How to take a digital passport photo'</h2>
        <div class="videoWrapper">
            <iframe src="https://www.youtube.com/embed/JWbfnOYmx6I?rel=0" frameborder="0"
                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
        <br>

    {% else %}

        <h2>Use a plain light-coloured background</h2>
        <ul class="list list-bullet">
            <li>no texture or patterns</li>
            <li>children must be on their own in the photo</li>
            <li>babies must not be holding toys or dummies</li>
        </ul>

        {% if values['applicant-age'] < 1 %}
            <h3>Children under 1:</h3>
            <ul class="list list-bullet">
                <li>you can support their head with your hand but your hand must not be visible</li>
            </ul>
        {% endif %}

        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <img src="/public/images/photoguide/uncropped-photos/image-child-1.jpg" alt="">
                    <div class="result">
                        <p class="approved">Approved</p>
                    </div>
                </li>
                <li>
                    <img src="/public/images/photoguide/uncropped-photos/image-child-2.jpg" alt="">
                    <div class="result">
                        <p class="failed">No dummies</p>
                    </div>
                </li>
                <li>
                    <img src="/public/images/photoguide/uncropped-photos/image-child-3.jpg" alt="">
                    <div class="result">
                        <p class="failed">1 person only in photo</p>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        <h2>Even lighting and no shadows</h2>
        <ul class="list list-bullet">
            <li>balanced light &ndash; no shadows on your child's face or behind them</li>
            <li>it’s best to use natural sunlight, for example facing a window</li>
        </ul>
        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m1-plain.jpg" alt="">
                    <div class="result">
                        <p class="approved">Approved</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m1-uneven-harsh.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">Shadow on face</p>
                    </div>
                </li>
                <li>
                    <img src="/../../public/images/photoguide/uncropped-photos/image-m1-flash-shadow.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">Shadow behind head</p>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        <h2>Stand in the right position</h2>
        <h3>When you take the photo of your child:</h3>
        <ul class="list list-bullet">
            <li>they should stand 0.5 metres (1.5 feet) from the background (this reduces shadow)</li>
            <li>you need to stand far enough away so that their head, shoulders and upper body are included
                in the photo</li>
            <li>don’t crop the photo &ndash; it will be done for you</li>
        </ul>

        {% if values['applicant-age'] < 1 %}
            <h3>Children under 1:</h3>
            <ul class="list list-bullet">
                <li>lay them on a plain light-coloured sheet and take the photo from above</li>
            </ul>
        {% endif %}

        <div class="guidance-photos" aria-hidden="true" style="width:50%">
            <ul>
                <li>
                    <img src="/public/images/good-passport-photo.jpg" alt="">
                </li>
            </ul>
        </div>
        <br>

        <h2>Plain expression and face in full view</h2>
        <ul class="list list-bullet">
            <li>face front on to the camera</li>
            <li>no smile or frown &ndash; eyes open and mouth closed</li>
            <li>your child's photo should be a good likeness and taken in the last month</li>
        </ul>

        {% if values['applicant-age'] < 6 %}
            <h3>Children under 6:</h3>
            <ul class="list list-bullet">
                <li>don't have to look directly at the camera</li>
                <li>don't need to have a plain expression</li>
            </ul>
        {% endif %}

        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-f1-plain.jpg" alt="">
                    <div class="result">
                        <p class="approved">Plain expression</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-f1-smiling.jpg" alt="">
                    <div class="result">
                        <p class="failed">Don’t smile</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-f1-mouth-open.jpg" alt="">
                    <div class="result">
                        <p class="failed">Keep your mouth closed</p>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        <h2>No headwear</h2>
        <ul class="list list-bullet">
            <li>unless it’s for religious or medical reasons</li>
        </ul>
        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-f2-religious-head-covering.jpg"
                        alt="">
                    <div class="result">
                        <p class="approved">Religious headwear</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m3-head-covering.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">No fashion headwear</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-f1-hair-accessory.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">No hair accessories</p>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        <h2>Eyes fully visible</h2>
        <ul class="list list-bullet">
            <li>hair away from the face and eyes</li>
            <li>take glasses off (if possible)</li>
        </ul>

        {% if values['applicant-age'] < 1 %}
            <h3>Children under 1:</h3>
            <ul class="list list-bullet">
                <li>don't have to have their eyes open</li>
            </ul>
        {% endif %}

        <h3>If your child needs to keep their glasses on:</h3>
        <ul class="list list-bullet">
            <li>their eyes must be visible without any glare or reflections</li>
        </ul>
        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m2-plain-glasses.jpg"
                        alt="">
                    <div class="result">
                        <p class="approved">Eyes fully visible</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m2-glasses-tinted-covering-eyes.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">Don’t cover eyes with glasses</p>
                    </div>
                </li>
                <li>
                    <img src="../../public/images/photoguide/uncropped-photos/image-m2-glasses-reflection.jpg"
                        alt="">
                    <div class="result">
                        <p class="failed">No glare on glasses</p>
                    </div>
                </li>
            </ul>
        </div>
        <br>

    {% endif %}

{{/nunjucks}}

{{> partials-elements-button-close}}
<br>

<details>
    <summary><span class="summary">I can’t meet the photo rules</span></summary>
    <div class="panel panel-border-narrow" style="margin-bottom:30px">
        <p>You can still use a photo if you can't meet the photo rules because of a religious or medical reason. We'll ask you to explain the circumstances when you submit your photo.</p>
    </div>
</details>

<div class="app-c-print-link">
    <a href="#" class="app-c-print-link__link" rel="alternate">
        Print page
    </a>
</div>

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout-photo-checker}}
