{{< layout2}}

{{$pageTitle}}Upload your photo{{/pageTitle}}

{{$header}}
    <h1>Check a passport photo</h1>
{{/header}}

{{$content}}
        <p>You can check if a digital passport photo meets the 
        <a href="../prototype_161212/photoguide-static/photorules">photo rules</a>.</p>
        <!-- {{#input-text}}companyName{{/input-text}}

        {{#input-text}}postcode{{/input-text}} -->
        <a href="/shops-photo-checker/processing-image" class="button">Upload a photo</a><br/><br/>
        <br>
        <a href="/shops-photo-checker/processing-image-unsucc" >Upload an unsuccessful photo</a><br/><br/>



{{/content}}

{{/ layout2}}
