{{< layout}}

{{$pageTitle}}Photo uploaded{{/pageTitle}}

{{$header}}
    <h1>Photo uploaded</h1>
{{/header}}

{{$content}}

        <div class="panel-indent panel-photo-result panel-photo-pass">
            <h2>Photo passed first check</h2>
            <p>Your photo has been automatically checked for common mistakes.</p>
        </div>
        <p>We’ll still check it manually and we could still ask for another if something doesn't look right.</p>


        <a href="/shops-photo-checker" >Try another photo</a>
        <br/>  <br/>  <br/>
        <a href="/shops-photo-checker" class="button">New customer</a><br/><br/>


{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Your photo</h2>
          <div class="photo">
              <img src="../../public/images/thumbnail.jpeg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
          </div>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}
