{{< layout2}}

{{$pageTitle}}You need another photo{{/pageTitle}}

{{$header}}
    <h1>You need another photo</h1>
{{/header}}

{{$content}}
        <p>This photo has failed for the following reasons:</p>
        <div class="panel-indent panel-photo-result panel-photo-error">
            <h2>It looks like your mouth is open</h2>
            <p>Sometimes this is caused by facial hair or shadows near your mouth. Please try different lighting.</p>
            <p>If there’s a medical reason why your mouth appears to be open, override this message and submit your photo.</p>
        </div>
        <p><a href="../prototype_161212/photoguide-static/photorules">Read the photo rules</a></p>
        <!--  <details>
          <summary><span class="summary">If you believe your photo should be accepted</span></summary>
            <div class="panel panel-border-narrow">
              <p>You can only use this photo if either:</p>
            </div>
        </details> -->

        <a href="/shops-photo-checker" class="button">Check another photo</a><br/><br/>

        Check a photo for a <a href="/shops-photo-checker">new customer</a>


{{/content}}

{{$sidebar}}
<div class="column-one-third">
  <br/>
    <br/>
      <div class="sidebar related">
        <div class="photo-preview-inner">
          <h2 class="heading-medium">Photo</h2>
            <div class="photo">
              <img src="../../public/images/thumbnail.jpeg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
          </div>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout2}}
