{{< layout2}}

{{$pageTitle}}Photo uploaded{{/pageTitle}}

{{$header}}
    <h1>This photo looks fine</h1>
{{/header}}

{{$content}}

        <div class="panel-indent panel-photo-result panel-photo-pass">
            <h2>It has passed the automated checks</h2>
            <p>We’ll check it manually. We may ask for another photo if something doesn’t look right.</p>
        </div>

        <div class="panel panel-border-wide">
            <p>
              If your customer isn't happy with this photo, <a href="/shops-photo-checker">check another photo</a></a>.
            </p>
        </div>

        <a href="/shops-photo-checker" class="button">Next customer</a><br/><br/>
{{/content}}

{{$sidebar}}
<div class="column-one-third">
  <br/>
    <br/>
      <div class="sidebar related">
        <div class="photo-preview-inner">
          <h2 class="heading-medium">Photo</h2>
            <div class="photo">
              <img src="../../public/images/thumbnail.jpeg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
          </div>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout2}}
