{{< layout2}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Company or individual?{{/pageTitle}}

{{$header}}
    <h1>Passport photo checker</h1>
{{/header}}

{{$content}}
    <p>This is a line about the photo checker, what it is, what it isn't and who it's for.</p>
    <br/>
    <h2>Are you a company or an individual?</h2>
    {{< hmpo-partials-form}}
    {{$form}}
        {{#radio-group}}what-are-you{{/radio-group}}
        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout2}}
