{{< layout}}

{{$pageTitle}}Give details{{/pageTitle}}
{{$header}}
    <h1>When you've asked someone</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
    <!-- <div role="note" aria-label="Information" class="panel panel-border-wide application-notice info-notice">
      <p>You need to contact this person and ask them to confirm your identity</p>
    </div> -->
    <!-- <fieldset>
      <label class="block-label" for="contact-myself">
          <input type="radio" name="what-to-do" id="contact-myself" value="contact-myself" required="true">
          I'll contact this person myself
      </label>
      <label class="block-label" for="contact-for-me">
          <input type="radio" name="what-to-do" id="contact-for-me" value="contact-for-me" required="true">
          Contact this person for me
      </label>
    </fieldset> -->

    <p>You need to email the person who's agreed to confirm your identity some details and a link.</p>

    <p>Copy and paste this information into your email:</p>

    <ul class="list-bullet">
      <li>Applicant's date of birth: {{values.age-day}}/{{values.age-month}}/{{values.age-year}}</li>
      <li>Application reference: {{values.reference}}</li>
      <li>You'll need your passport and national insurance numbers</li>
      <li>Link: <a href="#">http://www.gov.uk/confirm-identity</a></li>
    </ul>
    <details>
        <summary><span class="summary">Email this person for me</span></summary>
        <div class="panel panel-border-narrow">
          <p>We'll send them an email requesting to confirm your identity. You must inform this person before we email them.</p>
          <div id="csig-number-group" class="form-group">
              <fieldset>
                <div id="name-group" class="form-group">
                    <label for="name" class="form-label">
                        Full name
                    </label>
                    <span>
                        <input type="text" id="name" class="form-control name" name="name" value="" aria-describedby="name-prefix" aria-required="true">
                    </span>
                </div>
                <div id="email-group" class="form-group">
                    <label for="email" class="form-label">
                        Email
                    </label>
                    <span>
                        <input type="text" id="email" class="form-control name" name="name" value="" aria-describedby="name-prefix" aria-required="true">
                    </span>
                </div>
        </div>
        <a href="#" class="button">Send email</a><br>
    </details>
      <!--


          <a href="/csig_170830/user/tracking-waiting" class="button">Submit</a><br>

            {{#input-submit}}{{/input-submit}}
        </div> -->





        {{/form}}
    {{/ hmpo-partials-form}}



{{/content}}

{{$sidebar}}

<!-- <div class="column-one-third">
    <div class="sidebar" style="margin-top:50px">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">This person must:</h2>
          <ul class="list-bullet">
            <li>have a current UK passport</li>
            <li>work in or be retired from a <a href="/govuk/" target="_blank">recognised profession</a></li>
            <li>have known you as a friend, neighbour or colleague for at<br>least 2 years</li>
          </ul>
      </div>

    </div>
</div> -->
{{/sidebar}}

{{/ layout}}
