{{< layout}}

{{$pageTitle}}Give details{{/pageTitle}}
{{$header}}
    <h1>Who do you want to send the email?</h1>
{{/header}}

{{$content}}
<h2>What they need</h2>

<p>They need an email with your application details and a link to go online. We'll show you what to include in your email, or we can send it for you.</p>
{{< hmpo-partials-form}}
    {{$form}}

    <div id="contact-csig-group" class="form-group inline">
      <fieldset role="radiogroup" aria-required="true">
        <label class="block-label" for="contact-csig-No">
          <input type="radio" name="contact-csig" id="contact-csig-No" value="false" required="true" data-toggle="contact-details" aria-controls="contact-details">
          I'll send it
        </label>
          <label class="block-label" for="contact-csig-Yes">
              <input type="radio" name="contact-csig" id="contact-csig-Yes" value="true" required="true" data-toggle="email-form" aria-controls="email-form" aria-expanded="false">
              Send it for me
          </label>
      </fieldset>
    </div>
    <div id="email-form" class="panel panel-border-narrow js-hidden">
      <p>We'll send you a copy of the email.</p>
      <div id="csig-number-group" class="form-group">
        <div id="csig-name-group" class="form-group">
            <label for="name" class="form-label">
                The person's full name
            </label>
            <span>
                <input type="text" id="csig-name" class="form-control name" name="csig-name" value="" aria-describedby="name-prefix" aria-required="true">
            </span>
        </div>
        <div id="csig-email-group" class="form-group">
            <label for="csig-email" class="form-label">
                The person's email
            </label>
            <span>
                <input type="text" id="csig-email" class="form-control name" name="csig-email" value="" aria-describedby="name-prefix" aria-required="true">
            </span>
        </div>
      </div>
      <br>
      {{#input-submit}}{{/input-submit}}
    </div>
    <div id="contact-details" class="panel panel-border-narrow js-hidden">
      <p>You need to copy and paste these details into your email:</p>
        <div style="border: 2px solid #DEE0E2; padding: 30px; margin-bottom: 30px">
          <ul class="list-bullet" id="stuff">
            <li>Applicant's date of birth: {{values.age-day}}&nbsp;{{values.age-month}}&nbsp;{{values.age-year}}</li>
            <li>Application reference: {{values.reference}}</li>
            <li>You'll need your passport and national insurance numbers</li>
            <li>Link: <a href="#">http://www.gov.uk/confirm-identity</a></li>
          </ul>
          <!-- <a href="#" class="btn" data-clipboard-target="#stuff">Copy text to clipboard</a> -->
        </div>
        <a href="/csig_170830/user/tracking-waiting" class="button">I've sent an email</a><br>
    </div>

        {{/form}}
    {{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
