{{< layout}}

{{$pageTitle}}Give details{{/pageTitle}}
{{$header}}
    <h1>Contact countersignature</h1>
{{/header}}

{{$content}}
<p>We can send an email to the person confirming your identity. <br>We'll send you a copy of the email.</p>
{{< hmpo-partials-form}}
    {{$form}}
      <div id="contact-csig-group" class="form-group form-group-compound">
          <label for="contact-csig" class="block-label">
              <input type="checkbox" id="contact-csig" name="contact-csig" value="true" aria-required="false" required="true">
                  I've contacted the person and they have agreed to confirm <br>
                  my identity.
          </label>
      </div>
      <br>
      <div id="csig-number-group" class="form-group">
        <div id="csig-name-group" class="form-group">
            <label for="name" class="form-label">
                The person's full name
            </label>
            <span>
                <input type="text" id="csig-name" class="form-control name" name="csig-name" value="" aria-describedby="name-prefix" aria-required="true">
            </span>
        </div>
        <div id="csig-email-group" class="form-group">
            <label for="csig-email" class="form-label">
                The person's email
            </label>
            <span>
                <input type="text" id="csig-email" class="form-control name" name="csig-email" value="" aria-describedby="name-prefix" aria-required="true">
            </span>
        </div>
      </div>
      {{#input-submit}}{{/input-submit}}
      <details>
        <summary><span class="summary">I'll send the countersignature email myself</span></summary>
        <div class="panel panel-border-narrow">
          <p>You need to copy and paste these details into your email:</p>
          <ul class="list-bullet">
            <li>your date of birth: {{values.age-day}}&nbsp;{{values.age-month}}&nbsp;{{values.age-year}}</li>
            <li>your application reference: {{values.reference}}</li>
            <li>their passport and national insurance numbers</li>
            <li>this link: <a href="#">http://www.gov.uk/confirm-identity</a></li>
          </ul>
        </div>
      </details>
        {{/form}}
    {{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
