{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>Waiting to confirm your identity</h1>
          <p>Your passport application is on hold. We've sent an email to the person you've asked to confirm your identity.</p>
    </header>
    <h2>What you need to do</h2>

<p</p>

<p>You need to make sure that the person confirming your identity:</p>
 <ul class="list-bullet">
 <li>has received the email from HM Passport Office </li>
 <li>can go online and do this as soon as possible</li>
 <li>knows that they need to do this before 14 August 2017</li>
</ul>

<p>We'll update this page when we receive the details we need.</p>

<br>

    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Email sent to person confirming identity</td>
            <td>07:30pm on 10th of June 2017 </td>
          </tr>
          <tr>
            <td>Old passport received</td>
            <td>06:30pm on 10th of June 2017 </td>
          </tr>
          <tr>
            <td>Joined processing queue</td>
            <td>10:05am on 5th of June 2017 </td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>10:05am on 5th of June 2017 </td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of June 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking" class="button">Sign out</a><br>


{{/content}}


{{/ layout}}
