{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_oix_170518/intro/choose-photo-method" class="back-link">Get your digital passport photo</a>
            <span class="marker">Guide part 2 of 2</span>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>What you'll get from a booth</h1>
                </header>
                <div class="grid-row">
                  <div class="column-two-thirds">

                      <p>Your printed photos will include a digital photo code. You'll need the code to access a digital copy of your photo when you apply for a UK passport online.</p></p>

                       <p>Remember to check the photos meet the <a href="/../prototype_oix_170518/photoguide-static/photorules">rules for UK passports</a>.</p>

                      <nav class="guide-nav">
                                <ul>
                                  <li class="button-guide button-guide-previous">
                                    <a href="/prototype_oix_170518/photoguide-shop" style="font-size: 20px">What you'll get from a shop</a>
                                    </li>
                                </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
