{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_oix_170518/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 1 of 2</span>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>What you'll get from a booth</h1>
                </header>
                <div class="grid-row">
                  <div class="column-two-thirds">
                      <p>If you use a photo booth, make sure the photos meet the <a href="/../prototype_oix_1705180331/photoguide-static/photorules">rules for UK passports</a>.</p>

                      <h2>What you'll get</h2>

                      <p><p>Your printed photos will include a digital photo code. To access a digital copy of your photo when you apply, you'll need to enter your code. </p></p>

                      <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-next">
                                        <a href="/prototype_oix_170518/photoguide-shop/transfer-photo">Next</a>
                                    </li>
                                </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
