{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_oix_170518/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 1 of 2</span>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>What to ask for at a photo shop</h1>
                </header>
                <div class="grid-row">
                  <div class="column-two-thirds">
                      <p>You can get a digital passport photo from most high street photo shops. You'll need to ask them to take a digital photo that meets the <a href="/../prototype_oix_1705180331/photoguide-static/photorules">rules for UK passports</a>.</p>

                      <h2>What you'll get</h2>
                      
                      <p>Some shops will send you an email with your photo attached. 
                      <br>Or, they'll give you a code to enter when you apply. </p></p>
                      <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-next">
                                        <a href="/prototype_oix_170518/photoguide-shop/transfer-photo">Next</a>
                                    </li>
                                </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
