{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$content}}

<header>
  <h1>Sorry, something went wrong</h1>
</header>

<p>It hasn't been possible to confirm your collection appointment, please try again.</p>

<h2>If this keeps happening</h2>

<p>You need to <a href="">start your application again</a> and choose a new collection appointment, or you can <a title="Part 1: Choose another sevice" href="https://www.gov.uk/get-a-passport-urgently">apply with Paper Premium</a>.</p>

<p><a href="" class="button js-gaevent" role="button" data-gakey="start" data-galabel="or">Try again</a></p>

{{/ content}}

{{/ layout}}
