{{< layout}}

{{$pageTitle}}Are you applying from the UK?{{/pageTitle}}

{{$header}}
    <h1>Are you applying from the UK?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
      <fieldset class="inline">
        <!--{{#radio-group}}apply-uk{{/radio-group}}-->
        <fieldset class="inline">
            <label for="yes" class="block-label selected">
                  <input type="radio" name="title" id="yes" value="Yes" aria-required="true" data-toggle="yes-title" aria-controls="yes-title" aria-expanded="true">
                  Yes
            </label>
            <label for="no" class="block-label selected">
                  <input type="radio" name="title" id="no" value="No" aria-required="true" data-toggle="no-title" aria-controls="no-title" aria-expanded="true">
                  No
            </label>
            <div id="no-title" class="reveal" aria-hidden="false">
                <div class="panel-indent">
                    <div id="previous-name-title-group" class="form-group">
                        <label for="previous-name-title" class="form-label-bold">
                            Country
                        </label>
                        <input type="text" name="other-title" id="previous-name-title" class="form-control" aria-required="true" maxlength="20">
                    </div>
                </div>
            </div>
        </fieldset><br/>

        {{#input-submit}}{{/input-submit}}
      </fieldset>
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
