
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
{{/header}}

{{$main-content}}

<h1>Choose a collection time</h1>

<h2>London HM Passport Office &nbsp; <span class="font-small"><a href="/priority_service_170301/book-appointment">change</a>
</span></h2>

<p>89 Eccleston Square, Pimlico, London SW1V 1PN &nbsp; <a href="https://www.google.co.uk/maps/place/HM+Passport+Office/@51.4935294,-0.1439464,15z/data=!4m2!3m1!1s0x0:0xaa05e82d4f114209?sa=X&ved=0ahUKEwibx_bInIPSAhVB_WMKHRRaD8cQ_BIIdzAK">view map</a></p>

<div class="grid-row"><div class="column-two-thirds">
<p>You should arrive no earlier than 10 minutes before your appointment. It usually takes 30 minutes to get your new passport. </p>
</div></div>

<div class="manage-times">
  <div class="manage-time-next">
<span class="font-small"><a href="/priority_service_170301/book-appointment/book-appointment-2">Later <div class="later-arrow"></div></a> </span>
</div>
<!--
<div class="manage-time-previous">
<a href="/priority_service_170301/book-appointment/"><div class="earlier-arrow"></div> Earlier </div></a>
</div>
-->


<div class="book-table">
  <table class="book-table times">
  <tbody>
  <tr>
  <td><span class="bold-small">Friday<br>  3 March</span></td>
  <td><span class="bold-small">Saturday<br>  4 March</span></td>
  <td><span class="bold-small">Monday<br>  6 March</span></td>
  </tr>
<tr>
  <td><span class="unavailable">10.00am </br></span></td>
  <td><span class="unavailable">10.00am </br></span></td>
    <td><span class="unavailable">10.00am </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">10.30am </br></span></td>
    <td><span class="unavailable">10.30am </br></span></td>
    <td><span class="unavailable">10.30am </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">12.30pm </br></span></td>
  <td><span class="unavailable">12.30pm </br></span></td>
  <td><span class="unavailable">12.30pm </br></span></td>

</tr>
<tr>
    <td><span class="unavailable">1.00pm </br></span></td>
    <td><span class="unavailable">1.00pm </br></san></td>
      <td><span class="unavailable">1.00pm </br></san></td>

</tr>
<tr>
  <td><span class="unavailable">1.30pm </br></span></td>
  <td><span class="unavailable">1.30pm </br></span></td>
  <td><span class="unavailable">1.30pm </br></span></td>
</tr>
<tr>
  <td><span class="unavailable">4.30pm </br></span></td>
  <td><span class="unavailable">4.30pm </br></span></td>
  <td><span class="unavailable">4.30pm </br></span></td>
</tr>
  <tr>
    <td><span class="unavailable">5.00pm </br></span></td>
    <td><span class="unavailable">5.00pm </br></span></td>
    <td><span class="unavailable">5.00pm </br></span></td>

  </tr>

  </tbody>
  </table>


</div>
</div>


<script>
window.onscroll = function() {
    var sticky = document.getElementById('stickynav');
    if( document.body.scrollTop+document.documentElement.scrollTop > 240)
        sticky.className = "stuck";
    else sticky.className = "";
};
</script>


{{/main-content}}

{{/ layout}}
