{{< layout}}

{{$back}}
<div class="photo-guide">
  <a href="/../prototype_oix_171117/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 6 of 7</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="flash-card column-full">
          <h1>Check quality of photo</h1>
          <p>Your photo must be clear, in focus and unedited by computer software. You won’t be able to use the photo if you have ‘red-eye’.</p>
          <nav class="guide-nav">
                    <ul>
                        <li class="button-guide button-guide-previous">
                            <a href="{{backLink}}">Previous</a>
                        </li>
                        <li class="button-guide button-guide-next">
                            <a href="{{nextPage}}">Next</a>
                        </li>
                    </ul>
          </nav>
        </div>
{{/main-content}}

{{/ layout}}
