<p>

<div class="panel panel-border-wide alert-success">
  <p>Payment successful.</p>
</div>

<!-- <header class="update-notice">
  <h1><span class="icon-tick"></span> Application submitted</h1>
  <p>Application reference: <strong>PEX 319 825 680X</strong></p>
  <p>Your payment: £75.50</p>
  <p>Email confirmation sent to <strong>{{values.email}}</strong></p>
  <a href="" class="download">Download PDF receipt</a>
</header> -->

<!-- <div class="panel-important">
    <p>We can't start this application until we receive your old passport.</p>
</div> -->

<h1>What you need to do</h1>

<p>Before we can start work on your application, you need to:</p>

<h2>Send us your old passport{{#values.document-list}}and extra documents{{/values.document-list}}</h2>


{{#values.document-list}}
  <p><a href="./{{values.document-link}}">Check what you need to send</a></p>
{{/values.document-list}}

<p>Use a strong envelope that is the right size for your documents. You can use standard post or special delivery.</p>

<p>HM Passport Office<br/>
   Ref: PEX 319 825 680X<br/>
   Aragon Court<br/>
   Northminster Road<br/>
   Peterborough<br/>
   PE1 1QG
</p>

<h2>Track your application</h2>
<p>It should take around 3 weeks to get your new passport. Use your application reference <strong>PEX 319 825 680X</strong> to <a href="/csig/user">track your application</a>.</p>

<a href="" class="button">Give feedback</a><br/><br/>
