<header class="update-notice">
      <h1><span class="icon-tick"></span>Payment successful</h1>
      <p>£75.50<br>
      Receipt sent to {{values.email}}<br>
      <a href="" class="download">Download PDF receipt</a>
</header>

<div class="panel-important">
    <p>We can't start this application until we receive your old passport.</p>
</div>


<h1>What you need to do</h1>
<h2>Send us your old passport {{#values.document-list}}and extra documents{{/values.document-list}}</h2>
{{#values.document-list}}
  <p><a href="./{{values.document-link}}">Check what you need to send</a></p>
{{/values.document-list}}

<p>You don’t need to include a covering letter. Use a strong envelope that is the right size for your documents. You can use standard post or special delivery.</p>

<p>HM Passport Office<br/>
   Ref: PEX 319 825 680X<br/>
   Aragon Court<br/>
   Northminster Road<br/>
   Peterborough<br/>
   PE1 1QG
</p>


<div class="panel panel-border-wide alert-default">
    <p>You must include any court orders relating to the child's residence, contact or removal from the UK.</p>
</div>

 <h2>Track your application</h2>
<p>It should take around 3 weeks to get your new passport. Use your reference <strong>PEX 319 825 680X</strong> to <a href="/csig/user">track your application</a>.</p>
<p>If you have questions contact <a href="https://www.gov.uk/browse/abroad/passports" class="new-window" target="_blank">contact HM Passport Office<span class="visuallyhidden">(Opens in a new window)</span></a></p>

<a href="" class="button">Give feedback</a><br/><br/>
