<br>
<div class="panel panel-border-wide alert-success">
  <h2>Payment successful</h2>
  <p>We've sent details to {{values.email}}<br><a href="">Download confirmation</a></p>
</div>
<p>Application reference <strong>PEX 319 825 680X</strong></p>

<h1>What you need to do</h1>

<p>Before we can start work on your application, you need to:</p>

<h2>1. Ask someone to confirm your identity</h2>
<p>Sign in to check who can do this and provide their details. You'll need your application reference: PEX 319 825 680X</p>

<h2>2. Get your documents ready</h2>
<p>We can only receive your documents after your identity has been confirmed. We'll let you know when and where to send them.</p>

<a href="/../csig/user" class="button">Sign in</a>
