<header class="update-notice update-notice--grey">
  <h1><span class="icon-tick"></span>Payment successful</h1>
  £75.50<br>
  <p>Email confirmation sent to {{values.email}}<br>
  <a href="" style="color: #000">Download PDF</a>
</header>

<h2>Ask someone to confirm {{> partials-applicant-yours-the-applicants}} identity</h2>
<p>Sign into your application to provide their name and email. You'll need your application reference: <strong>PEX 319 825 680X</strong></p>


<a href="/../csig/user" class="button">Sign in to your application</a>
<br><br>
