<p>

<div class="panel panel-border-wide alert-success">
  <p>Payment successful.</p>
</div>

<!-- <h1><span class="icon-tick"></span>Payment successful</h1>
  £75.50<br>
  <p>Application reference: <strong>PEX 319 825 680X</strong></p>
  <span>Email confirmation sent to {{values.email}}<br>
    <a href="" class="download" style="margin-top:5px; display:inline-block; height: 26px;">Download PDF</a>
  </span>
</header> -->

<h1>What you need to do</h1>

<p>Before we can start work on your application, you need to:</p>

<h2>1. Ask someone to confirm your identity</h2>
<p>Sign into your application to check who can do this and provide their details. You'll need your application reference: PEX 319 825 680X</p>

<h2>2. Get your documents ready</h2>
<p>We can only receive your documents after your identity has been confirmed. We'll let you know when and where to send them.</p>


<a href="/../csig/user" class="button">Sign into your application</a>
<br>
<br>
If you need to do this later, details are in your confirmation email and PDF.
