{{< layout}}

{{$pageTitle}}Upload your photo{{/pageTitle}}

{{$header}}
    <h1>Get your digital photo</h1>
{{/header}}

{{$content}}
    {{< hmpo-partials-form}}
    {{$form}}
        <div id="photo-code-group" class="form-group">
            <label for="photo-code" class="form-label-bold">
            Digital photo code
            </label>

            <p class="form-hint" id="dob-hint">This will be in an email from a shop or on your printed photos.</p>
            <input type="text" name="photo-code" id="photo-code-bit" class="form-control input-code photo-code" aria-required="true">
            <span id="reference-prefix" class="prefix">.</span>
            <input type="text" name="photo-code" id="photo-code-ly" class="form-control input-code  photo-code" aria-required="true">
            <span id="reference-prefix" class="prefix">/</span>
            <input type="text" name="photo-code-photo" id="photo-code-photo" class="form-control input-code  photo-code-long" aria-required="true">


        </div>

        <!--<a href="retrieving" class="button">Get your photo</a><br/><br/>-->
        {{#input-submit}}{{/input-submit}}


    {{/form}}
    {{/ hmpo-partials-form}}

   <p><div role="note" aria-label="Information" class="panel panel-border-wide application-notice info-notice">
          We keep all photos for up to 30 days in line with our <a href="">privacy policy</a>.
        </p>
      </div>


{{/content}}
<br/><br/>
{{$sidebar}}
<div class="column-one-third">
  <br/><br/>
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Where to find your code</h2>
          <div class="photo">
              <img src="../../public/images/printed-photo-code.png" alt="Your uploaded photo" title="Your uploaded photo" width="300">
          </div>
           <!--
           <p>Or, in an email from a shop</p>
           <div class="photo">
               <img src="../../public/images/email-photo-code.png" alt="Your uploaded photo" title="Your uploaded photo" width="300">
           </div>
         -->
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}
