{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
  <header class="update-notice" style="background: #DEE0E2; color: #0B0C0C">
    <h1>Ask someone else to confirm <br> your identity</h1>
  </header>
  <p>C Moore isn't eligible to do this for you. You need to ask someone else.</p>
  <p>We can't print your new passport until your identity is confirmed.</p>
  <input type="hidden" name="renominate" id="renominate" value="true">
  {{#input-submit}}{{/input-submit}}
  <hr>
  <h2>Your application history</h2>
  <article>
  <table>
      <tbody>
        <tr>
          <td>C Moore not eligible</td>
          <td>7:30pm on 22 February 2017</td>
        </tr>
        <tr>
          <td>Email sent to {{values.csig-email-old}}</td>
          <td>2:30pm on 21 February 2018</td>
        </tr>
        <tr>
          <td>Application received</td>
          <td>10:05am on 19 February 2018</td>
        </tr>
        <tr>
          <td>Application submitted</td>
          <td>10:03am on 19 February 2018</td>
        </tr>
      </tbody>
    </table>
    <br>
    <a href="/csig">Sign out</a>
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}


{{/ layout}}
