{{< layout}}

{{$pageTitle}}How to{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Rules for digital passport photos</h1>
{{/header}}

{{$main-content}}
      <h1>Rules for digital passport photos</h1>
      <div class="grid-row">
          <div class="column-two-thirds">

              <p>You need a digital photo to renew your passport online.</p>
              <p>We’ll ask for another photo if it doesn’t meet the rules. This will delay your application.</p>

              <h2>How to get your digital photo</h2>

              <p>You can choose from 3 ways:</p>
              <p>1. Get a friend to take one. They can use a phone, tablet or digital camera. We’ll show you how to take a good passport photo and upload it.</p>
              <p>2. Go to a booth. From most booths in the UK and some booths abroad, you’ll get a photo code with your printed photos. We’ll show you how to use the code to retrieve your digital photo.</p>
              <p>3. Go to a photo shop. You’ll get a digital copy of your photo. Some shops can also give you a photo code. We’ll show you how to use the code to retrieve your digital photo.</p>

              <h2>What your digital photo must show</h2>

              <p>If you get a friend to take your photo we’ll crop the photo for you. To do this correctly, photos must:</p>

                <ul  class="list-bullet">
                  <li>the include your full head, shoulders and upper body</li>
                  <li>have lots of clear space around your head and shoulders</li>
                </ul>

              <p>If you get a photo code from a shop or booth, photos must include your full head and upper shoulders.</p>

              <p>Your photo must:</p>

              <ul  class="list-bullet">
                <li>have a plain, light-coloured background (not white or dark)</li>
                <li>contain no other objects or people</li>
                <li>be in clear contrast to the background</li>
              </ul>

              <p>In your photo you must:</p>


              <ul  class="list-bullet">
                <li>be facing forward and looking straight at the camera</li>
                <li>have a plain expression and your mouth closed</li>
                <li>have your eyes open and visible</li>
                <li>not have hair covering your eyes</li>
                <li>not wear anything on your head (unless it’s for religious or medical reasons)</li>
                <li>not have anything covering your face</li>
                <li>not have any ‘red eye’</li>
                <li>not have any shadows on your face or behind you</li>
              </ul>

              <p>Don’t wear sunglasses or tinted glasses. If you wear glasses that you can’t take off, your eyes must be visible without any glare or reflections.</p>

              <h2>Photo quality</h2>

              <p>Your photos must be:</p>

              <ul  class="list-bullet">
                <li>taken within the last month</li>
                <li>in colour with no effects or filters</li>
                <li>in focus (not blurred) and without any shadows</li>
                <li>at least 600 pixels wide and 750 pixels tall</li>
                <li>at least 50kb and no more than 10mb</li>
              </ul>

              <h2>Photo dos and don'ts</h2>

              <object type="image/jpg" data="/public/images/photo-dos-and-donts.jpg"type="image/svg+xml" class="svg" tabindex="-1" style="width:100%;padding-left:0px;padding-top:30px">
                <img src="/public/images/photo-dos-and-donts.jpg" width="" height= alt="">
            </object>

          </div>
    </div>

{{/main-content}}

{{/ layout}}
