{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Apply for, renew or replace a UK passport{{/pageTitle}}

{{$header}}
    <h1 class="heading-xlarge">Apply online for a UK passport</h1>
{{/header}}

{{$breadcrumb}}
    <style>
        #global-breadcrumb-bar {
            max-width: 960px;
            margin: 0 15px;
        }
        @media (min-width: 641px) {
            #global-breadcrumb-bar {
                margin: 0 30px;
            }
        }
        @media (min-width: 1020px) {
            #global-breadcrumb-bar {
                margin: 0 auto;
            }
        }
    </style>

    <div id="global-breadcrumb-bar" class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk/">Home</a></li>
            <li><a href="https://www.gov.uk/browse/abroad">Passports, travel and living abroad</a></li>
            <li><a href="https://www.gov.uk/browse/abroad/passports">Passports</a></li>
        </ol>
    </div>
{{/breadcrumb}}

{{$content}}
    <style>
        .phase-banner {
            display: none;
        }
    </style>

    <div class="panel-important">
        <p>The rules for passports, driving, EHIC cards, pet travel and more may change after the UK leaves the EU. <a href="https://www.gov.uk/visit-europe-brexit">Act now so you can travel as planned</a>.</p>
    </div>

    <p>You can apply for, renew, replace or update your passport and pay for it online.</p>

    <p id="get-started" class="get-started group">
        <a href="/../prototype/intro" class="big button js-gaevent" role="button" data-gakey="start" data-galabel="or">Start now</a>
    </p>
    <br/>

    <section class="more">
        <div class="js-tabs">
            <ul class="js-tablist">
                <li class="js-tablist__item">
                    <a href="#before-you-start" class="js-tablist__link">More information</a>
                </li>
                <li class="js-tablist__item">
                    <a href="#other-ways-to-apply" class="js-tablist__link">Other ways to apply</a>
                </li>
            </ul>

            <div class="js-tabcontent" id="before-you-start">
                <p>You’ll need a debit or credit card to use this service.</p>
                <p><a href="https://www.gov.uk/passport-fees">It's £9.50 cheaper</a> to apply for a passport online than by post.</p>
                <p>It should take around 6 weeks to get your first UK adult passport, but it can take longer.</p>
                <p>All other application types (for example, renewing a passport or getting a child passport) should take 3
                    weeks. It can take longer if more information is needed or your application hasn’t been filled out
                    correctly.</p>
                <p>You should use a different service if you <a href="https://www.gov.uk/get-a-passport-urgently">need your passport urgently</a>.</p>

                <div role="note" aria-label="Information" class="panel panel-border-wide application-notice info-notice">
                    <p>Don’t book travel until you have a valid passport - doing so is at your own risk.</p>
                </div>
            </div>

            <div class="js-tabcontent" id="other-ways-to-apply">
                <p>You can pick up passport application forms from your <a href="http://www.postoffice.co.uk/branch-finder">local
                    Post Office</a> and apply by post, or use the <a href="https://www.gov.uk/how-the-post-office-check-and-send-service-works">Post
                    Office Check and Send service</a>.</p>
            </div>
        </div>
    </section>
{{/ content}}

{{$sidebar}}
    <div class="column-one-third">
        <div class="sidebar related GDS" style="color: #0b0c0c; border-top: 2px solid #005ea5;">
            <div class="photo-preview-inner">
                <div class="inner group related-subsection">
                    <h3 id="parent-subsection" style="margin-bottom: 10px;">Related content</h3>
                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>
                            <li>
                                <a href="https://www.gov.uk/passport-fees">Passport fees</a>
                            </li>
                            <li>
                                <a href="https://www.gov.uk/photos-for-passports">Get a passport photo</a>
                            </li>
                            <li>
                                <a href="https://www.gov.uk/changing-passport-information">Change your name or personal details on your passport</a>
                            </li>
                            <li>
                                <a href="https://www.gov.uk/apply-first-adult-passport">Getting your first adult passport</a>
                            </li>
                            <li>
                                <a href="https://www.gov.uk/get-a-child-passport">Get a passport for your child</a>
                            </li>

                            <style>
                                .navigation__sub-heading {
                                    font-size: 16px;
                                    font-weight: 400;
                                    border-top: 1px solid #bfc1c3;
                                    margin: 0;
                                    margin-top: 30px;
                                    padding-top: 15px;
                                }
                                .navigation__link {
                                    margin-top: 5px;
                                    line-height: 1.5;
                                }
                                .navigation__section-link {
                                    font-weight: bold;
                                }
                            </style>

                            <nav role="navigation">
                                <h3 class="navigation__sub-heading">
                                    Explore the topic
                                </h3>
                                <ul>
                                    <li class="navigation__link"><a class="navigation__section-link" href="https://www.gov.uk/browse/abroad/passports">Passports</a></li>
                                </ul>
                            </nav>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{{/sidebar}}

{{$footerSupportLinks}}{{/footerSupportLinks}}

{{/ layout}}
