{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
  <header class="update-notice" style="background: #DEE0E2; color: #0B0C0C">
    <h1>You need to ask someone to<br>confirm your identity</h1>
  </header>
  <p>Your old passport is damaged. We can't start work on your application until your identity is confirmed.</p>

  <a href="../csig" class="button">Continue</a>
  <br><br>
  <h2>Your application history</h2>
  <article>
  <table>
      <tbody>
        <tr>
          <td>Application received</td>
          <td>10:05am on 5 September 2017 </td>
        </tr>
        <tr>
          <td>Application submitted</td>
          <td>10:03am on 5 September 2017 </td>
        </tr>
      </tbody>
    </table>
    <br>
    <a href="/csig">Sign out</a>
{{/content}}


{{/ layout}}
