{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_161110/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 3 of 12</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>Get someone to help you</h1>
                </header>
                <div class="grid-row">
                    <div class="column-half">
                      <p>Find someone who can take your photo.</p>
                    </div>
                    <div class="column-half">
                      <object type="image/svg+xml" data="../../public/images/photoguide/diagram-get-help-do-this.svg" type="image/svg+xml" class="svg" tabindex="-1" >
                          <img src="../../public/images/photoguide/diagram-get-help-do-this.png" alt="Get someone to help - do this" width="456" height="222">
                      </object>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-half">
                      <p>You can’t take a 'selfie' or use a webcam.</p>
                    </div>
                    <div class="column-half">
                      <object type="image/svg+xml" data="../../public/images/photoguide/diagram-get-help-not-this.svg" type="image/svg+xml" class="svg" tabindex="-1">
                          <img src="../../public/images/photoguide/diagram-get-help-not-this.png"  alt="Get someone to help - don't do this" width="389" height="135">
                      </object>
                    </div>
                    <nav class="guide-nav">
                              <ul>
                                  <li class="button-guide button-guide-previous">
                                      <a href="/prototype_161110/photoguide-myself/guidemyself-find-a-camera">Previous</a>
                                  </li>
                                  <li class="button-guide button-guide-next">
                                      <a href="/prototype_161110/photoguide-myself/guidemyself-plain-bg">Next</a>
                                  </li>
                              </ul>
                    </nav>
                </div>

            </div>
        </div>

{{/main-content}}

{{/ layout}}
