{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_161110/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 6 of 12</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>Check the space around your head and shoulders</h1>
                </header>
                <div class="grid-row">
                    <div class="column-half">
                      <p>Make sure there’s enough room around your head and shoulders. The person taking the photo may have to move if there's not.</p>
                      <p>Don't worry about cropping the photo – we’ll do that for you when you submit your application.</p>
                    </div>
                    <div class="column-half">
                      <img src="../../public/images/photoguide/diagram_too_close_photo@2x.png"  alt="" width="333" height="288">
                    </div>
                    <nav class="guide-nav">
                              <ul>
                                  <li class="button-guide button-guide-previous">
                                      <a href="/prototype_161110/photoguide-myself/guidemyself-right-position">Previous</a>
                                  </li>
                                  <li class="button-guide button-guide-next">
                                      <a href="/prototype_161110/photoguide-myself/guidemyself-lighting">Next</a>
                                  </li>
                              </ul>
                    </nav>
                </div>
            </div>
        </div>

{{/main-content}}

{{/ layout}}
