
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Book an appointment</h1>
{{/header}}

{{$main-content}}


<h1>Book an appointment</h1>


<h2>Select a location and date for your appointment</h2>
<p><a href="https://www.gov.uk/find-regional-passport-office">Where is my nearest passport office?</a></p>


<div class="book-table">

  <div class="manage-times">
<h2><span class="font-small"><a href="./">← Previous 5 days</a></span>&nbsp; 27 January to 1 February 2017 &nbsp; <span class="font-small"><a href="book-appointments-3">Next 5 days</a> →</span></h2>
</div>


<table class="book-table">
<tbody>
<tr>
<td><p class="bold-small">Friday<br> 27 January</p></td>
<td><p class="bold-small">Saturday<br>  28 January</p></td>
<td><p class="bold-small">Monday<br>  30 January</p></td>
<td><p class="bold-small">Tuesday<br>  31 January</p></td>
<td><p class="bold-small">Wednesday<br>  1 February</p></td>
</tr>


<tr>
  <td>London<br><span class="font-xsmall">None available</span></td>
  <td>London<br><span class="font-xsmall">None available</span></td>
  <td>London<br><span class="font-xsmall">None available</span></td>
  <td>London<br><span class="font-xsmall">None available</span></td>
  <td>London<br><span class="font-xsmall">None available</span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="/priority_service_170118/book-appointment/book-time">Peterborough</span><br><span class="font-xsmall">Available</a></span></td>
  <td>Peterborough<br><span class="font-xsmall">None available</span></td>
<td>Peterborough<br><span class="font-xsmall">None available</span></td>
<td>Peterborough<br><span class="font-xsmall">None available</span></td>
<td>Peterborough<br><span class="font-xsmall">None available</span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="/priority_service_170118/book-appointment/book-time_newport_27_jan">Newport</span><br><span class="font-xsmall">Available</a></span></td>
  <td><span class="bold-medium"><a href="/priority_service_170118/book-appointment/book-time_newport_28_jan">Newport</span><br><span class="font-xsmall">Available</a></span></td>
  <td><span class="bold-medium"><a href="/priority_service_170118/book-appointment/book-time_newport_30_jan">Newport</span><br><span class="font-xsmall">Available</a></span></td>
  <td>Newport<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Newport</span><br><span class="font-xsmall">Available</a></span></td>
</tr>
<tr>
  <td>Liverpool<br><span class="font-xsmall">None available</span></td>
  <td>Liverpool<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Liverpool<br><span class="font-xsmall">Available</a></span></td>
  <td>Liverpool<br><span class="font-xsmall">None available</span></td>
  <td>Liverpool<br><span class="font-xsmall">None available</span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="#">Durham<br><span class="font-xsmall">Available</a></span></td>
  <td>Durham<br><span class="font-xsmall">None available</span></td>
  <td>Durham<br><span class="font-xsmall">None available</span></td>
  <td>Durham<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Durham<br><span class="font-xsmall">Available</a></span></td>
</tr>
<tr>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
</tr>
<tr>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Belfast</span><br><span class="font-xsmall">Available</a></span></td>
</tr>

</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
