
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<h1>Select a time</h1>
<p class="heading-medium">Peterborough</p>
<p class="font-small"><a href="/priority_service_170118/book-appointment/">Pick a different location</a></p>

<p>Peterborough Passport Office</br>
  Aragon Court</br>
  Northminster Road</br>
Peterborough</br>
PE1 1QG</p>
<p class="font-small">  <a href="https://www.google.co.uk/maps/place/Peterborough+Passport+Office/@52.5752709,-0.2437722,16z/data=!4m5!3m4!1s0x0:0x2270e172c720db4!8m2!3d52.574671!4d-0.2384722">View map</a></p>



<p><span class="font-medium"><a href="./">Back to all appointments</a></span></p>

<div class="book-table">

  <span class="font-medium"><!--← Previous three days &nbsp; --><a href="#">Next three days</a> →</span>

<table class="book-table book-time">
<tbody>

<tr>
<td><p class="bold-medium">Friday<br> 21 January</p></td>
<td class="date-select"><p class="bold-medium">Saturday<br>  23 January</p></td>
<td><p class="bold-medium">Monday<br>  24 January</p></td>

</tr>
<tr>
  <td><span class="font-medium">8:00am </br>unavailable</td>
<td><span class="font-medium">8:00am </br>unavailable</td>
  <td><span class="font-medium">8:00am </br>unavailable</td>

</tr>
<tr>
  <td><span class="font-medium">9:00am </br>unavailable</td>
    <td><span class="font-medium">9:00am </br>unavailable</td>
      <td><span class="font-medium">9:00am </br>unavailable</td>

</tr>
<tr>
  <td><span class="font-medium">10:00am </br>unavailable</span></td>
    <td><span class="font-medium">10:00am </br>unavailable</span></td>
    <td><span class="font-medium">10:00am </br>unavailable</span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="confirmation-scenario-1">12:00pm </br>available</span></td>
    <td><span class="font-medium">12:00pm </br>unavailable</span></td>
    <td><span class="bold-medium"><a href="#">12:00pm </br>available</span></td>
</tr>
<tr>
  <td><span class="font-medium">2:00pm </br>unavailable</span></td>
  <td><span class="font-medium">2:00pm </br>unavailable</span></td>
  <td><span class="font-medium">2:00pm </br>unavailable</span></td>
</tr>
<tr>
  <td><span class="font-medium">5:00pm </br>unavailable</span></td>
    <td><span class="font-medium">5:00pm </br>unavailable</span></td>
  <td><span class="bold-medium"><a href="#">5:00pm </br>available</span></td>
</tr>

</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
