
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<h1>Book an appointment</h1>
<p class="heading-medium">Peterborough</p>
<p class="font-small"><a href="/">Pick a different location</a></p>

<p>Peterborough Passport Office</br>
  Aragon Court</br>
  Northminster Road</br>
Peterborough</br>
PE1 1QG</p>


<span class="more-dates"><p><a href="#">More dates</a> →</p></span>

<div class="book-table">

<table class="book-table book-time">
<tbody>

<tr class="weekday">
<td class="weekday"><p class="bold-medium">Monday<br> 23 January</p></td>
<td class="date-select"><p class="bold-medium">Tuesday<br>  24 January</p></td>
<td><p class="bold-medium">Wednesday<br>  25 January</p></td>

</tr>
<tr>
  <td><span class="font-medium">Time unavailable</span></td>
<td><span class="bold-medium"><a href="#">8:00am</span></td>
<td><span class="bold-medium"><a href="#">8:00am</span></td>

</tr>
<tr>
  <td><span class="font-medium">Time unavailable</span></td>
  <td><span class="bold-medium"><a href="#">9:00am</span></td>
  <td><span class="bold-medium"><a href="#">9:00am</span></td>

</tr>
<tr>
  <td><span class="bold-medium"><a href="#">10:00am</span></td>
    <td><span class="font-medium">Time unavailable</span></td>
  <td><span class="bold-medium"><a href="#">10:00am</span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="#">12:00pm</span></td>
  <td><span class="bold-medium"><a href="#">12:00pm</span></td>
    <td><span class="font-medium">Time unavailable</span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="#">2:00pm</span></td>
  <td><span class="font-medium">Time unavailable</span></td>
  <td><span class="bold-medium"><a href="#">2:00pm</span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="#">5:00pm</span></td>
    <td><span class="font-medium">Time unavailable</span></td>
  <td><span class="bold-medium"><a href="#">5:00pm</span></td>
</tr>

</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
