
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<h1>Select a time</h1>
<p class="heading-medium">Newport</p>
<p class="font-small"><a href="/priority_service_170118/book-appointment/">Pick a different location</a></p>


<p>Newport Passport Office</br>
  Mission Court</br>
  Nexus House</br>
Newport</br>
NP20 2DW</p>
<p class="font-small">  <a href="https://www.google.co.uk/maps/place/Newport+HM+Passport+Office/@51.5825519,-2.9879888,15z/data=!4m5!3m4!1s0x0:0x572ae1c5870c53da!8m2!3d51.5812985!4d-2.9860147">View map</a></p>


<p><span class="font-medium"><a href="/priority_service_170118/book-appointment/book-appointments-2">Back to all appointments</a></span></p>

<div class="book-table">

  <span class="font-medium">← <a href="#">Previous three days</a> &nbsp;&nbsp; <a href="#">Next three days</a> →</span>

<table class="book-table book-time">
<tbody>

<tr>
<td><p class="bold-medium">Saturday<br> 28 January</p></td>
<td class="date-select"><p class="bold-medium">Monday<br>  30 January</p></td>
<td><p class="bold-medium">Tuesday<br>  31 January</p></td>

</tr>
<tr>
  <td><span class="font-medium">8:00am </br>unavailable</td>
<td><span class="font-medium">8:00am </br>unavailable</td>
  <td><span class="font-medium">8:00am </br>unavailable</td>

</tr>
<tr>
  <td><span class="font-medium">9:00am </br>unavailable</td>
    <td><span class="bold-medium"><a href="confirmation-scenario-2">9:00am </br>available</span></td>
      <td><span class="font-medium">9:00am </br>unavailable</td>

</tr>
<tr>
  <td><span class="font-medium">10:00am </br>unavailable</span></td>
    <td><span class="font-medium">10:00am </br>unavailable</span></td>
    <td><span class="font-medium">10:00am </br>unavailable</td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="#">12:00pm </br>available</span></td>
  <td><span class="bold-medium"><a href="#">12:00pm </br>available</span></td>
    <td><span class="font-medium">12:00pm </br>unavailable</td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="#">2:00pm </br>available</span></td>
    <td><span class="bold-medium"><a href="#">2:00pm </br>available</span></td>
      <td><span class="font-medium">2:00pm </br>unavailable</td>
</tr>
<tr>
  <td><span class="font-medium">5:00pm </br>unavailable</span></td>
    <td><span class="font-medium">5:00pm </br>unavailable</span></td>
    <td><span class="font-medium">5:00pm </br>unavailable</span></td>
</tr>

</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
