
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<h1>Check your appointment</h1>

<p class="bold-medium">Monday, 30 January 2016 at 9:00am</br>
Newport passport office</p>
<p class="bold-medium"><a href="/priority_service_170118/book-appointment/">Change your appointment</a></p>


<p class="font-medium">Nexus House</br>
  Mission Court</br>
  Gwent </br>
  NP20 2DW</p>

<p class="font-medium">  <a href="https://www.google.co.uk/maps/place/Newport+HM+Passport+Office/@51.5825519,-2.9879888,15z/data=!4m5!3m4!1s0x0:0x572ae1c5870c53da!8m2!3d51.5812985!4d-2.9860147">View map</a></p>

<p class="font-medium">This appointment is reserved for you.</br></br> You need to start your application now to keep this appointment.</p>


<a href="../intro/you-need-a-photo"><p class="font-medium"><input class="button" type="submit" value="Start your application"></p></a>

</>
</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
