
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<h1>Check your appointment</h1>

<p class="bold-medium">Saturday, 30 January 2016 at 9:00pm</br>
Peterborough passport office</p>
<p class="bold-medium"><a href="#">Change appointment</a></p>

<p class="font-medium">Aragon Court</br>
  Northminster Road</br>
  Peterborough </br>
  PE1 1QG</p>

<p class="bold-medium">This appointment is reserved for you.</br></br> You need to start your application now to keep this appointment.</p>


<p class="heading-medium"><input class="button" type="submit" value="Start your application"></p>

</>
</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
