
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<h1>Check your appointment</h1>

<p class="bold-medium">Friday, 21 January 2016 at 12:00pm</br>
Peterborough passport office</p>
<p class="bold-medium"><a href="/priority_service_170118/book-appointment/">Change your appointment</a></p>

<p class="font-medium">Aragon Court</br>
  Northminster Road</br>
  Peterborough </br>
  PE1 1QG</p>

<p class="font-medium">  <a href="https://www.google.co.uk/maps/place/Peterborough+Passport+Office/@52.5752709,-0.2437722,16z/data=!4m5!3m4!1s0x0:0x2270e172c720db4!8m2!3d52.574671!4d-0.2384722">View map</a></p>

<p class="font-medium">This appointment is reserved for you.</br></br> You need to start your application now to keep this appointment.</p>


<a href="../intro/you-need-a-photo"><p class="font-medium"><input class="button" type="submit" value="Start your application"></p></a>

</>
</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
