
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<h1>Your appointment</h1>

<p>Friday, 20 January 2016 at 13:00pm
<br>Peterbourough passport office</b>
<br>Aragon Court, Northminster Road, Peterborough, PE1 1QG </br>
</p>
<p>This appointment is reserved for you. You need to start your application now to keep this appointment.
<p></p>
Start your application
</p>
</>
</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
