
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Book an appointment</h1>
{{/header}}

{{$main-content}}


<h1>Book an appointment</h1>

<p><a href="https://www.gov.uk/find-regional-passport-office">Where is my nearest passport office?</a></p>

<h2>Select a location and date for your appointment</h2>

<span class="more-dates"><p><a href="#">Next dates</a> →</p></span>

<div class="book-table">

<table class="book-table">
<tbody>
<tr class="weekday">
<td class="weekday"><p class="bold-small">Monday<br> 23 January</p></td>
<td><p class="bold-small">Tuesday<br>  24 January</p></td>
<td><p class="bold-small">Wednesday<br>  25 January</p></td>
<td><p class="bold-small">Thursday<br>  26 January</p></td>
<td><p class="bold-small">Friday<br>  27 January</p></td>
</tr>
<tr>
<td><span class="bold-medium"><a href="./book-appointment/book-time">Peterborough</span><br><span class="font-xsmall">Available</a></span></td>
<td><span class="bold-medium"><a href="#">Peterborough</span><br><span class="font-xsmall">Available</a></span></td>
<td><span class="bold-medium"><a href="#">Peterborough</span><br><span class="font-xsmall">Available</a></span></td>
<td>Peterborough<br><span class="font-xsmall">None available</span></td>
<td><span class="bold-medium"><a href="#">Peterborough</span><br><span class="font-xsmall">Available</a></span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="#">Newport</span><br><span class="font-xsmall">Available</a></span></td>
  <td>Newport<br><span class="font-xsmall">None available</span></td>
  <td>Newport<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Newport</span><br><span class="font-xsmall">Available</a></span></td>
  <td><span class="bold-medium"><a href="#">Newport</span><br><span class="font-xsmall">Available</a></span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="#">Liverpool</span><br><span class="font-xsmall">Available</a></span></td>
  <td><span class="bold-medium"><a href="#">Liverpool</span><br><span class="font-xsmall">Available</a></span></td>
  <td><span class="bold-medium"><a href="#">Liverpool</span><br><span class="font-xsmall">Available</a></span></td>
  <td><span class="bold-medium"><a href="#">Liverpool</span><br><span class="font-xsmall">Available</a></span></td>
  <td><span class="bold-medium"><a href="#">Liverpool</span><br><span class="font-xsmall">Available</a></span></td>
</tr>
<tr>
  <td>Durham<br><span class="font-xsmall">None available</span></td>
  <td>Durham<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Durham<br><span class="font-xsmall">Available</a></span></td>
  <td>Durham<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Durham<br><span class="font-xsmall">Available</a></span></td>
</tr>
<tr>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
</tr>
<tr>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Belfast</span><br><span class="font-xsmall">Available</a></span></td>
</tr>

</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
