
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Book an appointment</h1>
{{/header}}

{{$main-content}}

<div class="book-table">

<h1>Book an appointment</h1>

<table>
<tbody>
<tr class="weekday">
<td>Monday<br> 23 January</td>
<td>Tuesday<br>  24 January</td>
<td>Wednesday<br>  25 January</td>
<td>Thursday<br>  26 January</td>
<td>Friday<br>  27 January</td>
</tr>
<tr>
<td>Peterborough</td>
<td>Peterborough</td>
<td>Peterborough</td>
<td>Peterborough</td>
<td>Peterborough</td>
</tr>
<tr>
<td>Newport</td>
<td>Newport</td>
<td>Newport</td>
<td>Newport</td>
<td>Newport</td>
</tr>
<tr>
<td>Liverpool</td>
<td>Liverpool</td>
<td>Liverpool</td>
<td>Liverpool</td>
<td>Liverpool</td>
</tr>
<tr>
<td>Durham</td>
<td>Durham</td>
<td>Durham</td>
<td>Durham</td>
<td>Durham</td>
</tr>
<tr>
<td>Glasgow</td>
<td>Glasgow</td>
<td>Glasgow</td>
<td>Glasgow</td>
<td>Glasgow</td>
</tr>
<tr>
<td>Belfast</td>
<td>Belfast</td>
<td>Belfast</td>
<td>Belfast</td>
<td>Belfast</td>
</tr>

</tbody>
</table>
</div>

{{/main-content}}

{{/ layout}}
