{{< layout}}

{{$pageTitle}}Get a passport photo - GOV.UK{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1 class="heading-xlarge">Get a passport photo</h1>
{{/header}}

{{$breadcrumb}}
    <style>
        #global-breadcrumb-bar {
            max-width: 960px;
            margin: 0 15px;
        }
        @media (min-width: 641px) {
            #global-breadcrumb-bar {
                margin: 0 30px;
            }
        }
        @media (min-width: 1020px) {
            #global-breadcrumb-bar {
                margin: 0 auto;
            }
        }
    </style>

    <div id="global-breadcrumb-bar" class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk/">Home</a></li>
            <li><a href="https://www.gov.uk/browse/abroad">Passports, travel and living abroad</a></li>
            <li><a href="https://www.gov.uk/browse/abroad/passports">Passports</a></li>
        </ol>
    </div>
{{/breadcrumb}}

{{$content}}
    <style>
        .phase-banner {
            display: none;
        }
    </style>

    <aside class="part-navigation-container govuk" role="complementary">
        <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
            <h2 class="column-long font-xsmall" style="margin-left: 15px;">Contents</h2>
            <ul class="column-long font-xsmall">
                <li>
                    &mdash; Digital photos
                </li>
                <li>
                    &mdash; <a href="./photos-for-passports/photo-requirements">Printed photos</a>
                </li>
            </ul>
        </nav>
    </aside>

    <div class="govuk-grid-column-two-thirds">
        <h1 class="part-title">
            Digital photos
        </h1>

        <div>
            <p>You need a digital photo to apply for a passport online.</p>

            <p>You must get a new photo when you get a new passport, even if your appearance has not changed.</p>

            <p>Your photo must have been taken in the last month.</p>

            <p>Your application will be delayed if your photos do not meet the rules.</p>

            <div class="panel panel-border-wide">
                <p>You can get <a href="https://www.gov.uk/passport-services-disabled">help with your passport photos</a> if you’re
                    disabled.</p>
            </div>

            <h2 id="how-to-get-a-digital-photo">How to get a digital photo</h2>

            <p>To apply for a passport online with a digital photo, you can:</p>

            <ul class="list-bullet">
                <li>take a photo during your application - you’ll need someone to help you and a device that takes
                    digital photos</li>
                <li>go to a photo shop before you apply and get a digital photo (some shops can also give you a code to
                    add the photo to your application)</li>
                <li>use a photo booth before you apply and get a code to add the photo to your application (not all
                    photo booths offer this service)</li>
            </ul>

            <h2 id="rules-for-digital-photos">Rules for digital photos</h2>

            <h3 id="the-quality-of-your-digital-photo">The quality of your digital photo</h3>

            <p>Your photo must be:</p>

            <ul class="list-bullet">
                <li>clear and in focus</li>
                <li>in colour</li>
                <li>unaltered by computer software</li>
                <li>at least 600 pixels wide and 750 pixels tall</li>
                <li>at least 50KB and no more than 10MB</li>
            </ul>

            <h3 id="what-your-digital-photo-must-show">What your digital photo must show</h3>

            <p>The digital photo must:</p>

            <ul class="list-bullet">
                <li>contain no other objects or people</li>
                <li>be taken against a plain light-coloured background</li>
                <li>be in clear contrast to the background</li>
                <li>not have ‘red eye’</li>
            </ul>

            <p>If you’re using a photo taken during your application, include your head, shoulders and upper body. Do
                not crop your photo - it will be done for you.</p>

            <p>In your photo you must:</p>

            <ul class="list-bullet">
                <li>be facing forwards and looking straight at the camera</li>
                <li>have a plain expression and your mouth closed</li>
                <li>have your eyes open and visible</li>
                <li>not have hair in front of your eyes</li>
                <li>not have a head covering (unless it’s for religious or medical reasons)</li>
                <li>not have anything covering your face</li>
                <li>not have any shadows on your face or behind you</li>
            </ul>

            <div class="panel panel-border-wide">
                <p>Do not wear sunglasses or tinted glasses. You can wear other glasses if you need to, but your eyes
                    must be visible without any glare or reflection.</p>
            </div>

            <h2 id="photos-of-babies-and-children">Photos of babies and children</h2>

            <p>Children must be on their own in the picture. Babies must not be holding toys or using dummies.</p>

            <p>Children under 6 do not have to be looking directly at the camera or have a plain expression.</p>

            <p>Children under one do not have to have their eyes open. You can support their head with your hand, but
                your hand must not be visible in the photo.</p>

            <p>Children under one should lie on a plain light-coloured sheet. Take the photo from above.</p>

            <h2 id="good-and-bad-examples-of-digital-photos">Good and bad examples of digital photos</h2>

            <p><img src="/public/images/govuk/examples_of_passport_photos.png" width="588"
                    alt="Examples of passport photos - described in text under the heading Rules for digital photos">
            </p>

        </div>

        <nav role="navigation" aria-label="Pagination">
            <ul style="list-style: none;">
                <li>
                    <a href="./photos-for-passports/photo-requirements" rel="next" style="text-decoration: none;">
                        <span style="display: block;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                <path fill="currentColor"
                                    d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                                </path>
                            </svg>
                            <span
                                style="font-size: 19px; font-weight: bold; line-height: 1.3157894737; margin-left: 8px;">
                                Next
                            </span>
                        </span>
                        <span class="visually-hidden">:</span>
                        <span style="font-size: 16px; text-decoration: underline; margin-left: 30px;">Printed
                            photos</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="app-c-print-link">
            <a href="#" class="app-c-print-link__link" rel="alternate" style="font-size: 16px;">
                Print entire guide
            </a>
        </div>

    </div>

{{/content}}

{{$sidebar}}
    <style>
        @media (min-width: 641px) {
            .column-one-third {
                margin-top: 191px;
            }
        }
    </style>

    <div class="column-one-third">
        <div class="sidebar related GDS" style="color: #0b0c0c; border-top: 2px solid #005ea5;">
            <div class="photo-preview-inner">
                <div class="inner group related-subsection">
                    <h3 id="parent-subsection" style="margin-bottom: 10px;">Related content</h3>
                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>
                            <li>
                                <a href="https://www.gov.uk/countersigning-passport-applications">Countersigning passport applications and photos</a>
                            </li>
                            <li>
                                <a href="/prototype/index-prototype-photo-checker">Apply online for a UK passport</a>
                            </li>
                            <li>
                                <a href="https://www.gov.uk/confirm-identity-online-for-passport-application">Confirm someone’s identity online for a passport application</a>
                            </li>

                            <style>
                                .navigation__sub-heading {
                                    font-size: 16px;
                                    font-weight: 400;
                                    border-top: 1px solid #bfc1c3;
                                    margin: 0;
                                    margin-top: 30px;
                                    padding-top: 15px;
                                }
                                .navigation__link {
                                    margin-top: 5px;
                                    line-height: 1.5;
                                }
                                .navigation__section-link {
                                    font-weight: bold;
                                }
                            </style>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{{/sidebar}}

{{/ layout}}
