@import "hmpo-frontend-toolkit/assets/stylesheets/app";

@import "modules/phase";
@import "modules/nav-bar";
@import "modules/app-photo";
@import "modules/typeahead";
@import "modules/upload";
@import "modules/tabs";
@import "modules/check-your-answers";
@import "modules/confirmation";
@import "modules/video-wrapper";
@import "modules/govuk";
@import "modules/timeline";
@import "modules/timeline-2";
@import "modules/fill-banner";
@import "modules/previous-names";
@import "modules/accordion";
@import "modules/table-multiselect";
@import "modules/task-list";

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// inherited junk that needs tidying up. at a guess it looks like the compiled scss from
// the frontend toolkit.
@import "shame/tidy-this-up";

.app-c-print-link {
    margin-top: 2em;
    margin-bottom: 2em;
}

.app-c-print-link .app-c-print-link__link {
    background: url("/public/images/icon-print.png") no-repeat 0 50%;
    padding: 0.5em 0 0.5em 28px;
    background-size: 16px 18px;
}
