@import "hmpo-frontend-toolkit/assets/stylesheets/app";

@import "modules/phase";
@import "modules/app-photo";
@import "modules/typeahead";
@import "modules/upload";
@import "modules/tabs";

/* additional css to match production prototype */

/* photo guide styles */
.panel-photo-pass {
   background-image: url("../images/icon_thick_tick.svg");
   margin: 10px 15px 10px 0;
    border-left: 0;
    padding-left: 38px;
    background-repeat: no-repeat;
    background-position: left 10px;
    background-size: 24px;
}
@media (min-width: 769px){
    .panel-photo-result {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 54px;
        background-size: 36px;
    }
}

.button-guide-next a{
    background-image:url("../images/icon-arrow-right.svg")!important;
    background-repeat: no-repeat;
}

.button-guide-previous a{
    background-image:url("../images/icon-arrow-left.svg")!important;
    background-repeat: no-repeat;
}

@media (min-width: 769px){
.flash-card .grid-row {
    min-height: 2em;
}}

/* guidance-photos */

    @media (min-width: 641px){
    .guidance-photos {
        overflow-x: auto;
    }}
    .guidance-photos {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .guidance-photos ul {
        margin-left: -8px;
    }
    @media (min-width: 769px){
.guidance-photos ul li {
    max-width: 188px;
}}
.guidance-photos ul li {
    position: relative;
    box-sizing: border-box;
    float: left;
    min-width: 120px;
    max-width: 172px;
    margin-bottom: 1.05263em;
    padding-left: 8px;
}
.guidance-photos img {
    width: 100%;
    vertical-align: bottom;
}
.guidance-photos .result {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 57px;
    background: #fff;
    font-family: "nta",Arial,sans-serif;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: 0.5;
    color: #0b0c0c;
}
.guidance-photos ul div {
    float: left;
}
.js-enabled .guidance-photos .result .approved, .js-enabled .guidance-photos .result .failed {
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.guidance-photos .result .approved {
    background-image: url("../images/icon_thick_tick.svg");
}
.guidance-photos .result .failed {
    background-image: url("../images/icon_thick_cross.svg");
}
@media (min-width: 641px){
.guidance-photos .result .approved, .guidance-photos .result .failed {
    padding-top: 11px;
    padding-right: 34px;
    padding-bottom: 8px;
    background-size: 22px;
}}
.guidance-photos .result .approved, .guidance-photos .result .failed {
    margin: 0;
    padding: 8px 28px 5px 8px;
    background-repeat: no-repeat;
    background-position: right 7px center;
    background-size: 18px;
}
.guidance-photos p{
  font-size:14px;
}


/* other blue screens */
.flash-card a:link, .flash-card a:visited, .flash-card details summary { /* added .flash-card details summary to make the details summary white as well when inside a flash card */
      color: #fff; }
details {
  margin-bottom: 15px; }
  @media (min-width: 641px) {
    details {
      margin-bottom: 30px; } }
  details .panel {
    margin-bottom: 0; }

.button + details {
  margin-top: 15px; }
  @media (min-width: 641px) {
    .button + details {
      margin-top: 30px; } }

.js-enabled details.focused {
  outline: 3px solid #ffbf47; }

.js-enabled summary:focus {
  outline: none; }



/* upload screens styles */
.animated-progress{
  margin-top:30px;
}

.heading-medium, h2 {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  margin: 0.7em 0 0.3em 0;   }
  @media (min-width: 641px) {
    .heading-medium, h2 {
      font-size: 24px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .heading-medium, h2 {
      margin: 0.7em 0 0.3em 0; } }

.list-bullet, .list-number {
    margin-top: 5px;
    margin-bottom: 20px;
}
.list-bullet {
    list-style-type: disc;
    padding-left: 20px;
}

.list-item-bold {
    font-family: "nta",Arial,sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: none;
    font-size-adjust: 0.525;
}
@media (min-width: 641px){
.list-item-bold {
    font-size: 24px;
    line-height: 1.25;
}}
.list-number li {
    margin-bottom: 5px;
}

.list-item-bold p, .list-item-bold li {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: 0.5;
}
@media (min-width: 641px){
.list-item-bold p, .list-item-bold li {
    font-size: 19px;
    line-height: 1.31579;
}}

.list-item-bold p {
    margin-top: 1em;
    margin-bottom: 0;
}

/* renew */
.reveal .panel-indent {
    margin-top: 7.5px;
    margin-bottom: 15px;
}
.panel-indent {
    border-left-width: 8px;
    margin-right: 0;
}

.panel-indent {
    clear: both;
    border-left: 8px solid #bfc1c3;
    padding: 10px 0 10px 15px;
    margin: 30px 15px 45px 0;
}

.panel-indent .form-group:last-child {
    margin-bottom: 0;
}

.form-group {
    float: none;
}

/* photo upload override */
.panel-photo-pass{
  border-left: 0;
  padding-left: 54px;
  padding-top:0;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* summary page */
.confirmation {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.confirmation .section {
    margin: 1.5em 0;
}
.confirmation dl {
    border-top: 1px solid #bfc1c3;
    clear: both;
    padding: 1em 0;
}
@media (min-width: 769px){
.confirmation dl .column-one-third {
    padding-right: 15px;
}}
.confirmation dl .column-one-third {
    padding: 0;
}
.confirmation dl dt {
    color: #6f777b;
}
.confirmation dl .column-two-thirds {
    padding: 0;
}

.confirmation dl dd {
    position: relative;
}
.confirmation dl dd p {
    margin: 0;
    padding-right: 100px;
}
.confirmation dl dd .button-wrapper {
    position: absolute;
    right: 0;
    top: -16px;
}
@media (min-width: 641px){
.confirmation dl dd .button-wrapper {
    top: -23px;
}}
@media (min-width: 769px){
.confirmation dl dd .button-wrapper {
    top: -2px;
}}
.confirmation dl:after {
    content: "";
    display: block;
    clear: both;
}

.panel-important {
    clear: both;
    padding: 15px 0 15px 3em;
    margin: 0 15px 30px 0;
    background: url("../images/icon-important.png") no-repeat 0 center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){
.panel-important {
    background-image: url("../images/icon-important-2x.png");
    background-size: 34px 34px;
}}
.panel-important p:only-child, .panel-important p:last-child {
    margin-bottom: 0;
}
.panel-important p {
    font-weight: bold;
}

/* confirmation page */
@media (min-width: 641px){
.update-notice {
    margin: 30px 0;
}}
.update-notice {
    margin: 15px 0;
    padding: 15px;
    color: #fff;
    background: #28a197;
    text-align: center;
}
.update-notice h1 {
    margin: 15px 0;
}
.update-notice a.download {
    background: url("../images/icon-file-download-white.png") no-repeat 0 0;
    padding-left: 28px;
    line-height: 20px;
}
.update-notice a {
    color: #fff;
}

/* start page */

.related ul {
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: 0.5;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@media (min-width: 641px){
.related ul {
    font-size: 16px;
    line-height: 1.25;
}}
.related li {
    margin-bottom: 0.75em;
    padding-left: 0;
}
.GDS{
      margin-top: 40px;
}

/* form hint fix */
.form-hint{
  margin-bottom: 0px;
}

/* summary total bold */
.total p{
  font-weight: bold;
}

/* code snippets styling for the How to page */
.code_snippet{
  font-family: Courier, 'New Courier', monospace;
  font-size: 16px;
  color:#6F777B;
}

/* no photo */
.no-photo{
  display: block;
  width: 40%;
  float: left;
  padding-left: 20px;
}

/* changes on the chevron in the photo guide */
@media (min-width: 641px){
.button-guide-next a {
    padding-right: 45px;
}
.button-guide-previous a {
    padding-left: 45px;

}
}

/* unsuccessful photo submission */
.panel-photo-error{
  background-image: url("../images/icon_thick_cross.svg");
  margin: 10px 15px 10px 0;
   border-left: 0;
   padding-left: 38px;
   background-repeat: no-repeat;
   background-position: left 10px;
   background-size: 24px;
}
@media (min-width: 769px){
   .panel-photo-result {
       margin-top: 15px;
       margin-bottom: 15px;
       padding-left: 54px;
       background-size: 36px;
   }
}

.panel-photo-error h2{
  margin-top:0!important;
}


/* circles numbers */
.circle {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    color: #005ea5;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    float:left;
    margin-right:10px;
}
.circle-step {
    min-width: 24px;
    min-height: 24px;
    line-height: 24px;
}
/* priority service fixes */
aside {
    margin: 0 0 2.5em!important;
    padding-bottom: 1em;
    overflow: hidden;
    z-index: 10;
    border-bottom: 1px solid #bbb;
}
aside .page-navigation li {
    font-size: 16px;
    line-height: 1.25;
    list-style-position: outside;
    font-weight: 400;
    text-transform: none;
}

aside .page-navigation li.active {
    padding: 0.25em 0.25em 0.25em 0;
}
aside .page-navigation li {
    list-style: decimal;
    list-style-position: outside;
    margin-right: 0.75em;
    margin-left: 1.5em;
    clear: left;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin-top:0.25em;
    margin-bottom:0.25em;
    padding: 0.25em 0.25em 0.25em 0;

}
@media (min-width: 641px){
aside .page-navigation li {
    font-size: 16px;
    line-height: 1.25;
}
}
/* next and previous links */
.pagination {
    display: block;
    margin: 4em 0 0 0;
    border-bottom: 1px solid #bfc1c3;
}
.pagination li{
    margin: 0;
    padding: 0;
    width: 49%;
}
.pagination li.next {
    float: right;
    text-align: right;
}
.pagination li.previous {
  float: left;
  text-align: left;
}
.pagination li a {
    background-color: transparent;
    display: block;
    color: #005ea5;
    text-decoration: none;
}
.pagination li.next a {
    padding: 0.75em 3em 0.75em 0;
}
.pagination li.previous a {
    padding: 0.75em 0 0.75em 3em;
}
.pagination li a .pagination-label {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    line-height: 1.11111;
    margin-bottom: 0.1em;
    display: block;
}
@media (min-width: 641px){
.pagination li a .pagination-label {
    font-size: 27px;
    line-height: 1.25;
}
}
.group:after {
    clear: both;
}
.group:before, .group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.pagination li.next a:before {
    background: transparent url("../images/arrow-sprite-0fa429eadf557102b8e1ca6bf7220f7e61812efbc4f52ed40e5aedd11474635f.png") no-repeat -102px -11px;
    margin: -4px -32px 0 0;
    display: block;
    float: right;
    width: 30px;
    height: 38px;
    content: " ";
}
.pagination li.previous a:before {
    background: transparent url("../images/arrow-sprite-0fa429eadf557102b8e1ca6bf7220f7e61812efbc4f52ed40e5aedd11474635f.png") no-repeat -20px -11px;
    margin: -4px 0 0 -32px;
    display: block;
    float: left;
    width: 30px;
    height: 38px;
    content: " ";
}
.pagination li a .pagination-part-title {
    text-decoration: underline;
}

.pagination ul{
      list-style-type: none;
}

/* table styling for static pages */
article th, article td{
    font-size: 16px;
}


.more-dates {
  text-align: right;
}

.book-table {
  font-size: 16px;
  text-align: center;
}

.book-table a {
  text-decoration: none;
}

.book-table td {
  text-align: center;
  padding: 12px;
  background: white;
  border: 1px solid #cccccc;
  margin-top: 50px;
  height: 60px;
}

/*
td:last-child {
  border-right: none;
}
*/

.manage-times {
  margin: 0 auto;
}


.manage-time-next {
  margin-top: 20px;
  margin-bottom: 20px;
float: right;
}

.manage-time-previous {
  margin-top: 20px;
  margin-bottom: 20px;
float: left;
}

.unavailable {
  font-size: 19px;
  color: $grey-2;
}

.available {
  font-size: 19px;
  font-weight: normal;
}

.city-available {
  font-size: 22px;
}

.time-available {
  font-size: 22px;
  font-weight: bold;
}

.muted {
  color: $grey-1;
}

/* summary page for overseas */
.old-passport .button-wrapper, .courier-fee .button-wrapper{
  display:none;
}

/* country code input size*/
#application-country-code-group{
  width:60px;
}
#mobile {
  width: 229px;
}
