{{< layout}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Give a countersignature{{/pageTitle}}


{{$header}}
    <h1 class="heading-large">Is this David Smith?</h1>
{{/header}}

{{$content}}
<img src="../../public/images/photoguide/image-m2-plain.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
<br>
<br>
<style>
  .cya-question {width: 70%!important}
</style>
<p>This isn't David Smith</p>

<a href="/csig_170921/referee/exceptions" class="button">Continue</a>

{{/content}}

{{/ layout}}
