{{< layout}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Check your answers{{/pageTitle}}


{{$header}}
    <h1 class="heading-large">Are you sure this isn't David Smith?</h1>
{{/header}}

{{$content}}
<img src="../../public/images/photoguide/image-m2-plain.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
<br>
<br>
<style>
  .cya-question {width: 70%!important}
</style>

<a href="/csig_170921/referee/exceptions-not-applicant" class="button">Yes, I'm sure</a>

{{/content}}

{{/ layout}}
