{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Declaration{{/pageTitle}}

{{$header}}
{{/header}}

{{$content}}

<header class="update-notice">
      <h1>Details submitted</h1>

      <p>You don't need to sign a printed photo.</p>

      <p>We'll let David know you've completed this. Thank you.</p>
<!-- if we need some extra info?      <p>Your passport application is on hold. You look very different in your old and new photos, so you need to get a countersignature. </p> -->
</header>


      <a href="http://www.gov.uk" class="button">Done</a><br>

{{/content}}


{{/ layout}}
