{{< layout}}

  {{$propositionHeader}}{{/propositionHeader}}

  {{$pageTitle}}Confirming someone's identity{{/pageTitle}}

  {{$header}}
    <h1>Confirming someone's identity</h1>
  {{/header}}

  {{$content}}
<p>We're going to show you a photo of the person. You'll need to answer a few questions about how you know them.</p>

    <div class="panel-important">
    <p>It is a criminal offence to make a false statement to help someone get a passport.</p>
    </div>

    <a href="confirm-applicant" class="button">Continue</a>

  {{/content}}

{{/ layout}}
