{{< layout}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">

        <div class="grid-row">
            <div class="column-two-thirds">
              <header>
                <h1 style="margin-bottom:30px">Get your digital passport photo</h1>
              </header>
            
<p>You can choose from 3 ways to get your digital photo.</p>
              <h2>Get a friend to take one</h2>

              <p>They can use a phone, tablet or digital camera. We'll show you how to take a good passport photo and upload it.</p>


              <h2>Go to a photo shop</h2>

              <p>At a shop, you'll get a digital copy of your photo. Some shops can also give you a photo code. We'll show you how to use the code to retrieve your digital photo.</p>


              <h2>Go to a booth</h2>

              <p>From some booths in the UK and some booths abroad, you'll get a photo code with your printed photos. We'll show you how to use the code to retrieve your digital photo.</p>


              <br>
              <a href="/prototype_oix_171117/intro/choose-photo-method" class="button">Continue</a>
                </br></br>
              <div class="panel panel-border-wide">
                <p>The photo code is a new service and may not be available yet from photo booths or shops in your area.
              </p>
            </div>

            </div>
            <div class="column-one-third">
              <img src="../../public/images/Photo_methods_2@2x.png" alt="" style="height:300px">
            </div>
        </div>
<!--
        <div class="grid-row">
            <div class="column-two-thirds">
              <details>
                    <summary><span class="summary">I have printed passport photos</span></summary>
                    <div class="panel panel-border-narrow">
                        You need to post 2 printed photos with your old passport. They must be taken within the last month.</p>
                      <p>We’ll check your photos. Your application will be delayed if we have to ask for different ones.</p>
                      <p><a href="/../prototype_oix_170518/renew-without-photo">Apply with printed photos</a></p>
                    </div>
                </details>
            </div>
            <div class="column-one-third">
            </div>
        </div>
      -->
    </div>
</div>

{{/main-content}}

{{/ layout}}
