{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}

<h1>Apply with paper Premium</h1>

<p>You'll need to:</p>
</p>
<ol class="list-number">
<li>Get a paper form at the Post Office</li>
<li>Get 2 printed passport photos from a photo shop</li>
<li>Book an appointment</a> to drop off your completed form and photos </li>
<li> Collect your new passport 4 hours later </li>
</ol>
<p>An adult passport costs £128 using this service. If you're applying for <br>
 a child passport, you need to use <a href="/priority_service_170215/get-urgent-passport/fast-track">Fast Track</a>.

<td><h2><a href=""><input class="button" type="submit" value="Book an appointment"></h2></a></td>

{{/main-content}}

{{/ layout}}
