{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$content}}

<header>
  <h1>Sorry, something went wrong</h1>
</header>

<p>Your application hasn't been submitted.</p> 

<p>You need to <a href="">start your application again</a> and choose a new collection appointment, or you can <a title="Part 1: Choose another sevice" href="https://www.gov.uk/get-a-passport-urgently">apply with Paper Premium</a>.</p>

<h2>You will get a refund</h2>

<p>Unfortunately, your debit or credit card has been charged. We'll refund your payment within 4 working days. If you don't receive it, <a href="">contact us</a>.</p>


{{/ content}}

{{/ layout}}
