{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$content}}

<header>
  <h1>All appointments taken</h1>
</header>

<p>This is a new service with a limited number of appointments. There are no available appointments.</p>

</p>You can still get a passport urgently. You need to apply with <a title="Part 1: Choose another sevice" href="https://www.gov.uk/get-a-passport-urgently">Paper Premium</a>.</p>
<p></p>

{{/ content}}

{{/ layout}}
