{{< layout}}

{{$back}}
<div class="photo-guide">
  <a href="/../priority_service_170705/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 2 of 4</span>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>What to ask for</h1>
                </header>
                <div class="grid-row">
                      <p>Ask them to take a photo of you that meets the new <a href="/../prototype_170123/photoguide-static/photorules">digital passport photo rules</a>. </p>
                      <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-previous">
                                        <a href="/priority_service_170705/photoguide-shop">Previous</a>
                                    </li>
                                    <li class="button-guide button-guide-next">
                                        <a href="/priority_service_170705/photoguide-shop/what-you-get">Next</a>
                                    </li>
                                </ul>
                      </nav>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
