{{< layout}}


{{$pageTitle}}You don't have parental responsibility{{/pageTitle}}

{{$header}}
    <h1>Confirm you can do this</h1>
{{/header}}

{{$content}}
    <p>To continue with this application, you need a letter from the person with <a href="https://www.gov.uk/parental-rights-responsibilities">parental responsibility</a>. In the letter, they need to confirm:</p>
    <ul class="list-bullet">
      <li>they are happy for the child to get a passport</li>
      <li>they agree to you making this application</li>
      <li>their name and relationship to the child</li>
      <li>your name and the name of the child</li>
    </ul>
    <p>You'll need to send the letter to us &ndash; we'll give you the details of where to send it.</p>
    <a href="../intro" class="button">Continue</a>
{{/content}}

{{/ layout}}
