{{< layout}}

{{$pageTitle}}Confirm your identity{{/pageTitle}}

{{$header}}
    <h1>Confirm your identity</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}
    <p>You'll need to ask someone to check this photo to <a href="../../guidance/confirming-your-identity" target="_blank">confirm your identity</a>.</p>

    <p>The way they can do this has changed &ndash; they can do it online. They don't have to sign a printed photo.</p>

    <p>We'll tell you what you need to do after you've paid.</p>

    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{$sidebar}}
<div class="column-one-third" style="margin-top:50px">
    <div class="sidebar related">
        <div class="photo-preview-inner">
            <h2 class="heading-medium">Your photo</h2>
            <div class="photo">
                <img src="../../public/images/thumbnail.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
            </div>
        </div>
    </div>
</div>
{{/sidebar}}

{{/ layout}}
