.accordion-controls {
  text-align: right;
}

.accordion-expand-all {
  display: inline;
  background: transparent;
  border-width: 0;
  font-size: 16px;
  color: #005EA5;
  cursor: pointer;
}


.accordion.with-js {
  margin-bottom: 40px;
}

.accordion .accordion-section[aria-expanded="false"] .accordion-section-body {
  display: none;
}

.accordion-section {
  border-top: 1px solid #bfc1c3;
  padding: 10px 0;
}

.accordion-section:first-of-type {
  margin-top: 30px;
}

.accordion.with-js .accordion-section-body {
  padding: 0 0 20px;
}

.accordion.with-js {
  border-bottom-width: 1px;
  border-bottom-color: #bfc1c3;
  border-bottom-style: solid;
}

.accordion.with-js .accordion-section {
  border-top-width: 1px;
  border-top-color: #bfc1c3;
  border-top-style: solid;
  padding: 0;
}

.accordion.with-js h2 {
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
}

.accordion.with-js .accordion-section-header {
  cursor: pointer;
  position: relative;
  padding-top: 14px;
  padding-bottom: 12px;
}

.accordion.with-js .accordion-section-header h2 {
  color: #005EA5;
}

.accordion.with-js .accordion-section-header:hover {
  background-color: #f8f8f8;
}

.accordion.with-js .icon {
  position: absolute;
  top: 50%;
  right: 15px;
  height: 16px;
  width: 16px;
  margin-top: -8px;
  /* PNG fallback for SVG */
  background-image: url('/public/images/icon-plus-minus.png');
  /* SVG sprite */
  background: url("/public/images/icon-plus-minus.svg"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: 0 -16px;
}

.accordion.with-js .accordion-section[aria-expanded="true"] .icon {
  background-position: 0 0;
}
