.fill-banner {
  position: fixed;
  width: 100%;
  height: 30px;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: right;
}
.button__fill, .button__fill:visited {
  background: #6F777B;
  padding: 2px 6px;
  cursor: pointer;
  color: #BFC1C3;
  text-decoration: none;
  display: inline-block;
}
.button__fill:hover {
  color: white;
}
