.fill-banner {
  position: absolute;
  height: 30px;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: right;
  z-index: 1;
  select {
    width: auto;
  }
}
.button__fill,
.button__fill:visited {
  background: #6F777B;
  padding: 2px 6px;
  cursor: pointer;
  color: #BFC1C3;
  text-decoration: none;
  display: inline-block;
}

.button__fill:hover {
  color: white;
}
@media (max-width: 641px){
  #global-header {
    padding-top: 30px;
  }
}