/* guidance-photos */

.guidance-photos {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    ul {
        display: flex;
        width: 100%;
        overflow: hidden;
        li {
            flex: 1;
            margin: 0 1%;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

.guidance-photos .result {
    background: #fff;
    font-size: 12px;
    width: 100%;
    @media (min-width: 641px) {
        font-size: 16px;
        height: 57px;
        position: relative;
        top: -57px;
        right: -11%;
        width: 90%;
        display: flex;
        align-items: center;
    }
    .approved {
        background-image: url("../images/icon_thick_tick.svg");
    }
    .failed {
        background-image: url("../images/icon_thick_cross.svg");
    }
}

.guidance-photos .result .approved,
.guidance-photos .result .failed {
    margin: 0;
    padding: 5px 25px 5px 0;
    background-repeat: no-repeat;
    background-position: right 7px top 6px;
    background-size: 14px;
    @media (min-width: 641px) {
        padding: 10px;
        width: 100%;
        padding: 10px 34px 8px 10px;
        background-position: right 7px center;
        background-size: 22px;
    }
}