.previous-names-form
  margin-bottom: 30px

  .fields-wrap
    width: 100%
    float: left
    position: relative
    margin-bottom: 20px

  .form-label-bold
    font-size: 18px

  .remove-field
    padding-left: 15px

  @media (min-width: 641px)
    .fields-wrap
      margin-bottom: 0

    .column-half
      width: 50%
      float: left

    .form-control
      width: 100%

    .remove-field
      position: absolute
      top: 30px
      right: -64px
