.sidebar-task {
  margin-top: $gutter / 2;
  .sidebar-task__panel {
    border: 1px solid $border-colour;
    padding: 15px;
    h3, p {
      padding: 0;
      margin: 0;
    }
    &:nth-child(2) {
      border-top: 0
    }
  }
  @include breakpoint(mobile) {
    display: flex;
    flex-flow: column-reverse;
    margin-top: 30px;
    .sidebar-task__panel {
        padding: 30px 0;
        border-width: 1px 0 0 0;
        h3 {
            font-size: 18px;
            margin: 0 0 5px 0;
        }
        &:first-child {
            padding-bottom: 0
        }
        &:nth-child(2) {
            border-top: 1px solid $border-colour;
        }
    }
  }
}

.photo-preview {
    @include breakpoint(desktop) {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 15px;
        float: left;
        width: 30%;
    }

    @include breakpoint(tablet) {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 15px;
        float: left;
        width: 30%;
    }

    @include breakpoint(tablet) {
        margin-bottom: 1.25em
    }

}