.sidebar-task {
    display: flex;
    flex-flow: column-reverse;
    margin-top: $gutter;
    .sidebar-task__panel {
        padding: $gutter 0;
        border: 1px solid $border-colour;
        border-width: 1px 0 0 0;
        h3 {
            font-size: 18px;
            margin: 0 0 5px 0;
        }
        p {
            margin: 0
        }
        &:first-child {
            padding-bottom: 0
        }
       
    }
    @media only screen and (min-width: 769px) {
        display: block;
        margin-top: $gutter / 2;
        .sidebar-task__panel {
            padding: $gutter / 2;
            border-width: 1px;
            h3, p {
                padding: 0;
                margin: 0;
            }
            &:first-child {
                padding-bottom: $gutter / 2;
                border-bottom: 0;
            }
        }
    }
}
.sidebar-container {
    @media only screen and (min-width: 769px) {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 15px;
        float: left;
        width: 30%;
    }
}