.tabs__list {
    margin: 0;
    padding: 0;
}

.tabs__item {
    display: inline-block;
}

.tabs__link {
    display: inline-block;
    padding: 0.5em  1em 0.25em 1em;
    margin-bottom: -1px;
    color: $link-colour;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        background: $grey-2;
    }
    &:visited {
        color: $link-visited-colour;
    }
}

[aria-selected="true"].tabs__link {
    border: 1px solid $grey-2;
    border-bottom: 1px solid $white;
    color: $black;
    text-decoration: none;

    &:hover {
        background: none;
    }
    &:focus {
        background: none;
    }
}

.tabs__content {
    padding: 1em 1em 0 1em;
    border-top: solid 1px $grey-2;
}

[aria-hidden="true"].tabs__content {
    display: none;
}
