// Task list pattern

// Override column width for tablet and up
.column-minimum {
  @include media(tablet) {
    min-width: 600px;
  }
}

// Spacing to the left of the task list
$task-list-indent: 0;

.task-list {
  margin-top: $gutter;
  @include media(tablet) {
    margin-top: ($gutter);
  }
}


.task-list-section {
  display: table;

  @include bold-24;
  padding-bottom: ($gutter / 6);
}

.task-list-section-number {
  display: table-cell;
  padding-right: ($gutter / 6);

  @include media(tablet) {
    min-width: $task-list-indent;
    padding-right: 0;
  }
}


.task-list-items {
  margin-bottom: $gutter;
  @include media(tablet) {
    //margin-bottom: ($gutter * 2);
  }

  @include media(tablet) {
    padding-left: $task-list-indent;
  }
}

.task-list-item {
  border-bottom: 1px solid $border-colour;
  padding-top: $gutter-two-thirds;
  padding-bottom: $gutter-two-thirds;
  @extend %contain-floats;
  p {
    display: inline-block;
    margin: ($gutter-one-third) 0 0;
  }
}

.task-list-item:first-child {
  border-top: 1px solid $border-colour;
}

.task-name {
  width: $two-thirds;
  float: left;
  display: block;
}

%task-item {
  @include phase-tag;
  float: right;
  margin-right: 0;
  padding-top: 3px;
  min-width: 110px;
  text-align: center;
}

.task-to-do {
  @include phase-tag;
  @extend %task-item;
  background: $grey-3;
  color: $text-colour;
}

.task-pending {
  @include phase-tag;
  @extend %task-item;
  background: $grey-1;
}

.task-completed {
  @include phase-tag;
  @extend %task-item;
  background: $govuk-blue;
}
