{{< layout}}

{{$pageTitle}}HMPO Prototypes{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$content}}

<style>
  .phase-banner {
    display: none;
  }
  .reveal-archive {
    margin-bottom: 0;
  }
  .reveal-archive ul {
    margin: 0 0 20px 20px
  }
</style>

<nav id="nav">
  <div class="navbar">
    <ul class="navbar__list-items">
      <li>
        <a href="/">Latest</a>
      </li>
      <li class="active">
        <a href="archive">Archive</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Archive</h1>

<div class="prototype-box">
  <h2>Countersignatures</h2>
  <p>Lab days</p>
  <ul class="list-bullet">
    <li><a href="https://hmpo-180320-csig.herokuapp.com">20th March 2018</a></li>
    <li><a href="https://hmpo-180306-csig.herokuapp.com">6th March 2018</a></li>
    <li><a href="https://hmpo-180227-csig.herokuapp.com">27th February 2018</a></li>
    <li><a href="https://hmpo-180221-csig.herokuapp.com">21st February 2018</a></li>
    <li><a href="https://hmpo-180213-csig.herokuapp.com">13th February 2018</a></li>
    <li><a href="https://hmpo-180206-csig.herokuapp.com">6th February 2018</a></li>
  </ul>
</div>
<div class="prototype-box">
  <h2>12-15s</h2>
  <p>Lab days</p>
  <ul class="list-bullet">
    <li><a href="https://hmpo-180406-12-15s.herokuapp.com/">6th April 2018</a></li>
    <li><a href="https://hmpo-180329-12-15s.herokuapp.com/">29th March 2018</a></li>
    <li><a href="https://hmpo-180119-12-15s.herokuapp.com/">19th January 2018</a></li>
  </ul>
</div>
<!--
<div class="prototype-box">
  <h2>Countersignatures</h2>
  <details class="reveal-archive">
    <summary><span class="summary">3rd Mar 2018</span></summary>
    <ul>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/csig/user">Applicant flow</a></li>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/csig/referee-5">Countersignature flow</a></li>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/csig/user-renominate">Renominate</a></li>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/csig/user-renominate-anytime">Renominate anytime</a></li>
    </ul>
    <hr>
    <h3>Email templates</h3>
    <ul>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/static/emails/csig-email-13.html">HMPO contacts applicant</a></li>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/static/emails/csig-email-12.html">HMPO contacts c-sig</a></li>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/static/emails/csig-email-14.html">Identity confirmed (send back old passport)</a></li>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/static/emails/csig-email-11.html">Applicant must ask someone else</a></li>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/static/emails/csig-email-10.html">Csig hasn't yet confirmed applicant's identity</a></li>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/static/emails/csig-email-10.html">Reminder 1</a></li>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/static/emails/csig-email-15.html">Reminder 2</a></li>
      <li><a href="https://hmpo-180306-csig.herokuapp.com/static/emails/csig-email-16.html">Reminder 3</a></li>
    </ul>
  </details>
  <details class="reveal-archive">
    <summary><span class="summary">27th Feb 2018</span></summary>
    <ul>
      <li><a href="https://hmpo-180227-csig.herokuapp.com/csig/user">Applicant flow</a></li>
      <li><a href="https://hmpo-180227-csig.herokuapp.com/csig/referee-5">Countersignature flow</a></li>
      <li><a href="https://hmpo-180227-csig.herokuapp.com/csig/user-renominate">Renominate</a></li>
    </ul>
    <hr>
    <h3>Email templates</h3>
    <ul>
      <li><a href="https://hmpo-180227-csig.herokuapp.com/static/emails/csig-email-13.html">HMPO contacts applicant</a></li>
      <li><a href="https://hmpo-180227-csig.herokuapp.com/static/emails/csig-email-12.html">HMPO contacts c-sig</a></li>
      <li><a href="https://hmpo-180227-csig.herokuapp.com/static/emails/csig-email-14.html">Identity confirmed (send back old passport)</a></li>
      <li><a href="https://hmpo-180227-csig.herokuapp.com/static/emails/csig-email-11.html">Applicant must ask someone else</a></li>
      <li><a href="https://hmpo-180227-csig.herokuapp.com/static/emails/csig-email-10.html">Csig hasn't yet confirmed applicant's identity</a></li>
    </ul>
  </details>
  <details class="reveal-archive">
    <summary><span class="summary">21st Feb 2018</span></summary>
    <ul>
      <li><a href="https://hmpo-180221-csig.herokuapp.com/csig/user">Applicant flow</a></li>
      <li><a href="https://hmpo-180221-csig.herokuapp.com/csig/referee-5">Countersignature flow</a></li>
    </ul>
    <hr>
    <h3>Email templates</h3>
    <ul>
      <li><a href="https://hmpo-180221-csig.herokuapp.com/static/emails/csig-email-13.html">HMPO contacts applicant</a></li>
      <li><a href="https://hmpo-180221-csig.herokuapp.com/static/emails/csig-email-12.html">HMPO contacts c-sig</a></li>
      <li><a href="https://hmpo-180221-csig.herokuapp.com/static/emails/csig-email-14.html">Identity confirmed (send back old passport)</a></li>
      <li><a href="https://hmpo-180221-csig.herokuapp.com/static/emails/csig-email-11.html">Applicant must ask someone else</a></li>
    </ul>
  </details>
  <details class="reveal-archive">
    <summary><span class="summary">13th Feb 2018</span></summary>
    <ul>
      <li><a href="https://hmpo-180213-csig.herokuapp.com/csig/user">Applicant flow</a></li>
      <li><a href="https://hmpo-180213-csig.herokuapp.com/csig/referee-5">Countersignature flow</a></li>
    </ul>
    <hr>
    <h3>Email templates</h3>
    <ul>
      <li><a href="https://hmpo-180213-csig.herokuapp.com/static/emails/csig-email-13.html">HMPO contacts applicant</a></li>
      <li><a href="https://hmpo-180213-csig.herokuapp.com/static/emails/csig-email-12.html">HMPO contacts c-sig</a></li>
      <li><a href="https://hmpo-180213-csig.herokuapp.com/static/emails/csig-email-14.html">Identity confirmed (send back old passport)</a></li>
      <li><a href="https://hmpo-180213-csig.herokuapp.com/static/emails/csig-email-11.html">Applicant must ask someone else</a></li>
    </ul>
  </details>
  <details class="reveal-archive">
    <summary><span class="summary">6th Feb 2018</span></summary>
    <ul>
      <li><a href="https://hmpo-180206-csig.herokuapp.com/csig/user">Applicant flow</a></li>
      <li><a href="https://hmpo-180206-csig.herokuapp.com/csig/referee-5">Countersignature flow</a></li>
    </ul>
    <hr>
    <h3>Email templates</h3>
    <ul>
      <li><a href="https://hmpo-180206-csig.herokuapp.com/static/emails/csig-email-13.html">HMPO contacts applicant</a></li>
      <li><a href="https://hmpo-180206-csig.herokuapp.com/static/emails/csig-email-12.html">HMPO contacts c-sig</a></li>
      <li><a href="https://hmpo-180206-csig.herokuapp.com/static/emails/csig-email-14.html">Identity confirmed (send back old passport)</a></li>
      <li><a href="https://hmpo-180206-csig.herokuapp.com/static/emails/csig-email-11.html">Applicant must ask someone else</a></li>
    </ul>
  </details>
</div> -->
{{/content}}

{{/ layout}}
