{{< hmpo-layout}}
{{$propositionHeader}}
<div class="header-proposition">
    <div class="content">
        <nav id="proposition-menu">
            <a href="/" title="Apply for a passport" id="proposition-name">Apply for a passport</a>
        </nav>
    </div>
</div>
{{/propositionHeader}}
  {{$main}}
      {{$breadcrumb}}{{/breadcrumb}}
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <main id="content" class="main-content" role="main">
          {{> hmpo-partials-betatag}}
          {{> hmpo-partials-back}}
          <div class="grid-row">
              {{> hmpo-partials-maincontent}}
          </div>
      </main>
  {{/main}}

  {{$bodyEnd}}

    {{> hmpo-partials-body-end}}
  {{/bodyEnd}}
{{/ hmpo-layout}}
