{{< hmpo-layout}}
{{$propositionHeader}}
<div class="header-proposition">
    <div class="content">
        <nav id="proposition-menu">
            <a href="/" title="Manage your application" id="proposition-name">Manage your application</a>
        </nav>
    </div>
</div>
{{/propositionHeader}}
  {{$main}}
      {{$breadcrumb}}{{/breadcrumb}}
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <main id="content" class="main-content" role="main">
        <div class="fill-banner">
          <a class="button__fill" id="populate">Fill</a>
          <a class="button__fill" href="/">Home</a>
          <a class="button__fill" href="./">/</a>
        </div>
          {{> hmpo-partials-betatag}}
          {{> hmpo-partials-back}}
          <div class="grid-row">
              {{> hmpo-partials-maincontent}}
          </div>
      </main>
  {{/main}}

  {{$bodyEnd}}

    {{> hmpo-partials-body-end}}
  {{/bodyEnd}}
{{/ hmpo-layout}}
