{{< hmpo-layout}}
{{$main}}
    {{$breadcrumb}}{{/breadcrumb}}
    <main id="content" class="main-content" role="main">
      <div class="fill-banner">
        <a class="button__fill" id="populate"/>Fill</a>
        <a class="button__fill" href="/">Home</a>
      </div>
        {{> hmpo-partials-betatag}}
        {{> hmpo-partials-back}}
        <div class="grid-row">
            {{> hmpo-partials-maincontent}}
        </div>
    </main>
{{/main}}

{{$bodyEnd}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  {{> hmpo-partials-body-end}}
{{/bodyEnd}}

{{/ hmpo-layout}}
