{{< layout}}

{{$pageTitle}}HMPO Prototypes{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$content}}

<style>
  .phase-banner {
    display: none;
  }
</style>

<h1>HMPO Prototypes</h1>

<div class="prototype-box">
  <h2>Countersignatures</h2>
  <p>Lab day: 27 February 2018</p>
  <ul>
    <li><a href="./csig/user">Applicant flow</a></li>
    <li><a href="./csig/referee-5">Countersignature flow</a></li>
    <li><a href="./csig/user-renominate">Renominate</a></li>
  </ul>
  <hr>
  <h3>Email templates</h3>
  <ul>
    <li><a href="static/emails/csig-email-13.html">HMPO contacts applicant</a></li>
    <li><a href="static/emails/csig-email-12.html">HMPO contacts c-sig</a></li>
    <li><a href="static/emails/csig-email-14.html">Identity confirmed (send back old passport)</a></li>
    <li><a href="static/emails/csig-email-11.html">Applicant must ask someone else</a></li>
    <li><a href="static/emails/csig-email-10.html">Csig hasn't yet confirmed applicant's identity</a></li>
  </ul>
</div>

{{/content}}

{{/ layout}}
