{{< layout}}

{{$pageTitle}}HMPO Prototypes{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$content}}
<style>
  .phase-banner {
    display: none;
  }
  .production-header {
    background: #DEE0E2;
    padding: 5px 20px 20px 20px;
    margin: 0 0 50px 0;
  }
  .production-header hr {
    background: #F8F8F8;
  }
</style>

<nav id="nav">
  <div class="navbar">
    <ul class="navbar__list-items">
      <li class="active">
        <a href="/">Latest</a>
      </li>
      <li>
        <a href="/">Archive</a>
      </li>
    </ul>
  </div>
</nav>

<h1>HMPO Prototypes</h1>

<br>
<div class="production-header">
  <h2>Production</h2>
  <p>The current user journey on the live website.</p>
  <a class="button" href="./prototype_171127/startpage">Latest prototype</a><br/>
  <hr>
  <h3>Micro journeys</h3>
  <a href="./prototype_171127/intro">Intro</a><br/>
  <a href="./prototype_171127/upload">Upload</a><br/>
  <a href="./prototype_171127/renew">Renew</a><br/>
</div>

{{/content}}
{{/ layout}}
