{{< layout}}

{{$pageTitle}}Passports prototype{{/pageTitle}}

{{$propositionHeader}}{{/propositionHeader}}

{{$header}}
    <h1>Passports prototype</h1>
{{/header}}

{{$content}}
    <strong>24th November 2016</strong><br/>
    <a href="./prototype_161124/startpage">UK adult prototype</a><br/><br/>
    <ul>
        <li>List micro journeys:</li>
        <li><a href="./prototype_161124/filter">Eligibility filter</a></li>
        <li><a href="./prototype_161124/overseas">Overseas</a></li>
        <li><a href="./prototype_161124/intro">Intro (Before you continue)</a></li>
        <li><a href="./prototype_161124/photoguide-myself">Photo Guide - how to do it myself</a></li>
        <li><a href="./prototype_161124/photoguide-short">Short photo guide</a></li>
        <li><a href="./prototype_161124/photoguide-shop">Photo shop guide</a></li>
        <li><a href="./prototype_161124/photoguide-static/photorules">Photo rules for high street shop</a></li>
        <li><a href="./prototype_161124/uploadphoto">Upload photo</a></li>
        <li><a href="./prototype_161124/renew">Renew (after photo submission)</a></li><br/>
    </ul>
    <ul>
        <li>Changes from previous prototype</li>
        <li class="form-hint">
          <details style="margin-bottom:0; margin-top:5px">
              <summary><span class="summary">Short photo guide v1.1</span></summary>
              <div class="panel panel-border-narrow">
                <p><strong>USER NEED:</strong> As a user I need to know how much of my body needs to be in the photo, so that I don't accidentaly get a photo framed too close to my face</p>
                <p><strong>USER NEED:</strong> As a user I need the language around measurements to be consistent between copy and graphic. Action: Content changed on distance graphic to show 0.5 m as 50cm</p>
                <p><strong>STORY:</strong> link to jira story</p>
              </div>
         </li>
          </details>
          <li class="form-hint">
          <details style="margin-bottom:0; margin-top:5px">
              <summary><span class="summary">Static photo rules page</span></summary>
              <div class="panel panel-border-narrow">
                <p><strong>USER NEED:</strong><p> As a user, if I visit this page I would find the navigation at the end of the page confusing. Action: Removed redundant links at bottom of page</p>
                <p><strong>STORY:</strong> <a href="https://collaboration.homeoffice.gov.uk/jira/browse/PEXD-3140">PEXD-3140</a></p>
              </div>
          </details>
        </li>
        <li class="form-hint">
          <details style="margin-bottom:0; margin-top:5px">
              <summary><span class="summary">change here</span></summary>
              <div class="panel panel-border-narrow">
                <p><strong>USER NEED:</strong> user need here</p>
                <p><strong>STORY:</strong> link to jira story</p>
              </div>
          </details>
        </li>

    </ul>
    <hr>

    <strong>10th November 2016</strong><br/>
    <a href="./prototype_161110/startpage">UK adult prototype</a><br/><br/>
    <ul>
        <li>List micro journeys:</li>
        <li><a href="./prototype_161110/filter">Eligibility filter</a></li>
        <li><a href="./prototype_161110/overseas">Overseas</a></li>
        <li><a href="./prototype_161110/intro">Intro (Before you continue)</a></li>
        <li><a href="./prototype_161110/photoguide-myself">Photo Guide - how to do it myself</a></li>
        <li><a href="./prototype_161110/photoguide-short">Short photo guide</a></li>
        <li><a href="./prototype_161110/photoguide-static/photorules">Photo rules for high street shop</a></li>
        <li><a href="./prototype_161110/uploadphoto">Upload photo</a></li>
        <li><a href="./prototype_161110/renew">Renew (after photo submission)</a></li><br/>
    </ul>
    <ul>
        <li>Changes from previous prototype</li>
        <li class="form-hint">
          <details style="margin-bottom:0; margin-top:5px">
              <summary><span class="summary">new renew application flow</span></summary>
              <div class="panel panel-border-narrow">
                <p><strong>USER NEED:</strong> As a user I need to be clearer what gets delivered how and what do I have to pay for separately</p>
                <p><strong>STORY:</strong> https://trello.com/c/O6P0yRql/40-renewal-journey-after-submitting-a-photo-till-the-end-shuffle-and-content-changes</p>
              </div>
          </details>
        </li>
        <li class="form-hint">
          <details style="margin-bottom:0">
              <summary><span class="summary">the new 'choose your photo method’ screen</span></summary>
              <div class="panel panel-border-narrow">
                <p><strong>USER NEED:</strong> As a user I need to be more aware there is a guide to read before I continue</p>
                <p><strong>STORY:</strong> https://trello.com/c/e5pEtWDl/39-choose-your-photo-method-screen</p>
              </div>
          </details>
          <li class="form-hint">
          <details style="margin-bottom:0; margin-top:5px">
              <summary><span class="summary">shorter photo guide v1.0</span></summary>
              <div class="panel panel-border-narrow">
                <p><strong>USER NEED:</strong> As a user I need clear and effective guidance on how to take a passport suitable photograph that will pass the automated checks in as few goes as possible, so that I can be assured of getting a passport without having to pay for a passport photo</p>
                <p><strong>STORY:</strong> will be added</p>
              </div>
          </details>
        </li>
        </li>
    </ul>
    <hr>
    <strong>25th October 2016</strong><br/>
    <a href="./prototype_161025/startpage">UK adult prototype</a><br/><br/>
    <ul>
        <li>List micro journeys (to skip at different stages):</li>
        <li><a href="./prototype_161025/filter">Eligibility filter</a></li>
        <li><a href="./prototype_161025/overseas">Overseas</a></li>
        <li><a href="./prototype_161025/intro">Intro (Before you continue)</a></li>
        <li><a href="./prototype_161025/photoguide-myself">Photo Guide - how to do it myself</a></li>
        <li><a href="./prototype_161025/uploadphoto">Upload photo</a></li>
        <li><a href="./prototype_161025/renew">Renew (after photo submission)</a></li>
    </ul>
    <hr>
    <a href="./how-to">How to</a>
    <hr>
    <p>Examples:</p>
    <ul>
        <li><a href="./static">Static pages</a></li>
        <li><a href="./forms">Forms</a></li>
        <li><a href="./sar/help-signing-passport">Sign after receipt help</a></li>
        <li><a href="./typeahead">Typeahead</a></li>
    </ul>
{{/content}}

{{/ layout}}
