{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Apply for, renew or replace a UK passport{{/pageTitle}}

{{$header}}
    <h1>Applying for a UK passport with a digital photo</h1>
{{/header}}


{{$content}}
    <p>You can apply for a passport using a digital photo taken in a shop or photo booth. This is a new service &ndash; it's only available for some types of applications.</p>

  </p>Before we get your photo, we'll check what type of application you're making.</p>

    <a href="/../prototype_oix_170518/startpage" class="button js-gaevent" role="button" data-gakey="start" data-galabel="or">Continue</a>
   <br/><br/>

{{/ content}}


{{/ layout}}
