{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Apply for, renew or replace a UK passport{{/pageTitle}}

{{$header}}
    <h1>Apply for a UK passport with a digital photo</h1>
{{/header}}


{{$content}}
    <p>You can apply for a UK passport with a digital photo from a photo shop or booth.</p>

    <p>This is a new service &ndash; it's only available for some applications. Before you access your photo, we'll check which type of application you're making.</p>

    <a href="/../prototype_oix_170518/startpage" class="button js-gaevent" role="button" data-gakey="start" data-galabel="or">Continue</a>
   <br/><br/>

{{/ content}}


{{/ layout}}
