{{< layout}}

{{$pageTitle}}Your name{{/pageTitle}}

{{$header}}
    <h1>How did you change your name?</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
  {{$form}}
    <fieldset class="inline">
        <p>We need to know how you changed your name so we can tell you which documents to send.
        {{#radio-group}}change-of-name-reason{{/radio-group}}
    </fieldset>

    <!--<p>You’ll need to send us proof of your new name. We’ll tell you what document you’ll need to provide.</p>-->
    {{#input-submit}}{{/input-submit}}
  {{/form}}
{{/ hmpo-partials-form}}


{{/content}}

{{$sidebar}}
    <div class="column-one-third">
        <div class="sidebar related GDS">
          <div class="photo-preview-inner">
            <div class="inner group related-subsection">
            <h2 id="parent-subsection">Title?</h2>
            <nav role="navigation" aria-labelledby="parent-subsection">
              <ul>
                <li>
                  <a href="https://www.gov.uk/changing-passport-information" target="blank">How did you change your name</a>
                </li>
                
            </ul>
            </nav>
          </div>
          </div>
        </div>
    </div>
{{/sidebar}}



{{/ layout}}
