{{< layout}}

{{$pageTitle}}Required Documents{{/pageTitle}}

{{$header}}
    <h1>What you need to send</h1>
{{/header}}

{{$content}}
<p>Before we can send your new passport we need to see extra documents.</br>We’ll check and return them to you.</p>

<div class="panel panel-border-wide alert-default">
  You must send original documents - we can't accept photocopies. Your application will be delayed if you don't send everything we need. 
</div>

{{< hmpo-partials-form}}
{{$form}}


<h2>After the ceremony</h2>
<p>If the ceremony has already taken place you need to send:</p>
<ul class="list-bullet">
  <li>your old passport</li>
   <li>your marriage or civil partnership certificate</li>
</ul>


  <h2>Before the ceremony</h2>
<p>If you want to change your name before the ceremony you need to send:</p>
<ul class="list-bullet">
  <li>your old passport</li>
   <li>a completed <a href="https://www.gov.uk/government/publications/passports-for-newly-weds-and-civil-partners">passports for newly weds and civil partners</a> form</li>
</ul>


<div class="panel panel-border-wide">
                    <p>If your documents aren't in English or Welsh you also need to get a <a href="https://www.gov.uk/certifying-a-document">certified translation.</a></p>
                </div>

    <a href="/change_of_name_171218/renew/declaration" class="button">Continue</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
