{{< layout}}

{{$pageTitle}}Declaration{{/pageTitle}}

{{$header}}
    <h1>What we need from you</h1>
{{/header}}

{{$content}}
<h2>You need to send:</h2>
{{< hmpo-partials-form}}
{{$form}}
<!--<h2>You need to send:</h2>-->

<ul class="list-bullet">
  <li>your old passport</li>

  <li>your birth certificate</li>

  <li>a signed and dated letter saying you are using your birth name ‘for all purposes’ - that is, you don’t use your married or civil partnership name at all</li>
</ul>

<h2>You also need to send either:</h2>
<ul class="list-bullet">
  <li>your decree absolute showing both names</li>

  <li>a marriage certificate showing both names - if you don’t have the original, you’ll need to get a copy</li>
</ul>

<h2>You also need to send 1 of the following documents as evidence that you’re using your new name:</h2>
<ul class="list-bullet">
  <li>letter from your employer</li>

  <li>driving licence</li>

  <li>bank statement</li>

  <li>medical card</li>

  <li>letter from your local council or a government department</li>
</ul>
<br>
<div class="panel panel-border-wide">
                    <p>Failure to provide these supporting documents will result in a delay in your application.</p>
                </div>

    <a href="/change_of_name_171218/renew/declaration" class="button">Continue</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
