{{< layout}}

{{$pageTitle}}Choose a service{{/pageTitle}}


{{$header}}
    <h1>When do you want your new passport?</h1>
{{/header}}

{{$content}}
    {{< hmpo-partials-form}}
        {{$form}}

        <style>
            @media (min-width: 641px) {
                .column-two-thirds {
                float: left;
                width: 100%;
                }
            }
        </style>
        <p>something something</p>
        <div class="column-full">
            <div class="column-half">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"><h3>Standard</h3></th>
                        <th class="govuk-table__header" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">How</th>
                        <td class="govuk-table__cell">Post to you  address</td>
                        </tr>
                        <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">When</th>
                        <td class="govuk-table__cell">Up to 3 weeks</td>
                        </tr>
                        <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Cost</th>
                        <td class="govuk-table__cell">£70</td>
                        </tr>
                    </tbody>
                </table>
                        <br>
                        {{#input-submit}}3-weeks{{/input-submit}}

            </div>

            <div class="column-half">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"><h3>Premium</h3></th>
                        <th class="govuk-table__header" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">How</th>
                        <td class="govuk-table__cell">Collect from passport office</td>
                        </tr>
                        <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">When</th>
                        <td class="govuk-table__cell">2 days</td>
                        </tr>
                        <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Cost</th>
                        <td class="govuk-table__cell">£70</td>
                        </tr>
                    </tbody>
                </table>
                        <br>
                        {{#input-submit}}x-days{{/input-submit}}
            </div>
        </div>
        {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}