{{< layout}}

{{$content}}

{{< hmpo-partials-form}}
  {{$form}}
    <!-- Confirmation message -->
      <br>
      <div class="panel panel-border-wide alert-success">
        <h2>You've paid {{values.application-cost}}</h2>
        <p>Details sent to {{values.email}}<br><a href="">Download confirmation</a></p>
      </div>
      <p>Application reference: <strong>PEX 319 825 680X</strong></p>

      <h1>What you need to do</h1>

      <p>Before we can work on your application, you need to:</p>

    {{#nunjucks}}
      <!-- Renewals  -->
      {% if values['passport-before'] and values['applicant-age'] >= 12 %}
        {% if values['old-blue'] %} <!-- Passport before and its old blue = FTA -->
          <h2>1. Ask someone to confirm your identity</h2>
          <p>Sign in to check who can do this and provide their details. You'll need your application reference: PEX 319 825 680X</p>

          <h2>2. Get your documents ready</h2>
          <p>Sign into your application to check what you need to send.</p>
          <p>We can only receive your documents after your identity has been confirmed. We'll let you know when and where to send them.</p>

          <a href="/tracking/user" class="button">Sign in</a>
        {% endif %}

        {% if not values['old-blue'] %} <!-- Passport before and its not old blue -->
          {% if values['document-list'] or values['application-for-someone-else'] or values['change-of-name-reason']
              or (values['relationship-applicant'] === 'Mother' or values['relationship-applicant'] === 'Father' or values['relationship-applicant'] === 'Social Worker' or values['relationship-applicant'] === 'Other') %}
            <h2> Send us your documents </h2>
            <p><a href="./docs-renew?status=confirm-documents" target="_blank">Check what you need to send</a></p>
          {% else %}
            <h2> Send us your old passport </h2>
            <p>Check if you need to send any <a href="./docs-renew?status=confirm-documents" target="_blank">additional documents</a>.</p>
          {% endif %}

          <p>Use a strong envelope that is the right size for your documents. You can use standard post or special delivery.</p>

          <p>HM Passport Office<br/>
            Ref: PEX 319 825 680X<br/>
            Aragon Court<br/>
            Northminster Road<br/>
            Peterborough<br/>
            PE1 1QG
          </p>

          <h2>Track your application</h2>
          {% if values['document-list'] or values['application-for-someone-else'] or values['change-of-name-reason']
              or (values['relationship-applicant'] === 'Mother' or values['relationship-applicant'] === 'Father' or values['relationship-applicant'] === 'Social Worker' or values['relationship-applicant'] === 'Other') %}
            <p>You'll need your application reference: PEX 319 825 680X <br><a href="/tracking?status=send-us-your-docs">https://www.passport.service.gov.uk/track</a></p>
          {% else %}
            <p>You'll need your application reference: PEX 319 825 680X <br><a href="/tracking">https://www.passport.service.gov.uk/track</a></p>
          {% endif %}

          <a href="" class="button">Give feedback</a><br/><br/>
        {% endif %}
      {% endif %}
      <!-- First time applications and 0-11 renewals  -->
      {% if not values['passport-before'] or values['applicant-age'] <= 11 %}
        <h2>1. Ask someone to confirm your identity</h2>
        <p>Sign in to check who can do this and provide their details. You'll need your application reference: PEX 319 825 680X</p>

        <h2>2. Get your documents ready</h2>
        <p>Sign in  to check what you need to send. We can only receive your documents after your identity has been confirmed. We'll let you know when and where to send them.</p>

        <a href="/tracking/user" class="button">Sign in</a>
      {% endif %}
    {{/nunjucks}}
  {{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
