{{< layout}}

{{$pageTitle}}Contact details{{/pageTitle}}

{{$header}}
    <h1>Contact details</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

  <p>We’ll only use these details to contact you about your application.</p>

  {{#input-text}}email{{/input-text}}
  {{#input-text}}email-confirm{{/input-text}}

  <legend><span class="form-label-bold">Mobile or home number</span></legend>
  <p class="form-hint" id="dob-hint">Use a phone you have access to – we may call you if there's a problem.</p>
  {{#input-text}}mobile{{/input-text}}

  {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}