{{< layout}}

{{$pageTitle}}Contact details{{/pageTitle}}

{{$header}}
    <h1>Contact details</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

  <p>It’s best to use a phone that you’ll have access to. We may contact you if there’s a problem with your application.</p>

  {{#input-text}}email{{/input-text}}
  {{#input-text}}email-confirm{{/input-text}}

  <legend><span class="form-label-bold">Mobile or home phone</span></legend>
  {{#input-text}}mobile{{/input-text}}

  {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}