
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Check your collection appointment{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}
{{< hmpo-partials-form}}
		{{$form}}
      <div class="padding-wrapper">
        <h1>Check your collection appointment (TBC)</h1>

          <div class="panel-important">
            <p>You must take your old passport to your appointment.</p>
          </div>

        <h2>Collection appointment</h2>
        <p>Monday, 26 September 2019<br>
        at 10:00am</p>
        Newport HM Passport Office</br>
        Nexus House </br>
        Mission Court </br>
        Newport </br>
        NP20 2DW </br>
        <a href="https://www.google.co.uk/maps/place/Newport+HM+Passport+Office/@51.5812985,-2.9860147,15z/data=!4m2!3m1!1s0x0:0x572ae1c5870c53da?sa=X&ved=0ahUKEwi-0JXZmI3SAhUECsAKHfFiCq0Q_BIIdjAK" target="_blank">View map</a></p>

        <h2>Cost</h2>
        <p> Your new passport will cost <strong>{{values.application-cost}}</strong></p>
        <br>

       {{#input-submit}}{{/input-submit}}
      </div>

    {{/form}}
{{/ hmpo-partials-form}}
{{/main-content}}

{{/ layout}}
