
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Choose a date and place{{/pageTitle}}

{{$header}}
    <h1>Choose a date and place</h1>
{{/header}}

{{$main-content}}

<div class="padding-wrapper">



<h1>Choose a date and place</h1>


<div class="grid-row">
<div class="column-two-thirds">

<p>You'll need to collect your new passport from a <a href="https://www.passport.service.gov.uk/help/passport-offices/" target="_blank">passport office</a>. You can ask someone else to go for you if you’re not available.</p>
</div>
</div>

<!--
<p>You can check collection times in: </p>

<p class="font-small"><a href="/priority-service/book-appointment/london-week-1">London</a> &emsp; <a href="#">Peterborough</a> &emsp; <a href="#">Newport</a> &emsp; <a href="#">Liverpool</a> &emsp; <a href="#">Durham</a> &emsp; <a href="#">Glasgow</a> &emsp; <a href="#">Belfast</a></p>

-->
<div class="manage-times">
  <div class="manage-time-next">
<span class="font-small"><a href="#">Later <div class="later-arrow"></div></a> </span>
</div>

<!-- <div class="manage-time-previous">
<a href="/priority-service/book-appointment/"><div class="earlier-arrow"></div> Earlier </div></a>
</div> -->

<div class="book-table">
  <table class="book-table">
  <tbody>
    <tr>
    <td><span class="bold-small">Saturday<br> 24 September</span></td>
    <td><span class="bold-small">Monday<br>  26 September</span></td>
    <td><span class="bold-small">Tuesday<br>  27 September</span></td>
    <td class="hide"><span class="bold-small">Wednesday<br>  28 September</span></td>
    <td class="hide"><span class="bold-small">Thursday<br>  29 September</span></td>
    <td class="hide"><span class="bold-small">Friday<br>  30 September</span></td>
    </tr>
    <tr>
    <td><span class="unavailable">London</br></span></td>
    <td><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>
    <td class="hide"><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>
      <td class="hide"><span class="unavailable">London </br></span></td>
      <td class="hide"><span class="unavailable">London </br></span></td>
      <td class="hide"><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>

    </tr>
    <tr>
    <td><span class="unavailable">Peterborough </br></span></td>
    <td><span class="unavailable">Peterborough </br></span></td>
      <td><span class="unavailable">Peterborough </br></span></td>
      <td class="hide"><span class="city-available"><a href="#">Peterborough </br><span class="available">Available</span></span></a></td>
      <td class="hide"><span class="unavailable">Peterborough </br></span></td>
      <td class="hide"><span class="unavailable">Peterborough </br></span></td>



    </tr>
    <tr>
    <td><a href="/prototype/apply/dps-time"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
    <td><a href="#"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Newport </br></span></td>
      <td class="hide"><span class="unavailable">Newport </br></span></td>
      <td class="hide"><span class="unavailable">Newport </br></span></td>
      <td class="hide"><span class="unavailable">Newport </br></span></td>


    </tr>
    <tr>
    <td><span class="unavailable">Liverpool </br></span></td>
      <td><span class="unavailable">Liverpool </br></span></td>
      <td><span class="unavailable">Liverpool </br></san></td>
        <td class="hide"><a href="#"><span class="city-available">Liverpool </br><span class="available">Available</span></span></a></td>
      <td class="hide"><span class="unavailable">Liverpool </br></span></td>
      <td class="hide"><span class="unavailable">Liverpool </br></span></td>

    </tr>
    <tr>
    <td><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Durham </br></span></td>
    <td><span class="unavailable">Durham </br></span></td>
    <td class="hide"><span class="unavailable">Durham </br></span></td>
      <td class="hide"><span class="unavailable">Durham </br></span></td>
      <td class="hide"><span class="unavailable">Durham </br></span></td>

    </tr>
    <tr>
    <td><span class="unavailable">Glasgow </br></span></td>
    <td><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Glasgow </br></span></td>
    <td class="hide"><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></span></a></td>
      <td class="hide"><span class="unavailable">Glasgow </br></span></td>
      <td class="hide"><span class="unavailable">Glasgow </br></span></td>

    </tr>
    <tr>
      <td><span class="unavailable">Belfast </br></span></td>
      <td><span class="unavailable">Belfast </br></span></td>
      <td><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></span></a></td>
      <td class="hide"><span class="unavailable">Belfast </br></span></td>
      <td class="hide"><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></span></a></td>
      <td class="hide"><span class="unavailable">Belfast </br></span></td>


    </tr>

  </tbody>
  </table>


</div>
</div>

</div>
{{/main-content}}

{{/ layout}}
