
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Check your collection appointment{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}
{{< hmpo-partials-form}}
		{{$form}}
      <div class="padding-wrapper">
        <h1>Check your collection appointment</h1>

          <div class="panel-important">
            <p>You must take your old passport to your appointment.</p>
          </div>

        <h2>Collection appointment</h2>
        <p>Friday, 23 August 2019<br>
        at 10:00am</p>
        London HM Passport Office</br>
        2nd Floor </br>
        Globe House </br>
        89 Eccleston Square </br>
        London </br>
        SW1V 1PN </br>
        <a href="https://www.google.co.uk/maps/place/HM+Passport+Office/@51.4936639,-0.1461045,17z/data=!3m1!4b1!4m5!3m4!1s0x4876051f799cb11f:0xaa05e82d4f114209!8m2!3d51.4936639!4d-0.1439158" target="_blank">View map</a></p>

        <h2>Cost</h2>
        {{#nunjucks}}
        {% if values['passport-options'] === '34' %}
        <p> Your new standard 34-pages passport will cost <strong>{{values.applicationCost}}</strong></p>
        {% else %}
        <p> Your new frequent travellor 50-pages passport will cost <strong>{{values.applicationCost}}</strong></p>
        {% endif %}
        <br>
        {{/nunjucks}}
       {{#input-submit}}{{/input-submit}}
      </div>

    {{/form}}
{{/ hmpo-partials-form}}
{{/main-content}}

{{/ layout}}
