{{< layout}}

{{$pageTitle}}You can't use Online Premium{{/pageTitle}}

{{$header}}
    <h1>You can't use Online Premium</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
    {{$form}}
        <p>You changed some of your details and you're no longer eligible for the Online Premium service. Your appointment will be cancelled.</p>
        <p>You'll need to use the standard service. It should take 3 weeks to get your new passport and cost 
    {{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}