{{< layout}}

{{$pageTitle}}Family details{{/pageTitle}}

{{$main-content}}

{{< hmpo-partials-form}}
{{$form}}

<div class="column-full">
    <div class="flash-card">
        <header>
            <h1>Family details</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">

                {{#nunjucks}}
                    {% if values['naturalisation-registration-certificate'] or (values['born-before-1983'] and values['born-in-uk']) %}
                    <p>We need to ask for parents' details to help confirm your identity.</p>

                    {% elif not values['naturalisation-registration-certificate'] or (values['born-before-1983'] and not values['born-in-uk']) or not values['born-before-1983'] %}
                    <p>We need to confirm <a href="../../guidance/british-nationality" target="_blank">British nationality</a> &ndash; this may depend on your parents or grandparents.</p>

                    {% endif %}
                {{/nunjucks}}

                <p>If you can't provide their details, you'll need to tell us why and it may delay your application.</p>

                {{#nunjucks}}
                    {% if values['applicant-age'] > 16 %} {# Not required for FTC #}
                    <p>In most cases we won't contact your family &ndash; if we do, we'll ask your permission first. Their details won't appear on the new passport.</p>
                    {% endif %}
                {{/nunjucks}}

                <br>

                {{#input-submit}}{{/input-submit}}
            </div>
        </div>
    </div>
</div>

{{/form}}
{{/ hmpo-partials-form}}

{{/main-content}}

{{/ layout}}
