{{< layout}}

{{$main-content}}

{{< hmpo-partials-form}}
  {{$form}}
    <div class="column-full">
      <div class="flash-card">
        <header>
          <h1>Online Premium</h1>
        </header>
        <div class="grid-row">
          <div class="column-two-thirds">
            <ul>
              <li>
                <h2>Choose an appointment to collect your new passport</h2>
                <p>We’ll book a time for you to collect your passport from a <a href="https://www.passport.service.gov.uk/help/passport-offices" target="_blank"> passport office in the UK.</a></p>
              </li>

              <!-- <li><span class="circle circle-step">2</span>
                <h2>Pay with a debit or credit card</h2>
                <p style="margin-left:32px;"> You’ll need a debit or credit card. An adult standard passport using the premium service is £177.</p>
              </li> -->

              <li>
                <h2>Collect your new passport</h2>
                <p> This usually takes 30 minutes. You’ll need to take your old passport with you.</p>
              </li>

            </ul>

            {{#input-submit}}collect{{/input-submit}}
          </div>

        </div>
      </div>
    </div>
  {{/form}}
{{/ hmpo-partials-form}}

{{/ main-content}}

{{/ layout}}


<!-- <span class="circle circle-step">3</span>
<span class="circle circle-step">1</span>
<p style="margin-left:32px;">We’ll book a time for you to collect your passport from a <a href="https://www.passport.service.gov.uk/help/passport-offices" target="_blank"> passport office in the UK.</a></p>
-->