{{< layout}}
{{$pageTitle}}
Old passport details
{{/pageTitle}}

{{$header}}
  {{#values.old-blue}}
    <h1>Old passport number</h1>
  {{/values.old-blue}}
  {{^values.old-blue}}
    <h1>Old passport details</h1>
  {{/values.old-blue}}
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}
<p>Enter your old passport details if you have them.</p>
<div id="passport-number-group" class="form-group">
  <fieldset>
    {{#values.old-blue}}
      <p class="form-hint" id="dob-hint">For example B235014</p>
    {{/values.old-blue}}
    {{^values.old-blue}}
      <h2>Passport number (optional)</h2>
      <p class="form-hint" id="dob-hint">For example 502135326</p>
    {{/values.old-blue}}

    {{#input-text}}passport-number{{/input-text}}
  </fieldset>

  {{^values.old-blue}}

    <fieldset>
    <legend>
      <span class="form-label-bold">Expiry date (optional)</span>
      <span id="passport-expiry-hint" class="form-hint">For example 28 07 2017</span>

    </legend>
    <div class="form-date">
      <div id="passport-expiry-day-group" class="form-group">
        <label for="passport-expiry-day" class="form-label">
          Day
        </label>
        <input type="text" name="expiry-day" id="expiry-day" class="form-control" aria-required="true" min="1" max="12" maxlength="2" pattern="[0-9]*" aria-describedby="passport-expiry-hint" autocomplete="hmpo-passport-expiry-day">
      </div>
      <div class="form-date">
        <div id="passport-expiry-month-group" class="form-group">
          <label for="passport-expiry-month" class="form-label">
            Month
          </label>
          <input type="text" name="expiry-month" id="expiry-month" class="form-control" aria-required="true" min="1" max="12" maxlength="4" pattern="[0-9]*" aria-describedby="passport-expiry-hint" autocomplete="hmpo-passport-expiry-month">
        </div>
        <div id="passport-expiry-year-group" class="form-group">
          <label for="passport-expiry-year" class="form-label">
            Year
          </label>
          <input type="text" name="expiry-year" id="expiry-year" class="form-control" aria-required="true" maxlength="4" pattern="[0-9]*" aria-describedby="passport-expiry-hint" autocomplete="hmpo-passport-expiry-year">
        </div>
      </div>
    </fieldset>
    <br>

  {{/values.old-blue}}

  {{#input-submit}}{{/input-submit}}


{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
