{{< layout}}

{{$pageTitle}}Do you know the father or parent 2's EU settled status application reference{{/pageTitle}}

{{$header}}
    <h1>Do you know the father or parent 2's EU settled status application reference</h1>
{{/header}}

{{$content}}

<p>They were given this 16 digit number when they applied. You can also find it on the letter or email confirming their settled status.</p>

<div class="panel panel-border-wide">
    <p>If they don't have the reference, the mother or parent 2 can <a href="https://www.gov.uk/contact-ukvi-inside-outside-uk/y/inside-the-uk/eu-settlement-scheme-settled-and-pre-settled-status" target="_blank">contact UK Visas and Immigration</a> to get it.</p>
</div>

{{< hmpo-partials-form}}
{{$form}}
    {{#radio-group}}parent2-euss-know-application{{/radio-group}}
    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
