{{< layout}}

{{$pageTitle}}EU settled status reference for mother or parent 1{{/pageTitle}}

{{$header}}
    <h1>EU settled status reference for mother or parent 1</h1>
{{/header}}

{{$content}}
<p>You need to give the reference number from either:</p>
<ul class="list list-bullet">
    <li>the identity document the mother or parent 1 used to apply for EU settled status (for example a passport or identity card)</li>
    <li>the letter or email confirming their settled status</li>
</ul>
<div class="panel panel-border-wide">
    <p>If you don't give a reference number, we may not be able to confirm that the mother or parent 1 has EU settled status.</p>
</div>

{{< hmpo-partials-form}}
<h2>Where will you get the reference from?</h2>
{{$form}}

    {{#radio-group}}parent1-euss-reference-number{{/radio-group}}
    <!-- <div id="parent1-euss-reference-number-group" class="form-group">
        <fieldset role="radiogroup" aria-required="true">
            <legend>
                <span class="form-label-bold">Where will you get the reference from?</span>
            </legend>

            <label class="block-label selected" for="parent1-euss-reference-number-document-reference-number">
                <input type="radio" name="parent1-euss-reference-number" id="parent1-euss-reference-number-document-reference-number" value="document-reference-number" required="true" data-toggle="parent1-euss-document-reference-number">
                Their identity document
            </label>

            <div id="parent1-euss-document-reference-number" class="reveal js-hidden">
                <div class="panel panel-border-narrow">
                    {{#input-text}}parent1-euss-document-reference-number{{/input-text}}
                </div>
            </div>

            <label class="block-label" for="parent1-euss-reference-number-application-reference-number">
                <input type="radio" name="parent1-euss-reference-number" id="parent1-euss-reference-number-application-reference-number" value="application-reference-number" required="true" data-toggle="parent1-euss-application-reference-number">
                The letter or email confirming their settled status
            </label>

            <div id="parent1-euss-application-reference-number" class="reveal js-hidden">
                <div class="panel panel-border-narrow">
                    {{#input-text}}parent1-euss-application-reference-number{{/input-text}}
                </div>
            </div>

        </fieldset>
    </div> -->

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
