{{< layout}}

{{$pageTitle}}Mother or parent 1{{/pageTitle}}

{{$header}}

<h1>Mother or parent 1</h1>

{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    {{#input-text}}parent1-town-of-birth{{/input-text}}

    <fieldset>
        <legend>
            <span class="form-label-bold">Country of birth</span>
        </legend>
        {{#select}}parent1-country-of-birth{{/select}}
    </fieldset>

    {{#input-text}}parent1-country-of-nationality{{/input-text}}

    {{#radio-group}}parent1-uk-passport{{/radio-group}}
    <div style="margin-top: -30px;" id="parent1-uk-passport" class="reveal js-hidden">
        <div class="panel panel-border-narrow">
            <legend>
            <p>Provide these details and you won't have to send as many documents.</p>
                <span class="form-label-bold">Passport number</span>
            </legend>
            <p class="form-hint" id="dob-hint">For example 502135326</p>
            {{#input-text}}parent1-passport-number{{/input-text}}

            <div class="form-date form-group">
                <legend>
                    <span class="form-label-bold">Date of issue</span>
                </legend>
                <p class="form-hint" id="dob-hint">For example 12 04 2007</p>
                {{#input-text}}parent1-passport-issue-day{{/input-text}}
                {{#input-text}}parent1-passport-issue-month{{/input-text}}
                {{#input-text}}parent1-passport-issue-year{{/input-text}}
            </div>
        </div>
        <br>
    </div>

    <!-- This works in the same way as the if statment below -->
    {{#values.born-in-uk}}
        {{#values.born-after-2018}}
            {{#radio-group}}parent1-euss{{/radio-group}}
            <div style="margin-top: -30px; margin-bottom: 30px;" id="parent1-euss" class="reveal js-hidden">
                <div class="panel panel-border-narrow">
                    <p>Content to go here about the EUSS reference number being required for the next page...</p>
                </div>
            </div>
        {{/values.born-after-2018}}
    {{/values.born-in-uk}}

    <!-- {{#radio-group}}parent1-euss{{/radio-group}} 
    {{#nunjucks}}
        {% if values['born-in-uk'] and values['born-after-2018'] %}
            <div id="parent1-euss-group" class="form-group inline ">
                <fieldset role="radiogroup" aria-required="true">
                    <legend>
                        <span class="form-label-bold">Did they have EU settled status at the time of the applicant’s birth?</span>
                    </legend>
                        <label class="block-label selected" for="parent1-euss-Yes">
                            <input type="radio" name="parent1-euss" id="parent1-euss-Yes" value="Yes" required="true">
                            Yes
                        </label>
                        <label class="block-label" for="parent1-euss-No">
                            <input type="radio" name="parent1-euss" id="parent1-euss-No" value="No" required="true">
                            No
                        </label>
                        <label class="block-label" for="parent1-euss-Unknown">
                            <input type="radio" name="parent1-euss" id="parent1-euss-Unknown" value="Unknown" required="true">
                            I don’t know
                        </label>
                </fieldset>
            </div>
        {% endif %}
    {{/nunjucks}} -->

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
