{{< layout}}

{{$pageTitle}}Father or parent 2's EU settled status application reference{{/pageTitle}}

{{$header}}
    <h1>Father or parent 2's EU settled status application reference</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}
    <p class="form-hint" id="application-hint">For example 1234-5678-1234-5678</p>
    {{#input-text}}parent2-application-reference{{/input-text}}
    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
