{{< layout}}

{{$pageTitle}}Do you know the mother or parent 1's EU settled status application reference?{{/pageTitle}}

{{$header}}
    <h1>Do you know the mother or parent 1's EU settled status application reference?</h1>
{{/header}}

{{$content}}

<p>They were given this 16 digit number when they applied. You can also find it on the letter or email confirming their settled status.</p>
<p>The mother or parent 1 can <a href="https://www.gov.uk/contact-ukvi-inside-outside-uk/y/inside-the-uk/eu-settlement-scheme-settled-and-pre-settled-status" target="_blank">call to get the reference</a> if they don't have it.</p>

{{< hmpo-partials-form}}
{{$form}}
    {{#radio-group}}parent1-euss-know-application{{/radio-group}}
    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
