{{< layout}}

{{$pageTitle}}Passport options{{/pageTitle}}

{{$header}}
    <h1>New passport</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    {{#nunjucks}}
    <div id="passport-options-group" class="form-group">
        <fieldset role="radiogroup" aria-required="true">
            <legend>
                <span>Passport size</span>
            </legend>
        {% if values['16-or-older'] %}
            <label class="block-label selected" for="passport-options-34">
                <input type="radio" name="passport-options" id="passport-options-34" value="34" required="true" checked="checked">
                Standard 34-page passport (£75.50)
            </label>
            <label class="block-label" for="passport-options-50">
                <input type="radio" name="passport-options" id="passport-options-50" value="50" required="true">
                Frequent traveller 50-page passport (£85.50)
            </label>
        {% else %}
            <label class="block-label selected" for="passport-options-34">
                <input type="radio" name="passport-options" id="passport-options-34" value="34" required="true" checked="checked">
                Standard 34-page passport (£49)
            </label>
            <label class="block-label" for="passport-options-50">
                <input type="radio" name="passport-options" id="passport-options-50" value="50" required="true">
                Frequent traveller 50-page passport (£59)
            </label>
        {% endif %}
        </fieldset>
    </div>
    {{/nunjucks}}

    <fieldset>
        <legend class="visuallyhidden">Add a braille sticker</legend>
        If you're blind or visually impaired, we can add a braille sticker that reads passport, your name and passport expiry date.
        <div id="braille-group" class="form-group">
            <label for="braille" class="block-label">
                <input type="checkbox" id="braille" name="braille" value="true" aria-required="false"> I need a braille sticker
            </label>
        </div>
    </fieldset>
    <br/>

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
