{{< layout}}

{{$title}}Delivery options{{/title}}

{{$header}}
    <h1>Delivery {{^values.lost-stolen-no-docs}}options{{/values.lost-stolen-no-docs}}</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <div class="panel panel-border-wide alert-default">
        <h2>New passport</h2>
        <p>We'll send your new passport by secure delivery. The cost is included in the passport fee.</p>
    </div>
    <h2>Documents</h2>
    <p>Choose how your documents are sent back to you. They won't be in the same envelope as your new passport.</p>
    {{#radio-group}}secure-return{{/radio-group}}
    <p>We’ll send everything to {{values.address1}}, {{#values.address2}} {{values.address2}}, {{/values.address2}} {{values.town}}, {{values.postcode}}.</p>

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
