{{< layout}}

{{$title}}How should we return your documents?{{/title}}

{{$header}}
    <h1>How should we return your documents?</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    {{#nunjucks}}

        {# Renew, Renew with CoN, Damaged #}
        {% if values['application-type'] === 'renew-child-0-11' or
              values['application-type'] === 'renew-child-12-15' or
              values['application-type'] === 'renew-adult' or
              values['application-type'] === 'replacement-damaged-child-0-11' or
              values['application-type'] === 'replacement-damaged-child-12-15' or
              values['application-type'] === 'replacement-damaged-adult' %}
            <p>Choose how your old passport and any extra documents are sent back to you. They won't be in the same envelope as your new passport.</p>
        {% else %}
            <p>Choose how your documents are sent back to you. They won't be in the same envelope as your new passport.</p>
        {% endif %}

    {{/nunjucks}}

    {{#radio-group}}secure-return{{/radio-group}}

    <div class="panel panel-border-wide">
        <p>We'll send your new passport by secure delivery at no extra cost.</p>
    </div>

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
