{{< layout}}

{{$pageTitle}}Were you born in the UK?{{/pageTitle}}

{{$header}}
<h1>Were {{> partials-applicant-you-they}} born in the UK?</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}
{{#radio-group}}born-in-uk{{/radio-group}}

<div id="birth-country" class="reveal js-hidden">
    <div class="panel panel-border-narrow" style="margin-top:-20px; margin-bottom:20px;">
        {{#select}}country-of-birth{{/select}}
    </div>
</div>

<label for="town-of-birth" class="form-label-bold">
    Town of birth

    {{^values.lost-stolen}}
        <span id="town-of-birth-hint" class="form-hint">As written on {{> partials-applicant-your-their}} {{> partials-information-compared-to-document}}</span>
    {{/values.lost-stolen}}

    {{#values.lost-stolen}}
    <span id="town-of-birth-hint" class="form-hint">As written on {{> partials-applicant-your-their}} old passport, or your birth or adoption certificate</span>
    {{/values.lost-stolen}}

</label>
{{#input-text}}town-of-birth{{/input-text}}

{{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
