{{< layout}}

{{$pageTitle}}
    Get a passport urgently
{{/pageTitle}}

{{$header}}
    <h1>Get a passport urgently</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>There are 3 ways to apply for an urgent passport.<p>
<p>As part of the application, you’ll need to attend an appointment at your nearest passport office.<p>


<div class="accordion" id="name-change-accordion">

    <div class="accordion-section" id="photo-guidance-adult">
        <div class="accordion-section-header">
            <h2 class="heading-small">Photos for adults</h2>
        </div>

        <div class="accordion-section-body">
            <h3>Use a plain light-coloured background</h3>
            <ul class="list list-bullet">
                <li>no texture or patterns</li>
                <li>no objects behind you</li>
            </ul>

        </div>
    </div>

</div>
<br>

{{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
