{{< layout}}

{{$back}}
<div class="photo-guide">
  <a href="/../priority_service_170510/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 7 of 8</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
          <div class="flash-card">
              <header>
                  <!--<h1>Make sure your face is visible, your expression plain</h1>-->
                  <h1>Keep your face clear</h1>
              </header>
              <div class="grid-row">
                  <div class="column-full">
                    <h2>Remove headwear</h2>
                     <p>If you wear headwear for religious or medical reasons, you can keep it on.</p>
                    <div class="guidance-photos" aria-hidden="true">
                        <ul>
                            <li>
                                <img src="../../public/images/photoguide/uncropped-photos/image-f2-religious-head-covering.jpg" alt="">
                                <div class="result" style="height: 57px;">
                                    <p class="approved">Religious headwear</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../public/images/photoguide/uncropped-photos/image-m3-head-covering.jpg" alt="">
                                <div class="result" style="height: 57px;">
                                    <p class="failed">No fashion headwear</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../public/images/photoguide/uncropped-photos/image-f1-hair-accessory.jpg" alt="">
                                <div class="result" style="height: 57px;">
                                    <p class="failed">No hair accessories</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h2>Face and eyes</h2>
                    <p>Your hair must be away from your face and brushed down.</p>
                    <div class="guidance-photos" aria-hidden="true">
                          <ul>
                              <!-- <li>
                                  <img src="../../public/images/photoguide/image-f1-plain.jpg" alt="">
                                  <div class="result" style="height: 57px;">
                                      <p class="approved">Face and eyes visible</p>
                                  </div>
                              </li> -->
                              <li>
                                  <img src="../../public/images/photoguide/uncropped-photos/image-f1-plain.jpg" alt="">
                                  <div class="result" style="height: 57px;">
                                      <p class="approved">Face and eyes visible</p>
                                  </div>
                              </li>
                              <!--<li>
                                  <img src="../../public/images/photoguide/image-f1-hair-over-eye.jpg" alt="">
                                  <div class="result" style="height: 57px;">
                                      <p class="failed">Hair on face</p>
                                  </div>
                              </li> -->
                              <li>
                                  <img src="../../public/images/photoguide/uncropped-photos/image-f1-hair-over-eye.jpg" alt="">
                                  <div class="result" style="height: 57px;">
                                      <p class="failed">Hair on face</p>
                                  </div>
                              </li>
                              <!-- <li>
                                  <img src="../../public/images/photoguide/image-f2-headscarf-covering-eye.jpg" alt="">
                                  <div class="result" style="height: 57px;">
                                      <p class="failed">Religious headwear on face</p>
                                  </div>
                              </li> -->
                               <li>
                                  <img src="../../public/images/photoguide/uncropped-photos/image-f2-headscarf-covering-eye.jpg" alt="">
                                  <div class="result" style="height: 57px;">
                                      <p class="failed">Religious headwear on face</p>
                                  </div>
                              </li>
                          </ul>
                      </div>


                    <nav class="guide-nav">
                              <ul>
                                  <li class="button-guide button-guide-previous">
                                      <a href="{{backLink}}" style="font-size: 20px">Previous</a>
                                  </li>
                                  <li class="button-guide button-guide-next">
                                      <a href="{{nextPage}}" style="font-size: 20px">Get ready for your photo</a>
                                  </li>
                              </ul>
                    </nav>
                  </div>
              </div>
          </div>
        </div>

{{/main-content}}

{{/ layout}}
