{{< layout}}

{{$back}}

<div class="photo-guide">
            <a href="/../change_of_name_171218/intro/choose-photo-method" class="back-link">Back</a>
       </div>
{{/back}}

{{$main-content}}
<div class="column-full photo-guide-start">
   <div class="flash-card">
       <header>
           <h1>How to take a digital photo</h1>
       </header>
       <div class="grid-row">
         <div class="column-two-thirds">
            <div class="videoWrapper">
              <iframe src="https://player.vimeo.com/video/223745277" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <details>
              <summary><span class="summary">Read the transcript of this video</span></summary>
              <div class="panel panel-border-narrow">
                <p>You can now take your passport photo at home with a friend.</p>
                <p>It’s quick and easy, giving you more time to get ready for your travels.</p>
                <h3>Use a plain background</h3>
                <p>A light grey or cream wall works best and make sure there are no objects behind you.</p>
                <h3>Get the lighting right</h3>
                <p>Natural light is best but you can use other lighting. Just make sure the light doesn’t cast shadows on your face.</p>
                <h3>Stand in the right position</h3>
                <p>You need to stand away from the background to avoid shadows behind you. Your friend needs to be able to fit your head, shoulders and upper body into the photo.</p>
                <h3>Keep your face clear</h3>
                <p>Make sure your whole face is visible. Keep your hair away from your face and brushed down. Headwear worn for religious or medical reasons can be left on.</p>
                <h3>Now get ready</h3>
                <p>Look straight at the camera and try to keep a plain expression. Smiling by accident is a
                common mistake, others include: hair getting in the way, shadows on your face, glasses covering eyes, glare on glasses and blurry photos. Don’t worry if it takes a few goes to get it right.
                When you get a good photo upload it online and complete your application. Now relax and get planning for your travels.</p>
                <p>For more on UK passports go to <a href="www.gov.uk">www.gov.uk</a></p>
              </div>
            </details>
        </div>
      </div>
      <div class="grid-row">
          <nav class="guide-nav">
            <ul style="margin-left:18px">
                <li class="button-guide button-guide-next">
                    <a href="photoguide-short/find-a-camera" style="font-size: 20px">Follow the step-by-step guide</a>
                </li>
            </ul>
          </nav>
      </div>
     </div>
   </div>

{{/main-content}}

{{/ layout}}
