{{< layout}}

{{$pageTitle}}Get your digital photo{{/pageTitle}}

{{$header}}
    <h1>Get your digital passport photo</h1>
{{/header}}

<!-- content changes made to you-need-a-photo.html -->
{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}

    <div class="grid-row">
        <div class="column-half">
            <a href="photo-guide" class="guide-box" id="get-a-friend-to-take-one-photo-link">
                <div class="column-one-third img">
                    <img src="../../public/images/photo-guide-myself.png" alt="Get a friend to take one" title="Get a friend to take one" width="100">
                </div>
                <div class="column-two-thirds guide-box-text">
                    <h3>Get a friend to take one</h3>
                    <p>Follow the step-by-step guide to taking a good digital passport photo.</p>
                </div>
            </a>
        </div>

        <div class="column-half">
            <a href="photo-booth-shop" class="guide-box" id="go-to-a-booth-or-shop-photo-link">
                <div class="column-one-third img">
                    <img src="../../public/images/photo-guide-shop.png" alt="Go to a booth or a shop" title="Go to a booth or a shop" width="105">
                </div>
                <div class="column-two-thirds guide-box-text">
                    <h3>Go to a booth or a shop</h3>
                    <p>Check what you’ll get from a booth and what to ask for at a shop.</p>
                </div>
            </a>
        </div>
    </div>

<form action="/photo/choose-photo-method" method="POST" autocomplete="off" novalidate="true" spellcheck="false">
            <div id="choose-photo-group" class="form-group js-gaevent" data-gakey="photo method">
    <fieldset role="radiogroup" aria-required="true">
        <legend>
            <span class="form-label-bold">I already have a digital photo</span>
            
            
        </legend>
            <label class="block-label" for="choose-photo-photo-upload">
                <input type="radio" name="choose-photo" id="choose-photo-photo-upload" value="photo-upload" required="true" data-galabel="upload">
                I have a digital photo to upload
            </label>
            <label class="block-label" for="choose-photo-photo-code">
                <input type="radio" name="choose-photo" id="choose-photo-photo-code" value="photo-code" required="true" data-toggle="choose-photo-toggle" data-galabel="code" aria-controls="choose-photo-toggle" aria-expanded="false">
                I have a code to enter
            </label>
<div class="panel panel-border-narrow js-hidden" id="choose-photo-toggle" aria-hidden="true">
    <div class="column-two-thirds">
        <p>Check if your printed photos have a photo code - you’ll need to enter this code to retrieve your photo.</p>
        <p>The photo code is a new service and may not be available yet from photo booths or shops in your area.</p>
    </div>
</div>
    </fieldset>
</div>

<a href="../upload" class="button">Continue</a>

        {{/form}}
    {{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
