{{< layout}}

{{$main-content}}

<div class="column-full">
        <div class="flash-card">
            <header>
        <h1>Get your digital passport photo</h1>
            </header>
        <div class="grid-row">
            <div class="column-two-thirds digital-photo-guidance">
                <p>You can choose from 3 ways to get your digital photo.</p>
                <h2>Get a friend to take one</h2>
                <p>They can use a phone, tablet or digital camera. We’ll show you how to take a good passport photo and
                    upload it.</p>
                <h2>Go to a photo shop</h2>
                <p>At a shop, you’ll get a digital copy of your photo. Some shops can also give you a photo code.
                    We’ll show you how to use the code to retrieve your digital photo.</p>
                <h2>Go to a booth</h2>
                <p>From some booths in the UK and abroad, you’ll be able to get a photo code with your printed photos.
                    We’ll show you how to use the code to retrieve your digital photo.</p>
            </div>
            <div class="column-one-third">
                <img src="/photo/public/images/diagram-photo-methods-smartphone-x2.png" alt="smartphone-image" width="333">
            </div>
        </div>
        <a href="../intro/choose-photo-method" class="button" role="button">Continue</a>
<br>
<br>
        <div class="grid-row grid-row-additional">
            <div class="column-two-thirds">
                <div class="panel panel-border-wide panel-flash-card">
                    <p>The photo code is a new service and may not be available yet from photo booths or shops in your area.</p>
                </div>
            </div>
        </div>

        </div>
    </div>

{{/main-content}}

{{/ layout}}
