{{< layout}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Check your answers{{/pageTitle}}


{{$header}}
    <h1 class="heading-large">Confirm your answer</h1>
{{/header}}

{{$content}}
<p>It looks like you haven't been able to confirm David's identity. Please confirm your answer before we let him know.</p>
<img src="../../public/images/photoguide/image-m2-plain.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
<br>
<br>
<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Is this David Smith?
    </dt>
    <dd class="cya-answer">
      No
    </dd>
    <dd class="cya-change">
      <a href="/csig_171101/referee/confirm-applicant">
        Change<span class="visually-hidden"> passport number</span>
      </a>
    </dd>
  </div>
</dl>
<p></p>
<a href="/csig_171101/referee/exceptions-not-applicant" class="button">Continue</a>

{{/content}}

{{/ layout}}
