{{< layout}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Check your answers{{/pageTitle}}


{{$header}}
    <h1 class="heading-large">Confirm your answer</h1>
{{/header}}

{{$content}}
<p>It looks like you haven't been able to confirm David's identity. Please confirm your answer before we let him know.</p>
<img src="../../public/images/photoguide/image-m2-plain.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
<br>
<br>
<style>
  .cya-question {width: 70%!important}
</style>

<a href="/csig_171101/referee/exceptions-not-applicant" class="button">Continue</a>

{{/content}}

{{/ layout}}
