{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Your home address{{/pageTitle}}


{{$header}}
    <h1>Your home address</h1>
{{/header}}

{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}

      <div id="employeraddress-group" class="form-group">
          <label for="employeraddress" class="form-label-bold">
              Address
          </label>
          <span>
              <input type="text" id="employer-address-1" class="form-control" name="employer-address" style="margin-bottom:10px;">
              <input type="text" id="employer-address-2" class="form-control" name="employer-address" style="margin-bottom:10px;">
              <input type="text" id="employer-address-3" class="form-control" name="employer-address" style="margin-bottom:10px;">
              <input type="text" id="employer-address-4" class="form-control" name="employer-address" style="margin-bottom:10px;">
              <input type="text" id="employer-address-5" class="form-control" name="employer-address">
          </span>
      </div>
      <div id="address-postcode-group" class="form-group">
          <label for="address-postcode" class="form-label-bold">
              Town or city
          </label>
          <input type="text" name="town-city" id="town-city" class="form-control">
      </div>
      <div id="address-postcode-group" class="form-group">
          <label for="address-postcode" class="form-label-bold">
              Postcode
          </label>
          <input type="text" name="address-postcode" id="address-postcode" class="form-control input-code">
      </div>
      {{#input-submit}}{{/input-submit}}

    {{/form}}
  {{/ hmpo-partials-form}}


{{/content}}

{{/ layout}}
