{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}

<h1>Apply with Fast Track</h1>

<p>You'll need to:</p>

<ol class="list-number">
<li>Get a paper form at the Post Office</li>
<li>Get 2 printed passport photos from a photo shop</li>
<li>Book an appointment to drop off your completed form and photos</li>
</ol>
<p>Your new passport will arrive in the post within 1 week of your appointment.</p>

<p>Using this service, an adult passport costs £103 and a child passport costs £87. </p>

<td><h2><a href=""><input class="button" type="submit" value="Book an appointment"></h2></a></td>

{{/main-content}}

{{/ layout}}
