{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}
<div class="padding-wrapper">

<div class="grid-row"><div class="column-two-thirds">

<h1>Choose how to get a passport urgently</h1>

<p>You'll need to attend an appointment at a <a href="/priority_service_170731/book-appointment/passport-offices">passport office in the UK</a>. You can choose an appointment online when you apply.</p>

</div>
</div>


<!-- CSS version of comparison table -->




<div class="comparison-grid">


<div class="sticky">
<div class="comparison-wrapper-2 service-name">
  <div class="col-0">
    &nbsp;
  </div>
  <div class="col-11">
    <span class="bold-medium">Paper Premium <br>&nbsp;
</span>
	</div>
  <div class="col-22">
    <span class="bold-medium">Online Premium     <strong class="phase-tag">BETA</strong>

</span>
  </div>
  <div class="col-33">
    <span class="bold-medium">Fast Track <br>&nbsp;</a>
</span>
  </div>
</div>
</div>


<div class="comparison-wrapper-2">
  <div class="col-0">
    <span class="bold-small">Who can apply?</span>
  </div>
  <div class="col-11">
    <span class="font-small">Adults 16 or older</span>
  </div>
  <div class="col-22">
    <span class="font-small">Adults 26 or older</a></span>
  </div>
  <div class="col-33">
    <span class="font-small">Adults and children</span>
  </div>
</div>

<div class="comparison-wrapper-2">
  <div class="col-0">
    <span class="bold-small">How do I apply?</span>
  </div>
  <div class="col-11">
    <span class="font-small">Paper form</span>
	</div>
  <div class="col-22">
    <span class="font-small">Online</span>
  </div>
  <div class="col-33">
    <span class="font-small">Paper form</span>
  </div>
</div>


<div class="comparison-wrapper-2">
  <div class="col-0">
    <span class="bold-small">When do I get my new passport? </br>&nbsp;</span>
  </div>
  <div class="col-11">
    <span class="font-small">4 hours after your appointment</span>
	</div>
  <div class="col-22">
    <span class="font-small">At your appointment</span>
  </div>

  <div class="col-33">
    <span class="font-small">1 week after your appointment<br>(by post)</span>
  </div>
</div>



<div class="comparison-wrapper-2">
  <div class="col-0">
    <span class="bold-small">What photos do I need?</span>
  </div>
  <div class="col-11">
    <span class="font-small">2 printed photos</span>
	</div>
  <div class="col-22">
    <span class="font-small"><a href="/priority_service_170731/photoguide-static/photorules/">1 digital photo</a></span>
  </div>
  <div class="col-33">
    <span class="font-small">2 printed photos</span>
  </div>
</div>

<div class="comparison-wrapper-2">
  <div class="col-0">
    <span class="bold-small">How much is an adult passport?</span>
  </div>
  <div class="col-11">
    <span class="font-small">£128</span>
	</div>
  <div class="col-22">
    <span class="font-small">£128</a></span>
  </div>
  <div class="col-33">
    <span class="font-small">£103</span>
  </div>
</div>

<div class="comparison-wrapper-2 choose-buttons">
  <div class="col-0">
    <span class="font-small">&nbsp;</span>
  </div>
  <div class="col-11">
    <h2><a href="https://www.gov.uk/get-a-passport-urgently"><input class="button" type="submit" value="Choose"></h2></a>
	</div>
  <div class="col-22">
		<h2><a href="/priority_service_170731/get-urgent-passport/premium-online"><input class="button" type="submit" value="Choose"></h2></a>
  </div>
  <div class="col-33">
		<h2><a href="https://www.gov.uk/get-a-passport-urgently"><input class="button choose" type="submit" value="Choose"></h2></a>
  </div>
</div>
</div>
<p></p>

<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(window).scroll(function(){
  var sticky = $('.sticky'),
      scroll = $(window).scrollTop();

  if (scroll >= 100) sticky.addClass('fixed');
  else sticky.removeClass('fixed');
});
</script>
-->

{{/main-content}}




{{/ layout}}
