{{< layout}}

{{$pageTitle}}Are you a British Citizen?{{/pageTitle}}

{{$header}}
    <h1>Are you a British Citizen?</h1>
{{/header}}

{{$content}}
    {{< hmpo-partials-form}}
    {{$form}}
        <fieldset class="inline">
            <p class="form-hint" id="dob-hint">Check your nationality on the photo page of your passport.</p>
            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
              Yes
            </label>
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
              No
            </label>
        </fieldset><br/>
        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
