{{< layout}}

{{$pageTitle}}Choose your photo method{{/pageTitle}}

{{$header}}
    <h1>Choose your photo method</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
        {{#radio-group}}choose-photo{{/radio-group}}
        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}

    <!--{{< hmpo-partials-form}}
    {{$form}}
        <p>How would you like to take your photo?</p>
        <fieldset>
            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="do-it-myself">
              Show me how to do it myself
            </label>
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="show-me-how">
              Show me how to get it from a shop
            </label>
        </fieldset><br/>
        <p>or</p>
        <fieldset>
            <label class="block-label" for="radio-inline-3">
              <input id="radio-inline-3" type="radio" name="radio-inline-group" value="already-have">
              I already have a digital photo
            </label>
        </fieldset><br/><br/>
        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}-->
{{/content}}

{{/ layout}}
