{{< layout}}

{{$pageTitle}}Where to sign your passport{{/pageTitle}}

{{$header}}
    <h1>Where to sign your passport</h1>
{{/header}}

{{$content}}

<p>Sign your new passport as soon as you get it. You can’t use it until you do.</p>

<p>Sign on the ‘holder’s signature’ line using a black ballpoint pen.</p>

<div class="grid-row">
	<div class="column-two-thirds">
     <img src="../../public/images/sign-passport-sm.png" alt="where to sign your passport" title="where to sign your passport" width="439">
     <p></p>
	</div>
</div>

<div>

<p>You don’t need to sign your new passport if:</p>

<li>you’re aged 11 or under</li>
<li>you've told HM Passport Office you can’t sign because of a disability</li></p>

<p>Your passport will show ‘the holder is not required to sign’.
</p>

</div>

<p>If you make a mistake signing your passport, <a href="https://www.passport.service.gov.uk/help">contact the Passport Adviceline</a>.</p>
{{/content}}

{{/ layout}}
