{{< layout}}

{{$back}}

{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
            
                <header>
                    <h1>Rules for digital passport photos</h1>
                </header>
                <div class="grid-row">
                    <div class="column-two-thirds">
                      <p>You’ll need a digital photo to renew your passport online. Your application will be delayed if your photo doesn’t meet these rules.</p>
                      <h3>We’ll crop the photo for you</h3>
                      <p>To do this correctly, photos must:</p>
                      <ol class="list-bullet">
                          <li>include your full head, shoulders and upper body</li>
                          <li>have lots of clear space around your head and shoulders</li>
                          <li>be taken against a plain background (for example, light grey or cream)</li>
                          <li>not have any shadows on your face or behind you</li>
                        
                      </ol>
                      <object type="image/jpg" data="/public/images/woman-with-reddish-hair_ex@2x.jpg"type="image/svg+xml" class="svg" tabindex="-1" style="width:206px;padding-left:0px;padding-top:30px">
                          <img src="/public/images/woman-with-reddish-hair_ex@2x.jpg" width="206" height= alt="">
                      </object>
                     
                      <br>
                      <h3>In your photo, you must:</h3>
                      <ol class="list-bullet">
                          <li>be facing forward and looking straight at the camera</li>
                          <li>have a plain expression and your mouth closed</li>
                          <li>have your eyes open and visible</li>
                          <li>not have hair covering your eyes</li>
                          <li>not have any headwear (unless it's for religious or medical reasons)</li>

                          <br>
                          <div class="panel panel-border-narrow">
                          <p>
                            Don’t wear sunglasses or tinted glasses. If you wear reading glasses that you can’t take off, your eyes must be visible without any glare or reflections.
                          </p>
                          </div>

                      </ol>
                      <h3>Photo quality</h3>
                      <p>Photos must be:
                      <ol class="list-bullet">
                          <li>in focus without any shadows</li>
                          <li>in colour without any effects or filters</li>
                          <li>at least 600 pixels wide and 750 pixels tall</li>
                          <li>at least 50KB and no more than 10MB</li>
                      </ol>
                      
                      <h3>Photo dos and dont's</h3>
                        <object type="image/jpg" data="/public/images/photo-dos-and-donts.jpg"type="image/svg+xml" class="svg" tabindex="-1" style="width:100%;padding-left:0px;padding-top:30px">
                          <img src="/public/images/photo-dos-and-donts.jpg" width="" height= alt="">
                      </object>
                      
                    </div>
                    <div class="column-one-thirds">
                      <!--image here-->
                    </div>
                </div>
            
        </div>

{{/main-content}}

{{/ layout}}
