{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Overseas British passport applications{{/pageTitle}}

{{$header}}
    <h1>Overseas British passport applications</h1>
{{/header}}

{{$content}}
  <h2>You can't apply for a British passport from Syria</h2>
  <p>You can apply in a neighbouring country of your choice - pick one from the <a href="">list of countries</a> and follow the application process for that country. </p>
  <p>If you need an emergency travel document to leave Syria, contact the Foreign and Commonwealth Office for further information.</p>
  <p>Foreign and Commonwealth Office</p>
  <p>Email: consularenquiries.damascus@fco.gov.uk</p>
  <p>Telephone: (+44)207 008 1500</p>
  <p><a href="">Find out about call charges</a></p>

{{/content}}

{{/ layout}}
