{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Apply for, renew or replace a UK passport{{/pageTitle}}

{{$header}}
    <h1>Accessing your digital photo</h1>
{{/header}}

{{$content}}
    <p>When you apply for a UK passport online, we can access your digital photo automatically.</p>

    <p>This is only possible for some applications. Before you access your photo, we'll check which type of application you're making.</p>

    <a href="/../prototype_oix_170601/startpage-oix" class="button js-gaevent" role="button" data-gakey="start" data-galabel="or">Continue</a>
   <br/><br/>

{{/ content}}


{{/ layout}}
