
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Choose a date and a passport office</h1>
{{/header}}

{{$main-content}}

<h1>Choose a date and place</h1>

<div class="grid-row">
<div class="column-two-thirds">

<p>You need to collect your passport in person from a <a href="/priority_service_170215/book-appointment/passport-offices">passport office in the UK</a>.</p>
 <p>If you can't find a date and place that works for you, <a href="https://www.gov.uk/get-a-passport-urgently">check the other urgent services</a>.</p>

</div></div>

<p>You can check collection times in: </p>

<p class="font-small"><a href="/priority_service_170215/book-appointment/london-week-1">London</a> &emsp; <a href="/priority_service_170215/book-appointment/peterborough-week-1">Peterborough</a> &emsp; <a href="/priority_service_170215/book-appointment/newport-week-1">Newport</a> &emsp; <a href="#">Liverpool</a> &emsp; <a href="#">Durham</a> &emsp; <a href="#">Glasgow</a> &emsp; <a href="#">Belfast</a></p>

<div class="manage-times">
  <div class="manage-time-next">
<span class="font-small"><a href="/priority_service_170215/book-appointment/book-appointment-2">Later &nbsp; ▶</a> </span>

</div>
<div class="manage-time-previous">
<!-- <span class="font-small muted">Earlier</a></span>-->
</div>
</div>

<div class="book-table">
  <table class="book-table">
  <tbody>
    <tr>
    <td><span class="bold-small">Friday<br> 17 February</span></td>
    <td><span class="bold-small">Saturday<br>  18 February</span></td>
    <td><span class="bold-small">Monday<br>  20 February</span></td>
    <td><span class="bold-small">Tuesday<br>  21 February</span></td>
    <td><span class="bold-small">Wednesday<br>  22 February</span></td>
    <td><span class="bold-small">Thursday<br>  23 February</span></td>
    </tr>
  <tr>
  <td><span class="unavailable">London</br></span></td>
  <td><span class="unavailable">London </br></span></td>
  <td><span class="unavailable">London </br></span></td>
    <td><span class="unavailable">London </br></span></td>
    <td><span class="unavailable">London </br></span></td>
    <td><span class="unavailable">London</br></span></td>

</tr>
<tr>
  <td><span class="unavailable">Peterborough </br></span></td>
  <td><span class="unavailable">Peterborough </br></span></td>
    <td><span class="unavailable">Peterborough </br></span></td>
    <td><span class="city-available"><a href="/priority_service_170215/book-appointment/book-appointment_peterborough_4_feb">Peterborough </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Peterborough </br></span></td>
    <td><span class="unavailable">Peterborough </br></span></td>



</tr>
<tr>
  <td><span class="unavailable">Newport </br></span></td>
  <td><a href="/priority_service_170215/book-appointment/book-appointment_newport_4_feb"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
    <td><a href="#"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Newport </br></span></td>
    <td><span class="unavailable">Newport </br></span></td>
    <td><span class="unavailable">Newport </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></san></td>
      <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">Durham </br></span></td>
  <td><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Durham </br></span></td>
  <td><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Durham </br></span></td>
    <td><span class="unavailable">Durham </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td><span class="unavailable">Glasgow </br></span></td>
    <td><span class="unavailable">Glasgow </br></span></td>
    <td><span class="unavailable">Glasgow </br></span></td>

</tr>
  <tr>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><span class="unavailable">Belfast </br></span></td>
  </tr>
  </tbody>
  </table>
</div>
</div>


{{/main-content}}

{{/ layout}}
