
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Choose a date and a passport office</h1>
{{/header}}

{{$main-content}}

<h1>Choose a date and place</h1>

<div class="grid-row">
<div class="column-two-thirds">

<p>You need to collect your passport in person from a <a href="/priority_service_170301/book-appointment/passport-offices">passport office in the UK</a>.</p>
 <p>If you can't find a date and place that works for you, <a href="https://www.gov.uk/get-a-passport-urgently">check the other urgent services</a>.</p>
</div>
</div>

</div>
</div>


{{/main-content}}

{{/ layout}}
