
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Choose a date and a passport office</h1>
{{/header}}

{{$main-content}}

<div class="responsive-container">
<h1>Choose a date and place</h1>

<div class="grid-row">
<div class="column-two-thirds">

<p>You need to collect your passport in person from a <a href="/priority_service_170301/book-appointment/passport-offices">passport office in the UK</a>.</p>
 <p>If you can't find a date and place that works for you, <a href="https://www.gov.uk/get-a-passport-urgently">check the other urgent services</a>.</p>
</div>
</div>



<p class="font-small">You can check collection times in:</p>
<div class="filter-locations">
<p><a href="/priority_service_170301/book-appointment/london-week-1">London</a> &emsp; <a href="/priority_service_170301/book-appointment/peterborough-week-1">Peterborough</a> &emsp; <a href="/priority_service_170301/book-appointment/newport-week-1">Newport</a> &emsp; <a href="#">Liverpool</a> &emsp; <a href="#">Durham</a> &emsp; <a href="#">Glasgow</a> &emsp; <a href="#">Belfast</a></p>
</div>


<div class="manage-times">
  <div class="manage-time-next">
<span class="font-small"><a href="/priority_service_170301/book-appointment/book-appointment-2">Later <div class="later-arrow"></div></a> </span>
</div>

<!--
<div class="manage-time-previous">
<a href="/priority_service_170301/book-appointment/"><div class="earlier-arrow"></div> Earlier </div></a>
</div>
-->



<div class="book-table-2">

<div class="grid-row">
  <div class="col-third">
    <div class="location-metadata">
    <p>Friday </br> 3 March</p>
  </div>
  </div>

  <div class="col-third">
    <div class="location-metadata">
    <p>Saturday </br> 4 March</p>
  </div>
  </div>

  <div class="col-third">
    <div class="location-metadata">
    <p>Monday </br> 6 March</p>
  </div>
  </div>

</div>

<div class="grid-row">

  <div class="col-third">
    <div class="location-day">
      <p><span class="unavailable">London </br></span></p>
  </div>
  </div>

    <div class="col-third">
      <div class="location-day">
        <p><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></p>
    </div>
    </div>

      <div class="col-third">
        <div class="location-day">
          <p><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></p>
      </div>
      </div>

</div>

<div class="grid-row">

        <div class="col-third">
          <div class="location-day">
            <p><a href="#"><span class="city-available">Peterborough </br><span class="available">Available</span></span></a></p>
        </div>
        </div>

          <div class="col-third">
            <div class="location-day">
              <p><a href="#"><span class="city-available">Peterborough </br><span class="available">Available</span></span></a></p>
          </div>
          </div>

            <div class="col-third">
              <div class="location-day">
                <p><a href="#"><span class="city-available">Peterborough </br><span class="available">Available</span></a></p>
            </div>
            </div>
</div>
<div class="grid-row">

  <div class="col-third">
    <div class="location-day">
      <p><a href="#"><span class="city-available">Newport </br><span class="available">Available</span></a></p>
  </div>
  </div>

    <div class="col-third">
      <div class="location-day">
        <p><a href="#"><span class="city-available">Newport </br><span class="available">Available</span></a></p>
</div>
    </div>

      <div class="col-third">
        <div class="location-day">
          <p><a href="#"><span class="city-available">Newport </br><span class="available">Available</span></a></p>
      </div>
      </div>
</div>


<div class="grid-row">

<div class="col-third">
  <div class="location-day">
    <p><a href="#"><span class="city-available">Liverpool </br><span class="available">Available</span></a></p>
</div>

</div>
  <div class="col-third">
    <div class="location-day">
      <p><a href="#"><span class="city-available">Liverpool </br><span class="available">Available</span></a></p>
</div>
  </div>

    <div class="col-third">
      <div class="location-day">
        <p><a href="#"><span class="city-available">Liverpool </br><span class="available">Available</span></a></p>
    </div>
    </div>
</div>

<div class="grid-row">

    <div class="col-third">
      <div class="location-day">
        <p><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></a></p>
    </div>

    </div>
      <div class="col-third">
        <div class="location-day">
          <p><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></a></p>
    </div>
      </div>

        <div class="col-third">
          <div class="location-day">
            <p><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></a></p>
        </div>
        </div>
</div>

  <div class="grid-row">

        <div class="col-third">
          <div class="location-day">
            <p><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></a></p>
        </div>
        </div>

        <div class="col-third">
          <div class="location-day">
            <p><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></a></p>
        </div>

        </div>
          <div class="col-third">
            <div class="location-day">
              <p><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></a></p>
        </div>
          </div>
        </div>

        <div class="grid-row">

              <div class="col-third">
                <div class="location-day">
                  <p><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></a></p>
              </div>
              </div>

              <div class="col-third">
                <div class="location-day">
                  <p><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></a></p>
              </div>

              </div>
                <div class="col-third">
                  <div class="location-day">
                    <p><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></a></p>
              </div>
                </div>
              </div>

</div>
</div>
</div>


</div>
</div>

</div>
</div>


{{/main-content}}

{{/ layout}}
