{{< layout}}


{{$pageTitle}}Do you have dual nationality?{{/pageTitle}}

{{$header}}
    <h1>Do you have dual nationality?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
      <fieldset class="inline">
       <p>You have dual nationality if you're a British citizen and a citizen of another country. For example, if you have a passport from another country.</p>
        {{#radio-group}}uncancelled{{/radio-group}}
        <!--<div class="panel-indent">
        <div id="which-passport" class="reveal js-hidden" style="margin-top:-25px; margin-bottom:20px">
        <fieldset role="radiogroup" aria-required="upload">
          <legend><span class="form-label-bold">Do you have a passport?</span></legend>
            <label class="block-label" for="choose-photo-myself">
                <input type="radio" id="yes" value="myself" aria-required="upload"{{#selected}}choose-photo=myself{{/selected}}{{#errors.choose-photo}} aria-describedby="{{key}}-error" aria-invalid="upload"{{/errors.choose-photo}}>
                Yes
            </label>
            <label class="block-label" for="choose-photo-shop">
                <input type="radio" name="choose-photo" id="choose-photo-shop" value="shop" aria-required="upload"{{#selected}}choose-photo=shop{{/selected}}{{#errors.choose-photo}} aria-describedby="{{key}}-error" aria-invalid="upload"{{/errors.choose-photo}}>
                No
            </label>
        </fieldset>
      </div>
    </div>-->


<!--        <div id="which-passport" class="reveal js-hidden" style="margin-top:-25px; margin-bottom:20px">
            <div class="panel panel-border-narrow">
              <legend><span class="form-label-bold">Which country is it for?</span></legend>
              <div class="form-date">
                <div id="country-code-group" class="form-group">
                  <label for="country-code" class="visuallyhidden"></label>
                  {{#select}}dual-national-country{{/select}}
                </div>
              </div>
        </div>
        </div>
-->
      <!--  <div id="which-passport" class="reveal js-hidden" style="margin-top:-20px;">
          <div class="panel-indent">
              <fieldset>
                  <legend><h2>Which additional passports do you have?</h2></legend>
                  <div id="contact-prefs-email-group" class="form-group form-group-compound">
                      <label for="contact-prefs-email" class="block-label ">
                          <input type="checkbox" id="contact-prefs-email" name="contact-prefs-email" value="true" aria-required="false">
                              Another British passport
                      </label>
                  </div>
                  <div class="form-group">
                      <label for="contact-prefs-sms" class="block-label">
                          <input type="checkbox" id="contact-prefs-sms" name="contact-prefs-sms" value="true" aria-required="false" data-toggle="contact-sms" aria-controls="contact-sms" aria-expanded="false">
                              Passport from another country
                      </label>
                 </div>
            </fieldset>
          </div>
        </div> -->
      </fieldset>

        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
