{{< layout}}

{{$back}}
<div class="photo-guide">
             <a href="/../prototype_170123/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 8 of 8</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
          <div class="flash-card">
              <header>
                  <h1>Get ready for your photo</h1>
              </header>
              <div class="grid-row">
                  <div class="column-full">
                   <h2>Keep a plain expression</h2>
                    <p>Don’t smile or frown. Keep your eyes open and your mouth closed.</p>
                    <div class="guidance-photos" aria-hidden="true">
                        <ul>
                            <li>
                                <!-- <img src="../../public/images/photoguide/image-f1-plain.jpg" alt=""> -->
                                <img src="../../public/images/photoguide/uncropped-photos/image-f1-plain.jpg" alt="">
                                <div class="result" style="height: 38px;">
                                    <p class="approved">Plain expression</p>
                                </div>
                            </li>
                            <li>
                                <!-- <img src="../../public/images/photoguide/image-f1-smiling.jpg" alt=""> -->
                                <img src="../../public/images/photoguide/uncropped-photos/image-f1-smiling.jpg" alt="">
                                <div class="result" style="height: 38px;">
                                    <p class="failed">Don't smile</p>
                                </div>
                            </li>
                            <li>
                                <!-- <img src="../../public/images/photoguide/image-f1-mouth-open.jpg" alt=""> -->
                                <img src="../../public/images/photoguide/uncropped-photos/image-f1-mouth-open.jpg" alt="">
                                <div class="result" style="height: 38px;">
                                    <p class="failed">Keep your mouth closed</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h2>Take glasses off</h2>
                    <p>If you have to keep glasses on, your eyes must be fully visible.<br>Make sure there is no glare.</p>
                    <div class="guidance-photos" aria-hidden="true">
                        <ul>
                            <div>
                                <li>
                                    <img src="../../public/images/photoguide/uncropped-photos/image-m2-plain.jpg" alt="">
                                    <div class="result" style="height: 57px;">
                                        <p class="approved">Glasses off</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../../public/images/photoguide//uncropped-photos/image-m2-plain-glasses.jpg" alt="">
                                    <div class="result" style="height: 57px;">
                                        <p class="approved">Eyes fully visible</p>
                                    </div>
                                </li>
                            </div>
                            <div>
                                <li>
                                    <img src="../../public/images/photoguide/uncropped-photos/image-m2-glasses-tinted-covering-eyes.jpg" alt="">
                                    <div class="result" style="height: 57px;">
                                        <p class="failed">Don't cover eyes with glasses</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../../public/images/photoguide/uncropped-photos/image-m2-glasses-reflection.jpg" alt="">
                                    <div class="result" style="height: 57px;">
                                        <p class="failed">No glare on glasses</p>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-previous">
                                        <a href="{{backLink}}" style="font-size: 20px">Previous</a>
                                    </li>
                                    <li class="button-guide button-guide-next">
                                        <a href="/../prototype_170123/takephoto" style="font-size: 20px">Take your photo</a>

                                    </li>
                                </ul>
                      </nav>
                  </div>
              </div>
          </div>
        </div>

{{/main-content}}

{{/ layout}}
