{{< layout}}

{{$main-content}}
    <div class="column-full">
        <div class="flash-card">
        <header>
        <h1>Before you continue</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">

              <h2>Applying for someone else</h2>
              <p>If you're applying for someone who is unable to make their own decisions, you need to <a href="https://www.gov.uk/get-a-passport-urgently">apply with Paper Premium</a>.</p>

              <h2>Changes to your face</h2>
              <p>If your face has changed because of an accident or illness such as a stroke, you need to <a href="https://www.gov.uk/get-a-passport-urgently">apply with Fast Track</a>. This doesn't include the normal signs of ageing.</p>

              &nbsp;

              <a href="/priority_service_170731/intro/what-you-need" class="button">Continue</a><br>

            </div>
        </div>

        </div>
    </div>

{{/ main-content}}

{{/ layout}}
