{{< layout}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">
        <header>
          <h1>You need a digital photo</h1>
        </header>
        <div class="grid-row">
            <div class="column-two-thirds">
              <p>You can get a friend to take your digital photo. We'll show you how.</p>
              <p>Or, you can get one from a shop. They'll usually send your digital photo by email.</p>
              <p>You'll upload your digital photo as part of your online application.</p>
              <br>

              <a href="/prototype_170331/intro/choose-photo-method" class="button">Continue</a>

            </div>
            <div class="column-one-third">
              <img src="../../public/images/Photo_methods_2@2x.png" style="height:250px;margin-left:30px;">
            </div>
        </div>
<!--
        <div class="grid-row">
            <div class="column-two-thirds">
              <details>
                    <summary><span class="summary">I have printed passport photos</span></summary>
                    <div class="panel panel-border-narrow">
                        You need to post 2 printed photos with your old passport. They must be taken within the last month.</p>
                      <p>We’ll check your photos. Your application will be delayed if we have to ask for different ones.</p>
                      <p><a href="/../prototype_170331/renew-without-photo">Apply with printed photos</a></p>
                    </div>
                </details>
            </div>
            <div class="column-one-third">
            </div>
        </div>
      -->
    </div>
</div>

{{/main-content}}

{{/ layout}}
