{# Set document list for Applicant's documents #}
{% set documents = [] %}

{% if values['old-blue'] %}
    {% set documents = (documents.push('old passport'), documents) %}
{% endif %}


<!-- OLC PDF 14 -->
{% if values['naturalisation-registration-certificate'] %}
    {% set documents = (documents.push('naturalisation or registration certificate'), documents) %}

<!-- OLC PDF 2 -->
{% elif values['born-before-1983'] %}
    {% set documents = (documents.push('full birth or adoption certificate'), documents) %}

    {% if not values['born-in-uk'] %} <!-- OLC PDF 9 -->
        {% set documents = (documents.push('the passport used to enter the UK'), documents) %}
    {% endif %}

<!-- OLC PDF 7 -->
{% elif values['born-between-1983-and-2006'] and values['born-in-uk'] and (values['parent1-passport-number'] and values['parent2-passport-number']) %}
    {% set documents = (documents.push('full birth or adoption certificate'), documents) %}

<!-- OLC PDF 5 -->
{% elif values['born-between-1983-and-2006'] and (values['parent1-born-before-1983'] and values['parent2-born-before-1983']) %}
    {% set documents = (documents.push('full birth or adoption certificate'), documents) %}

    {% if not values['born-in-uk'] %} <!-- OLC PDF 12 -->
        {% set documents = (documents.push('the passport used to enter the UK'), documents) %}
    {% endif %}

<!-- OLC PDF 3 -->
{% elif values['born-between-1983-and-2006'] and (not values['parent1-born-before-1983'] or not values['parent2-born-before-1983']) %}
    {% set documents = (documents.push('full birth or adoption certificate'), documents) %}

    {% if not values['born-in-uk'] %} <!-- OLC PDF 10 -->
        {% set documents = (documents.push('the passport used to enter the UK'), documents) %}
    {% endif %}

{% endif %}

{% if values['dual-nationality'] %}
    {% set documents = (documents.push('any passports from other countries that haven’t expired'), documents) %}
{% endif %}

{% if values['old-blue'] %}
    {% set documents = (documents.push('old passport'), documents) %}
{% endif %}

<!-- FTC temporary -->
{% if values['applicant-age'] < 16 %}
    {% set documents = (documents.push('full birth or adoption certificate'), documents) %}
    {% if not values['born-in-uk'] %} <!-- OLC PDF 10 -->
        {% set documents = (documents.push('the passport used to enter the UK'), documents) %}
    {% endif %}
{% endif %}


{# Applicant's documents #}
{% if not values['change-name'] %}
    <h2 class="govuk-heading-l">Applicant's documents</h2>
    <h3 class="govuk-heading-m">Send the following:</h3>
    <ul class="list list-bullet">
        {% for item in documents %}
            <li>{{item}}</li>
        {% endfor %}

        {% if documents.length == 0 %}
            <li>old passport</li>
        {% endif %}
        {% include "views/partials/documents/third-party-first-list.njk" %}
    </ul>
    {% include "views/partials/documents/third-party.njk" %}

    <hr>

{% else %}
    {% include "views/partials/documents/change-of-name.njk" %}
{% endif %}

{# Parents' and or Grandparents' documents #}
<!-- OLC PDF 14 -->
{% if values['naturalisation-registration-certificate'] %}

<!-- OLC PDF 2 -->
{% elif values['born-before-1983'] %}
    {% if not values['born-in-uk'] %} <!-- OLC PDF 9 -->
        <h2 class="govuk-heading-l">Parents' documents</h2>
        <h3 class="govuk-heading-m">For your father, send 1 of the following:</h3>
        <ul class="list list-bullet">
            <li>full birth or adoption certificate</li>
            <li>naturalisation or registration certificate</li>
        </ul>
        <h3 class="govuk-heading-m">And you'll also need to send:</h3>
        <ul class="list list-bullet">
            <li>father's marriage or civil partnership certificate to your mother or parent 1</li>
        </ul>

        <hr>

    {% endif %}

<!-- OLC PDF 7 -->
{% elif values['born-between-1983-and-2006'] and values['born-in-uk'] and (values['parent1-passport-number'] and values['parent2-passport-number']) %}
    <h2 class="govuk-heading-l">Parents' documents</h2>
    <h3 class="govuk-heading-m">If claiming British nationality through your father and he was British when you were born, send the following:</h3>
    <ul class="list list-bullet">
        <li>father's marriage or civil partnership certificate to your mother or parent 1</li>
    </ul>
    <h3 class="govuk-heading-m">Or, if claiming British nationality based on 1 of your parents being settled in the UK, send the following:</h3>
    <ul class="list list-bullet">
        <li>for 1 of your parents, the non-British passport they had when you were born showing indefinite leave to remain</li>
        <li>if you're sending your father's passport you'll also need to send their marriage certificate to your mother or parent 1</li>
    </ul>

    <hr>

<!-- OLC PDF 5 -->
{% elif values['born-between-1983-and-2006'] and (values['parent1-born-before-1983'] and values['parent2-born-before-1983']) %}
    <h2 class="govuk-heading-l">Parents' documents</h2>
    <h3 class="govuk-heading-m">For 1 of your parents, send 1 of the following:</h3>
    <ul class="list list-bullet">
        <li>full birth or adoption certificate</li>
        <li>naturalisation or registration certificate</li>
        {% if values['born-in-uk'] %} <!-- OLC PDF 5 -->
            <li>the non-British passport they had when you were born showing indefinite leave to remain</li>
        {% endif %}
    </ul>
    <h3 class="govuk-heading-m">If you're sending your father's certificate or passport you'll also need to send:</h3>
    <ul class="list list-bullet">
        <li>father's marriage or civil partnership certificate to your mother or parent 1</li>
    </ul>

    <hr>

<!-- OLC PDF 3 -->
{% elif values['born-between-1983-and-2006'] and (not values['parent1-born-before-1983'] or not values['parent2-born-before-1983']) %}
    <h2 class="govuk-heading-l">Parents' documents</h2>
    <h3 class="govuk-heading-m">For 1 of your parents, send 1 of the following:</h3>
    <ul class="list list-bullet">
        <li>full birth or adoption certificate</li>
        <li>naturalisation or registration certificate</li>
        {% if values['born-in-uk'] %} <!-- OLC PDF 10 -->
            <li>the non-British passport they had when you were born showing indefinite leave to remain</li>
        {% endif %}
    </ul>
    <h3 class="govuk-heading-m">If you're sending your father's certificate or passport you'll also need to send:</h3>
    <ul class="list list-bullet">
        <li>father's marriage or civil partnership certificate to your mother or parent 1</li>
    </ul>

    <hr>

    <h2 class="govuk-heading-l">Grandparents' documents</h2>
    <h3 class="govuk-heading-m">Send all of the following for both maternal grandparents:</h3>
    <ul class="list list-bullet">
        <li>full birth or adoption certificate</li>
        <li>grandfather's marriage certificate to your grandmother (if this applies)</li>
    </ul>
    <h3 class="govuk-heading-m">And all of the following for both paternal grandparents:</h3>
    <ul class="list list-bullet">
        <li>full birth or adoption certificate</li>
        <li>grandfather's marriage certificate to your grandmother (if this applies)</li>
    </ul>

    <hr>

<!-- OLC PDF 12 -->
{% elif values['born-between-1983-and-2006'] and not values['born-in-uk'] and (values['parent1-born-before-1983'] and values['parent2-born-before-1983']) %}
    <h2 class="govuk-heading-l">Parents' documents</h2>
    <h3 class="govuk-heading-m">For 1 of your parents, send 1 of the following:</h3>
    <ul class="list list-bullet">
        <li>full birth or adoption certificate</li>
        <li>naturalisation or registration certificate</li>
    </ul>

    <hr>

<!-- OLC PDF 10 -->
{% elif values['born-between-1983-and-2006'] and not values['born-in-uk'] and (not values['parent1-born-before-1983'] or not values['parent2-born-before-1983']) %}
    <h2 class="govuk-heading-l">Parents' documents</h2>
    <h3 class="govuk-heading-m">For 1 of your parents, send 1 of the following:</h3>
    <ul class="list list-bullet">
        <li>full birth or adoption certificate</li>
        <li>naturalisation or registration certificate</li>
    </ul>

    <hr>

    <h2 class="govuk-heading-l">Grandparents' documents</h2>
    <h3 class="govuk-heading-m">Send all of the following for both maternal grandparents:</h3>
    <ul class="list list-bullet">
        <li>full birth or adoption certificate</li>
        <li>grandfather's marriage certificate to your grandmother (if this applies)</li>
    </ul>
    <h3 class="govuk-heading-m">And all of the following for both paternal grandparents:</h3>
    <ul class="list list-bullet">
        <li>full birth or adoption certificate</li>
        <li>grandfather's marriage certificate to your grandmother (if this applies)</li>
    </ul>
    
    <hr>

{% endif %}

    <p>If any of the following apply, you'll need to send <a href="./help/additional-documents" target="_blank">additional documents</a>:<p>
    <ul class="list list-bullet">
        <li>include a professional, or other title on your passport</li>
        <li>apply for a British National Overseas (BNO) passport</li>
        <li>apply for a passport under treaty rights</li>
        <li>change your gender on your passport</li>
        <li>get a first UK passport based on your parents’ Crown or Community service</li>
        <li>get a first UK passport if you were born abroad but adopted in the UK before 1 January 1983</li>
        <li>get a first UK passport if you were adopted abroad and you haven't naturalised or registered</li>
        <li>apply for a British Protected Person passport</li>
    </ul>
    <br>
