{% if values['apply-uk'] %}
    <div class="panel panel-border-wide alert-default">
        You must send original documents &ndash; we can't accept photocopies. Your application will be delayed if you don't send everything
        we need.
    </div>
{% else %}
    <div class="panel panel-border-wide alert-default">
        You must send original documents, unless we ask for a photocopy. Your application will be delayed if you don't send everything
        we need.
    </div>
{% endif %}