{% set documents = ['old passport'] %}

{% if values['dual-nationality'] %}
    {% set documents = (documents.push('any passports from other countries that haven\'t expired'), documents) %}
{% endif %}

{% if values['lost-stolen'] == true %}
    {% set documents = (documents.shift(), documents) %} {# Remove `old passport` from array #}
{% endif %}

{% if not values['change-name'] %}

    <h2 class="govuk-heading-l">Applicant's documents</h2>

    {% if values['lost-stolen'] == true and (not values['16-or-older'] and not values['rising-16'] and values['relationship-applicant'] === 'Social Worker') or (values['applicant-age'] >= 18) %}
        {# Show nothing #}
    {% else %}

        <h3 class="govuk-heading-m">Send the following:</h3>
        <ul class="list list-bullet">
            {% for item in documents %}
                <li>{{item}}</li>
            {% endfor %}
            {% include "views/partials/documents/third-party-first-list.njk" %}
        </ul>
    {% endif %}

    {% if values['lost-stolen'] == true %}
        {% include "views/partials/documents/third-party-lost-stolen.njk" %}
    {% else %}
        {% include "views/partials/documents/third-party.njk" %}
    {% endif %}

    <hr>

{% else %}
    {% include "views/partials/documents/change-of-name.njk" %}
{% endif %}

    <p>If any of the following apply, you'll need to send <a href="./help/additional-documents" target="_blank">additional documents</a>:<p>
    <ul class="list list-bullet">
        <li>include a professional, or other title on your passport</li>
        <li>apply for a British National Overseas (BNO) passport</li>
        <li>apply for a British Protected Person passport</li>
        <li>change your gender on your passport</li>
        <li>renew a passport that was issued for 1 year or less</li>
        <li>change British nationality status in your passport to British citizen</li>
    </ul>
    <br>
