{% set documents = ['old passport'] %}

{% if values['dual-nationality'] %}
    {% set documents = (documents.push('any passports from other countries that haven\'t expired'), documents) %}
{% endif %}

{% if not values['change-name'] %}
    <h2 class="govuk-heading-l">Applicant's documents</h2>
    <h3 class="govuk-heading-m">Send the following:</h3>
    <ul class="list list-bullet">
        {% for item in documents %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
    <hr>
{% else %}
    {% include "views/partials/documents/change-of-name-prototype.njk" %}
{% endif %}

    <h2 class="govuk-heading-l">Additional documents</h2>
    <h3 class="govuk-heading-m">You need to send additional documents to:</h3>
    <ul class="list list-bullet">
        <li>include a title on your passport</li>
        <li>renew a British National Overseas (BNO) passport</li>
        <li>apply for a British Protected Person passport</li>
        <li>change your gender on your passport</li>
        <li>renew a passport that was issued for 1 year or less</li>
        <li>change British nationality status in your passport to British citizen</li>
    </ul>
    <p>If this applies to you <a href="/guidance/additional-documents">check the documents you need to send</a></p>
    <br>
