{% if not values['change-name'] %}
    <h2>Applicant's documents</h2>
    <h3>Send the following:</h3>
    <ul class="list-bullet">
        <li>old passport</li>
        {% if values['dual-nationality'] %}
            <li>any passports from other countries</li>
        {% endif %}
    </ul>
    <br>
{% endif %}

{% if values['change-name'] %}
    {% include "views/partials/documents/change-of-name.njk" %}
{% endif %}
