{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>Email sent</h1>
          <p>Sent to <strong>{{values.csig-email}}</strong></p>

    </header>
    <h2>What happens next</h2>
    <p>You&rsquo;ll get an email when your identity has been confirmed. We can then continue with your application.</p>
    <p>If you don&rsquo;t get an update in the next few days, remind the person to confirm your identity.</p>
    <h2>Your application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Email sent to {{values.csig-email}}</td>
            <td>7:30pm on 10 September 2017 </td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>10:05am on 5 September 2017 </td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5 September 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="http://www.gov.uk">Sign out</a><br>


{{/content}}


{{/ layout}}
