{{< layout}}

{{$pageTitle}}Details from your passport{{/pageTitle}}

{{$header}}
    <h1>Details from your passport</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
        <div class="panel panel-border-wide">
          <p>
            If your name has changed, you’ll need to <a href="https://passportapplication.service.gov.uk/ips-olc/">apply in a different way</a>.
          </p>
        </div>
        <div id="age-group" class="form-group">
            <fieldset>
                <legend><span class="form-label-bold">When does your passport expire?</span></legend>
                <div class="form-date">
                  <p class="form-hint" id="dob-hint">For example 01 2004</p>
                    {{#input-text}}age-month{{/input-text}}
                    {{#input-text}}age-year{{/input-text}}
                </div>
            </fieldset>
        </div>

        <fieldset class="inline">
            <legend><span class="form-label-bold">Which is your passport issuing authority?</span></legend>
            <p class="form-hint" id="dob-hint">Check the photo page of your passport.</p>
            {{#radio-group}}issuing-authority{{/radio-group}}
        </fieldset>

        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
