{{< layout}}

{{$pageTitle}}What nationality is shown on your passport?{{/pageTitle}}

{{$header}}
    <h1>What nationality is shown on your passport?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
        <fieldset class="inline">
            <p class="form-hint" id="dob-hint">Check your nationality on the photo page of your passport.</p>
            {{#radio-group}}british-citizen{{/radio-group}}
            <div id="other-citizen" class="reveal js-hidden" style="margin-bottom:20px; margin-top:0px;">
                <div class="panel panel-border-narrow">
                  <p>Please choose one.</p>
                  <select>
                    <option value="empty"></option>
                      <option value="bno">British National overseas</option>
                      <option value="botc">British Overseas Territory Citizen</option>
                      <option value="boc">British Overseas Citizen</option>
                      <option value="bpp">British Protected Person</option>
                      <option value="bs">British Subject</option>
                      <option value="bs2">British Subject (UK & Colonies)</option>
                    </select>
                  </div>
                </div>
            {{#input-submit}}{{/input-submit}}
        </fieldset>
    {{/form}}
    {{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
