{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Use the existing service{{/pageTitle}}

{{$content}}

<header>
  <h1>We've been unable to submit your application</h1>
</header>
<p>We'll check what happened and contact you as soon as we can.</p>

<p>If you don't hear from us within 2 working days, or you've applied to get your passport urgently, you can <a href="https://www.passport.service.gov.uk/help">contact us</a>.</p>

<p>Your payment reference is IE20331.</p>

{{/ content}}

{{/ layout}}
