{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
    <br>
    <div class="panel panel-border-wide alert-success">
      <h2>Email sent</h2>
      <p>We've sent details to {{values.csig-email}}</p>
    </div>
    <!-- <header class="update-notice">
          <h1>Email sent</h1>
    </header> -->
    <p>The person you've asked needs to go online to look at a photo and answer a few questions.</p>
    {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}


{{/ layout-csig}}
