{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$main-content}}
{{< hmpo-partials-form}}
    {{$form}}
<div class="column-full">
  <div class="flash-card">
    <header>
      <h1>How to confirm someone's identity</h1>
    </header>
  <div class="grid-row">
      <div class="column-two-thirds">
        <ul>
          <li>
            <span class="circle circle-step">1</span><h2>Decide who can do this</h2>
              <p style="margin-left:32px;">You need to ask someone you've known personally for at least
                2 years, for example as a friend, neighbour or colleague. They must:</p>
              <ul class="list-bullet" style="margin-left:32px;">
                <li>be 18 or older</li>
                <li>and live in the UK</li>
                <li>and have a current UK passport</li>
                <li>and work in or be retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories" target="_blank">recognised profession</a></li>
              </ul>
          </li>

          <li>
            <span class="circle circle-step">2</span><h2>Contact the person</h2>
            <p style="margin-left:32px;">You must contact the person before we send them an email with details. You need to tell them:</p>
            <ul class="list-bullet" style="margin-left:32px;">
              <li>your date of birth, including the year</li>
              <li>your current address</li>
            </ul>
          </li>
          <!-- TODO: add logic to display this for child csig
          <li>
            <span class="circle circle-step">2</span><h2>Contact the person</h2>
            <p style="margin-left:32px;">You must contact the person before we send them an email with details. You need to tell them:</p>
            <ul class="list-bullet" style="margin-left:32px;">
              <li>the applicant's date of birth and place of birth</li>
              <li>the parents' names and year of birth</li>
            </ul>
          </li>
          -->
          <li>
            <span class="circle circle-step">3</span><h2>Enter their name and email</h2>
            <p style="margin-left:32px;">We'll send them an email with a link to go online. They'll need to enter their UK passport details, look at a photo and answer a few questions.</p>
          </li>
          <br>
        </ul>
        {{#input-submit}}{{/input-submit}}
        <p><a href="http://www.gov.uk">I'll do this later (sign out)</a></p>
        </br>
      </div>
      <!-- passport image -->
      <!-- <div class="column-one-third">
        <object type="image/svg+xml" data="../../public/images/passport_open_final.svg"type="image/svg+xml" class="svg" tabindex="-1" style="padding-top:30px">
            <img src="../../public/images/passport_open_final.png" width="206" height="215" alt="">
        </object>
      </div> -->
    </div>
  </div>
</div>

{{/form}}
{{/ hmpo-partials-form}}
{{/main-content}}


{{/ layout-csig}}
