{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
    <header class="update-notice update-notice--grey">
      <h1>Waiting for your identity<br> to be confirmed</h1>
      Email sent to {{values.csig-email}}
    </header>
    <h2>What happens next</h2>
    <p>If you don’t get an update in the next few days, remind the person confirming your identity.</p>
    <p>If you need to, you can <a href="/csig/user-contact/" id="someone-else">ask someone else to do this</a>.</p>
    <hr>
    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Email sent to someone to confirm identity</td>
            <td>5:30pm on 01 March 2018</td>
          </tr>
          <tr>
            <td>Person not eligible</td>
            <td>7:30pm on 27 February 2018</td>
          </tr>
          <tr>
            <td>Email sent to someone to confirm identity</td>
            <td>2:30pm on 25 February 2018</td>
          </tr>
          <tr>
              <td>Ask someone to confirm your identity</td>
              <td>10:05am on 21 February 2018</td>
            </tr>
          <tr>
            <td>Application received</td>
            <td>10:05am on 19 February 2018</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 19 February 2018</td>
          </tr>
        </tbody>
      </table>
      <br>
      <a href="/csig">Sign out</a>
      {{/form}}
      {{/ hmpo-partials-form}}

{{/content}}


{{/ layout}}
