{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
    <header class="update-notice">
          <h1>Email sent</h1>
          <p>Sent to <strong>{{values.csig-email}}</strong></p>
    </header>
    <h2>What happens next</h2>
    <p>You&rsquo;ll get an email when your identity has been confirmed. If you don&rsquo;t get an update in the next few days, remind the person confirming your identity.</p>

      <a class="button" href="/csig/user/need-csig-complete">Continue</a><br>
      {{/form}}
      {{/ hmpo-partials-form}}

{{/content}}


{{/ layout}}
