{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Waiting for identity to be confirmed</h1>
        <p>Email sent to {{values.csig-email}}</p>
      </header>
      <h2>What happens next</h2>
      <p>If you don’t get an update in the next few days, remind the person doing this for you or  <a href="/csig/user-contact/" id="someone-else">ask someone else</a>. You can only ask one person at a time.</p>
      <hr>
      <h2>Application history</h2>
      <article>
      <table>
          <tbody>
            {{#nunjucks}}
              {% if values['renominate'] == 'anytime' %}
              <tr>
                <td>Email sent to person confirming identity</td>
                <td>2:42pm on 25 July 2018</td>
              </tr>
              {% endif %}
            {{/nunjucks}}
            <tr>
              <td>Email sent to person confirming identity</td>
              <td>2:30pm on 25 July 2018</td>
            </tr>
            <tr>
              <td>Ask someone to confirm identity</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>
      <input type="hidden" name="renominate" id="renominate" value="anytime">
      <input type="submit" value="Continue" id="submit-hidden" class="button visuallyhidden">
    {{/form}}
{{/ hmpo-partials-form}}
<script>
  $("#someone-else").click(function(e){
    e.preventDefault();
    $("#submit-hidden").click();
  })
</script>
{{/content}}
{{$sidebar}}
  {{> partials-csig-sidebar}}
{{/sidebar}}


{{/ layout-csig}}
