{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>Email sent</h1>
          <p>Sent to <strong>{{values.csig-email}}</strong></p>
    </header>
    <h2>What happens next</h2>
    <p>You&rsquo;ll get an email when your identity has been confirmed. If you don&rsquo;t get an update in the next few days, remind the person confirming your identity.</p>


    <!-- <h2>Remember to send back your old passport</h2>
    <p>HM Passport Office<br/>
       Ref: PEX 319 825 680X<br/>
       Aragon Court<br/>
       Northminster Road<br/>
       Peterborough<br/>
       PE1 1QG
    </p>
    <p>You don’t need to include a covering letter. It’s up to you whether you use standard post or a secure service.</p> -->

    <h2>Your application history</h2>
    <article>
      <table>
         <tbody>
           <tr>
             <td>Email sent to the person confirming your identity</td>
             <td>2:30pm on 6 February 2018  </td>
           </tr>
           <tr>
             <td>Application received</td>
             <td>10:05am on 5 February 2018</td>
           </tr>
           <tr>
             <td>Application submitted</td>
             <td>10:03am on 5 February 2018</td>
           </tr>
         </tbody>
       </table>
    </article>
      <br/>
      <a href="http://www.gov.uk">Sign out</a><br>


{{/content}}


{{/ layout}}
