{{< layout}}

{{$pageTitle}}Check your photo and submit{{/pageTitle}}

{{$header}}
    <h1>Photo error</h1>
{{/header}}

{{$content}}
<p> This photo has failed our automated checks for the following reasons: 

 <div class="panel panel-photo-result panel-photo-error">
                            <h2 class="bold-medium">Sorry, we can’t crop this photo</h2>
                            <p>We’re having problems uploading your photo. Please try again or upload another one.</p>
                        </div>
        


                        <!--<div class="panel panel-photo-result panel-photo-error">
                            <h2 class="bold-medium">It looks like you’re not facing the camera</h2>
                            <p>If you tilt your head it may appear you’re not facing the camera.</p>
                            <p>You can still submit your photo if you believe it should be accepted (eg there’s a medical reason why you can’t face the camera).</p>
                        </div>-->

<div class="form-group">
                <a href="../intro/choose-photo-method" class="button" role="button">Get another photo</a>
            </div>

  

<!-- END OF TOGGLE -->

           


{{/content}}

{{/ layout}}
