{{< layout}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Check your answers{{/pageTitle}}


{{$header}}
    <h1 class="heading-large">Confirm your answers</h1>
{{/header}}
{{$content}}
<p>It looks like you're not eligible to do this for this applicant. Please confirm your answers.</p>

<img src="../../public/images/photoguide/csig-confirm.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
<br>
<br>
<div class="confirmation">
  <div class="section old-passport-details">
      <dl class="passport-number">
          <dt class="column-half">Do you know the applicant personally, for example as a friend, neighbour or colleague?</dt>
          <dd class="column-half">
            <p>{{values.applicant-check-friend}}</p>
            <div class="button-wrapper">
                <a href="/csig/referee/confirm-applicant">Change<span class="visuallyhidden"> passport number</span></a>
            </div>
          </dd>
      </dl>
      <dl class="expiry-date">
          <dt class="column-half">Are you related to, in a relationship with or living at the same address
    as the applicant?</dt>
          <dd class="column-half">
            <p>{{values.applicant-check-address}}</p>
            <div class="button-wrapper">
                <a href="/csig/referee/confirm-applicant">Change<span class="visuallyhidden"> expiry date</span></a>
            </div>
          </dd>
      </dl>
      <dl class="expiry-date">
          <dt class="column-half">How do you know the applicant?</dt>
          <dd class="column-half">
            <p>{{values.relationship}}</p>
            <div class="button-wrapper">
                <a href="/csig/referee/confirm-applicant">Change<span class="visuallyhidden"> expiry date</span></a>
            </div>
          </dd>
      </dl>
      <dl class="passport-number">
          <dt class="column-half"> How many years have you known the applicant?</dt>
          <dd class="column-half">
            <p>{{values.knowntime}}</p>
            <div class="button-wrapper">
                <a href="/csig/referee/confirm-applicant">Change<span class="visuallyhidden"> first and middle names</span></a>
            </div>
          </dd>
      </dl>
  </div>
</div>
<a href="/csig/referee/exceptions" class="button">Continue</a>

{{/content}}

{{/ layout}}
