{{< layout}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Check your answers{{/pageTitle}}


{{$header}}
    <h1 class="heading-large">Confirm your answers</h1>
{{/header}}
{{$content}}
<p>It looks like you're not eligible to do this for Susan. Please confirm your answers.</p>

<img src="../../public/images/photoguide/csig-confirm.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
<br>
<br>
<div class="confirmation">
  <div class="section old-passport-details">
      <dl class="passport-number">
          <dt class="column-two-thirds column-long">Is this Susan's address?
            <p>35 Vanguard House<br>
              10 Martello Street<br>
              London<br>
              SE12 5DR<br>
            </p>
          </dt>
          <dd class="column-one-third">
            <p>{{values.applicant-check-home-address}}</p>
            <div class="button-wrapper">
                <a href="/csig/referee/confirm-applicant-address">Change<span class="visuallyhidden"> passport number</span></a>
            </div>
          </dd>
      </dl>
      <dl class="expiry-date">
          <dt class="column-two-thirds column-long">Are these Susan's previous names?
            <p>
              Susan Merchant<br>
              Susan Parker
          </p>
          </dt>
          <dd class="column-one-third">
            <p>{{values.applicant-check-names}}</p>
            <div class="button-wrapper">
                <a href="/csig/referee/confirm-applicant-address">Change<span class="visuallyhidden"> expiry date</span></a>
            </div>
          </dd>
      </dl>
      <a href="/csig/referee/exceptions" class="button">Continue</a>
  </div>

</div>


{{/content}}

{{/ layout}}
