{{< layout-csig}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Check your answers{{/pageTitle}}


{{$header}}
    <h1 class="heading-large">Confirm your answer</h1>
{{/header}}

{{$content}}
<p>It looks like you haven't been able to confirm Susan's identity. Please confirm your answer.</p>
<img src="../../public/images/photoguide/csig-confirm.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
<br>
<br>
<dl class="govuk-check-your-answers cya-questions-long">
  <div>
    <dt class="cya-question">
      Is this Susan Howard?
    </dt>
    <dd class="cya-answer">
      No
    </dd>
    <dd class="cya-change">
      <a href="/csig/referee/confirm-applicant">
        Change<span class="visually-hidden"> passport number</span>
      </a>
    </dd>
  </div>
</dl>
<p></p>
<a href="/csig/referee/exceptions-not-applicant" class="button">Continue</a>

{{/content}}

{{/ layout-csig}}
