{{< layout-referee}}


{{$pageTitle}}Confirm applicant{{/pageTitle}}


{{$header}}
  <h1>What's wrong with this photo?</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
    {{$form}}
    <div class="grid-row">
      <div class="column-one-third">
       {{#values.csig-child}}
          <img src="../../public/images/photo/result/thumbnail-child-age-0-5-pass.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
        {{/values.csig-child}}
        {{^values.csig-child}}
          <img src="../../public/images/photo/result/thumbnail-adult-pass.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
        {{/values.csig-child}}
      </div>
    </div>
    <br>
    <div class="form-group">
      <label class="form-label" for="">Describe the problem</label>
      {{#textarea}}describe-photo{{/textarea}}


    <p>We'll look into this &ndash; please continue.</p>
    </div>

    {{#input-submit}}{{/input-submit}}

    {{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout-referee}}
