{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}parents details{{/pageTitle}}


{{$header}}
  <h1>Patrick Michael Smith's parents</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
      <h2>Mother or parent 1</h2>
      <label class="form-label" for="">Is Suzanne Smith their mother?</label>
      {{#radio-group}}child-mother{{/radio-group}}

      <label class="form-label" for="">Was Suzanne Smith born in 1982?</label>
      {{#radio-group}}child-mother-year-of-birth{{/radio-group}}
      <h2>Father or parent 2</h2>
      <label class="form-label" for="">Is Michael Smith their father?</label>
      {{#radio-group}}child-father{{/radio-group}}

      <label class="form-label" for="">Was Suzanne Smith born in 1982?</label>
      {{#radio-group}}child-father-year-of-birth{{/radio-group}}

      <!-- <label class="form-label-bold" for="">Declaration name</label>
      {{#radio-group}}child-declaration-name{{/radio-group}} -->

      {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
