{{< layout-referee}}


{{$pageTitle}}Patrick Michael Smith's parents{{/pageTitle}}


{{$header}}
  <h1>Patrick Michael Smith's parents</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
    <p>We need to check the applicant is eligible for a UK passport. Answer to the best of your knowledge.</p>
    
    <h2>Mother or parent 1</h2>
    <div class="confirmation">
      <div class="section" style="margin-bottom: 10px">
        <dl class="expiry-date">
            <dt class="column-half">First and middle names</dt>
            <dd class="column-half">
              <p>Suzanne Angela </p>
            </dd>
        </dl>
        <dl class="expiry-date">
            <dt class="column-half">Last name</dt>
            <dd class="column-half">
              <p>Not provided</p>
            </dd>
        </dl>
        <dl class="expiry-date">
            <dt class="column-half">Year of birth</dt>
            <dd class="column-half">
              <p>1982</p>
            </dd>
        </dl>
      </div>
    </div>
    <label class="form-label" for="">Can you confirm the details provided are correct?</label>
    {{#radio-group}}child-mother{{/radio-group}}

    <!-- <br>
    <h2>Father or parent 2</h2>
    <p>Details not provided.</p>
    <br> -->
    <br>
    <h2>Father or parent 2</h2>
    <div class="confirmation">
      <div class="section" style="margin-bottom: 10px">
        <dl class="">
            <dd class="column-half">
              <p>Details not provided</p>
            </dd>
        </dl>
      </div>
    </div>
    <br>

      {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout-referee}}
