{{< layout-referee}}


{{$pageTitle}}About the person making this application{{/pageTitle}}


{{$header}}
  <h1>About the person making this application</h1>
{{/header}}

{{$content}}
<style>
.confirmation dl dd p { padding: 0 }
</style>
<p>This is a passport application on behalf of Patrick Michael Smith.</p>
<p>These details were provided by the person making the application. Answer to the best of your knowledge.</p>
<div class="confirmation">
  <div class="section old-passport-details">
    <dl>
        <dt class="column-half">Person making this application</dt>
        <dd class="column-half">
          <p>Suzanne Angela Smith</p>
        </dd>
    </dl>
    <dl>
        <dt class="column-half">Relationship to applicant</dt>
        <dd class="column-half">
          <p>Mother</p>
        </dd>
    </dl>
    <dl>
        <dt class="column-half">Responsible for applicant</dt>
        <dd class="column-half">
          <p>Yes</p>
        </dd>
    </dl>
  </div>
</div>
<details>
  <summary><span class="summary">What do we mean by 'responsible'?</span></summary>
    <div class="panel panel-border-narrow">
      <p>If this person is responsible, they must protect, maintain and provide a home for the applicant.</p>
    </div>
  </details>

 <h2>Can you confirm these details are correct?</h2>
{{< hmpo-partials-form}}
    {{$form}}
      {{#radio-group}}child-relationship{{/radio-group}}


      {{#input-submit}}{{/input-submit}}

    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout-referee}}
