{{< layout-csig}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Details submitted{{/pageTitle}}

{{$header}}
{{/header}}

{{$content}}
<style>
#back { display: none }
</style>
<header class="update-notice">
      <h1>Details submitted</h1>
<!-- if we need some extra info?      <p>Your passport application is on hold. You look very different in your old and new photos, so you need to get a countersignature. </p> -->
</header>

<p>We'll let the applicant know that you've completed this. You don't need to sign a printed photo.</p>

<p>Thank you.</p>
<a href="http://www.gov.uk" class="button">Done</a><br>

{{/content}}


{{/ layout-csig}}
