{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Confirm applicant{{/pageTitle}}


{{$header}}
  <h1>About Susan Howard</h1>
{{/header}}

{{$content}}
<style>
.form-group .form-date {
  width: 70px;
}
</style>

{{< hmpo-partials-form}}
    {{$form}}
      <div class="grid-row">
        <div class="column-one-third">


          <img src="../../public/images/photoguide/csig-confirm.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
        </div>
      </div>
<br>
      <label class="form-label" for="">Is this Susan Howard?</label>

      {{#radio-group}}applicant-check{{/radio-group}}

      <label class="form-label" for="">Do you know Susan personally, for example as a friend, neighbour or colleague?</label>
      {{#radio-group}}applicant-check-friend{{/radio-group}}

      <label class="form-label" for="">Are you related to, in a relationship with or living at the same address <br>as Susan?</label>
      {{#radio-group}}applicant-check-address{{/radio-group}}

      <div class="form-group form-date">
        <label class="form-label" for="">How many years have you known Susan?</label>
        {{#input-text}}knowntime{{/input-text}}
      </div>

      {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
