{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Confirm applicant's address{{/pageTitle}}


{{$header}}
  {{#values.csig-child}}
    <h1>Is this Suzanne Smith's address?</h1>
  {{/values.csig-child}}
  {{^values.csig-child}}
    <h1>Is this the applicant's address?</h1>
  {{/values.csig-child}}
{{/header}}



{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

      <p>35 Vanguard House<br>
        10 Martello Street<br>
        London<br>
        SE12 5DR<br>
      </p>

      <p>If you don't know the full address, answer to the best of your knowledge.</p>

      {{#radio-group}}applicant-check-home-address{{/radio-group}}
      <!-- <h2>Are these Susan's previous names?</h2>
      <ul>
        <li>Susan Merchant</li>
        <li>Susan Parker</li>
      </ul>
      <br>
      {{#radio-group}}applicant-check-names{{/radio-group}} -->

      {{#input-submit}}{{/input-submit}}

    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
