{{< layout-referee}}


{{$pageTitle}}Confirm these details{{/pageTitle}}


{{$header}}
  <h1>Confirm these details</h1>
{{/header}}

{{$content}}
<style>
.confirmation dl dd p { padding: 0 }
</style>
<p>This is an application on behalf of Patrick Michael Smith. We need to confirm the person applying has parental responsibility.</p>
<div class="confirmation">
  <div class="section old-passport-details">
    <dl class="expiry-date">
        <dt class="column-half">Person making this application</dt>
        <dd class="column-half">
          <p>Suzanne Angela Smith</p>
        </dd>
    </dl>

    <dl class="expiry-date">
        <dt class="column-half">Relationship to applicant</dt>
        <dd class="column-half">
          <p>Mother</p>
        </dd>
    </dl>
  </div>
</div>
<!-- <p>Suzanne Michaela Smith is applying on behalf of Michael Patrick Smith.</p>
 -->

 <h2>Are these details correct?</h2>
{{< hmpo-partials-form}}
    {{$form}}
      {{#radio-group}}child-relationship{{/radio-group}}


      {{#input-submit}}{{/input-submit}}

    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout-referee}}
