{{< layout-referee}}

{{$pageTitle}}Confirm applicant's address{{/pageTitle}}


{{$header}}
    <h1>Is this the applicant's address?</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
      {{#values.csig-child}}
        <p>We need to check the child has links to this address.</p>
      {{/values.csig-child}}
      <p>35 Vanguard House<br>
        10 Martello Street<br>
        London<br>
        NW1 5RD<br>
      </p>

      <p>If you don't know the full address, answer to the best of your knowledge.</p>

      {{#radio-group}}applicant-check-home-address{{/radio-group}}
    
      {{#input-submit}}{{/input-submit}}

    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout-referee}}
