{{< layout-referee}}

  

  {{$pageTitle}}You can’t confirm the applicant’s identity online{{/pageTitle}}

  {{$header}}
    <h1>You can’t confirm the applicant’s identity online</h1>
  {{/header}}

  {{$content}}
<p>We couldn’t confirm who you are using our online check. Sometimes this happens even if you've entered all your details correctly.</p>
<p>We’ll contact the applicant. They can either ask someone else or give you a paper form instead.</p>

    <a href="/" class="button">Done</a>

  {{/content}}

{{/ layout-referee}}
