{{< layout-referee}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Your details don't match our records{{/pageTitle}}


{{$header}}
    <h1 class="heading-large">Check your details</h1>
{{/header}}

{{$content}}
<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
  <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
    Your details don't match our records.
  </h2>
  <p>
    Check what you've entered and try again.<br>
    You can try 3 more times.
  </p>
</div>
<div class="confirmation">
  <div class="section old-passport-details">
      <dl class="passport-number">
          <dt class="column-one-third">Passport number</dt>
          <dd class="column-two-thirds">
            <p>{{values.passport-number}}</p>
          </dd>
      </dl>
      <dl class="expiry-date">
          <dt class="column-one-third">Expiry date</dt>
          <dd class="column-two-thirds">
            <p>
              {{values.expiry-day}}&nbsp;December&nbsp;2017
            </p>
          </dd>
      </dl>
      <dl class="passport-number">
          <dt class="column-one-third">Date of birth</dt>
          <dd class="column-two-thirds">
            <p>
              {{values.age-day}}&nbsp;July&nbsp;{{values.age-year}}
            </p>
          </dd>
      </dl>
      <dl class="passport-number">
          <dt class="column-one-third">First name</dt>
          <dd class="column-two-thirds">
            <p>{{values.name}}</p>
          </dd>
      </dl>
      {{#values.middlename}}
        <dl class="passport-number">
            <dt class="column-one-third">Middle names</dt>
            <dd class="column-two-thirds">
              <p>{{values.middlename}}</p>
            </dd>
        </dl>
      {{/values.middlename}}
      <dl class="expiry-date">
          <dt class="column-one-third">Last name</dt>
          <dd class="column-two-thirds">
            <p>{{values.lastname}}</p>
          </dd>
      </dl>
      <dl class="passport-number">
          <dt class="column-one-third">Current address</dt>
          <dd class="column-two-thirds">
            <p>104 Loughborough Road<br>Nottingham<br>{{values.address-postcode}}
          </dd>
      </dl>
  </div>
</div>
<a href="/csig/referee" class="button">Try again</a>

{{/content}}

{{/ layout-referee}}
