{{< layout}}

  {{$propositionHeader}}{{/propositionHeader}}

  {{$pageTitle}}Confirming someone's identity{{/pageTitle}}

  {{$header}}
    <h1>What happens next</h1>
  {{/header}}

  {{$content}}
    {{#values.csig-child}}
      <p>Content for child csig</p>
    {{/values.csig-child}}
    {{^values.csig-child}}
      <p>We're going to show you a photo of the applicant. We'll also ask you a few questions to check that you know them personally.</p>
    {{/values.csig-child}}

    <a href="confirm-applicant" class="button">Continue</a>

  {{/content}}

{{/ layout}}
