{{< layout-referee}}

{{$pageTitle}}Check your details and try again{{/pageTitle}}


{{$header}}
    <h1 class="heading-large">Check your details and try again</h1>
{{/header}}

{{$content}}
    <p>We haven’t been able to confirm who you are. This is because either:</p>
    <ul class="list-bullet">
      <li>you entered incorrect details</li>
      <li>the details were correct but our online checks couldn’t confirm them</li>
    </ul>
    <p>Check the details you entered and try again. You can try again 2 more times.</p>
<div class="confirmation">
  <div class="section old-passport-details">
      <dl class="passport-number">
          <dt class="column-one-third">Passport number</dt>
          <dd class="column-two-thirds">
            <p>{{values.passport-number}}</p>
          </dd>
      </dl>
      <dl class="expiry-date">
          <dt class="column-one-third">Expiry date</dt>
          <dd class="column-two-thirds">
            <p>
              {{values.expiry-day}}&nbsp;December&nbsp;2017
            </p>
          </dd>
      </dl>
      <dl class="passport-number">
          <dt class="column-one-third">Date of birth</dt>
          <dd class="column-two-thirds">
            <p>
              {{values.age-day}}&nbsp;July&nbsp;{{values.age-year}}
            </p>
          </dd>
      </dl>
      <dl class="passport-number">
          <dt class="column-one-third">First name</dt>
          <dd class="column-two-thirds">
            <p>{{values.name}}</p>
          </dd>
      </dl>
      {{#values.middlename}}
        <dl class="passport-number">
            <dt class="column-one-third">Middle names</dt>
            <dd class="column-two-thirds">
              <p>{{values.middlename}}</p>
            </dd>
        </dl>
      {{/values.middlename}}
      <dl class="expiry-date">
          <dt class="column-one-third">Last name</dt>
          <dd class="column-two-thirds">
            <p>{{values.lastname}}</p>
          </dd>
      </dl>
      <dl class="passport-number">
          <dt class="column-one-third">Current address</dt>
          <dd class="column-two-thirds">
            <p>104 Loughborough Road<br>Nottingham<br>{{values.address-postcode}}
          </dd>
      </dl>
  </div>
</div>
<a href="/csig/referee" class="button">Try again</a>

{{/content}}

{{/ layout-referee}}
