{{< layout-referee}}


  {{$pageTitle}}Confirming someone's identity{{/pageTitle}}

  {{$header}}
    <h1>What happens next</h1>
  {{/header}}

  {{$content}}
  {{< hmpo-partials-form}}
      {{$form}}
      <p>We'll ask you a few questions to check you know the person making this application. We'll also show you a passport photo.</p>

      <p>If any details are incorrect, please continue. It's easier for us to resolve issues if you've answered all of the questions.</p>




    {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}

  {{/content}}

{{/ layout-referee}}
