{{< layout-referee}}


{{$pageTitle}}Your contact details{{/pageTitle}}


{{$header}}
    <h1>Your contact details</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

    <p>We’ll only contact you if we need to check any details.</p>
    <div class="form-group">
        <label for="employer" class="form-label-bold">
            Email
        </label>
        <span>
            <input type="text" id="email-address" class="form-control" name="email-address" value="{{values.csig-email}}">
        </span>
    </div>
    <div id="employer-group" class="form-group">
        <label for="employer" class="form-label-bold">
            Phone number
        </label>
        <span>
            <input type="text" id="phone-number" class="form-control" name="phone-number" value="">
        </span>
    </div>


            {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}



{{/content}}

{{/ layout-referee}}
