{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Declaration{{/pageTitle}}

{{$header}}
    <h1>Declaration</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

      </ul>
      <div class="panel-important">
                <p>You could be prosecuted if you deliberately give untrue or misleading information.</p>
      </div>
      <p>By continuing you confirm that the information you've given is correct.</p>
      <fieldset>
          <legend class="visuallyhidden">You must agree in order to continue.</legend>
          <div id="contact-prefs-email-group" class="form-group form-group-compound">
              <label for="contact-prefs-email" class="block-label ">
                  <input type="checkbox" id="contact-prefs-email" name="contact-prefs-email" value="true" aria-required="false" required="true">
                      I agree
              </label>
          </div>
    </fieldset>
    <br>
    <a href='confirmation' class="button">Submit</a>
    <br/><br/>
   <!-- <a href="confirmation" class="button">Submit</a><br/><br/>-->
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
