{{< layout}}

{{$pageTitle}}Home address{{/pageTitle}}

{{$header}}
    <h1>Enter home address</h1>
{{/header}}

{{$content}}

<fieldset>

  <div id="address-town-group" class="form-group">
    <label for="address-town" class="form-label">
        House name
    </label>
    <input type="text" name="address-town" id="address-town" class="form-control" aria-required="true" maxlength="30">
  </div>
  <div id="address-postcode-group" class="form-group">
    <label for="address-postcode" class="form-label">
        House number
    </label>
    <input type="text" name="address-postcode" class="form-control input-code" aria-required="true">
  </div>
  <div id="address-town-group" class="form-group">
    <label for="address-town" class="form-label">
        Flat number or name
    </label>
    <input type="text" name="address-town" id="address-town" class="form-control" aria-required="true" maxlength="30">
  </div>
  <div id="address-line-1-group" class="form-group ">
    <label for="address-line-1" class="form-label">
        Street
    </label>
    <input type="text" name="address-line-1" id="address-line-1" class="form-control form-control-3-4" aria-required="true" maxlength="40">
  </div>
  <div id="address-line-1-group" class="form-group ">
    <label for="address-line-1" class="form-label">
        District
    </label>
    <input type="text" name="address-line-1" id="address-line-1" class="form-control form-control-3-4" aria-required="true" maxlength="40">
  </div>
  <div id="address-line-1-group" class="form-group ">
    <label for="address-line-1" class="form-label">
        Town
    </label>
    <input type="text" name="address-line-1" id="address-line-1" class="form-control form-control-3-4" aria-required="true" maxlength="40">
  </div>
  <!-- <div id="address-line-2-group" class="form-group">
    <input type="text" name="address-line-2" id="address-line-2" class="form-control form-control-3-4" aria-required="false" maxlength="40">
  </div> -->
  <div id="address-town-group" class="form-group">
    <label for="address-town" class="form-label">
      County
    </label>
    <input type="text" name="address-town" id="address-town" class="form-control" aria-required="true" maxlength="30">
  </div>
  <div id="address-postcode-group" class="form-group">
    <label for="address-postcode" class="form-label">
        Postcode
    </label>
    <input type="text" name="address-postcode" id="address-postcode" class="form-control input-code" aria-required="true" value="SE1 7XH">
  </div>
</fieldset>

<a href="./contact-details" class="button">Continue</a>

</div>

{{/content}}


{{/ layout}}
