{{< layout-referee}}

{{$pageTitle}}Home address{{/pageTitle}}

{{$header}}
    <h1>Enter home address</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
    <fieldset>
      <div id="address-town-group" class="form-group">
        <label for="address-town" class="form-label-bold">
            Flat number or name
        </label>
        <input type="text" name="address-town" id="address-town" class="form-control" aria-required="true" maxlength="30">
      </div>
      <div id="address-town-group" class="form-group">
        <label for="address-town" class="form-label-bold">
            House or building name
        </label>
        <input type="text" name="address-town" id="address-town" class="form-control" aria-required="true" maxlength="30">
      </div>
      <div id="address-postcode-group" class="form-group">
        <label for="address-postcode" class="form-label-bold">
            House or building number
        </label>
        <input type="text" name="address-postcode" class="form-control input-code" aria-required="true">
      </div>

      <div id="address-line-1-group" class="form-group ">
        <label for="address-line-1" class="form-label-bold">
            Street
        </label>
        <input type="text" name="address-line-1" id="address-line-1" class="form-control form-control-3-4" aria-required="true" maxlength="40">
      </div>
      <div id="address-line-1-group" class="form-group ">
        <label for="address-line-1" class="form-label-bold">
            District
        </label>
        <input type="text" name="address-line-1" id="address-line-1" class="form-control form-control-3-4" aria-required="true" maxlength="40">
      </div>
      <div id="address-line-1-group" class="form-group ">
        <label for="address-line-1" class="form-label-bold">
            Town or city
        </label>
        <input type="text" name="address-line-1" id="address-line-1" class="form-control form-control-3-4" aria-required="true" maxlength="40">
      </div>
      <!-- <div id="address-line-2-group" class="form-group">
        <input type="text" name="address-line-2" id="address-line-2" class="form-control form-control-3-4" aria-required="false" maxlength="40">
      </div> -->
      <div id="address-town-group" class="form-group">
        <label for="address-town" class="form-label-bold">
          County
        </label>
        <input type="text" name="address-town" id="address-town" class="form-control" aria-required="true" maxlength="30">
      </div>
      <div id="address-postcode-group" class="form-group">
        <label for="address-postcode" class="form-label-bold">
            Postcode
        </label>
        <input type="text" name="address-postcode" id="address-postcode" class="form-control input-code" aria-required="true" value="SE1 7XH">
      </div>
    </fieldset>

    {{#input-submit}}{{/input-submit}}

    </div>
    <input type="hidden" name="address-type" id="address-type" value="manual">
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}


{{/ layout-referee}}
