{{< layout-referee}}

{{$pageTitle}}Home address{{/pageTitle}}

{{$header}}
    <h1>Select an address</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
      <div id="address-select-group" class="form-group">
        <select id="address-select" name="address-select">
          <option value="">12 addresses found</option>
          <option value="">Flat A/04, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/05, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/06, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/07, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/08, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/09, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/10, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/11, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/12, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/13, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/14, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
          <option value="">Flat A/15, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
        </select>
      </div>
      <div class="form-user-data">
        <h2>Postcode</h2>
        <p><span>SE1 7XH</span><a href="./name-address">Change<span class="visually-hidden"> your postcode</span></a></p>
      </div>
      <p><a href="./home-address-manual">I can’t find my address in the list</a></p>

      <input type="hidden" name="address-type" id="address-type" value="auto">
      {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}

{{/content}}


{{/ layout-referee}}
