{{< layout}}

{{$pageTitle}}Home address{{/pageTitle}}

{{$header}}
    <h1>Select an address</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

            <div class="form-user-data">
                <h2>Postcode</h2>
                <p><span>SE1 7XH</span><a href="./home-address-postcode">Change<span class="visually-hidden"> your postcode</span></a></p>
            </div>
            <div id="address-select-group" class="form-group">
                <label class="form-label-bold" for="address-select">
                    Select an address
                </label>
                <select id="address-select" name="address-select">
                    <option value="">12
                            addresses found
                     </option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610nOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDQAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/04, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610.OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDUAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/05, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610XOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDYAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/06, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610rOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDcAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/07, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610zOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDgAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/08, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610bOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDkAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/09, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610EOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTAAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/10, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610cOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTEAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/11, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.6100OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTIAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/12, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610sOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTMAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/13, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610kOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTQAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/14, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.6108OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTUAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/15, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                </select>
            </div>
            <p><a href="./home-address-manual">I can’t find my address in the list</a></p>




{{#input-submit}}{{/input-submit}}



{{/form}}
{{/ hmpo-partials-form}}
</div>


{{/content}}


{{/ layout}}
