{{< layout-csig}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Terms and conditions{{/pageTitle}}

{{$header}}
    <h1>Terms and conditions</h1>
{{/header}}

{{$content}}

<p>By confirming someone's identity you agree to these terms and conditions.</p>

<p>You confirm that:</p>

<ul class="list-bullet">
    <li>the information you'll give is correct</li>
    <li>you've known the applicant personally for at least 2 years, for example as a friend, neighbour or colleague</li>
    <li>you work in or are retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories">recognised profession</a></li>
    <li>you live in the UK and have a current UK passport</li>
</ul>

<p>You confirm that you are not:</p>
<ul class="list-bullet">
    <li>related to the applicant by birth or marriage</li>
    <li>in a personal relationship with the applicant</li>
    <li>living at the same address as the applicant</li>
    <li>employed by Her Majesty's Passport Office</li>
</ul>

<p>HM Passport Office may contact you to check any of the details you provide.</p>

    <div class="panel-important">
    <p>If you make a false statement to help someone get a passport, or you know that they have made a false statement, you could be prosecuted and go to prison.</p>
    </div>

<h2>Verifying your identity</h2>

<p>HM Passport Office and Experian can check the information you provide against any database they have access to, public or otherwise. They will only do this to verify your identity.</p>

<p>HM Passport Office will store the information you provide permanently and securely. A record of the search will appear on your credit report for 12 months. This has no affect on your credit score.</p>

<h2>Feedback</h2>
  <p>HM Passport Office welcomes your views on this service. We invite feedback through links in the website and surveys. We’ll use what you tell us to improve this and related services.</p>

{{/content}}


{{/ layout-csig}}
