{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Terms and conditions{{/pageTitle}}

{{$header}}
    <h1>Terms and conditions</h1>
{{/header}}

{{$content}}

<p>By confirming someone's identity you agree to these terms and conditions.</p>

<p>You confirm that:</p>

<ul class="list-bullet">
    <li>the information you give is correct</li>
    <li>you've known the applicant personally for at least 2 years, for example as a friend or neighbour</li>
    <li>you work in or are retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories">recognised profession</a></li>
    <li>you live in the UK and have a current UK passport</li>
</ul>
<p>Her Majesty's Passport Office may contact you or your employer to check any of the details you provide.</p>

    <div class="panel-important">
    <p>It is a criminal offence to make a false statement to help someone get a passport.</p>
    </div>

<h2>Verifying your identity</h2>

<p>HM Passport Office and Experian can check the details you provide against any database they have access to, public or otherwise. They will only do this to verify your identity. A record of the search will be kept for 12 months.</p>

<h2>Feedback</h2>
  <p>HM Passport Office welcomes your views on this service. We invite feedback through links in the website and surveys. We’ll use what you tell us to improve this and related services.</p>

{{/content}}


{{/ layout}}
