{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>You need a countersignature</h1>
          <p>Your application is on hold. Your appearance has changed too much since your last passport.</p>
    </header>

    <h2>What you need to do</h2>

        <p>We've posted a form to you that includes your recent photo. You need to get someone to sign the form to confirm your identity. The details are on the form.</p>

        <p>You need to return the completed form by <strong>10:30am</strong> on <strong>Friday, 8 January 2017</strong>.</p>

      <h2>Your collection appointment</h2>
      <p>We'll contact you if you need to change your collection appointment.</p>
          <p><strong>Thursday, 6 April 2017</strong></br>
          at <strong>1:00pm</strong></span>
          <p></p>
          <p>London HM Passport Office</br>
          Globe House </br>
          89 Eccleston Square </br>
          London </br>
          SW1V 1PN </br>
          </p>

          <div role="note" aria-label="Information" class="panel panel-border-wide application-notice info-notice">
                    <p>You must to go in person and take your old passport with you.</p>
                </div>

       <h2>Application history</h2>
    <article>
    <table>

        <tbody>
           <tr>
            <td>Countersignature needed</td>
            <td>10:39am on 5 January 2017</td>
          </tr>
           <tr>
            <td>Joined processing queue</td>
            <td>10:39am on 5 January 2017</td>
          </tr>
           <tr>
            <td>Old passport received</td>
            <td>10:39am on 5January 2017</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:38am on 5th of January 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking-dps" class="button">Sign out</a><br>

      <br/><br/><br/><br/>
      <p>Other statuses:</p>
<ul>
    <li><a href="application-received">Application received</li>
  <li><a href="application-submitted">Application submitted</li>
    <li><a href="received-old-passport">We've received your old passport</li>
    <li><a href="joined-processing-queue">Joined processing queue</li>
    <li><a href="photo-rejected-in-time">Photo rejected in time</li>
    <li><a href="photo-rejected-no-time">Photo rejected no time</li>
    <li><a href="new-photo-received">New photo received</li>
    <li><a href="application-approved">Application approved</li>
    <li><a href="passport-coming">Your passport is coming</li>
    <li><a href="downgraded">Withdrawn</li>
    <li><a href="downgraded">Failed</li>
    <li><a href="downgraded">Onw</li>
    <li><a href="downgraded">Refused</li>
    <li><a href="/public/images/tracking/track-16-rpd.png">Don't track your application here</li>
</ul>

{{/content}}


{{/ layout}}
