{{< layout-csig}}

{{$pageTitle}}Your application{{/pageTitle}}


{{$header}}
    <h1>Sign in</h1>
{{/header}}

{{$content}}

<h2>Does your application reference begin with PEX or POD?</h2>
<p>You'll find this in your confirmation email.</p>

{{< hmpo-partials-form}}
    {{$form}}

        <fieldset class="form-group inline">
            <label for="yes" class="block-label selected">
                <input type="radio" name="reference" id="yes" value="yes" aria-required="true" data-toggle="yes-reference" aria-controls="yes-reference"
                    aria-expanded="true"> Yes
            </label>

            <!-- PEX Reveal -->
            <div id="yes-reference" class="reveal" aria-hidden="false">
                <div class="panel panel-border-narrow">
                    <div id="reference-group" class="form-group">
                        <span id="reference-hint" class="form-hint">Enter your reference, for example PEX 123 456 7890</span>
                        <input type="text" name="reference" id="reference" class="form-control reference" value="{{values.pex}}" maxlength="16" aria-describedby="reference-prefix" aria-required="true">
                    </div>
                </div>
            </div>

            <label for="no" class="block-label selected">
                <input type="radio" name="reference" id="no" value="no" aria-required="true" data-toggle="no-reference" aria-controls="no-reference"
                    aria-expanded="true"> No
            </label>
        </fieldset>

        {{#input-submit}}{{/input-submit}}

        {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout-csig}}
