{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>New photo received</h1>
          <p>We'll continue with your application.</p>
    </header>
      
      <h2>What happens next</h2>

        <p>We'll call you if there's a problem with your application. You need to be available on the phone number you provided.</p>

        <p>When we've finished checking your application, we'll update this page.<p/>

      <h2>Your collection appointment</h2>

          <p><strong>Tuesday 30 May 2017</strong></br>
          at <strong>1:00pm</strong></span>
          <p></p>
          <p>London HM Passport Office</br>
          Globe House </br>
          89 Eccleston Square </br>
          London </br>
          SW1V 1PN </br>
          </p>

          <p>You must go in person. If you can't go to your collection appointment, <a href="https://www.passport.service.gov.uk/help">contact us</a>. Your new appointment details will be sent to you by email.</p>


          <h2>What you need to bring</h2>
          <p>You must bring your old passport with you.</p>

            <div class="panel-important"><strong>Your old passport will be cancelled on the day of your collection appointment. You won't be able to use it.</strong>
            </div> 

       <h2>Application history</h2>
    <article>
    <table>

        <tbody>
           <tr>
            <td>New photo received</td>
            <td>12:41pm on 24 May 2017</td>
          </tr>
            <tr>
            <td>Photo rejected</td>
            <td>11:07am on 24 May 2017</td>
          </tr>
           <tr>
            <td>Joined processing queue</td>
            <td>9:42am on 23 May 2017</td>
          </tr>
           <tr>
            <td>Application received</td>
            <td>10:39am on 22 May 2017</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:38am on 22 May 2017</td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking-dps" class="button">Sign out</a><br>

      <br/><br/><br/><br/>
      <p>Other statuses (these do not appear on the page)</p>
<ul>
    <li><a href="application-received">Application received</li>
    <li><a href="application-submitted">Application submitted</li>
    <li><a href="received-old-passport">We've received your old passport</li>
    <li><a href="joined-processing-queue">Joined processing queue</li>
    <li><a href="photo-rejected-in-time">Photo rejected in time</li>
    <li><a href="photo-rejected-no-time">Photo rejected no time</li>
    <li><a href="countersignature-in-time">You need a countersignature</li>
    <li><a href="application-approved">Application approved</li>
    <li><a href="passport-coming">Your passport is coming</li>
    <li><a href="downgraded">Withdrawn</li>
    <li><a href="downgraded">Failed</li>
    <li><a href="downgraded">Onw</li>
    <li><a href="downgraded">Refused</li>
    <li><a href="no-longer-updated">Don't track your application here</li>
</ul>

{{/content}}


{{/ layout}}
