{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">

          <h1>You've applied with a paper form</h1>
    </header>

        <p>When you apply with a paper form, you can no longer track your application online. <p>

        </p>If you need to <a href="">contact us</a> about your application, remember to give your new reference number.</p>

          <div role="note" aria-label="Information" class="panel panel-border-wide application-notice info-notice">
          <p>Your new reference number is <strong>1234567</strong></p>
                </div>

        

       <h2>Application history</h2>
    <article>
    <table>

        <tbody>
           <tr>

            <td>Application moved to paper form</td>
            <td>11:02am on 24 May 2017</td>
          </tr>
           <tr>
            <td>Joined processing queue</td>
            <td>9:42am on 23 May 2017</td>
          </tr>
           <tr>
            <td>Application received</td>
            <td>10:39am on 22 May 2017</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:38am on 22 May 2017</td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking-dps" class="button">Sign out</a><br>

      <br/><br/><br/><br/>

      <p>Other statuses:</p>
=======
      <p>Other statuses (these do not appear on the page)</p>

<ul>
    <li><a href="application-received">Application received</li>
    <li><a href="application-submitted">Application submitted</li>
    <li><a href="received-old-passport">We've received your old passport</li>
    <li><a href="joined-processing-queue">Joined processing queue</li>
    <li><a href="photo-rejected-in-time">Photo rejected in time</li>
    <li><a href="photo-rejected-no-time">Photo rejected no time</li>
    <li><a href="new-photo-received">New photo received</li>
    <li><a href="passport-coming">Your passport is coming</li>
    <li><a href="countersignature-in-time">You need a countersignature</li>
    <li><a href="application-approved">Application approved</li>
    <li><a href="downgraded">Withdrawn</li>
    <li><a href="downgraded">Failed</li>
    <li><a href="downgraded">Onw</li>
    <li><a href="downgraded">Refused</li>
    <li><a href="no-longer-updated">Don't track your application here</li>
</ul>

{{/content}}


{{/ layout}}
