{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>You need a new photo</h1>

          <p>Your application is on hold. Your photo didn't meet the rules for UK passport photos &ndash; we'll explain why.</p>
    </header>
  
   <h2>What you need to do</h2>

        <p>You must submit a new photo by <strong>10:30am</strong> on <strong>Wednesday, 6 January 2017</strong>.</p>

        <p>You won't be able to collect your new passport without a successful photo.</p>

        <p>[Find out more and submit a new photo]</p>

        <h2>What happens next</h2>

        <p>When we've received a new and successful photo, we'll continue with your application. [We'll contact you if you need to change your collection appointment.]</p>

        <h2>Your collection appointment</h2>
        </p>
          <p><strong>Thursday, 6 April 2017</strong></br>
          at <strong>1:00pm</strong></span>
          <p></p>
          <p>London HM Passport Office</br>
          Globe House </br>
          89 Eccleston Square </br>
          London </br>
          SW1V 1PN </br>
          </p>

          <div role="note" aria-label="Information" class="panel panel-border-wide application-notice info-notice">
                    <p>You must take your old passport with you.</p>
                </div>

    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Photo rejected</td>
            <td>11:07am on 5 January 2017</td>
          </tr>
          <tr>
            <td>Joined processing queue</td>
            <td>10:39am on 5 January 2017</td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>10:39am on 5 January 2017</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5 January 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking-dps" class="button">Sign out</a><br>

      <br/><br/><br/><br/>
      <p>Other statuses:</p>
<ul>
    <li><a href="waiting-for-old-passport">Application received</li>
    <li><a href="application-submitted">Application submitted</li>
    <li><a href="received-old-passport">We've received your old passport</li>
    <li><a href="joined-processing-queue">Joined processing queue</li>
    <li><a href="photo-rejected-no-time">Photo rejected no time</li>
    <li><a href="new-photo-received">New photo received</li>
    <li><a href="countersignature-in-time">You need a countersignature</li>
    <li><a href="application-approved">Application approved</li>
    <li><a href="passport-coming">Your passport is coming</li>
    <li><a href="downgraded">Withdrawn</li>
    <li><a href="downgraded">Failed</li>
    <li><a href="downgraded">Onw</li>
    <li><a href="downgraded">Refused</li>
    <li><a href="/public/images/tracking/track-16-rpd.png">Don't track your application here</li>
</ul>

{{/content}}


{{/ layout}}

