{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>We're checking your application</h1>
    </header>
    <br/>
    <h2>What happens next</h2>
      
        <p>We'll call you if there's a problem with your application. You need to be available on the phone number you provided.</p>

      <p>When we've finished checking your application, we'll update this page.</p>

          <h2>Your collection appointment</h2>
          <p><strong>Tuesday 30 May 2018<br></strong>at <strong>1:00pm</strong></p>
 
            <p>London HM Passport Office<br>
                    Globe House<br>
                    89 Eccleston Square<br>
                    London<br>
                    SW1V1PN</p>

            <p>You must go in person. If you're unable to, someone else can go on your behalf.</p>
            <p>If you need to change your collection appointment, <a href="/">contact us</a>. Your new appointment details will be sent to you by email.</p>
      
      <h2>What you need to bring</h2>
      <p>you must bring your old passport with you.</p>

      <p><strong>If someone else is collecting your passport</strong><br>
      As well as your old passport they need to bring:
        <ul class="list list-bullet">
          <li>their ID, eg passport, driving license, or utiolity bill that's less than 3 months old</li>
          <li>a signed and dated letter from you, naming them and giving them permission to collect the passport.</li>
        </ul>

<div class="panel-important" style="margin:-10px 0 10px 0;">
              <p>Your old passport will be cancelled 24 hour, or on the last working day before your appointment. You won't be able to use it.</p>
        </div>


<br>
    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of January 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking-dps" class="button">Sign out</a><br>

      

{{/content}}


{{/ layout}}
