{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>We're checking your application</h1>
    </header>
    <br/>
        <p>If there's a problem with your application, we'll call you before you collect your new passport. </p>

        <p>You'll need to be available on the phone number you provided.</p>
        
        <h2>What happens next</h2>

        <p>Your collection appointment is on:
        </p>
          <p>Thursday, 6 April 2017</br>
          at 1:00pm</span>
          <p></p>
          <p>London HM Passport Office</br>
          Globe House </br>
          89 Eccleston Square </br>
          London </br>
          SW1V 1PN </br>
          </p>

          <div role="note" aria-label="Information" class="panel panel-border-wide application-notice info-notice">
                    <p>You must take your old passport with you.</p>
                </div>
        
    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of January 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking-dps" class="button">Sign out</a><br>

      <br/><br/><br/><br/>
      <p>Other statuses:</p>
      <ul>
          <li><a href="/public/images/tracking/track-5.png">Application received</li>
          <li><a href="/public/images/tracking/track-6.png">We've received your old passport</li>
          <li><a href="/public/images/tracking/track-7.png">Joined processing queue</li>
          <li><a href="/public/images/tracking/track-8.png">Photo rejected</li>
          <li><a href="/public/images/tracking/track-9.png">New photo received</li>
          <li><a href="/public/images/tracking/track-10.png">You need a countersignature</li>
          <li><a href="/public/images/tracking/track-11.png">Application approved</li>
          <li><a href="/public/images/tracking/track-12.png">Your passport is coming</li>
          <li><a href="/public/images/tracking/track-13-withdrawn.png">Withdrawn</li>
          <li><a href="/public/images/tracking/track-14-failed.png">Failed</li>
          <li><a href="/public/images/tracking/track-15-onw.png">Onw</li>
          <li><a href="/public/images/tracking/track-15-refused.png">Refused</li>
          <li><a href="/public/images/tracking/track-16-rpd.png">Don't track your application here</li>
      </ul>

{{/content}}


{{/ layout}}
