{{< layout}}

{{$back}}

<div class="photo-guide">
            <a href="/../prototype_170331/intro/choose-photo-method" class="back-link">Back</a>
       </div>
{{/back}}

{{$main-content}}
       <div class="column-full">
           <div class="flash-card">
               <header>
                   <h1>How to take a digital photo</h1>
               </header>
               <div class="grid-row">
                 <div class="column-two-thirds">
                   <iframe width="550" height="350" src="https://www.youtube.com/embed/dGFSjKuJfrI?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>

              <p><a href=" ">Read the transcript of this video</a></p>
              <div class="grid-row">
                  <nav class="guide-nav">
                              <ul style="margin-left:18px">
                                  <li class="button-guide button-guide-next">
                                      <a href="photoguide-short/find-a-camera" style="font-size: 20px">Follow the step-by-step guide</a>

                                  </li>
                              </ul>
                    </nav>
              </div>
     </div>
   </div>

{{/main-content}}

{{/ layout}}
