{{< layout}}

{{$back}}
<div class="photo-guide">
  <a href="/../prototype_170331/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 5 of 8</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>Include your shoulders</h1>
                </header>
                <div class="grid-row">
                    <div class="column-half">
                      <p><strong>Don't crop your photo - we'll do it for you.</strong></p>
                      <p>Your photo must show your head, shoulders and upper body.
                         <p>
                          <p>Make sure there is lots of clear space around your head and shoulders. </p>
                    </div>
                    <div class="column-half">
                      <div style="text-align: center">
                        <img src="../../public/images/photoguide/uncropped-photos/diagram_too_close_photo@2x.png"  alt="" width="333" height="288">
                      </div>
                    </div>
                    <nav class="guide-nav">
                              <ul>
                                  <li class="button-guide button-guide-previous">
                                      <a href="{{backLink}}" style="font-size: 20px">Back</a>
                                  </li>
                                  <li class="button-guide button-guide-next">
                                      <a href="{{nextPage}}" style="font-size: 20px">Next</a>
                                  </li>
                              </ul>
                    </nav>
                </div>
            </div>
        </div>

{{/main-content}}
{{/ layout}}
