{{< layout}}

{{$pageTitle}}What you'll need{{/pageTitle}}

{{$header}}
<h1>What you'll need</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p style="margin-bottom: 30px;">You won't be able to save your application – get this information ready before you continue. If you can't provide these details, you'll need to tell us why.</p>
{{#nunjucks}}
    {% if not values['lost-stolen'] %}
        <h2>Applicant's details</h2>
        <ul class="list list-bullet">
            {% if values['naturalisation-registration-certificate'] %}<li>naturalisation or registration certificate</li>{% endif %}

                {% if not values['passport-before'] and not values['naturalisation-registration-certificate'] %}
                    <li>birth or adoption certificate</li>
                {% elif not values['passport-before'] and values['naturalisation-registration-certificate']%}
                    <!-- show nothing -->
                {% else %}
                    <li>old passport</li>
                {% endif %}

            {% if values['old-blue'] %}<li>UK passport details</li>{% endif %}
        </ul>
    {% endif %}
    
    <h2>Parents' details</h2>

    <ul class="list list-bullet">
        <li>name, date and place of birth</li>
        <li>nationality</li>
        <li>UK passport details (if this applies)</li>
        <li>date of marriage or civil partnership (if this applies)</li>
    </ul>

    <p>Check the <a href="../help/parents-details" target="_blank">rules about parents</a> if you're not sure whose details to provide.</p>

    {% if not values['born-before-1983'] and not values['naturalisation-registration-certificate'] and not values['passport-before']%}
        <h2>Grandparents' details</h2>
        <p>Based on what you tell us, we may ask for their:</p>
        <ul class="list list-bullet">
            <li>name, date and place of birth</li>
            <li>date of marriage or civil partnership (if this applies)</li>
        </ul>
    {% endif %}
{{/nunjucks}}

{{#checkbox}}what-you-will-need-declaration{{/checkbox}}

<!--<details>
    <summary><span class="summary">Why you need these details</span></summary>
    <div class="panel panel-border-narrow">
      <p>We need these details to check eligibility<a href="../help/parents-details" target="_blank">Check the rules about parents</a> if you're not sure whose details to provide.</p>
    </div>
</details> -->

{{#input-submit}}{{/input-submit}}

<!-- <details>
    <summary><span class="summary">My documents aren't in English or Welsh</span></summary>
    <div class="panel panel-border-narrow">
        <p>If your documents aren't in English or Welsh you'll need to get <a href="https://www.gov.uk/certifying-a-document">certified translation.</a></p>
    </div>
</details> -->

<div class="app-c-print-link">
    <a href="#" class="app-c-print-link__link" rel="alternate">
        Print page
    </a>
</div>

{{/form}}
{{/ hmpo-partials-form}}

{{/ content}}

{{/ layout}}
