{{< layout}}

{{$pageTitle}}Photo uploaded{{/pageTitle}}

{{$header}}
    <h1>Photo uploaded</h1>
{{/header}}

{{$content}}

        <div class="panel-indent panel-photo-result panel-photo-pass">
            <h2>Photo passed first check</h2>
            <p>Your photo has been automatically checked for common mistakes.</p>
        </div>
        <p>We’ll still check it manually and we could still ask for another if something doesn't look right.</p>

        <div class="panel panel-border-wide">
            <p>
              If you're not happy with your photo, <a href="/uploadphoto">upload a new one now</a>.
            </p>
        </div>

        <a href="/priority_service_170215/uploadphoto/plain-expression" class="button">Use this photo</a><br/><br/>


{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Your photo</h2>
          <div class="photo">
              <img src="../../public/images/thumbnail.jpeg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
          </div>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}
