{{< layout}}

{{$pageTitle}}Take your photo{{/pageTitle}}

{{$header}}
    <h1>Take your photo</h1>
{{/header}}

{{$content}}
        <p>If you need to, <a href="/priority_service_170510/photoguide-short/">read the photo guide again</a>.</p>


        <p>
              We’ll store all photos for up to 30 days in line with our <a href="" rel="external">privacy policy</a>.
            </p>

        <a href="/priority_service_170510/uploadphoto/" class="button">Upload your photo</a><br/><br/>

      <!--  <details>
            <summary><span class="summary">I have a printed photo</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                You can’t use a printed photo with this service. You’ll either need to <a href="">get a digital photo</a>, or <a href="">use a different service</a> to renew your passport.
              </p>
            </div>
        </details> -->



    <div class="grid-row photo-upload-eg">
        <div class="column-half img">
            <object type="image/jpg" data="/public/images/woman-with-reddish-hair_ex@2x.jpg"type="image/svg+xml" class="svg" tabindex="-1">
            <img src="/public/images/woman-with-reddish-hair_ex@2x.jpg" width="206" height= alt="">
            </object>
        </div>
        <div class="column-half">
            <h2>Taking a good photo</h2>
            <ol class="list list-number">
                <li>Get a friend to take your photo.</li>
                <li>Use a plain background.</li>
                <li>Don’t crop your photo, include your face, shoulders and upper body.</li>
                <li>Keep your hair away from your face and brushed down.</li>
                <li>Make sure there are no shadows on your face or behind you.</li>
            </ol>
        </div>
    </div>

{{/content}}

{{/ layout}}
