{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>You need a new photo</h1>
        <p>Your application is on hold becuase there was a problem with your photo.</p>
      </header>
      
      <h2>What you need to do</h2>
      <div class="error-summary">
          <div class="icon">
              <object data="/public/images/tracking/icon-warning.svg" type="image/svg+xml"></object>
          </div>
          <p><strong>New photo needed</strong> 31 August 2018</p>
          <p>Your photo didn’t meet the rules.</p>
          <p>You must submit a new photo by 19 October 2018</p>
          <a class="button-secondary" href="/track/photo-rejected">Find out more and submit a new photo</a>
      </div>
      <h2>What happens next</h2>
      <p>After you've supplied a new photo, we check it. If there are no more problems, 
      we issue your new passport. If there is another problem, we will notify you.</p>
      {{> partials-csig-sidebar-no-docs}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Photo rejected</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Old passport received</td>
              <td>10:05am on 22 July 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 21 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 20 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-con-links}} 
{{/content}}

{{/ layout-csig}}

