{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Don't track your application here</h1>
      </header>
      
      <p>We moved you from an online application to a paper form.</p>
      <p>This means:</p>
      <ul class="list-bullet list-bullet-header-spacing">
        <li>You have a new reference code for your renewal: 3312187855</li>
        <li>You cannot use this online tracking service - it doesn't support paper applications</li>
      </ul>

      <h2>Contact us</h2>
      <p>You can still <a href="">contact us</a> if you have any questions.</p>
      <p>Give your new reference if you do: 3312187855</p>
      {{> partials-csig-sidebar}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Application moved to paper form</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 21 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 20 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-con-links}} 
{{/content}}

{{/ layout-csig}}

