{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Your passport is on its way</h1>
      </header>

      <h2>What happens next</h2>

      <p>We've sent your new passport by secure delivery. In most cases it will be delivered by <a href="https://www.dxdelivery.com/static/HMPO/"target="_blank">DX delivery services</a>.</p>

      <p>Your old passport will arrive separately. It won't be in the same envelope as your new passport.</p>

      <div class="panel panel-border-narrow">
          <h2>You must sign your new passport when you receive it</h2>
          <p>You won't be able to use it until you do.</p>
      </div>
      {{> partials-csig-sidebar-no-docs}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Application approved</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 21 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 20 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-con-links}}
{{/content}}

{{/ layout-csig}}
