{{< layout}}


{{$pageTitle}}When does your passport expire?{{/pageTitle}}

{{$header}}
    <h1>When was your passport issued?</h1>
{{/header}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">
        <header>
            <h1>How to take a digital photo</h1>
        </header>
        <div class="grid-row">
          <div class="column-two-thirds">
        <!--    <iframe src="https://player.vimeo.com/video/223745277" width="550" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            <img src="../../public/images/VideoEmbed_v1.jpg" width="550"/>
            <h2>Or you can check a digital photo</h2>

            <p>With our <a href="/shops-photo-checker">photo checker</a>.</p>

         </div>
         <div class="column-one-third">
           <a href="../photoguide-short" class="guide-box-photo-hub last">
                   <img src="../../public/images/photo-guide-myself.png" alt="Your uploaded photo" title="Your uploaded photo" style="width:25.2%">
                <!--   <div style="float:left; width:60%">-->
                     <h3 style="margin-top:0;">How to take a digital photo</h3>
                     <p>A step-by-step guide to taking a good passport photo. You'll need a friend to help you.</p>
                <!--  </div>-->
           </a>
           <a href="../photoguide-shop" class="guide-box-photo-hub last">
                   <img src="../../public/images/photo-guide-shop.png" alt="Your uploaded photo" title="Your uploaded photo" width="200">
          <!--         <div style="float:left; width:60%"> -->
                     <h3 style="margin-top:0;">If you go to a shop or booth</h3>
                     <p>Check what to ask for at a photo shop and what you'll get from a booth.</p>
                <!--   </div>-->
           </a>
         </div>
       </div>
       <a href="/priority_service_170705/filter-common" class="button">Check you can apply online</a>

</div>
</div>

{{/ main-content}}

{{/ layout}}
