{{< layout}}


{{$pageTitle}}When does your passport expire?{{/pageTitle}}

{{$header}}
    <h1>When was your passport issued?</h1>
{{/header}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">
        <header>
            <h1>How to take a digital photo</h1>
        </header>
        <div class="grid-row">
          <div class="column-two-thirds">
            <iframe width="550" height="350" src="https://www.youtube.com/embed/dGFSjKuJfrI?rel=0" frameborder="0" allowfullscreen></iframe>

            <h2>Step-by-step guide</h2>

            <p>For more help and examples, <a href="/priority_service_170705/photoguide-short">read the guide to taking a good photo</a>.</p>

         </div>
       </div>
       <a href="/priority_service_170705/filter-common" class="button">Continue to check eligibility</a>

</div>
</div>

{{/ main-content}}

{{/ layout}}
