{{< layout}}


{{$pageTitle}}How to renew your passport{{/pageTitle}}

{{$header}}
{{/header}}

{{$main-content}}

      <div class="column-full">
          <div class="flash-card">
              <header>
              <h1>How to get a passport urgently</h1>
              </header>
              <div class="grid-row">
                  <div class="column-two-thirds">
                          <ul>
                            <li><span class="circle circle-step">1</span><h2>Check you can apply online</h2>
                               <p style="margin-left:32px;">We'll ask you a few questions. If you can't apply online, we'll show you other ways to get a passport urgently.</p></li>

                              <li><span class="circle circle-step">2</span><h2>Choose a collection appointment</h2>
                               <p style="margin-left:32px;">We'll reserve a time for you to collect your passport from a <a href="/priority_service_170330/book-appointment/passport-offices">passport office in the UK</a>.</p></li>

                               <li><span class="circle circle-step">3</span><h2>Apply online</h2>
                                <p style="margin-left:32px;">You'll need a friend to take your <a href="/priority_service_170705/photoguide-static/photorules/"> digital photo</a> &ndash; we'll show you how. </p></li>

                              <li><span class="circle circle-step">4</span><h2>Pay for your new passport online</h2>
                                <p  style="margin-left:32px;">You'll need a debit or credit card. An adult passport using this service is £128.</p></li>
                              
                              <li><span class="circle circle-step">5</span><h2>Collect your new passport</h2>
                                <p  style="margin-left:32px;">This usually takes 30 minutes. You'll need to go in person and take your old passport with you.<br>
                                  <p> </p>
                              </li>
                          </ul>
                      <a href="/priority_service_170705/service-intro/digital-photo-hub" class="button">Continue</a>
                    </br>

                    <p><span class="secret-link"><a href="/priority_service_170705/book-appointment/responsive">&emsp;</a></span></p>

                      <details>
                        <summary><span class="summary">I need help doing things online</span></summary>
                        <div class="panel panel-border-narrow">
                          <p>You can call the Passport Adviceline for help.</p>
                          <ul>
                            <li>Telephone: 0300 330 0901</li>
                            <li>Textphone: 0300 330 0808</li>
                            <li>Monday to Friday, 8:00am to 8:00pm</li>
                            <li>Weekends and public holidays, 9:00am to 5:30pm</li>
                            <p></p>
                            <li><a href="">Find out about call charges</a></li>
                          </ul>
                        </div>
                    </details>
                  </div>
                  <!-- passport image -->
                  <div class="column-one-third">
                      <object type="image/svg+xml" data="../../public/images/passport_open_final.svg"type="image/svg+xml" class="svg" tabindex="-1" style="padding-top:30px">
                          <img src="../../public/images/passport_open_final.png" width="206" height="215" alt="">
                      </object>
                  </div>

              </div>
          </div>
      </div>

{{/ main-content}}

{{/ layout}}
