{{< layout}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Give a countersignature{{/pageTitle}}


{{$header}}
    <h1>Your UK passport</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

<p>We need to check your identity before you can confirm someone else's.</p>
    <div id="reference-number-group" class="form-group">
          <fieldset>
              <legend><span class="form-label-bold">Passport number</span></legend>
                <p class="form-hint" id="dob-hint">For example 502135326</p>
                  {{#input-text}}passport-number{{/input-text}}
          </fieldset>

          <div id="expiry-date-group" class="form-group">
              <fieldset>
                  <legend><span class="form-label-bold">Passport expiry date</span></legend>
                  <div class="form-date">
                    <p class="form-hint" id="dob-hint">For example 08 2015</p>
                      {{#input-text}}expiry-month{{/input-text}}
                      {{#input-text}}expiry-year{{/input-text}}
                  </div>
              </fieldset>
          </div>


          {{#input-submit}}{{/input-submit}}
      </div>


    {{/form}}
{{/ hmpo-partials-form}}



{{/content}}

{{/ layout}}
