{{< layout}}
{{$propositionHeader}}Renew a passport{{/propositionHeader}}

{{$pageTitle}}Give a countersignature{{/pageTitle}}


{{$header}}
    <h1>Confirm someone's identity</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

      <p>To confirm somebody's identity for a UK passport, you must:</p>
        <ul class="list-bullet">
          <li>have a current UK passport</li>
          <li>work in or be retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories" target="_blank">recognised profession</a></li>
          <li>have known the person as a friend, neighbour or colleague for at least <br>2 years</li>
        </ul>

        <p>We'll ask a few questions about you then we'll show you a photo of the person. It takes about 10 minutes.</p>

        <a href="/csig_170731/referee-5/applicant-info" class="button">Start</a>

        <br/><br/>

          <p><a href="">I don't meet the criteria</a></p>



    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <div class="sidebar" style="margin-top:50px">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">What you'll need</h2>
          <ul class="list-bullet" >
            <li style="list-style-type: disc;"> your UK passport</li>
            <li>national insurance number</li>
            <li>employer's details</li>
          </ul>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}
