{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}

<div class="padding-wrapper">


<h1>Apply with Online Premium</h1>


<div class="grid-row">
<div class="column-two-thirds">

<p>To try Online Premium you'll need to:</p>
<ol>

<li><span class="circle circle-step black-circle">1</span><p>Answer some questions to check you can use this service</p></li>

<li><span class="circle circle-step black-circle">2</span><p>Choose an appointment to collect your new passport</p></li>

<li><span class="circle circle-step black-circle">3</span><p>Get a friend to take your <a href="/priority_service_170731/photoguide-static/photorules/">digital photo</a> &ndash; we'll show you how</p></li>

<li><span class="circle circle-step black-circle">4</span><p>Apply online and pay with a debit or credit card</p></li>

<li><span class="circle circle-step black-circle">5</span><p>Collect your new passport</p></li>

</ol>
<br>
<a href="/priority_service_170731/filter-common" class="button">Check you can use this service</a>

</div>
</div>
</div>

{{/main-content}}

{{/ layout}}
