{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<br>

<header class="update-notice">
    <h1><span class="icon-tick"></span> Application submitted</h1>
    <p>Application reference: <strong>PEX 319 825 680X</strong></p>
        <p>Your payment: £{{values.cost}}0, reference: IE19852</p>
    <p>Email confirmation sent to <strong>{{values.email}}</strong></p>
    <a href="" class="download">Download PDF receipt</a>
</header>

<div class="panel-important">
    <p>We can't start your application until we receive your documents.</p>
</div>


<h1>What you need to do</h1>
<h2>Send us your documents</h2>
<p>
    <a href="fta-docs">Check what you need to send</a>
</p>

<p>You don’t need to include a covering letter.</p>

<p>HM Passport Office
<br/> Ref: PEX 319 825 680X
<br/> Aragon Court
<br/> Northminster Road
<br/> Peterborough
<br/> PE1 1QG</p>

<p>Use a strong envelope that is the right size for your documents. You can use standard post or special delivery.</p>

<h2>Get someone to confirm your identity</h2>
<p>You'll need to ask a friend or someone who knows you well to <a href="../../guidance/confirming-your-identity" target="_blank">confirm your identity</a>. We've sent you an email that tells you what you'll need to do.</p>

<h2>Track your application</h2>
<p>It should take 6 weeks to get your new passport. Use your reference
<br>
<strong>PEX 319 825 680X</strong> to
<a href="/tracking-change-of-name">track your application</a>.</p>

<a href="" class="button">Give feedback</a>
<br/>
<br/>

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}