{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<header class="update-notice update-notice--grey">
    <h1><span class="icon-tick"></span> Payment successful</h1>

        <p>Your payment: £46, reference: IE19852</p>
<p>Email confirmation sent to <strong>c.moore@test-corp.co.uk</strong></p>
    <a href="#">Download PDF receipt</a>
</header>
<p>Application reference: <strong>PEX 319 825 680X</strong></p>

<h2>What you need to do</h2>

<p>You need to ask someone to confirm {{> partials-applicant-yours-the-applicants}} identity.</p>

<p>Sign into tracking to provide their name and email. You'll need your application reference: <strong>PEX 319 825 680X</strong></p>

<p>You can do this now or later but we can't print the new passport until {{> partials-applicant-yours-the-applicants}} identity is confirmed.</p>

<a href="/../csig/user" class="button">Sign in</a>

</div>

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
