{{< layout}}

{{$pageTitle}}Your contact details{{/pageTitle}}

{{$header}}
    <h1>Your contact details</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

      <p>We’ll only use these details to contact you about your application.
        <br>
        <br>
      It’s best to use a phone that you’ll have access to. We may call you if there’s a problem with your application.</p>
      {{#input-text}}email{{/input-text}}
      {{#input-text}}mobile{{/input-text}}
      
          
    </fieldset>

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
