{{< layout}}

{{$pageTitle}}Declaration{{/pageTitle}}

{{$header}}
    <h1>Declaration</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>By continuing you confirm that:</p>
<ul class="list-bullet">
    <li>the information you've given is correct</li>
    {{^values.application-for}}
        <li>you agree to the <a href="https://www.passport.service.gov.uk/help/terms-and-conditions" target="_blank">terms and conditions<span class="visuallyhidden">(opens in a new window)</span></a> {{^values.application-for}}on behalf of the applicant.{{/values.application-for}}</li>
    {{/values.application-for}}
    {{#values.application-for}}
        <li>you agree to the <a href="https://www.passport.service.gov.uk/help/terms-and-conditions" class="new-window" target="_blank">terms and conditions<span class="visuallyhidden">(opens in a new window)</span></a></li>
    {{/values.application-for}}
</ul>

<div class="panel-important">
    <p>If you give untrue or misleading information, we may share information with the police in the UK or abroad and you could be prosecuted.</p>
</div>

{{#checkbox}}declaration{{/checkbox}}

{{#input-submit}}declaration{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
