{{< layout}}

{{$pageTitle}}Required Documents{{/pageTitle}}

{{$header}}
    <h1>What you need to send</h1>
{{/header}}

{{$content}}
<p>Before we can send your new passport we need to see extra documents.</br>We’ll check and return them to you.</p>

<div class="panel panel-border-wide alert-default">
  You must send original documents - we can't accept photocopies. Your application will be delayed if you don't send everything we need.
</div>

<p><strong>Send all of the following:</strong></p>
{{< hmpo-partials-form}}
{{$form}}
<!--<h2>You need to send:</h2>-->

<ul class="list-bullet">
  <li>your old passport</li>

  <li>your birth certificate</li>

  <li>your decree absolute</li>

  <li>your marriage certificate (if you don’t have the original you need to get a replacement)</li>

   <li>a signed and dated letter saying you use your previous name for all purposes</li>
</ul>


<p><strong>You also need to send 1 document in your new name:</strong></p>
<ul class="list-bullet">
  <li>utility bill</li>
<li>bank statement</li>
<li>letter from your employer</li>
<li>driving licence</li>
<li>medical card</li>
<li>letter from your local council or a government department</li>
</ul>

<div class="panel-important"><p>By submitting a passport application you confirm you use your previous name for all purposes.</p></div>



<br>

  {{#values.required-documents}}
    <a href="../renew/confirmation" class="button">Continue</a><br/><br/>
  {{/values.required-documents}}
  {{^values.required-documents}}
    <a href="/change_of_name_180122/renew/declaration" class="button">Continue</a><br/><br/>
  {{/values.required-documents}}

{{/form}}
{{/ hmpo-partials-form}}
<details>
            <summary><span class="summary">My documents aren't in English or Welsh</span></summary>
            <div class="panel panel-border-narrow">
              <p>If your documents aren't in English or Welsh you'll need to get <a href="https://www.gov.uk/certifying-a-document">certified translation.</a></p>

            </div>
        </details>

  <div class="app-c-print-link">
  <a href="/" class="app-c-print-link__link" rel="alternate">
    Print page
  </a>
</div>


{{/content}}


{{/ layout}}
