{{< layout}}

{{$pageTitle}}Required Documents{{/pageTitle}}

{{$header}}
    <h1>What you need to send</h1>
{{/header}}

{{$content}}

    <!-- TODO: Only show if parents + grandparents provided -->
    <p>Before we can send the new passport, we need to see documents that prove identity and nationality. We'll check and return
        them to you.</p>

    {{#nunjucks}}
        {% include "views/partials/documents/message-alert-default.njk" %}
        {% include "views/partials/documents/fta.njk" %}
    {{/nunjucks}}

    {{< hmpo-partials-form}}
        {{$form}}
            {{#input-submit}}{{/input-submit}}
        {{/form}}
    {{/ hmpo-partials-form}}

    <details>
        <summary>
            <span class="summary">My documents aren't in English or Welsh</span>
        </summary>
        <div class="panel panel-border-narrow">
            <p>If your documents aren't in English or Welsh you'll need to get
                <a href="https://www.gov.uk/certifying-a-document">certified translation.</a>
            </p>
        </div>
    </details>

    <div class="app-c-print-link">
        <a href="#" class="app-c-print-link__link" rel="alternate">
            Print page
        </a>
    </div>

{{/content}}

{{/ layout}}
