{{< layout}}

{{$pageTitle}}Family details{{/pageTitle}}

{{$main-content}}

{{< hmpo-partials-form}}
{{$form}}

<div class="column-full">
    <div class="flash-card">
        <header>
            <h1>Family details</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">
                <p>We need to confirm you have British nationality – this may depend on your parents or grandparents.</p>

                <p>If you can't provide their details, you'll need to tell us why and it may delay your application.</p>

                <p>We won't contact your family and their details won't appear on your passport.</p>
                <br>
                {{#input-submit}}{{/input-submit}}
            </div>
        </div>
    </div>
</div>

{{/form}}
{{/ hmpo-partials-form}}

{{/main-content}}

{{/ layout}}
