{{< layout}}

{{$pageTitle}}Home address{{/pageTitle}}

{{$header}}
    <h1>What is your home address?</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

      <p>This is the address we’ll send your new passport to. We’ll also return your documents to this address.</p>
      {{#input-text-compound}}address1{{/input-text-compound}}
      {{#input-text-compound}}address2{{/input-text-compound}}
      {{#input-text-compound}}address3{{/input-text-compound}}
      {{#input-text-compound}}address4{{/input-text-compound}}
      {{#input-text}}address5{{/input-text}}

      {{#input-text}}town{{/input-text}}

      {{#input-text}}postcode{{/input-text}}

    {{#input-submit}}{{/input-submit}}

    <details role="group" class="">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I live outside the UK</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <p>You’ll need to use <a href="https://www.gov.uk/overseas-passports">another service</a> to renew your passport.</p>
            </div>
        </details>
        
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
