{{< layout}}

{{$pageTitle}}Grandparents' details{{/pageTitle}}

{{$main-content}}

{{< hmpo-partials-form}}
{{$form}}

<div class="column-full">
    <div class="flash-card">
        <header>
            <h1>Grandparents' details</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">

                <p>Interstitial for why grandparents details are now required. Content TBC.</p>
                <br>

                {{#input-submit}}{{/input-submit}}
            </div>
        </div>
    </div>
</div>

{{/form}}
{{/ hmpo-partials-form}}

{{/main-content}}

{{/ layout}}
