{{< layout}}

{{$pageTitle}}Grandparents' details{{/pageTitle}}

{{$main-content}}

{{< hmpo-partials-form}}
{{$form}}

<div class="column-full">
    <div class="flash-card">
        <header>
            <h1>Grandparents' details</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">

                <p>Based on the changes you made to your application, we need to ask for your grandparents' details.</p>

                <p>We need this information to work out your parents' nationality and if they can pass it down to you.</p>

                <br>

                {{#input-submit}}{{/input-submit}}
            </div>
        </div>
    </div>
</div>

{{/form}}
{{/ hmpo-partials-form}}

{{/main-content}}

{{/ layout}}
