{{< layout}}

{{$pageTitle}}Required Documents{{/pageTitle}}

{{$header}}
    <h1>What you need to send</h1>
{{/header}}

{{$content}}
<p>Before we can send your new passport we need to see extra documents.</br>We’ll check and return them to you.</p>

<div class="panel panel-border-wide alert-default">
  You must send original documents - we can't accept photocopies. Your application will be delayed if you don't send everything we need.
</div>

<h2>How did you change your name?</h2>
<div class="accordion" id="name-change-accordion">

  <div class="accordion-section" id="marriage">

    <div class="accordion-section-header">
      <h2 class="heading-small">Marriage or civil partnership</h2>
    </div>
    <div class="accordion-section-body">
      <h3>After the ceremony</h3>
      <p>If the ceremony has already taken place you need to send:</p>
      <ul class="list-bullet">
        <li>your old passport</li>
        <li>your marriage or civil partnership certificate</li>
      </ul>


      <h3>Before the ceremony</h3>
      <p>If you want to change your name before the ceremony you need to send:</p>
      <ul class="list-bullet">
        <li>your old passport</li>
        <li>a completed <a href="https://www.gov.uk/government/publications/passports-for-newly-weds-and-civil-partners">passports for newly weds and civil partners</a> form</li>
      </ul>
    </div>
  </div>

  <div class="accordion-section" id="divorce">

    <div class="accordion-section-header">
      <h2 class="heading-small">Divorce</h2>
    </div>
    <div class="accordion-section-body">
      <h3>Send all of the following:</h3>

      <ul class="list-bullet">
        <li>your old passport</li>

        <li>your birth certificate</li>

        <li>a signed and dated letter saying you're using your birth name for all purposes</li>

        <li>your marriage certificate </li>
      </ul>

      <h3>You also need to send 1 document in your new name:</h3>
      <ul class="list-bullet">
        <li>utility bill</li>
        <li>bank statement</li>
        <li>letter from your employer</li>
        <li>driving licence</li>
        <li>medical card</li>
        <li>letter from your local council or a government department</li>
      </ul>
    </div>
  </div>

  <div class="accordion-section" id="gender">

    <div class="accordion-section-header">
      <h2 class="heading-small">Gender reassignment</h2>
    </div>
    <div class="accordion-section-body">
      <h3>You need to send:</h3>

      <ul class="list-bullet">
        <li>your old passport</li>
      </ul>

      <h3>You also need to send 1 of the following:</h3>
      <ul class="list-bullet">

        <li>a birth or adoption certificate in your acquired gender</li>
        <li>a Gender Recognition Certificate</li>
        <li>a letter from your doctor or medical consultant confirming that your change of gender is likely to be permanent
        </li>
      </ul>

      <p>If you’re sending a letter from your doctor you also need to send:</p>
      <h3>1 document in your new name:</h3>
      <ul class="list-bullet">
        <li>letter from your employer</li>
        <li>driving licence</li>
        <li>bank statement</li>
        <li>medical card</li>
        <li>letter from your local council or a government department</li>
      </ul>

      <h3>And 1 document as proof of your change of name:</h3>
      <ul class="list-bullet">
        <li>deed poll (enrolled or unenrolled)</li>
        <li>change of name deed signed in both your old and new names</li>
        <li>statutory declaration or affidavit signed in your new name</li>

      </ul>
    </div>
  </div>
  <div class="accordion-section" id="first-name">

    <div class="accordion-section-header">
      <h2 class="heading-small">Changing the spelling or order of your first names, or dropping a first name</h2>
    </div>
    <div class="accordion-section-body">
      <h3>You need to send:</h3>

      <ul class="list-bullet">
        <li>your old passport</li>
      </ul>

      <h3>And 2 documents that show you're using your new name:</h3>
      <ul class="list-bullet">
        <li>utility bill</li>
        <li>bank statement</li>
        <li>letter from your employer</li>
        <li>driving licence</li>
        <li>medical card</li>
        <li>letter from your local council or a government department</li>
      </ul>
    </div>

  </div>
  <div class="accordion-section" id="other">

    <div class="accordion-section-header">
      <h2 class="heading-small">Other name changes</h2>
    </div>
    <div class="accordion-section-body">
      <h3>You need to send:</h3>
      <ul class="list-bullet">
        <li>your old passport</li>
      </ul>
      <h3>And 1 document that proves you changed your name:</h3>
      <ul class="list-bullet">
        <li>marriage certificate</li>
        <li>civil partnership certificate</li>
        <li>deed poll</li>
        <li>change of name deed</li>
        <li>statuary declaration</li>
        <li>affidavit</li>
      </ul>
      <h3>And 1 document that shows you're using your new name:</h3>
      <ul class="list-bullet">
        <li>utility bill</li>
        <li>bank statement</li>
        <li>letter from your employer</li>
        <li>driving licence</li>
        <li>medical card</li>
        <li>letter from your local council or a government department</li>
      </ul>
      <p>If you've changed your name more than once, you'll need to send proof of every name change.</p>
    </div>

  </div>

</div>

<br>
{{< hmpo-partials-form}}
{{$form}}

    {{#values.required-documents}}
    <a href="../tracking-change-of-name/waiting-for-old-pass" class="button">Continue</a><br/><br/>
  {{/values.required-documents}}
  {{^values.required-documents}}
    <a href="/change_of_name_180122/renew/declaration" class="button">Continue</a><br/><br/>
  {{/values.required-documents}}

{{/form}}
{{/ hmpo-partials-form}}
<details>
            <summary><span class="summary">My documents aren't in English or Welsh</span></summary>
            <div class="panel panel-border-narrow">
              <p>If your documents aren't in English or Welsh you'll need to get <a href="https://www.gov.uk/certifying-a-document">certified translation.</a></p>

            </div>
        </details>

 <div class="app-c-print-link">
  <a href="/" class="app-c-print-link__link" rel="alternate">
    Print page
  </a>
</div>


{{/content}}


{{/ layout}}
