{{< layout}}

{{$pageTitle}}Parent 2&rsquo;s arents&rsquo; details{{/pageTitle}}

{{$header}}
    <h1>Paternal grandparent's details</h1>
{{/header}}

{{$content}}

<p>We need to know about the applicant's grandparents on their father's side.</p>


{{< hmpo-partials-form}}
{{$form}}

<h2>Paternal grandmother</h2>
{{#input-text}}parent2-parent1-first-names{{/input-text}}
{{#input-text}}parent2-parent1-last-name{{/input-text}}

<h2>Paternal grandfather</h2>
{{#input-text}}parent2-parent2-first-names{{/input-text}}
{{#input-text}}parent2-parent2-last-name{{/input-text}}

<h2>Were they married or in a civil partnership?</h2>
{{#radio-group}}parent2-parents-married{{/radio-group}}
<div id="marriage-date" class="reveal js-hidden">
    <fieldset>
        <div class="form-date panel panel-border-narrow">
            <legend>
                <span class="form-label-bold">Date of marriage or civil partnership</span>
            </legend>
            <p class="form-hint" id="dob-hint">For example 25 08 2012</p>
            {{#input-text}}parent2-parents-marriage-day{{/input-text}}
            {{#input-text}}parent2-parents-marriage-month{{/input-text}}
            {{#input-text}}parent2-parents-marriage-year{{/input-text}}
        </div>
    </fieldset>
    <br>
</div>

{{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
