{{< layout}}

{{$pageTitle}}Maternal grandfather{{/pageTitle}}

{{$header}}
    <h1>
        <!-- <span class="heading-secondary">Parent 1's father or parent 2</span> -->
        Maternal grandfather
    </h1>
{{/header}}

{{$content}}

<p>You need to enter as much information as you can or your application may be delayed.</p>

{{< hmpo-partials-form}}
{{$form}}

    {{#input-text}}parent1-parent2-town{{/input-text}}

    <fieldset>
        <legend>
            <span class="form-label-bold">Country of birth</span>
        </legend>
        {{#select}}parent1-parent2-country-of-birth{{/select}}
    </fieldset>

    <fieldset>
        <div class="form-date">
            <legend><span class="form-label-bold">Date of birth</span></legend>
            <p class="form-hint" id="dob-hint">For example 31 08 1970</p>
            {{#input-text}}parent1-parent2-age-day{{/input-text}}
            {{#input-text}}parent1-parent2-age-month{{/input-text}}
            {{#input-text}}parent1-parent2-age-year{{/input-text}}
        </div>
    </fieldset>
    <br>

    <!-- <fieldset>
        <legend>
            <span class="form-label-bold">Country of nationality</span>
        </legend>
        <p class="form-hint" id="dob-hint">At the time of {{values.parent1-first-names}}'s birth</p>
        {{#select}}parent1-parent2-country-of-nationality{{/select}}
    </fieldset>

    <fieldset>
        <legend>
            <span class="form-label-bold">UK passport number</span>
        </legend>
        <p class="form-hint" id="dob-hint">For example 502135326, leave this blank if it doesn't apply</p>
        {{#input-text}}parent1-parent2-passport-number{{/input-text}}
    </fieldset>

    <fieldset>
        <div class="form-date form-group">
            <legend><span class="form-label-bold">Date of issue</span></legend>
            <p class="form-hint" id="dob-hint">For example 12 04 2007, leave this blank if it doesn't apply</p>
            {{#input-text}}parent1-parent2-passport-issue-day{{/input-text}}
            {{#input-text}}parent1-parent2-passport-issue-month{{/input-text}}
            {{#input-text}}parent1-parent2-passport-issue-year{{/input-text}}
        </div>
    </fieldset> -->

    <details>
        <summary>
            <span class="summary">I don't know these details</span>
        </summary>
        <div class="panel panel-border-narrow">
            {{#textarea}}parent1-parent2-additional-information{{/textarea}}
        </div>
    </details>

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}