{{< layout}}

{{$pageTitle}}Parents’ details{{/pageTitle}}

{{$header}}
<h1>Parents' details</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>We need to confirm you have British nationality – this may depend on your parents. Provide as much information as you can or your application may be delayed.</p>

<p>If you can't provide your parents' details, you'll need to tell us why. We may need to ask for your grandparents' details too.</p>

<p>We won't contact your parents and their details won't appear on your passport.</p>
{{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
