{{< layout}}

{{$pageTitle}}Maternal grandparents{{/pageTitle}}

{{$header}}
    <h1>
        <!-- <span class="heading-secondary">Parent 1's mother or parent 1</span> -->
        Maternal grandparents
    </h1>
{{/header}}

{{$content}}

<p>You need to enter as many details as you can or your application may be delayed.</p>

{{< hmpo-partials-form}}
{{$form}}

    <h2>Grandmother</h2>
    {{#input-text}}parent1-parent1-town-of-birth{{/input-text}}
    {{#select}}parent1-parent1-country-of-birth{{/select}}

    <fieldset>
        <div class="form-date">
            <legend><span class="form-label">Date of birth</span></legend>
            <p class="form-hint" id="dob-hint">For example 31 08 1970</p>
            {{#input-text}}parent1-parent1-age-day{{/input-text}}
            {{#input-text}}parent1-parent1-age-month{{/input-text}}
            {{#input-text}}parent1-parent1-age-year{{/input-text}}
        </div>
    </fieldset>
    <br>

    <details>
        <summary>
            <span class="summary">I don't know these details</span>
        </summary>
        <div class="panel panel-border-narrow">
            {{#textarea}}parent1-parent1-additional-information{{/textarea}}
        </div>
    </details>


    <h2>Grandfather</h2>
    {{#input-text}}parent1-parent2-town-of-birth{{/input-text}}
    {{#select}}parent1-parent2-country-of-birth{{/select}}

    <fieldset>
        <div class="form-date">
            <legend><span class="form-label">Date of birth</span></legend>
            <p class="form-hint" id="dob-hint">For example 31 08 1970</p>
            {{#input-text}}parent1-parent2-age-day{{/input-text}}
            {{#input-text}}parent1-parent2-age-month{{/input-text}}
            {{#input-text}}parent1-parent2-age-year{{/input-text}}
        </div>
    </fieldset>
    <br>

    <details>
        <summary>
            <span class="summary">I don't know these details</span>
        </summary>
        <div class="panel panel-border-narrow">
            {{#textarea}}parent1-parent2-additional-information{{/textarea}}
        </div>
    </details>

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}