{{< layout}}

{{$pageTitle}}Father or parent 2{{/pageTitle}}

{{$header}}

<h1>Father or parent 2</h1>

{{/header}}

{{$content}}

<p>We need to confirm that you have British nationality. This may depend on your parents – provide as many details as you can.</p>


{{< hmpo-partials-form}}
{{$form}}

    {{#input-text}}parent2-town{{/input-text}}

    <fieldset>
        <legend>
            <span class="form-label-bold">Country of birth</span>
        </legend>
        {{#select}}parent2-country-of-birth{{/select}}
    </fieldset>

    <fieldset>
        <div class="form-date">
            <legend><span class="form-label-bold">Date of birth</span></legend>
            <p class="form-hint" id="dob-hint">For example 31 08 1970</p>
            {{#input-text}}parent2-age-day{{/input-text}}
            {{#input-text}}parent2-age-month{{/input-text}}
            {{#input-text}}parent2-age-year{{/input-text}}
        </div>
    </fieldset>
    <br>

    <fieldset>
        <legend>
            <span class="form-label-bold">Country of nationality</span>
        </legend>
        <p class="form-hint" id="dob-hint">At the time of your birth</p>
        {{#select}}parent2-country-of-nationality{{/select}}
    </fieldset>

    <fieldset>
        <legend>
            <span class="form-label-bold">UK passport number</span>
        </legend>
        <p class="form-hint" id="dob-hint">For example 502135326, leave this blank if it doesn't apply</p>
        {{#input-text}}parent2-passport-number{{/input-text}}
    </fieldset>

    <fieldset>
        <div class="form-date form-group">
            <legend><span class="form-label-bold">Date of issue</span></legend>
            <p class="form-hint" id="dob-hint">For example 12 04 2007, leave this blank if it doesn't apply</p>
            {{#input-text}}parent2-passport-issue-day{{/input-text}}
            {{#input-text}}parent2-passport-issue-month{{/input-text}}
            {{#input-text}}parent2-passport-issue-year{{/input-text}}
        </div>
    </fieldset>

    <details>
        <summary>
            <span class="summary">I don't know these details</span>
        </summary>
        <div class="panel panel-border-narrow">
            <span class="form-hint">You need to provide as much information as you can, but if you don't know these details, tell us why.</span>
            {{#textarea}}parent2-additional-information{{/textarea}}
        </div>
    </details>

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
