{{< layout}}

{{$pageTitle}}Maternal grandparents{{/pageTitle}}

{{$header}}
    <h1>
        <!-- <span class="heading-secondary">Parent 1's mother or parent 1</span> -->
        Maternal grandparents
    </h1>
{{/header}}

{{$content}}

<p>You need to enter as many details as you can or your application may be delayed.</p>

{{< hmpo-partials-form}}
{{$form}}

    <h2>Grandmother</h2>
    {{#input-text}}parent1-parent1-town-of-birth{{/input-text}}
    {{#select}}parent1-parent1-country-of-birth{{/select}}

    <h2>Grandfather</h2>
    {{#input-text}}parent1-parent2-town-of-birth{{/input-text}}
    {{#select}}parent1-parent2-country-of-birth{{/select}}

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}