{{< layout}}

{{$pageTitle}}Father or parent 2{{/pageTitle}}

{{$header}}

<h1>Father or parent 2</h1>

{{/header}}

{{$content}}

<p>You need to enter as many details as you can or your application may be delayed.</p>

{{< hmpo-partials-form}}
{{$form}}

    {{#input-text}}parent2-town-of-birth{{/input-text}}

    <fieldset>
        <legend>
            <span class="form-label-bold">Country of birth</span>
        </legend>
        {{#select}}parent2-country-of-birth{{/select}}
    </fieldset>

    <fieldset>
        <legend>
            <span class="form-label-bold">Country of nationality</span>
        </legend>
        <p class="form-hint" id="dob-hint">At the time of your birth</p>
        {{#select}}parent2-country-of-nationality{{/select}}
    </fieldset>

    <fieldset>
        <legend>
            <span class="form-label-bold">UK passport number</span>
        </legend>
        <p class="form-hint" id="dob-hint">For example 502135326, leave this blank if it doesn't apply</p>
        {{#input-text}}parent2-passport-number{{/input-text}}
    </fieldset>

    <fieldset>
        <div class="form-date form-group">
            <legend><span class="form-label-bold">Date of issue</span></legend>
            <p class="form-hint" id="dob-hint">For example 12 04 2007, leave this blank if it doesn't apply</p>
            {{#input-text}}parent2-passport-issue-day{{/input-text}}
            {{#input-text}}parent2-passport-issue-month{{/input-text}}
            {{#input-text}}parent2-passport-issue-year{{/input-text}}
        </div>
    </fieldset>

    <details>
        <summary>
            <span class="summary">I don't know these details</span>
        </summary>
        <div class="panel panel-border-narrow">
            {{#textarea}}parent2-additional-information{{/textarea}}
        </div>
    </details>

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
