{{< layout}}

{{$pageTitle}}Father or parent 2{{/pageTitle}}

{{$header}}

<h1>Father or parent 2</h1>

{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    {{#input-text}}parent2-town-of-birth{{/input-text}}

    <fieldset>
        <legend>
            <span class="form-label-bold">Country of birth</span>
        </legend>
        {{#select}}parent2-country-of-birth{{/select}}
    </fieldset>

    {{#input-text}}parent2-country-of-nationality{{/input-text}}


    {{#radio-group}}parent2-uk-passport{{/radio-group}}
    <div style="margin-top: -30px;" id="parent2-uk-passport" class="reveal js-hidden">
        <div class="panel panel-border-narrow">
            <legend>
                <span class="form-label">Passport number</span>
            </legend>
            <p class="form-hint" id="dob-hint">For example 502135326, leave this blank if you can't provide it</p>
            {{#input-text}}parent2-passport-number{{/input-text}}

            <div class="form-date form-group">
                <legend>
                    <span class="form-label">Date of issue</span>
                </legend>
                <p class="form-hint" id="dob-hint">For example 12 04 2007, leave this blank if you can't provide it</p>
                {{#input-text}}parent2-passport-issue-day{{/input-text}}
                {{#input-text}}parent2-passport-issue-month{{/input-text}}
                {{#input-text}}parent2-passport-issue-year{{/input-text}}
            </div>
        </div>
        <br>
    </div>

    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
