{{< layout}}

{{$pageTitle}}Parents’ details{{/pageTitle}}

{{$header}}
<h1>Parents' details</h1>
{{/header}}

{{$content}}

<p>We need to confirm you're eligible for a UK passport – this may depend on your parents. If you can't provide these details, you need to tell us why.</p>

{{< hmpo-partials-form}}
{{$form}}

<h2>Mother or parent 1</h2>
{{#input-text}}parent1-first-names{{/input-text}}
{{#input-text}}parent1-last-name{{/input-text}}

<fieldset>
    <div class="form-date">
        <legend><span class="form-label">Date of birth</span></legend>
        <p class="form-hint" id="dob-hint">For example 31 08 1970</p>
        {{#input-text}}parent1-age-day{{/input-text}}
        {{#input-text}}parent1-age-month{{/input-text}}
        {{#input-text}}parent1-age-year{{/input-text}}
    </div>
</fieldset>
<br>

<details {{values.openParent1AdditionalInfo}}>
    <summary>
        <span class="summary">I don't know these details</span>
    </summary>
    <div class="panel panel-border-narrow">
        {{#textarea}}parent1-additional-information{{/textarea}}
    </div>
</details>


<h2>Father or parent 2</h2>
{{#input-text}}parent2-first-names{{/input-text}}
{{#input-text}}parent2-last-name{{/input-text}}

<fieldset>
    <div class="form-date">
        <legend><span class="form-label">Date of birth</span></legend>
        <p class="form-hint" id="dob-hint">For example 31 08 1970</p>
        {{#input-text}}parent2-age-day{{/input-text}}
        {{#input-text}}parent2-age-month{{/input-text}}
        {{#input-text}}parent2-age-year{{/input-text}}
    </div>
</fieldset>
<br>

<details {{values.openParent2AdditionalInfo}}>
    <summary>
        <span class="summary">I don't know these details</span>
    </summary>
    <div class="panel panel-border-narrow">
        {{#textarea}}parent2-additional-information{{/textarea}}
    </div>
</details>

<h2>Were they married or in a civil partnership?</h2>
{{#radio-group}}parents-married{{/radio-group}}
<div id="marriage-date" class="reveal js-hidden">
    <fieldset>
        <div class="form-date panel panel-border-narrow">
            <legend>
                <span class="form-label">Date of marriage or civil partnership</span>
            </legend>
            <p class="form-hint" id="dob-hint">For example 25 08 2012, leave this blank if it isn't known</p>
            {{#input-text}}marriage-day{{/input-text}}
            {{#input-text}}marriage-month{{/input-text}}
            {{#input-text}}marriage-year{{/input-text}}
        </div>
    </fieldset>
    <br>
</div>

{{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
