{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

  <!-- <br>

  <header class="update-notice">
      <h1><span class="icon-tick"></span> Application submitted</h1>
      <p>Application reference: <strong>PEX 319 825 680X</strong></p>
          <p>Your payment: £{{values.cost}}0, reference: IE19852</p>
      <p>Email confirmation sent to <strong>{{values.email}}</strong></p>
      <a href="#" class="download">Download PDF receipt</a>
  </header>

  <div class="panel-important">
      <p>We can't start your application until we receive your documents.</p>
  </div> -->



  <h2>Send us your documents</h2>
  <p>
      <a href="docs-fta">Check what you need to send</a>
  </p>

  <p>You don’t need to include a covering letter.</p>

  <p>HM Passport Office
  <br/> Ref: PEX 319 825 680X
  <br/> Aragon Court
  <br/> Northminster Road
  <br/> Peterborough
  <br/> PE1 1QG</p>

  <p>Use a strong envelope that is the right size for your documents. You can use standard post or special delivery.</p>

  <h2>Get someone to confirm your identity</h2>
  <p>You'll need to ask a friend or someone who knows you well to <a href="/../csig/user-contact">confirm your identity</a>. We've sent you an email that tells you what you'll need to do.</p>

  <h2>Track your application</h2>
  <p>It should take 6 weeks to get your new passport. Use your reference
  <br>
  <strong>PEX 319 825 680X</strong> to
  <a href="/tracking-change-of-name">track your application</a>.</p>

  <a href="#" class="button">Give feedback</a>
  <br/>
  <br/>

  <h1>What you need to do</h1>
  <ol class="task-list">
    <li>
      <h2 class="task-list-section">
        <span class="task-list-section-number">1. </span> Check before you start
      </h2>
      <ul class="task-list-items">
        <li class="task-list-item">
          <a class="task-name" href="#" aria-describedby="eligibility-completed">
            Check eligibility
          </a>
          <strong class="task-completed" id="eligibility-completed">Completed</strong>
        </li>
        <li class="task-list-item">
          <a class="task-name" href="#" aria-describedby="read-declaration-completed">
            Read declaration
          </a>
          <strong class="task-completed" id="read-declaration-completed">Completed</strong>
        </li>
      </ul>
    </li>
    <li>
      <h2 class="task-list-section">
        <span class="task-list-section-number">2. </span> Prepare application
      </h2>
      <ul class="task-list-items">
        <li class="task-list-item">
          <a class="task-name" href="#" aria-describedby="company-information-completed">
            Company information
          </a>
          <strong class="task-completed" id="company-information-completed">Completed</strong>
        </li>
        <li class="task-list-item">
          <a class="task-name" href="#" aria-describedby="contact-details-completed">
            Your contact details
          </a>
          <strong class="task-completed" id="contact-details-completed">Completed</strong>
        </li>
        <li class="task-list-item">
          <a class="task-name" href="#">
            List convictions
          </a>
        </li>
        <li class="task-list-item">
          <a class="task-name" href="#">
            Provide financial evidence
          </a>
        </li>
        <li class="task-list-item">
          <a class="task-name" href="#" aria-describedby="medical-information-completed">
            Give medical information
          </a>
          <strong class="task-completed" id="medical-information-completed">Completed</strong>
        </li>
      </ul>
    </li>
    <li>
      <h2 class="task-list-section">
        <span class="task-list-section-number">3. </span> Apply
      </h2>
      <ul class="task-list-items">
        <li class="task-list-item">
          <a class="task-name" href="#">
            Submit and pay
          </a>
        </li>
      </ul>
    </li>
  </ol>


{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
