{{< layout}}

{{$pageTitle}}Who is the passport for?{{/pageTitle}}

{{$header}}
    <h1>Who is the passport for?</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
    {{$form}}
        {{#radio-group}}application-for-someone-else{{/radio-group}}

        <div class="panel panel-border-narrow js-hidden" id="someone-else">
          <label for="someone-else" class="form-label">
        <p>You can only apply for someone else if you're legally responsible for them, for example an adult who doesn't have mental or physical capacity.</p>
        <p>If you're helping someone do this, for example they're not confident doing things online, select 'me'.</p>
          </ul>
          </label>
        </div>

        {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
