{{< layout}}

{{$main-content}}
    <div class="column-full">
        <div class="flash-card">
        <header>
        <h1>Before you continue</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">
              <p>It should take around 3 weeks to get a new passport. Use a different service if you need to <a href="https://www.gov.uk/get-a-passport-urgently">get a passport urgently</a>.</p>

              <h2>Confirming your identity</h2>
              <p>You no longer need to ask someone to sign a printed photo. If we can't recognise you from your old photo, you can ask someone to confirm your identity online.</p>

              <h2>Changes to your face</h2>
              <p>If your face has changed because of an accident, illness or surgery, you need to <a href="https://passportapplication.service.gov.uk/ips-olc/">apply in a different way</a>. This doesn’t include the normal signs of ageing.</p>
<br>
              <a href="/12_15s/intro/what-you-need" class="button">Continue</a><br>

            </div>
        </div>

        </div>
    </div>

{{/ main-content}}

{{/ layout}}
