{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
    <h1>Get a passport urgently</h1>
{{/header}}


{{$content}}

<!-- <div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>

<div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
</div> -->

<!-- <header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
        </a>
      </div>
        <a href="#search" class="search-toggle js-header-toggle">Search</a>

<form id="search" class="site-search" action="/search" method="get" role="search">
<div class="content">
  <label for="site-search-text">Search</label>
  <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
  <input class="submit" type="submit" value="Search">
</div>
</form>

    </div>

  </div>
</header> -->

  <!-- <div id="user-satisfaction-survey-container"></div> -->


<!-- <div id="global-header-bar"></div>

    <div class="header-context"></div> -->

<!-- <div id="wrapper" class="guide guide">
    <div class="govuk-breadcrumbs">
<ol>
<li>
    <a href="/">Home</a>
</li>
<li>
    <a href="/browse/abroad">Passports, travel and living abroad</a>
</li>
<li>
    <a href="/browse/abroad/passports">Passports</a>
</li>
</ol>
</div> -->


  <!-- <div class="grid-row">

<main id="content" role="main" class="multi-page">
<header class="page-header">
<div>
  <h1>
    Get a passport urgently
  </h1>
</div>
</header> -->

<div class="article-container group">
<div class="content-block">
  <div class="inner">

<aside>
<div class="inner">
<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
    <ol>
          <li class="active">
            <span class="part-number">1.</span>
            <span>Premium (1 day) or Fast Track (1 week) service</span>
          </li>
          <li>
            <span class="part-number">2.</span>
            <a title="Part 2: Passports types and prices" href="/get-a-passport-urgently/cost">Passports types and prices</a>
          </li>
          <li>
            <span class="part-number">3.</span>
            <a title="Part 3: Get an application form, book and pay" href="/get-a-passport-urgently/book-appointment-pay">Get an application form, book and pay</a>
          </li>
    </ol>
    <ol start="4">
          <li>
            <span class="part-number">4.</span>
            <a title="Part 4: What to take to your appointment" href="/get-a-passport-urgently/what-to-take-to-your-appointment">What to take to your appointment</a>
          </li>
    </ol>
</nav>
</div>
</aside>

<header>
  <h1>1. Premium (1 day) or Fast Track (1 week) service</h1>
</header>

<p>You can get a passport using the 1 day Premium service or 1 week Fast Track service if you need one urgently and you’re in the UK.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You can’t use either service if you’re outside the UK.</p>
</div>

<p>You’ll need to <a href="/get-a-passport-urgently/book-appointment-pay">book an appointment</a> at a Passport Customer Service Centre. You can <a href="/find-regional-passport-office">look up the address of centres</a> near you.</p>

<p><a href="/apply-renew-passport">Use the normal service</a> if your application isn’t urgent.</p>

<h2>1 day Premium service</h2>

<p>You can get your passport the same day if you provide a completed application form, 2 photos and all your <a href="/get-a-passport-urgently/what-to-take-to-your-appointment">supporting documents</a>. You can usually collect it 4 hours after your appointment.</p>

<h2>1 week Fast Track service</h2>

<p>Your passport is sent to your home within 1 week of your appointment (excluding bank holidays) if you provide a completed application form, 2 photos and all your <a href="/get-a-passport-urgently/what-to-take-to-your-appointment">supporting documents</a>.</p>

<p>Someone may need to be at home to sign for it.</p>

<h2>If you’ve already applied for a passport</h2>

<p>You may be able to upgrade an existing passport application in exceptional circumstances - call the <a href="/passport-advice-line">Passport Adviceline</a> to find out.</p>

<p>You don’t need to book an appointment online.</p>


<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
<ul class="group">
      <li class="next">
        <a title="Navigate to next part" rel="next" href="/get-a-passport-urgently/cost">
          <span class="pagination-label">Next</span> <span class="pagination-part-title">Passports types and prices</span>
</a>          </li>
</ul>
</nav>
</footer>


<div class="print-link">
<a rel="nofollow" href="/get-a-passport-urgently/print">Print entire guide</a>
</div>

  </div>
</div>
<div class="meta-data group">
<p class="modified-date">Last updated: 23 September 2016</p>
</div>



</div>
</main>



<div class="report-a-problem-container">
<div class="report-a-problem-inner">
<div class="report-a-problem-content">
  <h2>Help us improve GOV.UK</h2>
  <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <input id="url" name="url" type="hidden" value="https://www.gov.uk/get-a-passport-urgently">

      <input id="source" name="source" type="hidden" value="">


      <input id="page_owner" name="page_owner" type="hidden" value="">


    <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

    <label for="what_doing">What you were doing</label>
    <input id="what_doing" name="what_doing" type="text">

    <label for="what_wrong">What went wrong</label>
    <input id="what_wrong" name="what_wrong" type="text">

    <div class="button-wrapper">
      <button name="commit" type="submit" class="button">Send</button>
    </div>
  </form>
</div>
</div>
</div>
</div>





{{/ content}}
{{$sidebar}}
    <div class="column-one-third">
      <div class="related-container">
      <aside class="govuk-related-items" role="complementary">
      <h2>
        Passports
      </h2>
      <nav role="navigation">
        <ul>
            <li>
              <a href="/renew-adult-passport">
                Renew or replace your adult passport
              </a>
            </li>
            <li>
              <a href="/get-a-child-passport">
                Get a passport for your child
              </a>
            </li>
            <li>
              <a href="/apply-first-adult-passport">
                Apply for your first adult passport
              </a>
            </li>
            <li>
              <a href="/report-a-lost-or-stolen-passport">
                Cancel a lost or stolen passport
              </a>
            </li>
            <li>
              <a href="/passport-services-di sabled">
                Passport services if you're disabled
              </a>
            </li>
            <li class="related-items-more">
              <a href="/browse/abroad/passports">
                More
                  <span class="visuallyhidden">
                    in
                    Passports
                  </span>
              </a>
            </li>
        </ul>
      </nav>
      </aside>

      </div>

        </div>
    </div>
{{/sidebar}}


{{/ layout}}
