{{< layout}}
{{$propositionHeader}}Apply first passport{{/propositionHeader}}

{{$pageTitle}}Overseas British first passport applications{{/pageTitle}}

{{$header}}
    <h1>Overseas British first passport applications</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
      <strong>SPAIN</strong> static page for <strong>first</strong> application that <strong>was hidden as renew</strong>

      <!--  {{#input-submit}}{{/input-submit}} -->
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
