{{< layout}}

{{$pageTitle}}Upload your photo{{/pageTitle}}

{{$header}}
    <h1>Upload your photo</h1>
{{/header}}

{{$content}}
        <p >Your photo must meet the rules for digital passport photos.  <br><a href="/../prototype_oix_171117/photoguide-static/photorules"> Read the photo guide</a>.</p>
        
        <div class="panel panel-border-wide">
                <p>We’ll store all photos for up to 30 days in line with our <a href="https://www.passport.service.gov.uk/help/privacy" class="new-window" target="_blank">privacy policy<span class="visuallyhidden">(Opens in a new window)</span></a>.</p>
            </div>

        <a href="/prototype_oix_171117/uploadphoto/" class="button">Upload your photo</a><br/><br/>
        <details role="group" class="">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary js-gaevent" data-galabel="details" data-gakey="printed photo">I have a printed photo</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                    <p>You can’t use a printed photo with this service. You’ll need to <a href="/prototype_oix_171117/intro/choose-photo-method">get a digital photo</a>, or <a href="https://passportapplication.service.gov.uk/ips-olc/" class="js-gaevent" data-galabel="different service" data-gakey="printed photo">use a different service</a> to renew your passport.</p>
                </div>
            </details>

      <!--  <details>
            <summary><span class="summary">I have a printed photo</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                You can’t use a printed photo with this service. You’ll either need to <a href="">get a digital photo</a>, or <a href="">use a different service</a> to renew your passport.
              </p>
            </div>
        </details> -->


    <div class="grid-row photo-upload-eg">
    <h2>How to take a good passport photo</h2>
        <div class="column-half img">
            <object type="image/jpg" data="/public/images/woman-with-reddish-hair_ex@2x.jpg"type="image/svg+xml" tabindex="-1" style="width:70%">
            <img src="/public/images/woman-with-reddish-hair_ex@2x.jpg" alt="Head nad shoulder image of a woman with reddish hair standing in front of a grey background with neutral expression.">
            </object>
        </div>
        <div class="column-half">
          
            <ol class="list list-number">
                <li>Get a friend to take your photo</li>
                <li>Use a plain background</li>
                <li>Don’t crop your photo - include your face, shoulders and upper body</li>
                <li>Keep your hair away from your face and brushed down</li>
                <li>Make sure there are no shadows on your face or behind you</li>
            </ol>
        </div>
    </div>
    <br/>

{{/content}}

{{/ layout}}
