{{< layout}}

{{$pageTitle}}Are there any shadows on your face or in the background?{{/pageTitle}}

{{$header}}
    <h1>Are there any shadows on your face or in the background?</h1>
{{/header}}

{{$content}}

        <p>Your photo must have a light coloured background with no shadows, patterns, objects or other people.</p>

        {{< hmpo-partials-form}}
        {{$form}}
            {{#radio-group}}shadows-face{{/radio-group}}

            <div class="panel panel-border-wide">
                <p>
                  Your application could be delayed if your photo doesn’t follow the rules.
                </p>
            </div>

            {{#input-submit}}{{/input-submit}}
        {{/form}}
        {{/ hmpo-partials-form}}

{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Your photo</h2>
          <div class="photo">
              <img src="../../public/images/thumbnail.jpeg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
          </div>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}
