{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}

<h1>Get a passport urgently</h1>


<p>To get a passport urgently, you'll need to attend an appointment at a passport office in the UK.</p>

<table class="comparison-table">
	<tbody>
		<tr>
			<td></td>
			<td><span class="font-medium">Premium </br>paper</span></td>
			<td><span class="font-medium">Premium </br>online</span></td>
			<td><span class="font-medium">Fast Track</span> </td>
		</tr>
    <tr>
      <td><span class="font-medium">Approximate time taken</td>
      <td><div class="no">1 day</div></td>
      <td><div class="yes">2 days</div></td>
      <td><div class="no">7 days</div></td>
    </tr>
		<tr>
			<td><span class="font-medium">Apply online </br>(digital photo)</td>
			<td><div class="no">No</div></td>
			<td><div class="yes">Yes</div></td>
			<td><div class="no">No</div></td>
		</tr>
		<tr>
			<td><span class="font-medium">Apply with a paper form </br>(2 printed photos)</span></td>
      <td><div class="yes">Yes</div></td>
			<td><div class="no">No</div></td>
			<td><div class="yes">Yes</div></td>
		</tr>

    <tr>
      <td><span class="font-medium">Cost</span></td>
      <td>£128</div></td>
      <td>£128</td>
      <td>£103</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><h2><a href="/priority_service_170202/get-urgent-passport/premium-offline"><input class="button" type="submit" value="Choose"></h2></a></td>
      <td><h2><a href="/priority_service_170202/get-urgent-passport/premium-online"><input class="button" type="submit" value="Choose"></h2></a></td>
      <td><h2><a href="/priority_service_170202/get-urgent-passport/premium-offline"><input class="button" type="submit" value="Choose"></h2></a></td>
    </tr>
	</tbody>
</table>


{{/main-content}}

{{/ layout}}
