{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}

<h1>Get a passport urgently</h1>

<p>You can choose from 3 different ways to get your passport urgently.</p>

<table class="comparison-table">
	<tbody>
		<tr>
			<td></td>
			<td><span class="bold-small">Premium </br>paper</span></td>
			<td><span class="bold-small">Premium </br>online</span></td>
			<td><span class="bold-small">Fast Track</span> </td>
		</tr>

		<tr>
				<td class="criterion"><span class="bold-small">Do I need an appointment at a passport office?</span></td>
				<td>Yes</div></td>
				<td>Yes</td>
				<td>Yes</td>
			</tr>

			<tr>
				<td class="criterion"><span class="bold-small">After my appointment, when do I get my new passport?</span></td>
				<td>4 hours</div></td>
				<td>15 minutes</td>
				<td>1 week</td>
			</tr>
		<tr>
			<td class="criterion"><span class="bold-small">How do I apply?</span></td>
			<td><div class="no">Paper</div></td>
			<td><div class="yes">Online</div></td>
			<td><div class="no">Paper</div></td>
		</tr>
		<tr>
			<td class="criterion"><span class="bold-small">What photos do I need?</span></td>

      <td><div class="yes">2 printed <br>photos</div></td>
			<td><div class="no">1 digital <br>photo</div></td>
			<td><div class="yes">2 printed <br>photos</div></td>
		</tr>

    <tr>
      <td class="criterion"><span class="bold-small">How much does an adult passport cost?</span></td>
      <td>£128</div></td>
      <td>£128</td>
      <td>£103</td>
    </tr>
    <tr>


			<tr>
      <td>&nbsp;</td>
      <td><h2><a href="/priority_service_170202/get-urgent-passport/premium-offline"><input class="button" type="submit" value="Choose"></h2></a></td>
      <td><h2><a href="/priority_service_170202/get-urgent-passport/premium-online"><input class="button" type="submit" value="Choose"></h2></a></td>
      <td><h2><a href="/priority_service_170202/get-urgent-passport/fast-track"><input class="button" type="submit" value="Choose"></h2></a></td>
    </tr>
	</tbody>
</table>


{{/main-content}}

{{/ layout}}
