{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}

<h1>Get a passport urgently</h1>


<p>To get a passport urgently, you'll need to attend an appointment at a passport office in the UK.</p>

<table class="comparison-table">
	<tbody>
		<tr>
			<td></td>
			<td><span class="heading-medium">1-day service</span></td>
			<td><span class="heading-medium">2-day service</span></td>
			<td><span class="heading-medium">7-day service</span> </td>
		</tr>
		<tr>
			<td><span class="heading-medium">Apply online </td>
			<td><div class="no">No</div></td>
			<td><div class="yes">Yes</div></td>
			<td><div class="no">No</div></td>
		</tr>
		<tr>
			<td><span class="heading-medium">Apply with a paper form </br>and 2 printed photos</span></td>
      <td><div class="yes">Yes</div></td>
			<td><div class="no">No</div></td>
			<td><div class="yes">Yes</div></td>
		</tr>
		<tr>
			<td><span class="heading-medium">Collect new passport </br>from passport office</span></td>
      <td><div class="no">No</div></td>
			<td><div class="yes">Yes</div></td>
			<td><div class="no">No</div></td>
		</tr>
    <tr>
      <td><span class="heading-medium">Price</span></td>
      <td>£128</div></td>
      <td>£128</td>
      <td>£103</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><h2><input class="button" type="submit" value="Choose"></h2></td>
      <td><h2><input class="button" type="submit" value="Choose"></h2></td>
      <td><h2><input class="button" type="submit" value="Choose"></h2></td>
    </tr>
	</tbody>
</table>


{{/main-content}}

{{/ layout}}
