{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}

<h1>Apply with the Premium online service</h1>

It usually takes 2 days to get your new passport. This is a new service, <br>
not everyone can use it yet.</p>

<p>You'll need to:</p>

<ol class="list-number">
<li>Check if you can use this service</li>
<li>Choose an appointment and apply online</li>
<li>Take and upload a digital photo - we'll show you how</li>
<li>Attend your appointment to collect your new passport</li>
</ol>
<p>A standard adult passport costs £128 using this service. </p>

<td><h2><a href=""><input class="button" type="submit" value="Check if you can use this service"></h2></a></td>




{{/main-content}}

{{/ layout}}
