{{< layout}}


{{$pageTitle}}When does your passport expire?{{/pageTitle}}

{{$header}}
    <h1>When was your passport issued?</h1>
{{/header}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">
        <header>
            <h1>You'll need a digital photo</h1>
        </header>
        <div class="grid-row">
          <div class="column-two-thirds">
        <!--    <iframe src="https://player.vimeo.com/video/223745277" width="550" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            <img src="../../public/images/VideoEmbed_v1.jpg" width="550"/>
            <p></p>

         </div>
         <h2></h2>
         <div class="column-one-third">
           <a href="../photoguide-short" class="guide-box-photo-hub last">
                   <img src="../../public/images/photo-guide-myself.png" alt="Your uploaded photo" title="Your uploaded photo" style="width:25.2%">
                     <h3 style="margin-top:0;">Follow the guide to taking a photo</h3>
           </a>
           <a href="../photoguide-shop" class="guide-box-photo-hub last">
                   <img src="../../public/images/photo-guide-shop.png" alt="Your uploaded photo" title="Your uploaded photo" width="200">
                     <h3 style="margin-top:0;"> Go to a photo shop or booth</h3>
           </a>
           <p>If you have a digital passport photo, <a href="/shops-photo-checker">check it meets the rules</a>.</p>

         </div>
       </div>
       <a href="/priority_service_170731/filter-common" class="button">Check you can apply online</a>

</div>
</div>

{{/ main-content}}

{{/ layout}}
