{{< layout}}

{{$pageTitle}}{{/pageTitle}}


{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <header class="update-notice">
          <h1><span class="icon-tick"></span> Application submitted</h1>
          <p>We have sent you a confirmation email.</p>
  <p>
    Your application reference number is <br>
    <strong class="heading-medium">PEX 319 825 680X</strong>
  </p>
              
    </header>
    
<br>
<h2>Your payment is confirmed</h2>
<table class="table-summary"  style="width:80%">
  
    <caption class="visuallyhidden">Caption to identify a table</caption>
    
    <tbody>
    
      <tr>
        <th class="table-summary-title" scope="row">Total</th>
        <td class="table-summary-content" itemprop="name">£102.86</td>
      </tr>
      
      <tr>
        <th class="table-summary-title" scope="row">Reference</th>
        <td class="table-summary-content">IE19852</td>
      </tr>
    
    </tbody>
  
  </table>

<br>
          <a href="" class="download">Download PDF receipt</a>

<br>
<br>

    <h2>Send back your old passport and required documents</h2>

    <div class="panel panel-border-wide alert-default">
  We can't complete your application until we receive your old passport and required documents.
  <a href="required-documents">View your required documents</a>
</div>

    <p>HM Passport Office<br/>
       Ref: PEX 319 825 680X<br/>
       Aragon Court<br/>
       Northminster Road<br/>
       Peterborough<br/>
       PE1 1QG
    </p>
    <p>You don’t need to include a covering letter. It’s up to you whether you use standard post or a secure service.</p>

    <h2>Track your application</h2>
    It should take 4 weeks to get your new passport. Use your reference <strong>PEX 319 825 680X</strong> to <a href="/../tracking">track your application</a>.</p>
    <p>If you have questions contact <a href="https://www.gov.uk/browse/abroad/passports" class="new-window" target="_blank">contact HM Passport Office<span class="visuallyhidden">(Opens in a new window)</span></a></p>

    <a href="" class="button">Give feedback</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
