{{< layout}}

{{$pageTitle}}{{/pageTitle}}


{{$content}}

{{< hmpo-partials-form}}
{{$form}}
<br>
    <div class="panel panel-border-wide alert-default">
          <h2>Payment recieved</h2>
          <p><strong>Application reference: PEX 319 825 680X</strong></br>
        Email confirmation sent to test@thundercats.com</br>
      </br>
          <a href="">Download PDF receipt</a></p>
              
    </div>

    <h1>What you need to do next</h1>
<h2>Send us your old passport and extra documents</h2>
  <p><a href="required-documents">Check what you need to send</a></p>

    <p>HM Passport Office<br/>
       Ref: PEX 319 825 680X<br/>
       Aragon Court<br/>
       Northminster Road<br/>
       Peterborough<br/>
       PE1 1QG
    </p>
    <p>You don’t need to include a covering letter. It’s your choice if you use standard post or a secure service.</p>

   
   <h2>How long it takes</h2>
    <p>It should take 3 weeks to get your new passport. It may take longer if we need more information or documents - we'll tell you if that happens.</p>


     <h2>Track your application</h2>
    <p>Use reference <strong>PEX 319 825 680X</strong> to <a href="/../tracking">track your application</a>.</p>
   <!-- <p>If you have questions contact <a href="https://www.gov.uk/browse/abroad/passports" class="new-window" target="_blank">contact HM Passport Office<span class="visuallyhidden">(Opens in a new window)</span></a></p>-->

    <a href="" class="button">Give feedback</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
