{{< layout}}

{{$pageTitle}}Required Documents{{/pageTitle}}

{{$header}}
    <h1>What you need to send</h1>
{{/header}}

{{$content}}
<p>Before we can send your new passport we’ll need to see the documents below.  We’ll check and return them to you.</p>

<div class="panel panel-border-wide alert-default">
  Your application will be delayed if you don’t send everything we need.
</div>

{{< hmpo-partials-form}}
{{$form}}


<h2>If you’re changing your name before the ceremony</h2>
<p><strong>You need to send:</strong></p>
<ul class="list-bullet">
  <li>your old passport</li>
   <li>a completed <a href="https://www.gov.uk/government/publications/passports-for-newly-weds-and-civil-partners">passports for newly weds and civil partners</a> form</li>
</ul>


  <h2>If you’re changing your name after the ceremony</h2>
<p><strong>You need to send:</strong></p>
<ul class="list-bullet">
  <li>your old passport</li>
  <li>your marriage or civil partnership certificate</li>
</ul>


<div class="panel panel-border-wide">
                    <p>You must send original documents - we can’t accept photocopies. If you don’t have your original marriage certificate you must <a href="https://www.gov.uk/order-copy-birth-death-marriage-certificate">get a replacement.</a></p>
                </div>

    <a href="/change_of_name_171117/renew/declaration" class="button">Continue</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
