{{< layout}}

{{$pageTitle}}Required Documents{{/pageTitle}}

{{$header}}
    <h1>What you need to send</h1>
{{/header}}

{{$content}}
<p>Before we can send your new passport we’ll need to see the documents below.  We’ll check and return them to you.</p>

<div class="panel panel-border-wide alert-default">
  Your application will be delayed if you don’t send everything we need.
</div>


{{< hmpo-partials-form}}
{{$form}}
<p><strong>You need to send:</strong></p>

<ul class="list-bullet">
  <li>your old passport</li>
</ul>

<p><strong>You also need to send 1 of the following:</strong></p>
<ul class="list-bullet">

  <li>a birth or adoption certificate in your acquired gender</li>
  <li>a Gender Recognition Certificate</li>
  <li>a letter from your doctor or medical consultant confirming that your change of gender is likely to be permanent
</li>
</ul>

<h2>If you’re sending a letter from your doctor or medical consultant</h2>
<p><strong>You need to provide 1 document in your new name:</strong></p>
<ul class="list-bullet">
  <li>letter from your employer</li>
  <li>driving licence</li>
  <li>bank statement</li>
  <li>medical card</li>
  <li>letter from your local council or a government department</li>
</ul>

<p><strong>You also need to send 1 document as proof of your change of name:</strong></p>
<ul class="list-bullet">
  <li>deed poll (enrolled or unenrolled)</li>
  <li>change of name deed signed in both your old and new names</li>
  <li>statutory declaration or affidavit signed in your new name</li>

</ul>
<br>
<div class="panel panel-border-wide">
                    <p>You must send original documents - we can’t accept photocopies.</p>
                </div>

    <a href="/change_of_name_171117/renew/declaration" class="button">Continue</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
