{{< layout}}

{{$pageTitle}}Your name{{/pageTitle}}

{{$header}}
    <h1>Name on your new passport</h1>
{{/header}}
{{$content}}


{{< hmpo-partials-form}}
{{$form}}
    {{#input-text}}name{{/input-text}}
    {{#input-text}}lastname{{/input-text}}

    <!--<details class="">
        <summary><span class="summary">My name won’t fit in the boxes</span></summary>
        <div class="panel panel-border-narrow">
          <p>Shorten your name in the way you want it shown in your passport. We’ll add a note showing your full name on the observation page in your passport.</p>
        </div>
    </details>-->
    <br>
    
    <fieldset>
        <legend><span class="form-label-bold">Did you use this name on your old passport?</span></legend>
        {{#radio-group}}change-name{{/radio-group}}
    </fieldset>

    <div id="note-regarding-name-change" class="reveal js-hidden">
        <div class="panel panel-border-narrow">
            <p>You’ll need to send extra documents to prove your change of name.</p>
        </div>
    </div>

    <!-- {{#radio-group}}previous-name{{/radio-group}} -->
    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
