
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Choose a date and a passport office</h1>
{{/header}}

{{$main-content}}

<div class="padding-wrapper">

<h1>Border cue design — booking overview grid</h1>

<div class="grid-row">
<div class="column-two-thirds">

</div>
</div>

<!--

<p class="font-small">You can check collection times in:</p>

<div class="filter-locations">
<p><a href="/priority_service_170315/book-appointment/london-week-1">London</a> &emsp; <a href="/priority_service_170315/book-appointment/peterborough-week-1">Peterborough</a> &emsp; <a href="/priority_service_170315/book-appointment/newport-week-1">Newport</a> &emsp; <a href="#">Liverpool</a> &emsp; <a href="#">Durham</a> &emsp; <a href="#">Glasgow</a> &emsp; <a href="#">Belfast</a></p>
</div>

-->

<div class="manage-times">
  <div class="manage-time-next">
    <!-- later desktop -->
<span class="font-small hide"><a href="/priority_service_170315/book-appointment/book-appointment-2">Later<div class="later-arrow"></div></a> </span>
<!-- later responsive -->
<span class="font-small show-responsive"><a href="/priority_service_170315/book-appointment/book-appointment-2_mobile">Later<div class="later-arrow"></div></a> </span>

</div>
<!--
<div class="manage-time-previous">
<a href="/priority_service_170315/book-appointment/"><div class="earlier-arrow"></div> Earlier </div></a>
</div>
-->


<div class="container1">
  <div class="row">
  	<div class="one">
      <span class="font-small">Monday </br>1 April </span>
  	</div>

  	<div class="two unavailable-days">
      <span class="font-small">Tuesday </br>2 April</span>
  	</div>

  	<div class="three">
      <span class="font-small">Friday </br>5 April</span>
  	</div>

    <div class="four">
      <span class="font-small">Saturday </br>6 April</span>
  	</div>

  	<div class="five">
      <span class="font-small">Monday </br>8 April</span>
  	</div>

  	<div class="six">
    	<span class="font-small">Tuesday </br>9 April</span>
  	</div>
	</div>

  <div class="row">
  	<div class="one">
      <span class="font-small"><a href="#">London </br> Available</a></span>
  	</div>

  	<div class="two unavailable-days">
      <span class="font-small"><a href="#">London </br> Available</a></span>
  	</div>

  	<div class="three">
      <span class="font-small"><a href="#">London </br> Available</a></span>
  	</div>

    <div class="four">
      <span class="font-small"><a href="#">London </br> Available</a></span>
  	</div>

  	<div class="five">
      <span class="font-small"><a href="#">London </br> Available</a></span>
  	</div>

  	<div class="six">
      <span class="font-small"><a href="#">London </br> Available</a></span>
  	</div>
	</div>


  <div class="row">
    <div class="one">
      <span class="font-small"><a href="#">Peterborough </br> Available</a></span>
    </div>

    <div class="two unavailable-days">
      <span class="font-small"><a href="#">Peterborough </br> Available</a></span>
    </div>

    <div class="three">
      <span class="font-small"><a href="#">Peterborough </br> Available</a></span>
    </div>

    <div class="four">
      <span class="font-small"><a href="#">Peterborough </br> Available</a></span>
    </div>

    <div class="five">
      <span class="font-small"><a href="#">Peterborough </br> Available</a></span>
    </div>

    <div class="six">
      <span class="font-small"><a href="#">Peterborough </br> Available</a></span>
    </div>
  </div>

  <div class="row">
    <div class="one">
      <span class="font-small"><a href="#">Newport </br> Available</a></span>
    </div>

    <div class="two unavailable-days">
      <span class="font-small"><a href="#">Newport </br> Available</a></span>
    </div>

    <div class="three">
      <span class="font-small"><a href="#">Newport </br> Available</a></span>
    </div>

    <div class="four">
      <span class="font-small"><a href="#">Newport </br> Available</a></span>
    </div>

    <div class="five">
      <span class="font-small"><a href="#">Newport </br> Available</a></span>
    </div>

    <div class="six">
      <span class="font-small"><a href="#">Newport </br> Available</a></span>
    </div>
  </div>

  <div class="row">
    <div class="one">
      <span class="font-small"><a href="#">Liverpool </br> Available</a></span>
    </div>

    <div class="two unavailable-days">
      <span class="font-small"><a href="#">Liverpool </br> Available</a></span>
    </div>

    <div class="three">
      <span class="font-small"><a href="#">Liverpool </br> Available</a></span>
    </div>

    <div class="four">
      <span class="font-small"><a href="#">Liverpool </br> Available</a></span>
    </div>

    <div class="five">
      <span class="font-small"><a href="#">Liverpool </br> Available</a></span>
    </div>

    <div class="six">
      <span class="font-small"><a href="#">Liverpool </br> Available</a></span>
    </div>
  </div>


  <div class="row">
    <div class="one">
      <span class="font-small"><a href="#">Durham </br> Available</a></span>
    </div>

    <div class="two unavailable-days">
      <span class="font-small"><a href="#">Durham </br> Available</a></span>
    </div>

    <div class="three">
      <span class="font-small"><a href="#">Durham </br> Available</a></span>
    </div>

    <div class="four">
      <span class="font-small"><a href="#">Durham </br> Available</a></span>
    </div>

    <div class="five">
      <span class="font-small"><a href="#">Durham </br> Available</a></span>
    </div>

    <div class="six">
      <span class="font-small"><a href="#">Durham </br> Available</a></span>
    </div>
  </div>

  <div class="row">
    <div class="one">
      <span class="font-small"><a href="#">Glasgow </br> Available</a></span>
    </div>

    <div class="two unavailable-days">
      <span class="font-small"><a href="#">Glasgow </br> Available</a></span>
    </div>

    <div class="three">
      <span class="font-small"><a href="#">Glasgow </br> Available</a></span>
    </div>

    <div class="four">
      <span class="font-small"><a href="#">Glasgow </br> Available</a></span>
    </div>

    <div class="five">
      <span class="font-small"><a href="#">Glasgow </br> Available</a></span>
    </div>

    <div class="six">
      <span class="font-small"><a href="#">Glasgow </br> Available</a></span>
    </div>
  </div>


    <div class="row">
      <div class="one">
        <span class="font-small"><a href="#">Belfast </br> Available</a></span>
      </div>

      <div class="two unavailable-days">
        <span class="font-small"><a href="#">Belfast </br> Available</a></span>
      </div>

      <div class="three">
        <span class="font-small"><a href="#">Belfast </br> Available</a></span>
      </div>

      <div class="four">
        <span class="font-small"><a href="#">Belfast </br> Available</a></span>
      </div>

      <div class="five">
        <span class="font-small"><a href="#">Belfast </br> Available</a></span>
      </div>

      <div class="six">
        <span class="font-small"><a href="#">Belfast </br> Available</a></span>
      </div>
    </div>
</div>
</div>



<h1>Border cue test — booking a time</h1>



<p class="font-small">Please note that some dates are fully-booked </p>

<div class="container1">

  <div class="row">
    <div class="one-time unavailable-days-2">
      <span class="font-xsmall">&nbsp;</span>
    </div>

    <div class="two-time hidden-1">
      <span class="font-xsmall">&nbsp; </span>
    </div>

    <div class="three-time hidden-1">
      <span class="font-small">&nbsp; </span>
    </div>

    </div>
  <div class="row">
  	<div class="one-time unavailable-days-2">
      <span class="font-small">Monday </br>1 April </span>
  	</div>

  	<div class="two-time">
      <span class="font-small">Friday </br>5 April</span>
  	</div>

  	<div class="three-time">
      <span class="font-small">Saturday </br>6 April</span>
  	</div>

  	</div>

  <div class="row">
  	<div class="one-time unavailable-days-2">
      <span class="font-small"><a href="#">10:00am </br>Available</a></span>
  	</div>

  	<div class="two-time">
      <span class="font-small"><a href="#">10:00am </br>Available</a></span>
  	</div>

  	<div class="three-time">
      <span class="font-small"><a href="#">10:00am </br>Available</a></span>
  	</div>
  	</div>


  <div class="row">
    <div class="one-time unavailable-days-2">
      <span class="font-small"><a href="#">10:30am </br>Available</a></span>
    </div>

    <div class="two-time">
      <span class="font-small"><a href="#">10:30am </br>Available</a></span>
    </div>

    <div class="three-time">
      <span class="font-small"><a href="#">10:30am </br>Available</a></span>
    </div>

    </div>

  <div class="row">
    <div class="one-time unavailable-days-2">
      <span class="font-small"><a href="#">12:30am </br>Available</a></span>
    </div>

    <div class="two-time">
      <span class="font-small"><a href="#">12:30am </br>Available</a></span>
    </div>

    <div class="three-time">
      <span class="font-small"><a href="#">12:30am </br>Available</a></span>
    </div>
    </div>

    <div class="row-2">
      <div class="one-time unavailable-days-2">
        <span class="font-small">&nbsp; </span>
      </div>

      <div class="two-time hidden-1">
        <span class="font-small">&nbsp; </span>
      </div>

      <div class="three-time hidden-1">
        <span class="font-small">&nbsp; </span>
      </div>
</div>
</div>

{{/main-content}}

{{/ layout}}
