
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<div class="padding-wrapper">


    <h1>Check your collection time</h1>


    <div class="panel-important">
          <p>You need to complete your application to keep this collection time.</p>
        </div>


      <span class="bold-medium">Wednesday, 22 March 2017</br>
        at 12:30pm</span>
      <span class="font-medium">&nbsp; <a href="/priority_service_170315/book-appointment">Change</a></span>
      <p>&nbsp;</p>
      <p class="font-small"><span class="bold-small">London HM Passport Office</span></br>
    Globe House </br>
    89 Eccleston Square </br>
    London </br>
    SW1V 1PN</br>
    </p>
        <p class="font-small">  <a href="https://www.google.co.uk/maps/place/HM+Passport+Office/@51.4935294,-0.1461351,17z/data=!3m1!4b1!4m5!3m4!1s0x4876051f799cb11f:0xaa05e82d4f114209!8m2!3d51.4935294!4d-0.1439464">View map</a></p>


        <p class="font-medium"><a href="/priority_service_170315/intro/you-need-a-photo" class="button">Start your application</a></p>

      </div>
    </div>

<!--
  <div class="column-one-third">
    <p>&nbsp;</p>
  </div>
-->

{{/main-content}}

{{/ layout}}
