
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<div class="padding-wrapper">


    <h1>Are you sure you want to replace your collection appointment?</h1>

   <h2>Original collection:</h2>
    <div class="panel panel-border-wide">
        <p>
          Thursday, 23 March 2017<br/>
          at 10:30am
        </p>
    </div>
    <h2>New collection:</h2>
    <div class="panel panel-border-wide">
        <p>
          Thursday, 23 March 2017<br/>
          at 4:30pm
        </p>
    </div>
<!--
      <span class="bold-medium">Thursday, 23 March 2017</br>
        at 4:30am</span>
      <span class="font-medium">&nbsp; <a href="newport-week-1-selected-change">Change</a></span>
      <p>&nbsp;</p>
    -->
      <p class="font-small"><span class="bold-small">London HM Passport Office</span></br>
        Globe House </br>
        89 Eccleston Square </br>
        London </br>
        SW1V 1PN</br>
        </p>
        <p>  <a href="https://www.google.co.uk/maps/place/HM+Passport+Office/@51.4935294,-0.1461351,17z/data=!3m1!4b1!4m5!3m4!1s0x4876051f799cb11f:0xaa05e82d4f114209!8m2!3d51.4935294!4d-0.1439464">View map</a></p>

        <a href="confirmation-scenario-3" class="button">Confirm replacement</a>
        <br/><br/>
        <a href="confirmation-scenario-2">Don't change my appointment</a>

      </div>
    </div>

<!--
  <div class="column-one-third">
    <p>&nbsp;</p>
  </div>
-->

{{/main-content}}

{{/ layout}}
