{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_161025/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 4 of 12</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>Find a plain background</h1>
                </header>
                <div class="grid-row">
                    <div class="column-full">
                      <p>You need to stand in front of a completely plain background. It should be a light grey or cream colour.</p>
                      <p>Don’t stand in front of a tiled or patterned wall.</p>
                      <p>Make sure there aren’t any objects in view, like a light switch or plant.</p>
                      <div class="guidance-photos" aria-hidden="true">
                          <ul>
                              <li>
                                  <img src="../../public/images/photoguide/image-m2-plain.jpg" alt="">
                                  <div class="result" style="height: 57px;">
                                      <p class="approved">Approved</p>
                                  </div>
                              </li>
                              <li>
                                  <img src="../../public/images/photoguide/image-m2-textured-background.jpg" alt="">
                                  <div class="result" style="height: 57px;">
                                      <p class="failed">Textured background</p>
                                  </div>
                              </li>
                              <li>
                                  <img src="../../public/images/photoguide/image-m2-object-in-background.jpg" alt="">
                                  <div class="result" style="height: 57px;">
                                      <p class="failed">Object in background</p>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-previous">
                                        <a href="/prototype_161025/photoguide-myself/guidemyself-get-help">Previous</a>
                                    </li>
                                    <li class="button-guide button-guide-next">
                                        <a href="/prototype_161025/photoguide-myself/guidemyself-right-position">Next</a>
                                    </li>
                                </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>

{{/main-content}}

{{/ layout}}
