{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_161025/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 1 of 12</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>How to take your own digital passport photo</h1>
                </header>
                <div class="grid-row">
                      <p>You can use any device that takes digital photos (eg, a phone, digital camera or tablet).</p>
                      <p>You shouldn’t need to change the settings.</p>
                      <p>This guide will show you how to take a digital photo that meets the passport photo rules.</p>
                      <p>Your application will be delayed if your photo doesn’t meet the rules.</p>
                      <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-next">
                                        <a href="/prototype_161025/photoguide-myself/guidemyself-find-a-camera">Next</a>
                                    </li>
                                </ul>
                      </nav>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
