{{< layout}}


{{$pageTitle}}When does your passport expire?{{/pageTitle}}

{{$header}}
    <h1>When was your passport issued?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
        <div id="date-group" class="form-group">
            <fieldset>
                <div class="form-date">
                  <p class="form-hint" id="dob-hint">For example 08 2015</p>
                    {{#input-text}}expiry-month{{/input-text}}
                    {{#input-text}}expiry-year{{/input-text}}
                </div>
            </fieldset>
        </div>
        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
