{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>We're checking your application</h1>
      </header>

      <h2>What happens next</h2>
      
      <p>We'll call you if there's a problem with your application. You need to be available on the phone number you provided.</p>

      <p>When we've finished checking your application, we'll update this page.</p>

      <h2>Your collection appointment</h2>
      
      <div class="panel panel-border-narrow">
        <p><strong>Tuesday 30 May 2018<br></strong>at <strong>1:00pm</strong></p>
      </div>
 
      <p>London HM Passport Office<br>
        Globe House<br>
        89 Eccleston Square<br>
        London<br>
        SW1 1PN</p>

      <p>You must go in person. If you're unable to, someone else can go on your behalf.</p>
      <p>If you need to change your collection appointment, <a href="/">contact us</a>. Your new appointment details will be sent to you by email.</p>
      
      <h2>What you need to bring</h2>
      <p>You must bring your old passport with you.</p>

      <details class="">
        <summary><span class="summary">If someone else is collecting your passport</span></summary>
        <div class="panel panel-border-narrow">
          <p>As well as your old passport they need to bring:
            <ul class="list list-bullet">
              <li>their ID, for example passport, driving licence, or utility bill that's less than 3 months old</li>
              <li>a signed and dated letter from you, naming them and giving them permission to collect the passport.</li>
            </ul>
          </p>
        </div>
      </details>

      <div class="panel-important" style="margin:-10px 0 10px 0;">
        <p>Your old passport will be cancelled on the day of your collection appointment. You won't be able to use it.</p>
      </div>

      <br>
      
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>

            {{#nunjucks}}
                {% if values['tracking-status'] == 'received' %}
                  <tr>
                    <td>Application received</td>
                    <td>10:05am on 19 July 2018</td>
                  </tr>
                  <tr>
                    <td>Application submitted</td>
                    <td>10:05am on 19 July 2018</td>
                  </tr>
                {% elif values['tracking-status'] == 'submitted' %}
                  <tr>
                    <td>Application submitted</td>
                    <td>10:05am on 19 July 2018</td>
                  </tr>
                {% elif values['tracking-status'] == 'processing' %}
                  <tr>
                    <td>Joined processing queue</td>
                    <td>10:05am on 19 July 2018</td>
                  </tr>
                  <tr>
                    <td>Application received</td>
                    <td>10:05am on 19 July 2018</td>
                  </tr>
                  <tr>
                    <td>Application submitted</td>
                    <td>10:05am on 19 July 2018</td>
                  </tr>
                {% endif %}
            {{/nunjucks}}
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-dps-links}}
{{/content}}
{{$sidebar}}
  {{> partials-csig-sidebar-no-docs}}
{{/sidebar}}

{{/ layout-csig}}
