{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Application approved</h1>
      </header>
      
      <h2>What you need to do</h2>
      <p>We'll see you at your collection appointment. Remember to bring your old passport with you.</p>
      <p>It usually takes 30 minutes to get your new passport. Don't arrive any earlier than 10 minutes before your collection appointment.</p>

      <h2>Your collection appointment</h2>

      <div class="panel panel-border-narrow">
        <p><strong>Tuesday 30 May 2018<br></strong>at <strong>1:00pm</strong></p>
      </div>
 
      <p>London HM Passport Office<br>
        Globe House<br>
        89 Eccleston Square<br>
        London<br>
        SW1 1PN</p>

      <p>You must go in person. If you're unable to, someone else can go on your behalf.</p>
      <p>If you need to change your collection appointment, <a href="/">contact us</a>. Your new appointment details will be sent to you by email.</p>
      
      <h2>What you need to bring</h2>
      <p>You must bring your old passport with you.</p>

      <div class="panel-important" style="margin:-10px 0 10px 0;">
        <p>Your old passport will be cancelled on the day of your collection appointment. You won't be able to use it.</p>
      </div>

      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Application approved</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 21 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 20 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-fta-links}} 
{{/content}}
{{$sidebar}}
  {{> partials-csig-sidebar-no-docs}}
{{/sidebar}}

{{/ layout-csig}}

