{{< layout-csig}}

{{$pageTitle}}Manage your application{{/pageTitle}}


{{$header}}
    <h1>Sign in</h1>
{{/header}}

{{$content}}

<p>You'll find your application reference in the confirmation email. You can only use this service if the reference begins PEX or POD.</p>

{{< hmpo-partials-form}}

    {{$form}}
        <h2>Application reference</h2>
        <span id="reference-hint" class="form-hint">For example PEX 123 456 7890</span>
        <input type="text" name="reference" id="reference" class="form-control reference" value="{{values.pex}}" style="margin-bottom: 30px;"> 

        {{#input-submit}}{{/input-submit}}

    {{/form}}
{{/ hmpo-partials-form}}
<details>
    <summary><span class="summary">My reference number doesn't begin PEX or POD</span></summary>
    <div class="panel panel-border-narrow">
        <p>You should <a href="https://passportofficeforms.service.gov.uk/_/track-application.ofml">use a different application tracker</a> if you filled in a paper form. This includes the Post Office Check and Send service.</p>
    </div>
</details>
{{/content}}

{{/ layout-csig}}
