{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>You've applied with a paper form</h1>
      </header>
      
      <p>When you apply with a paper form, you can no longer track your application online.</p>
      <p>If you need to <a href="">contact us</a> about your application, remember to give your new reference number.</p>
      
      <div class="panel panel-border-narrow">
        <p>Your new reference number is <strong>1234567</strong></p>
      </div>
      {{> partials-csig-sidebar-no-docs}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Application moved to paper form</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 21 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 20 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-dps-links}}
{{/content}}

{{/ layout-csig}}

