{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>We've called you</h1>
        <p>There's a problem with your application.</p>
      </header>
      
      <h2>What you need to do</h2>
      <p>We explained on the phone what has happened and what you need to do.</p>
      <p>It's no longer possible for you to collect your new passport at your collection appointment. Your collection appointment has been cancelled.</p>
      {{> partials-csig-sidebar-no-docs}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>We called to explain a problem</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 21 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 20 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-dps-links}}
{{/content}}

{{/ layout-csig}}

