{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../12_15s_180119/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
            <div class="flash-card">

                <header>
                    <h1>Go to a booth or shop</h1>
                </header>
                    <div class="grid-row">
                        <div class="column-two-thirds">
                    <h2>What to ask for in a shop</h2>
                    <p>Ask if their photos meet the <a href="/how-to">rules for digital photos</a>. If they do, check that they can give you a digital copy of your photo.</p>

                    <p>Some shops can also give you a photo code. We’ll show you how to use the code to retrieve your digital photo.</p>

                    <h2>What you'll get from a booth</h2>

                    <p>From some booths in the UK and abroad, you’ll be able to get a photo code with your printed photos. We’ll show you how to use the code to retrieve your digital photo.</p>

                    <div class="panel panel-border-wide">
                      <p>The photo code is a new service and may not be available yet from photo booths or shops in your area.
                    </p>
                  </div>
                      <nav class="guide-nav">
                                <ul>
                                      <li class="button-guide button-guide-previous">
                                          <a href="/12_15s_180119/intro/choose-photo-method" style="font-size: 20px">Back</a>
                                      </li>
                                </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
