{{< layout}}

{{$pageTitle}}Your title{{/pageTitle}}

{{$header}}
    <h1>Your title</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}
<fieldset class="inline">
    {{#radio-group}}title{{/radio-group}}
    <div id="other-titles" class="reveal js-hidden">
        <div class="panel panel-border-narrow">
          <p>You can only use a different title if it’s written on your old passport.</p>
          <div id="other-title-group" class="form-group">
              <label for="other-title" class="form-label-bold">
                  Title on your old passport
              </label>
              <input type="text" name="other-title" id="other-title" class="form-control" aria-required="true" maxlength="20">
                 <p><p>If you want to use a new professional or honorary title, you need to apply to <a href="https://www.gov.uk/apply-renew-passport">update your passport</a>.</p>
                 <!-- check it is only professional and hnonourary titles -->
          </div>
        </div>
    </div>
</fieldset>
<br/>
    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
