{{< layout}}

{{$pageTitle}}Overseas British passport applications{{/pageTitle}}

{{$header}}
    <h1>Overseas British passport applications</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}

      <h2>How long it takes</h2>
      <p>Your application should take 4 weeks from when it’s received by Her Majesty’s Passport Office in the UK.</p>
      <p>You may have to attend an interview.</p>
      <p>Applications will take longer if:</p>
      <ul class="list-bullet">
        <li>HM Passport Office needs to ask you for more information or documents</li>
        <li>the photographs you send are rejected</li>
      </ul>
      <p>Don’t book any travel until you have a valid passport. If you need to travel more urgently, you may be able to apply for an <a href="https://www.gov.uk/emergency-travel-document">Emergency Travel Document</a>.</p>

      <h2>Cost</h2>
      <p>You’ll have to pay a fee for your passport and a courier fee of £19.86.</p>
      <p>The courier fee pays for your passport to be sent securely to the UK Visa Application Centre where you applied for you to collect.</p>
      <article>
      <table>
          <thead>
            <tr>
              <th>Passport type</th>
              <th>Passport fee</th>
              <th>Total to pay (including courier fee)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Adult standard 32-page passport</td>
              <td>£83.00</td>
              <td>£102.86</td>
            </tr>
            <tr>
              <td>Adult jumbo 48-page passport</td>
              <td>£91.00</td>
              <td>£110.86</td>
            </tr>
          </tbody>
        </table>
      </article>
        <br/>
        <h2>How to apply</h2>
        <p>You must apply and pay for your passport online.</p>
        <p>Before you start you need:<p/>
        <ul class="list-bullet">
          <li>your current passport</li>
          <li>2 identical new photos of you (or your child, if it’s a child passport application)</li>
          <li>any other current passports issued by other countries</li>
          <li>a MasterCard, Visa, Visa Electron, Visa Debit or Maestro (UK Domestic) card - Maestro (International) cards aren’t accepted</li>
        </ul>
        <p>Read the <a href="https://www.gov.uk/government/publications/help-completing-the-online-passport-application-from-outside-the-uk">guidance notes</a> to help you fill in your online application. Check which <a href="https://www.gov.uk/government/publications/overseas-passport-applications-supporting-documents-guidance">supporting documents</a> you must send with your application. Any documents that aren’t in English (including documents showing an address) must be translated by a professional translator.</p>
        <p>You will need to print, sign and post your declaration form at the end.</p>
        <p><a href="https://passportapplication.service.gov.uk/">Start your application on Her Majesty’s Passport Office website</a></p>

        <div class="panel-important">
            <p>You must include all your supporting documents with your application. You’ll get 6 weeks to provide any that are missing. Your application will be cancelled and you won’t get a refund if you don’t provide them in time.</p>
        </div>

          <h2>Getting your passport</h2>
          <p>Your passport and supporting documents will be delivered separately by courier.</p>

          <h2>Contact the Passport Adviceline</h2>
          <p>Telephone: +44 (0) 300 330 0901<br/>
          Monday to Friday, 8am to 8pm (UK time)<br/>
          Saturday, Sunday and public holidays, 9am to 5:30pm (UK time)</p>
          <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

      <!--  {{#input-submit}}{{/input-submit}} -->
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
