{{< layout}}


{{$pageTitle}}Do you have any uncancelled passports from a different country?{{/pageTitle}}

{{$header}}
    <h1>Do you have any other passports?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
      <fieldset class="inline">
      <!--  <p>For example, if you're a dual national. </p>-->
        {{#radio-group}}uncancelled{{/radio-group}}

        <div id="which-passport" class="reveal js-hidden" style="margin-top:-25px; margin-bottom:20px">
            <div class="panel panel-border-narrow">
              <legend><span class="form-label-bold">Which country is it for?</span></legend>
              <div class="form-date">
                <div id="country-code-group" class="form-group">
                  <label for="country-code" class="visuallyhidden"></label>
                  {{#select}}dual-national-country{{/select}}
                </div>
              </div>
        </div>
        </div>

      <!--  <div id="which-passport" class="reveal js-hidden" style="margin-top:-20px;">
          <div class="panel-indent">
              <fieldset>
                  <legend><h2>Which additional passports do you have?</h2></legend>
                  <div id="contact-prefs-email-group" class="form-group form-group-compound">
                      <label for="contact-prefs-email" class="block-label ">
                          <input type="checkbox" id="contact-prefs-email" name="contact-prefs-email" value="true" aria-required="false">
                              Another British passport
                      </label>
                  </div>
                  <div class="form-group">
                      <label for="contact-prefs-sms" class="block-label">
                          <input type="checkbox" id="contact-prefs-sms" name="contact-prefs-sms" value="true" aria-required="false" data-toggle="contact-sms" aria-controls="contact-sms" aria-expanded="false">
                              Passport from another country
                      </label>
                 </div>
            </fieldset>
          </div>
        </div> -->
      </fieldset>

        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
