{{< layout}}

{{$pageTitle}}Check your photo and submit{{/pageTitle}}

{{$header}}
    <h1>Check your photo</h1>
{{/header}}

{{$content}}

      <div class="panel panel-border-wide alert-default">
        <p>If your photo doesn't meet all of the rules, you'll need to provide a different one. This will delay your application.</p>
</div>


        <ol class="list-number">
                <li class="list-item-bold">Your appearance

                  <p>Your photo must be a good likeness taken in the last month.</p>

                  <p>Check that:</p>
                    <ul class="list-bullet">
                        <li>you have a plain expression with your mouth closed</li>
                        <li>your whole face is visible with hair brushed away from your forehead</li>
                        <li>your eyes are open and free from reflection or glare from glasses</li>
                        <li>you're not wearing headwear unless it's for religious or medical reasons</li>
                    </ul>
                </li>
                <li class="list-item-bold">Photo set-up
                    <p>Your photo must have:</p>
                    <ul class="list-bullet">
                        <li>no other objects or people in it</li>
                        <li>a light-coloured background without any texture or patterns</li>
                        <li>no shadows on your face or behind you</li>
                    </ul>
                </li>
                <li class="list-item-bold">Photo quality
                    <p>Your photo must:</p>
                    <ul class="list-bullet">
                        <li>be in colour without any effects or filters</li>
                        <li>not be blurred or have red eye</li>
                        <li>not be edited &ndash; you can’t correct this photo digitally</li>
                    </ul>
                </li>
            </ol>
<br>
<h2>Do you want to submit this photo?</h2>
{{< hmpo-partials-form}}
{{$form}}
    {{#radio-group}}submit-photo{{/radio-group}}
    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}
<!-- <a href="/../damaged_171018/renew/" class="button">Continue</a><br/><br/> -->

{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Your photo</h2>
          <div class="photo">
              <img src="../../public/images/thumbnail.jpg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
          </div>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}
