{{< layout}}

{{$pageTitle}}Give details{{/pageTitle}}
{{$header}}
    <h1>Who will confirm your identity</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

  <p>They must:</p>
    <ul class="list-bullet">
      <li>have a current UK passport</li>
      <li>work in or be retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories" target="_blank">recognised profession</a></li>
      <li>have known you as a friend, neighbour or colleague for at least 2 years</li>
    </ul>

<p>You must contact this person before entering their details. You also need to ask them for their UK passport number.</p>
      <div id="csig-number-group" class="form-group">
          <fieldset>
            <div id="name-group" class="form-group">
                <label for="name" class="form-label-bold">
                    Full name
                </label>
                <span>
                    <input type="text" id="name" class="form-control name" name="name" value="" maxlength="16" aria-describedby="name-prefix" aria-required="true">
                </span>
            </div>
            <div id="email-group" class="form-group">
                <label for="email" class="form-label-bold">
                    Email
                    <span class="form-hint">We'll send them an email with more information.</span>

                </label>
                <span>
                    <input type="text" id="email" class="form-control name" name="name" value="" maxlength="16" aria-describedby="name-prefix" aria-required="true">
                </span>
            </div>
            <div id="phoneno-group" class="form-group">
                <label for="phoneno" class="form-label-bold">
                    Phone number
                </label>
                <span>
                    <input type="text" id="phoneno" class="form-control phoneno" name="phoneno" value="" maxlength="16" aria-describedby="phoneno-prefix" aria-required="true">
                </span>
            </div>
            <fieldset>
                <legend><span class="form-label-bold">This person's UK passport number</span></legend>
                  <p class="form-hint" id="dob-hint">For example 502135326</p>
                    {{#input-text}}passport-number{{/input-text}}
            </fieldset>
          </fieldset>
          <a href="/csig_170731/user/tracking-waiting" class="button">Submit</a><br>

          <!--  {{#input-submit}}{{/input-submit}}-->
        </div>





        {{/form}}
    {{/ hmpo-partials-form}}



{{/content}}

{{/ layout}}
