{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>We need to confirm your identity</h1>
          <p>Your passport application is on hold. You look very different in your old and new photos.</p>
    </header>
    <h2>What you need to do</h2>

    <p>You need to ask someone you know well to confirm your identity.</p>

    <p>This is similar to a countersignature but they can do it online. We'll send them an email with the details.</p>

    <p>Check who can confirm your identity and <a href="give-csig-details">tell us who'll do this for you</a>
        <br/>        <br/>

    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Countersignature needed: on hold</td>
            <td>07:30pm on 10th of June 2017 </td>
          </tr>
          <tr>
            <td>Old passport received</td>
            <td>06:30pm on 10th of June 2017 </td>
          </tr>
          <tr>
            <td>Joined processing queue</td>
            <td>10:05am on 5th of June 2017 </td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>10:05am on 5th of June 2017 </td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of June 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking" class="button">Sign out</a><br>


{{/content}}


{{/ layout}}
