{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>Ask someone to confirm <br>your identity</h1>
          <p>Your passport application is on hold. You look very different in your old and new photos.</p>
    </header>
    <h2>What you need to do</h2>

    <p>You need to ask someone to confirm your identity. This is like a countersignature but they can do it online. They must:

      <ul class="list-bullet">
        <li>have a current UK passport</li>
        <li>work in or be retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories" target="_blank">recognised profession</a></li>
        <li>have known you as a friend, neighbour or colleague for at<br>least 2 years</li>
      </ul>

<h2>What you'll need</h2>
      <p>You'll need this person's:</p>

        <ul class="list-bullet">
          <li>UK passport number</li>
          <li>full name (as written on their passport)</a></li>
          <li>phone number and email address</li>
        </ul>

<p>We'll send them an email with a link to confirm your identity online.</p>
<p><a href="/csig_170731/user/give-csig-details" class="button">Tell us who'll do this for you</a></p>

<div class="panel-important">
  <p>We need to confirm your identity before 14 August 2017 or you’ll need to start a new application.</p>
</div>

    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Identity needs confirming</td>
            <td>07:30pm on 10th of June 2017 </td>
          </tr>
          <tr>
            <td>Old passport received</td>
            <td>06:30pm on 10th of June 2017 </td>
          </tr>
          <tr>
            <td>Joined processing queue</td>
            <td>10:05am on 5th of June 2017 </td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>10:05am on 5th of June 2017 </td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of June 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking" class="button-secondary">Sign out</a><br>


{{/content}}


{{/ layout}}
