{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$header}}
    <h1>Your reference number</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
      <div id="passport-number-group" class="form-group">
          <fieldset>
            <div id="reference-group" class="form-group">
                <label for="reference" class="form-label-bold">
                    <span class="form-hint">You’ll find this in your confirmation email, for example PEX 123 456 7890.</span>
                </label>
                <span id="reference-prefix" class="prefix">PEX</span>
                <span>
                    <input type="text" id="reference" class="form-control reference" name="reference" value="" maxlength="16" aria-describedby="reference-prefix" aria-required="true">
                </span>
            </div>
      </div>

      {{#input-submit}}{{/input-submit}}
      {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
