{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}

<div class="govuk-box-highlight incomplete" style="background-color: #005ea5;text-align: left;padding: 15px;margin-bottom: 30px;">
  <h2 class="heading-medium">Awaiting your old passport and required documents</h2>
 <!-- <p> <a href="#0">View your required documents</a>.</p>-->
</div>

<h1 class="heading-large">
  Send us your old passport and extra documents to complete your application
</h1>
   <!-- <div class="panel panel-border-wide alert-success">
          <h2>Status: Awaiting your old passport and required documents.</h2>
    </div>-->
        <p>We can't send your new passport until we've examined your required documents and cancelled your old one.
          <br>
          <a href="/">Check what you need to send</a></p>

<p>HM Passport Office<br>
Ref: PEX 319 825 680X<br>
Aragon Court<br>
Northminster Road<br>
Peterborough<br>
PE1 1QG</p>


        <!--<details>
          <summary><span class="summary">Where to send your documents</span></summary>
          <div class="panel panel-border-narrow">
            <p>HM Passport Office<br>
                    Ref: PEX 318 437 555X<br>
                    Aragon Court<br>
                    Northminster Road<br>
                    Peterborough<br>
                    PE1 1QG</p>
            <p>You don’t need to include anything else, and it’s up to you whether you use standard post or a secure service.</p>
          </div>
        </details>-->
        <p>Once we've cancelled your old passport we'll send it back to you with the corner clipped. </p>
        <details>
          <summary><span class="summary">I've already sent it</span></summary>
          <div class="panel panel-border-narrow">
            <p>Check again in 3 days. If we still haven’t received your old passport <a href="/help" target="_blank">Contact HM Passport Office <span class="visuallyhidden">(Opens in a new window)</span></a></p>
          </div>
        </details>

    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of January 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking-change-of-name" class="button">Sign out</a><br>

      <br/><br/><br/><br/>
      <!--<p>Other statuses:</p>
      <ul>
          <li><a href="/public/images/tracking-change-of-name/track-5.png">Application received</li>
          <li><a href="/public/images/tracking-change-of-name/track-6.png">We've received your old passport</li>
          <li><a href="/public/images/tracking-change-of-name/track-7.png">Joined processing queue</li>
          <li><a href="/public/images/tracking-change-of-name/track-8.png">Photo rejected</li>
          <li><a href="/public/images/tracking-change-of-name/track-9.png">New photo received</li>
          <li><a href="/public/images/tracking-change-of-name/track-10.png">You need a countersignature</li>
          <li><a href="/public/images/tracking-change-of-name/track-11.png">Application approved</li>
          <li><a href="/public/images/tracking-change-of-name/track-12.png">Your passport is coming</li>
          <li><a href="/public/images/tracking-change-of-name/track-13-withdrawn.png">Withdrawn</li>
          <li><a href="/public/images/tracking-change-of-name/track-14-failed.png">Failed</li>
          <li><a href="/public/images/tracking-change-of-name/track-15-onw.png">Onw</li>
          <li><a href="/public/images/tracking-change-of-name/track-15-refused.png">Refused</li>
          <li><a href="/public/images/tracking-change-of-name/track-16-rpd.png">Don't track your application here</li>
      </ul>-->

{{/content}}


{{/ layout}}
