{{< layout}}

{{$pageTitle}}Signing your passport{{/pageTitle}}

{{$header}}
    <h1>Signing your new passport</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}
<p>You must sign your new passport when you receive it.
<fieldset>
    <label for="agree" class="block-label selected">
          <input type="radio" name="signing" id="agree" value="agree" aria-required="true" data-toggle="agree-title" aria-controls="agree-title" aria-expanded="true">
          I understand and will sign my passport
    </label>
    <label for="cannot" class="block-label selected">
          <input type="radio" name="signing" id="cannot" value="cannot" aria-required="true" data-toggle="cannot-title" aria-controls="cannot-title" aria-expanded="true">
          I can't sign my name
    </label>
    <div id="cannot-title" class="reveal" aria-hidden="false">
        <div class="panel-indent">
            <div id="reason-group" class="form-group">
                <label for="reason-title">
                    <p>Tell us why you can't sign your name, for example a medical condition.</p>
                </label>
                <textarea rows="4" cols="50"></textarea>
                <br/><br/>
                <p>When you send us your old passport, you must include any evidence showing why you can't sign your name.</p>
                <p>Your application may be delayed if we have to get back to you.</p>
            </div>
        </div>
    </div>
</fieldset>
<br/>
    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}

{{/content}}
{{$sidebar}}
<div class="column-one-third">
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Where to sign your passport</h2>
          <div class="photo">
              <img src="../../public/images/thumbnail.jpeg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
          </div>
      </div>

    </div>
</div>
{{/sidebar}}


{{/ layout}}
