{{< layout}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">
        <header>
          <h1>You need a digital passport photograph</h1>
        </header>
        <div class="grid-row">
            <div class="column-half">
              <h2>There are 2 ways to get one</h2>
              <p>We will guide you through all the steps to get your passport photograph.</p>
              <a href="/intro/choose-photo-method" class="button">Continue</a>
            </div>
            <div class="column-half">
              image here
            </div>
        </div>
    </div>
</div>

{{/main-content}}

{{/ layout}}
