{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Apply for, renew or replace a UK passport{{/pageTitle}}

{{$header}}
    <h1>Apply for, renew or replace a UK passport</h1>
{{/header}}


{{$content}}
    <p>You can apply for, renew, replace or update your passport and pay for it online.</p>
    <a href="/../prototype_161025/filter" class="button button-get-started js-gaevent" role="button" data-gakey="start" data-galabel="or">Start now</a>
    <br/><br/>


    <p>JS missing for below tabs </p>
    <section class="more">
      <div class="js-tabs nav-tabs">
        <ul class="tabs-nav" role="tablist">
          <li class="active"><a href="#before-you-start" role="tab" id="tab-before-you-start" aria-controls="before-you-start" aria-flowto="before-you-start" aria-selected="true" tabindex="0">Before you start</a></li>
          <li><a href="#other-ways-to-apply" role="tab" id="tab-other-ways-to-apply" aria-controls="other-ways-to-apply" aria-flowto="other-ways-to-apply" aria-selected="false" tabindex="-1">Other ways to apply</a></li>
        </ul>
      </div>

      <div class="js-tab-content tab-content tabs-body" aria-live="polite">
        <div class="js-tab-pane tab-pane tabs-panel tabs-panel-selected" id="before-you-start-enhanced" role="tabpanel" aria-hidden="false" aria-expanded="true" aria-labelledby="tab-before-you-start" style="display: block;">
          <p>You’ll need a debit or credit card to use this service.</p>
          <p>It should take 6 weeks to get your first adult passport once your form has been received. For all other application types, it should take 3 weeks.</p>
          <p>It can take longer if more information is needed or your application hasn’t been filled out correctly.</p>
          <p>You should use a different service if you <a href="/get-a-passport-urgently">need your passport urgently</a>.</p>
          <div role="note" aria-label="Information" class="application-notice info-notice">
            <p>Don’t book travel until you have a valid passport - doing so is at your own risk.</p>
          </div>
        </div>
        <div class="js-tab-pane tab-pane tabs-panel" id="other-ways-to-apply-enhanced" role="tabpanel" aria-hidden="true" aria-expanded="false" aria-labelledby="tab-other-ways-to-apply" style="display: none;">
          <p>You can pick up passport application forms from your <a rel="external" href="http://www.postoffice.co.uk/branch-finder">local Post Office</a> and apply by post, or use the <a href="/how-the-post-office-check-and-send-service-works">Post Office Check and Send service</a>.</p>
        </div>
      </div>
    </section>

{{/ content}}
{{$sidebar}}
    <div class="column-one-third">
        <div class="sidebar related GDS">
          <div class="photo-preview-inner">
            <div class="inner group related-subsection">
            <h2 id="parent-subsection">Passports</h2>
            <nav role="navigation" aria-labelledby="parent-subsection">
              <ul>
                <li>
                  <a href="https://www.gov.uk/passport-fees">Passport fees</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/photos-for-passports">Rules for passport photos</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/changing-passport-information">Change your name or personal details on your passport</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/apply-first-adult-passport">Apply for your first adult passport</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/get-a-child-passport">Get a passport for your child</a>
                </li>

                <li class="related-topic"><a href="https://www.gov.uk/browse/abroad/passports">More <span class="visuallyhidden">in Passports</span></a></li>
            </ul>
            </nav>
          </div>
          </div>
        </div>
    </div>
{{/sidebar}}


{{/ layout}}
