
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Choose a date and a passport office</h1>
{{/header}}

{{$main-content}}

<div class="padding-wrapper">

<h1>Choose a date and place</h1>

<div class="grid-row">
<div class="column-two-thirds">

<p>You need to collect your passport in person from a <a href="/priority_service_170705/book-appointment/passport-offices">passport office in the UK</a>.</p>
 <p>If you can't find the date and place you need, <a href="https://www.gov.uk/get-a-passport-urgently">check the other urgent services</a>.</p>


</div>
</div>

<!--

<p class="font-small">You can check collection times in:</p>

<div class="filter-locations">
<p><a href="/priority_service_170315/book-appointment/london-week-1">London</a> &emsp; <a href="/priority_service_170315/book-appointment/peterborough-week-1">Peterborough</a> &emsp; <a href="/priority_service_170315/book-appointment/newport-week-1">Newport</a> &emsp; <a href="#">Liverpool</a> &emsp; <a href="#">Durham</a> &emsp; <a href="#">Glasgow</a> &emsp; <a href="#">Belfast</a></p>
</div>

-->

<div class="manage-times">
  <div class="manage-time-next">
    <!-- later desktop -->
<span class="font-small hide"><a href="/priority_service_170315/book-appointment/book-appointment-2">Later<div class="later-arrow"></div></a> </span>
<!-- later responsive -->
<span class="font-small show-responsive"><a href="/priority_service_170315/book-appointment/book-appointment-2_mobile">Later<div class="later-arrow"></div></a> </span>

</div>
<!--
<div class="manage-time-previous">
<a href="/priority_service_170315/book-appointment/"><div class="earlier-arrow"></div> Earlier </div></a>
</div>
-->

<div class="book-table">
  <table class="book-table">
  <tbody>
    <tr>
    <td><span class="bold-small">Friday<br> 17 March</span></td>
    <td><span class="bold-small">Saturday<br>  18 March</span></td>
    <td><span class="bold-small">Monday<br>  20 March</span></td>
    <td class="hide"><span class="bold-small">Wednesday<br>  22 March</span></td>
    <td class="hide"><span class="bold-small">Thursday<br>  23 March</span></td>
    <td class="hide"><span class="bold-small">Friday<br>  24 March</span></td>

    </tr>
  <tr>
    <td><span class="unavailable">London </br></span></td>
    <td><span class="unavailable">London </br></span></td>
    <td><span class="unavailable">London </br></span></td>
    <td class="hide"><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>
    <td class="hide"><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>
    <td class="hide"><a href="#"><span class="city-available">London </br><span class="available">Available</span></span></a></td>

</tr>
<tr>
  <td><span class="unavailable">Peterborough </br></span></td>
  <td><span class="city-available"><a href="#">Peterborough </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Peterborough </br></span></td>
    <td class="hide"><span class="city-available"><a href="#">Peterborough </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="city-available"><a href="#">Peterborough </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Peterborough </br></span></td>



</tr>
<tr>
  <td class="day-held"><span class="city-available"><a href="newport-week-1-selected-change">Newport </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Newport </br></span></td>
  <td><span class="unavailable">Newport </br></span></td>
  <td class="hide"><span class="unavailable">Newport </br></span></td>
  <td class="hide"><span class="unavailable">Newport </br></span></td>
  <td class="hide"><span class="unavailable">Newport </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></san></td>
      <td class="hide"><span class="unavailable">Liverpool </br></span></td>
    <td class="hide"><span class="unavailable">Liverpool </br></span></td>
    <td class="hide"><span class="unavailable">Liverpool </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">Durham </br></span></td>
  <td><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Durham </br></span></td>
  <td class="hide"><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Durham </br></span></td>
    <td class="hide"><span class="unavailable">Durham </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td class="hide"><span class="unavailable">Glasgow </br></span></td>
    <td class="hide"><span class="unavailable">Glasgow </br></span></td>
    <td class="hide"><span class="unavailable">Glasgow </br></span></td>

</tr>
  <tr>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></span></a></td>
    <td class="hide"><span class="unavailable">Belfast </br></span></td>
    <td class="hide"><span class="unavailable">Belfast </br></span></td>
    <td class="hide"><span class="unavailable">Belfast </br></span></td>
  </tr>
  </tbody>
  </table>
</div>
</div>
</div>

{{/main-content}}

{{/ layout}}
