
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Choose a date and a passport office</h1>
{{/header}}

{{$main-content}}

<div class="responsive-container">
<h1>Choose a date and place</h1>

<div class="grid-row">
<div class="column-two-thirds">

<p>You need to collect your passport in person from a <a href="/priority_service_170705/book-appointment/passport-offices">passport office in the UK</a>.</p>
 <p>If you can't find a date and place that works for you, <a href="https://www.gov.uk/get-a-passport-urgently">check the other urgent services</a>.</p>
</div>
</div>


<!--
<p class="font-small">You can check collection times in:</p>
<div class="filter-locations">
  <ul class="filter-locations">
    <li><a href="/priority_service_170301/book-appointment/london-week-1">London</a></li>
  <li> <a href="/priority_service_170301/book-appointment/peterborough-week-1">Peterborough</a></li>
  <li> <a href="/priority_service_170301/book-appointment/newport-week-1">Newport</a></li>
  <li><a href="#">Liverpool</a></li>
  <li><a href="#">Durham</a></li>
  <li><a href="#">Glasgow</a></li>
  <li><a href="#">Belfast</a></li>
</ul>
</div>
-->

<div class="manage-times">
  <div class="manage-time-next">
<span class="font-small"><a href="/priority_service_170705/book-appointment/book-appointment-2">Later <div class="later-arrow"></div></a> </span>
</div>

<!--
<div class="manage-time-previous">
<a href="/priority_service_170301/book-appointment/"><div class="earlier-arrow"></div> Earlier </div></a>
</div>
-->



<div class="book-table-2">

<div class="grid-row">
  <div class="col-third">
    <div class="col-1 location-metadata">
    <span class="font-small">Friday </br> 3 March</span>
  </div>
  </div>

  <div class="col-third">
    <div class="col-2 location-metadata">
    <span class="font-small">Saturday </br> 4 March</span>
  </div>
  </div>

  <div class="col-third">
    <div class="col-3 location-metadata">
    <span class="font-small">Monday </br> 6 March</span>
  </div>
  </div>

</div>

<div class="grid-row">
    <div class="col-third">
    <div class="col-1">
    <a href="#"><span class="font-xsmall">London </br><span class="font-xsmall">Available</span></span></a>
  </div>
</div>

    <div class="col-third">
      <div class="col-2 location-day">
        <a href="#"><span class="font-xsmall">London </br><span class="font-xsmall">Available</span></span></a>
    </div>
    </div>

      <div class="col-third location-day">
        <div class="col-3">
          <span class="font-xsmall unavailable">London </br><span class="font-xsmall unavail">Unavailable</span></span></a>
      </div>
      </div>

</div>

<div class="grid-row">

        <div class="col-third">
          <div class="col-1">
            <a href="#"><span class="font-xsmall">Peterborough </br><span class="font-xsmall">Available</span></span></a>
        </div>
        </div>

          <div class="col-third">
            <div class="col-2">
            <a href="#"><span class="font-xsmall">Peterborough </br><span class="font-xsmall">Available</span></span></a>
          </div>
          </div>

            <div class="col-third">
              <div class="col-3">
                <a href="#"><span class="font-xsmall">Peterborough </br><span class="font-xsmall">Available</span></a>
            </div>
            </div>
</div>

<div class="grid-row">
  <div class="col-third">
    <div class="col-1">
      <a href="#"><span class="font-xsmall">Newport </br><span class="font-xsmall">Available</span></a>
  </div>
  </div>

    <div class="col-third">
      <div class="col-2">
        <a href="#"><span class="font-xsmall">Newport </br><span class="font-xsmall">Available</span></a>
</div>
    </div>

      <div class="col-third">
        <div class="col-3">
          <a href="#"><span class="font-xsmall">Newport </br><span class="font-xsmall">Available</span></a>
      </div>
      </div>
</div>



<div class="grid-row">
  <div class="col-third">
    <div class="col-1">
      <a href="#"><span class="font-xsmall">Liverpool </br><span class="font-xsmall">Available</span></a>
  </div>
  </div>

    <div class="col-third">
      <div class="col-2">
        <a href="#"><span class="font-xsmall">Liverpool </br><span class="font-xsmall">Available</span></a>
</div>
    </div>

      <div class="col-third">
        <div class="col-3">
          <a href="#"><span class="font-xsmall">Liverpool </br><span class="font-xsmall">Available</span></a>
      </div>
      </div>
</div>

<div class="grid-row">
  <div class="col-third">
    <div class="col-1">
      <a href="#"><span class="font-xsmall">Durham </br><span class="font-xsmall">Available</span></a>
  </div>
  </div>

    <div class="col-third">
      <div class="col-2">
        <a href="#"><span class="font-xsmall">Durham </br><span class="font-xsmall">Available</span></a>
</div>
    </div>

      <div class="col-third">
        <div class="col-3">
          <a href="#"><span class="font-xsmall">Durham </br><span class="font-xsmall">Available</span></a>
      </div>
      </div>
</div>


<div class="grid-row">
  <div class="col-third">
    <div class="col-1">
      <a href="#"><span class="font-xsmall">Glasgow </br><span class="font-xsmall">Available</span></a>
  </div>
  </div>

    <div class="col-third">
      <div class="col-2">
        <a href="#"><span class="font-xsmall">Glasgow </br><span class="font-xsmall">Available</span></a>
</div>
    </div>

      <div class="col-third">
        <div class="col-3">
          <a href="#"><span class="font-xsmall">Glasgow </br><span class="font-xsmall">Available</span></a>
      </div>
      </div>
</div>

<div class="grid-row">
  <div class="col-third">
    <div class="col-1">
      <a href="#"><span class="font-xsmall">Belfast </br><span class="font-xsmall">Available</span></a>
  </div>
  </div>

    <div class="col-third">
      <div class="col-2">
        <a href="#"><span class="font-xsmall">Belfast </br><span class="font-xsmall">Available</span></a>
</div>
    </div>

      <div class="col-third">
        <div class="col-3">
          <a href="#"><span class="font-xsmall">Belfast </br><span class="font-xsmall">Available</span></a>
      </div>
      </div>
</div>

</div>
</div>
</div>


</div>
</div>

</div>
</div>


{{/main-content}}

{{/ layout}}
