{{< layout}}

{{$back}}
<div class="photo-guide">
             <a href="/../prototype_161124/intro/you-need-a-photo-v2" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 7 of 7</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
          <div class="flash-card">
              <header>
                  <h1>Keep a straight face</h1>
              </header>
              <div class="grid-row">
                  <div class="column-full">
                   
                    <p>In your photo, you must have a plain expression (no smiling or frowning) <br>with your mouth closed and your eyes open.</p>
                    <div class="guidance-photos" aria-hidden="true">
                        <ul>
                            <li>
                                <img src="../../public/images/photoguide/image-f1-plain.jpg" alt="">
                                <div class="result" style="height: 38px;">
                                    <p class="approved">Approved</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../public/images/photoguide/image-f1-smiling.jpg" alt="">
                                <div class="result" style="height: 38px;">
                                    <p class="failed">Don’t smile</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../public/images/photoguide/image-f1-mouth-open.jpg" alt="">
                                <div class="result" style="height: 38px;">
                                    <p class="failed">Mouth open</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p>It’s best to take glasses off. If you keep your glasses on, make sure your eyes <br>are fully visible and there is no glare.</p>
                    <div class="guidance-photos" aria-hidden="true">
                        <ul>
                            <div>
                                <li>
                                    <img src="../../public/images/photoguide/image-m2-plain.jpg" alt="">
                                    <div class="result" style="height: 57px;">
                                        <p class="approved">Approved</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../../public/images/photoguide/image-m2-plain-glasses.jpg" alt="">
                                    <div class="result" style="height: 57px;">
                                        <p class="approved">Approved</p>
                                    </div>
                                </li>
                            </div>
                            <div>
                                <li>
                                    <img src="../../public/images/photoguide/image-m2-glasses-reflection.jpg" alt="">
                                    <div class="result" style="height: 57px;">
                                        <p class="failed">No glare on glasses</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../../public/images/photoguide/image-m2-glasses-tinted-covering-eyes.jpg" alt="">
                                    <div class="result" style="height: 57px;">
                                        <p class="failed">Eyes not clear.<br>No tinted lenses</p>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-previous">
                                        <a href="{{backLink}}" style="font-size: 20px">Previous</a>
                                    </li>
                                    <li class="button-guide button-guide-next">
                                        <a href="/../prototype_161124/uploadphoto" style="font-size: 20px">Take your photo</a>
                                    </li>
                                </ul>
                      </nav>
                  </div>
              </div>
          </div>
        </div>

{{/main-content}}

{{/ layout}}
