{{< layout}}
{{$propositionHeader}}
{{/propositionHeader}}
{{$pageTitle}}What nationality is written on your passport?{{/pageTitle}}

{{$header}}
    <h1>What nationality is written on your passport?</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
        {{#radio-group}}british-citizen{{/radio-group}}
        {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{$sidebar}}
     <div class="column-one-third">
        <br>
        <br>
        <div class="sidebar related">
            <div class="photo-preview-inner">
                <h2 class="heading-medium">Where to find your <br>nationality</h2>
                <img src="../../public/images/nationality.png" alt="Passport nationality">
            </div>
        </div>
    </div>
{{/sidebar}}

{{/ layout}}
