{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}You need a different service{{/pageTitle}}

{{$content}}

<header>
  <h1>You need a different service</h1>
</header>


<p>If you live in the Channel Islands, apply for a UK passport through your local passport office in the <a href="https://www.gov.gg/passports">Guernsey</a>, <a href="https://www.gov.je/Travel/Passports/GetAPassport/Pages/RenewAPassport.aspx">Jersey</a> or the <a href="https://www.gov.im/passports">Isle of man</a>. </p>

{{/ content}}

{{/ layout}}

