    {{< layout}}
    {{$propositionHeader}}
    {{/propositionHeader}}
    {{$pageTitle}}Are you applying from the UK?{{/pageTitle}}



    {{$header}}
    <style>
    .panel {
    box-sizing: border-box;
    width: 960px;
    clear: both;
    border-left-style: solid;
    border-color: #bfc1c3;
    padding: 1em 1em;
    margin-bottom: 0.78947em;
    }

    h2.govuk-heading-s {
        font-size: 22px;
        margin-bottom: 0.6em;
        margin-top: 0.6em;
    }

    .panel-border-wide {
    border-left-width: 10px;
    }

    .panel-border-wide.alert-default {
    border-color: #2b8cc4;
    background-color: #dbeff9;
        margin-bottom: 0.6em;
        margin-top: 1.6em;
    }

        </style>

    <div class="panel panel-border-wide alert-default">
    <p>If you're applying on behalf of an adult or child, answer these questions with their details rather than your own.</p>
    </div>

        <h1>Do you live in the UK?</h1>

    {{/header}}

    {{$content}}
    {{< hmpo-partials-form}}
        {{$form}}
            {{#radio-group}}apply-uk{{/radio-group}}
            {{#input-submit}}{{/input-submit}}
        {{/form}}
    {{/ hmpo-partials-form}}
    {{/content}}

    {{/ layout}}
