{{< layout}}
{{$propositionHeader}}
{{/propositionHeader}}
{{$pageTitle}}Are you applying from the UK?{{/pageTitle}}

{{$header}}
    <h1>Do you live in the UK? EUSS2</h1>

{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
        <p class="form-hint">If you're applying on behalf of an adult or child, answer these questions with their details rather than your own.</p>
        {{#radio-group}}apply-uk{{/radio-group}}
        {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
