{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Is your passport lost or stolen?{{/pageTitle}}

{{$header}}
    <h1>Is {{> partials-applicant-your-their}} passport lost or stolen?</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
    <p></p>
        <fieldset class="inline">

            {{#radio-group}}lost-stolen{{/radio-group}}
        </fieldset>
        <div id="lost-stolen" class="reveal js-hidden">
                <div class="panel panel-border-narrow">
                    <p>You must <a href="https://www.gov.uk/report-a-lost-or-stolen-passport/y/in_the_uk">cancel your old passport</a> as soon as you can if it's lost or stolen.</p>

                </div>
            </div>
        {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
