{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Have you cancelled your passport?{{/pageTitle}}

{{$content}}
	<header>
		<h1>Have you cancelled your passport with HM Passport Office?</h1>
	</header>
		
		<p>You must cancel your lost or stolen passport before you apply for a replacement.</p>

	{{< hmpo-partials-form}}
		{{$form}}
			<fieldset>
				{{#radio-group}}lost-stolen-reported{{/radio-group}}
			</fieldset>
			{{#input-submit}}{{/input-submit}}
			<!-- <p>If you need your replacement passport within a week, apply with <a href="https://www.gov.uk/get-a-passport-urgently">Fast Track</a>.</p> -->
		{{/form}}
	{{/ hmpo-partials-form}}
{{/ content}}

{{/ layout}}