{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$content}}
	<header>
		<h1>Have you reported it lost or stolen?</h1>
	</header>
	{{< hmpo-partials-form}}
		{{$form}}
			<p>You must <a href="https://www.gov.uk/report-a-lost-or-stolen-passport">cancel your old passport</a> if it's lost or stolen.</p>
			<fieldset class="inline">
				{{#radio-group}}lost-stolen-reported{{/radio-group}}
			</fieldset>
			<div id="lost-stolen-reported" class="reveal js-hidden">
				<div class="panel panel-border-narrow">
					<h2>Reference number</h2>
					<p class="form-hint" id="dob-hint">For example L123456789. You'll find this in your email or text message from HM Passport Office.</p>
					{{#input-text}}lost-reference{{/input-text}}
				</div>
			</div>	
			{{#input-submit}}{{/input-submit}}
			<!-- <p>If you need your replacement passport within a week, apply with <a href="https://www.gov.uk/get-a-passport-urgently">Fast Track</a>.</p> -->
		{{/form}}
	{{/ hmpo-partials-form}}
{{/ content}}

{{/ layout}}