{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Is your passport lost or stolen?{{/pageTitle}}

{{$header}}
    <h1>Is {{> partials-applicant-your-their}} passport lost or stolen?</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
        <fieldset class="inline">

            {{#radio-group}}lost-stolen{{/radio-group}}
        </fieldset>
        
        {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
