{{< layout}}

{{$pageTitle}}Do you have a naturalisation or registration certificate?{{/pageTitle}}

{{$header}}
    <h1>Do {{> partials-applicant-you-they}} have a naturalisation or registration certificate?</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<fieldset  class="inline">
    <p>You'll only have one of these certificates if you applied for British nationality through the Home Office.</p>
    <details>
    <summary><span class="summary">Examples of acceptable certificates</span></summary>
    <br>
    <div class="panel panel-border-narrow">
        <div class="guidance-photos" aria-hidden="true">
            <ul>
                <li>
                    <h3>Certificate of naturalization</h3>
                    <img src="../../public/images/nat.jpg" alt="" class="" onclick="window.open('../../public/images/nat.jpg', '_blank');">
                </li>
            
            <br>
            <br>
     
                <li>
                    <h3>Certificate of registration</h3>
                    <img src="../../public/images/reg.jpg" alt="" class="" onclick="window.open('../../public/images/reg.jpg', '_blank');">
                </li>
            </ul>
        </div>
    </div>
</details>
</fieldset>
{{#radio-group}}naturalisation-registration-certificate{{/radio-group}}

{{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
