{{< layout}}

{{$pageTitle}}Do you have a naturalisation or registration certificate?{{/pageTitle}}

{{$header}}
    <h1>Do {{> partials-applicant-you-they}} have a naturalisation or registration certificate?</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <style>
        .guidance-photos ul li  {
           margin: 0 3% 0 0;
        }
    </style>

    <fieldset  class="inline">
        <p>You'll only have one of these certificates if you applied for British nationality through the Home Office.</p>
           <!-- <details>
            <summary><span class="summary">Naturalisation or Registration certificates</span></summary>
            <br>
            <div class="panel panel-border-narrow">
                <div class="guidance-photos" aria-hidden="true">
                    <ul>
                        <li>
                            <h3>Naturalisation Certificate</h3>
                            <img src="../../public/images/nat.jpg" alt="" class="" onclick="window.open('../../public/images/nat.jpg', '_blank');">
                        </li>
                        <li>
                            <h3>Registration Certificate</h3>
                            <img src="../../public/images/reg.jpg" alt="" class="" onclick="window.open('../../public/images/reg.jpg', '_blank');">
                        </li>
                    </ul>
                </div>
                <br>
                <p>If you have either of these certificates, select yes.</p>
            </div>
        </details> -->
    </fieldset>

    {{#radio-group}}naturalisation-registration-certificate{{/radio-group}}
    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{$sidebar}}
    <div class="column-one-third">
        <br>
        <br>
        <div class="sidebar related">
            <div class="photo-preview-inner">
                <h2 class="heading-small">Naturalisation certificate example</h2>
                    <img src="../../public/images/nat.jpg" alt="" width="150" align="middle" style="cursor:pointer;" onclick="window.open('../../public/images/reg.jpg', '_blank');" >
                    <p>Click on image to enlarge</p>
                <h2 class="heading-small">Registration certificate example</h2>
                    <img src="../../public/images/reg.jpg" alt="" width="150" align="middle" style="cursor:pointer;" onclick="window.open('../../public/images/reg.jpg', '_blank');" >
                    <p>Click on image to enlarge</p>
            </div>
        </div>
    </div>
{{/sidebar}}

{{/ layout}}
