{{< layout}}
{{$propositionHeader}}
{{/propositionHeader}}
{{$pageTitle}}Do you want to try the new service?{{/pageTitle}}

{{$header}}
    <h1>Do you want to try the new service?</h1>
{{/header}}

{{$content}}
    <p>You’ll need to upload a digital photo as part of your application. 
    You won’t need to post 2 printed photos.</p>
    <p>We’ll show you how to take and upload your photo.</p>
{{< hmpo-partials-form}}
    {{$form}}
        {{#radio-group}}overseas-service{{/radio-group}}
        {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
