{{< layout}}


{{$pageTitle}}You don't have parental responsibility{{/pageTitle}}

{{$header}}
    <h1>Confirm you can do this</h1>
{{/header}}

{{$content}}
    <p>You need a letter from the person with <a href="https://www.gov.uk/parental-rights-responsibilities">parental responsibility</a>. They need to agree to:</p>
    <ul class="list-bullet">
      <li>the child getting a passport</li>
      <li>you making this application</li>

    </ul>
    <p>You'll need to send the letter to us &ndash; we'll give you the details.</p>
    <a href="../intro" class="button">I can get this letter</a>
{{/content}}

{{/ layout}}
