{{< layout}}
{{$propositionHeader}}
{{/propositionHeader}}
{{$pageTitle}}When does your passport expire?{{/pageTitle}}

{{$header}}
    <h1>When was {{> partials-applicant-your-their}} passport issued?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
        <div id="date-group" class="form-group">
            <fieldset>
                <div class="form-date">
                  <p class="form-hint" id="dob-hint">For example 01 08 2007</p>
                    {{#input-text}}issue-day{{/input-text}}
                    {{#input-text}}issue-month{{/input-text}}
                    {{#input-text}}issue-year{{/input-text}}
                </div>
            </fieldset>
        </div>
        {{^values.apply-uk}}
            {{#radio-group}}passport-issuing-authority{{/radio-group}}
        {{/values.apply-uk}}

        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <br>
    <br>
    <div class="sidebar related">
        <div class="photo-preview-inner">
            <h2 class="heading-medium">Where to find your passport issue date</h2>
            <img src="../../public/images/Issue_date_illustration.png" width="300" alt="">
        </div>
    </div>
</div>
{{/sidebar}}

{{/ layout}}
