{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Rising 16{{/pageTitle}}

{{$header}}
    <h1>Choose an adult or child passport</h1>
{{/header}}

{{$content}}
<p>The applicant will be 16 within 3 weeks. You can apply for an adult or child passport.</p>
<h2>Adult passport</h2>
<p>An adult passport is £75.50 and is valid for 10 years. It will arrive around 3 weeks after the applicant's 16th birthday.</p>
  <h2>Child passport</h2>
  <p>A child passport is £49 and is valid for 5 years. It takes around 3 weeks.</p>



{{< hmpo-partials-form}}
    {{$form}}
        {{#radio-group}}rising-16{{/radio-group}}
{{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}


{{/ layout}}
