{{< layout}}

{{$pageTitle}}Check your photo and submit{{/pageTitle}}

{{$header}}
    <h1>Check your photo and submit</h1>
{{/header}}

{{$content}}
    {{<hmpo-partials-form}}
    {{$form}}
        <p>Your photo must meet all of these rules.</p>

        <!-- discuss removing some or all of this content -->
        <ol class="list-number">
                <li class="list-item-bold">Your appearance
                    <p>Make sure:</p>
                    <ul class="list-bullet">
                        <li>the photo is a good likeness taken in the last month</li>
                        <li>your whole face is visible</li>
                        <li>you have a plain or neutral expression</li>
                        <li>there are no reflections or glare (if you wear glasses)</li>
                        <li>you’re not wearing headwear (unless for religious or medical reasons)</li>
                    </ul>
                </li>
                <li class="list-item-bold">Photo set up
                    <p>Your photo must:</p>
                    <ul class="list-bullet">
                        <li>have no other people or objects in it</li>
                        <li>be taken against a plain background (eg light grey or cream)</li>
                        <li>have no shadows on your face or behind you</li>
                    </ul>
                </li>
                <li class="list-item-bold">Photo quality and format
                    <p>Your photo must:</p>
                    <ul class="list-bullet">
                        <li>be in colour, with no effects or filters</li>
                        <li>not be blurred or have ‘red eye’</li>
                        <li>be unedited – you can’t ‘correct’ your passport photo</li>
                    </ul>
                </li>
            </ol>

            <!--<div class="panel panel-border-wide">
                <p>
                  <a href="/prototype_oix_171117/uploadphoto">Get a new photo</a> if you’re unsure.
                </p>
            </div>-->

        <!--    <a href="../renew/old-pass-details" class="button">Submit photo</a><br/><br/>-->
        <br/>

 <div class="panel panel-border-wide" style="border-color: #2B8CC4;background-color: rgba(43, 140, 196, 0.1);">
                <p class="list-item-bold">
                  Our automated check suggests </p>
                  <p>
                  <ul class="list-bullet">
                    <li>it looks like your mouth is open</li>
                    <li>we can't find the outline of your head</li>
                </ul>
                This is only the first check and your photo may still meet the rules.
                </p>
            </div>
            <br>

 <h2 class="heading-medium">
    You can still use the photo</h2> 
<ul class="list-bullet">
    <li>if you think it meets all the requirements</li>
    <li>if you can’t meet the rules because of a religious or medical reason</li>
</ul>

<p>If you decide to use this photo we’ll check it manually. We’ll ask for another photo if something doesn’t look right. </p>

  <div class="form-group{{#errors.oix-override}} error{{/errors.oix-override}}" style="margin-top:50px">
    <fieldset>

      <legend>
        <h2 class="heading-medium" style="padding-bottom:15px">
          Would you like to submit this photo?
        </h2>
        {{#errors.oix-override}}<span id="oix-override-error" class="error-message">{{errors.oix-override.message}}</span>{{/errors.oix-override}}
      </legend>
    
      <div class="block-label" data-target="oix-override-yes">
        <input
          id="oix-override-yes"
          type="radio"
          name="oix-override"
          value="Yes"
          aria-required="true"
          aria-controls="oix-override-toggle"
          aria-expanded="true"
          {{#selected}}oix-override=Yes{{/selected}}>
        <label for="oix-override-yes">
           Yes, I want to submit it
        </label>
      </div>
     
      <div class="panel panel-border-narrow js-hidden" id="oix-override-toggle">
        <div class="form-group {{#errors.oix-override}} error{{/errors.oix-override}}">
          <label class="form-label" for="oix-override-reason">
            <!--<p>If we have to ask for a different photo your application may be delayed.</p>-->
            <p>Tell us why you’d like to use this photo:</p>
            {{#errors.oix-override-reason}}<span id="oix-override-reason-error" class="error-message">{{errors.oix-override-reason.message}}</span>{{/errors.oix-override-reason}}
            <textarea
              name="oix-override-reason"
              id="oix-override-reason"
              class="form-control textarea"
              aria-required="true"
              maxlength="250"
              spellcheck="true"
              autocapitalize="sentences"></textarea>
          </label>
        </div>
      </div>

      <div class="block-label" data-target="oix-override-no">
        <input
          id="oix-override-no"
          type="radio"
          name="oix-override"
          value="No"
          aria-required="true"
          {{#selected}}oix-override=No{{/selected}}>
        <label for="oix-override-no">
          No, I want to get another photo
        </label>
      </div>

    </fieldset>
  </div>

  {{#input-submit}}{{/input-submit}}

{{/form}}
{{/hmpo-partials-form}}


{{/content}}

{{$sidebar}}
<div class="column-one-third" style="margin-top:50px">
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Your photo</h2>
          <div class="photo">
            <object type="image/jpg" data="/public/images/fail.thumb.jpeg" type="image/svg+xml" tabindex="-1" style="width:150px">
            <img src="/public/images/woman-with-reddish-hair_ex@2x.jpg" alt="Head nad shoulder image of a woman with reddish hair standing in front of a grey background with neutral expression.">
            </object>
            <p style="font-size:16px; font-weight:bold; color:grey">abc.de/2pNfHiz</p>
           
        </div>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}


