{{< layout}}


{{$main-content}}

      <div class="column-full">
          <div class="flash-card">
              <header>
              <h1>What you need to do</h1>
              </header>
              <div class="grid-row">
                  <div class="column-half">
                      <ol class="list-number">
                           <li><h2>Book an appointment</h2>
                            <p>You'll collect your new passport from a passport office in the UK.</p>
                           </li>
                           <p></p>
                           <li><h2>Apply online</h2>
                            <p>We'll contact you if there are any problems with your application.
                            </p>
                          <li><h2>Take and upload a digital photo</h2>
                           We'll show you how. Your photo must meet the <a href="">photo rules</a>. </li>
                           <p></p>
                           </p>
                          <li><h2>Pay for your new passport online</h2>
                          <p>A standard adult passport using this service is £128.</> </li>
                          <p></p>
                          <li><h2>Collect your new passport</h2>
                            <p>You'll need to go in person and take your old passport with you.</p>
                            </li>
                      </ol>
                      <!--<a href="{{nextPage}}" class="button" role="button">{{#t}}buttons.next{{/t}}</a>-->
                      <a href="/prototype_161212/intro/choose-photo-method" class="button">Book an appointment</a>
                  </div>
                  <!-- passport image -->
                  <div class="column-half">
                      <object type="image/svg+xml" data="../../public/images/passport_open_final.svg"type="image/svg+xml" class="svg" tabindex="-1" style="width:70%;padding-left:30px;padding-top:30px">
                          <img src="../../public/images/passport_open_final.png" width="206" height="215" alt="">
                      </object>
                  </div>

              </div>
          </div>
      </div>

{{/ main-content}}

{{/ layout}}
