{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
    <h1>Get a passport urgently</h1>
{{/header}}


{{$content}}
<!-- <div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>

<div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
</div> -->

<!-- <header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
        </a>
      </div>
        <a href="#search" class="search-toggle js-header-toggle">Search</a>

<form id="search" class="site-search" action="/search" method="get" role="search">
<div class="content">
  <label for="site-search-text">Search</label>
  <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
  <input class="submit" type="submit" value="Search">
</div>
</form>

    </div>

  </div>
</header> -->

  <!-- <div id="user-satisfaction-survey-container"></div> -->


<!-- <div id="global-header-bar"></div>

    <div class="header-context"></div> -->

<!-- <div id="wrapper" class="guide guide">
    <div class="govuk-breadcrumbs">
<ol>
<li>
    <a href="/">Home</a>
</li>
<li>
    <a href="/browse/abroad">Passports, travel and living abroad</a>
</li>
<li>
    <a href="/browse/abroad/passports">Passports</a>
</li>
</ol>
</div> -->


  <!-- <div class="grid-row">

<main id="content" role="main" class="multi-page">
<header class="page-header">
<div>
  <h1>
    Get a passport urgently
  </h1>
</div>
</header> -->

<div class="article-container group">
<div class="content-block">
  <div class="inner">

<aside>
<div class="inner">
<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
    <ol>
          <li>
            <a title="Part 1: Choose a service"
            href="./">Choose a service</a>
          </li>
          <li >
            <a title="Part 1: Choose a service" href="prices">Prices for all passport types</a>
          </li>
          <!-- <li>
            <span class="part-number">3.</span>
            <a title="Part 3: Get an application form, book and pay" href="/get-a-passport-urgently/book-appointment-pay">Get an application form, book and pay</a>
          </li> -->

          <li class="active">
            <span>What to take to your appointment</span>
          </li>
    </ol>
</nav>
</nav>
</div>
</aside>

<header>
      <h1>3. What to take to your appointment</h1>
    </header>

  <p>You'll need to take different documents depending on the service. </p> 

    <h2>Premium 1-day and Fast Track 7-day</h2>

  <p>You need to take:</p>

      <ul class="list-bullet">
        <li>2 identical <a href="/photos-for-passports">passport photos</a>
        </li>
        <li>a completed paper application form from the <a rel="external" href="http://www.postoffice.co.uk/branch-finder">Post Office</a>
        </li>
        <li>your supporting documents - details are in the <a href="/government/publications/applying-for-a-passport">booklet that comes with the paper form</a>
        </li>
      </ul>
</li>

<h3>If you can't go to your appointments</h3>

<p>Somebody else can drop off your application, photos and documents.</p>
<p>If you use Premium 1-day or Fast Track 7-day, somebody else can collect your passport for you. They need to take:</p>

<ul class=list-bullet>
  <li>their ID (passport, driving licence or a utility bill less than 3 months old)</li>
  <li>a signed and dated letter from you, naming them and giving them permission to collect the passport</li>
  <li>the application receipt (received when the cashier accepts the application)</li>
</ul>

<h2>Premium Click and Collect</h2>
<ul>
<li>You only need to take your old passport with you. We'll cancel it when you collect your new passport. You'll need to collect your new passport in person.</a>
<p></p>

<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
<ul class="group">
  <li class="previous">
    <a title="Navigate to previous part" rel="previous" href="prices">
      <span class="pagination-label">Previous</span> <span class="pagination-part-title">Passports types and prices</span>
    </a>
</li>
      <!-- <li class="next">
        <a title="Navigate to next part" rel="next" href="/get-a-passport-urgently/cost">
          <span class="pagination-label">Next</span> <span class="pagination-part-title">Passports types and prices</span>
</a>          </li> -->
</ul>
</nav>
</footer>


<div class="print-link">
<a rel="nofollow" href="/get-a-passport-urgently/print">Print entire guide</a>
</div>

  </div>
</div>
<div class="meta-data group">
<p class="modified-date">Last updated 20 December 2016</p>
</div>



</div>
<!-- </main> -->



<!-- <div class="report-a-problem-container">
<div class="report-a-problem-inner">
<div class="report-a-problem-content">
  <h2>Help us improve GOV.UK</h2>
  <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <input id="url" name="url" type="hidden" value="https://www.gov.uk/get-a-passport-urgently">

      <input id="source" name="source" type="hidden" value="">


      <input id="page_owner" name="page_owner" type="hidden" value="">


    <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

    <label for="what_doing">What you were doing</label>
    <input id="what_doing" name="what_doing" type="text">

    <label for="what_wrong">What went wrong</label>
    <input id="what_wrong" name="what_wrong" type="text">

    <div class="button-wrapper">
      <button name="commit" type="submit" class="button">Send</button>
    </div>
  </form>
</div>
</div>
</div>
</div> -->





{{/ content}}
{{$sidebar}}
<br>
    <div class="column-one-third">
      <div class="related-container">
      <aside class="govuk-related-items" role="complementary">
      <h2>
        Passports
      </h2>
      <nav role="navigation">
        <ul>
            <li>
              <a href="/renew-adult-passport">
                Renew or replace your adult passport
              </a>
            </li>
            <li>
              <a href="/get-a-child-passport">
                Get a passport for your child
              </a>
            </li>
            <li>
              <a href="/apply-first-adult-passport">
                Apply for your first adult passport
              </a>
            </li>
            <li>
              <a href="/report-a-lost-or-stolen-passport">
                Cancel a lost or stolen passport
              </a>
            </li>
            <li>
              <a href="/passport-services-disabled">
                Passport services if you're disabled
              </a>
            </li>
            <li class="related-items-more">
              <a href="/browse/abroad/passports">
                More
                  <span class="visuallyhidden">
                    in
                    Passports
                  </span>
              </a>
            </li>
        </ul>
      </nav>
      </aside>

      </div>

        </div>

{{/sidebar}}


{{/ layout}}
