{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Apply for, renew or replace a UK passport{{/pageTitle}}

{{$header}}
    <h1>Apply for, renew or change a UK passport online</h1>
{{/header}}


{{$content}}
      <p>
    We'll ask you a few questions to check which service you need.
    </p>
    <p id="get-started" class="get-started group">
      <a href="/../priority_service_170510/filter-common" class="big button js-gaevent" role="button" data-gakey="start" data-galabel="or">Continue</a>
    </p>
    <br/>

    <section class="more">
        <div class="js-tabs">
            <ul class="js-tablist">
                <li class="js-tablist__item">
                    <a href="#before-you-start" class="js-tablist__link">Before you start</a>
                </li>
                <li class="js-tablist__item">
                    <a href="#other-ways-to-apply" class="js-tablist__link">Other ways to apply</a>
                </li>
            </ul>


            <div class="js-tabcontent" id="before-you-start">
                <p>It should take 3 weeks to get your passport renewed, replaced or changed and 6 weeks to get your first adult passport. There are faster services if you need to <a href="/../priority_service_170510/get-urgent-passport/index2">get a passport urgently</a>.
                </p>

                <p>You’ll need a debit or credit card to pay for your passport online.
                </p>

                <div role="note" aria-label="Information" class="panel panel-border-wide application-notice info-notice">
                    <p>Don’t book travel until you have a valid passport - doing so is at your own risk.</p>
                </div>
            </div>

            <div class="js-tabcontent" id="other-ways-to-apply">
                <p>You can pick up passport application forms from your <a rel="external" href="http://www.postoffice.co.uk/branch-finder">local Post Office</a> and apply by post, or use the <a href="/how-the-post-office-check-and-send-service-works">Post Office Check and Send service</a>.</p>
            </div>
        </div> <!-- end tabs -->
    </section>

{{/ content}}
{{$sidebar}}
    <div class="column-one-third">
        <div class="sidebar related GDS">
          <div class="photo-preview-inner">
            <div class="inner group related-subsection">
            <h2 id="parent-subsection">Passports</h2>
            <nav role="navigation" aria-labelledby="parent-subsection">
              <ul>
                <li>
                  <a href="https://www.gov.uk/passport-fees">Passport fees</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/photos-for-passports">Rules for passport photos</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/changing-passport-information">Change your name or personal details on your passport</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/apply-first-adult-passport">Apply for your first adult passport</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/get-a-child-passport">Get a passport for your child</a>
                </li>

                <li class="related-topic"><a href="https://www.gov.uk/browse/abroad/passports">More <span class="visuallyhidden">in Passports</span></a></li>
            </ul>
            </nav>
          </div>
          </div>
        </div>
    </div>
{{/sidebar}}


{{/ layout}}
