{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_161124/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 4 of 4</span>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
          <div class="flash-card">
              <header>
                <h1>Transfer your photo to your device</h1>
              </header>
              <div class="grid-row">
                  <div class="column-two-thirds">
                    <p>To submit your photo you’ll first need to transfer it to the computer, phone or tablet you’re using to apply.</p>
                    <p><a href="https://www-int-test2-pex.notprod.homeoffice.gov.uk/photo/upload-help">Help with transferring your photo</a>.</p>
                  </div>
                  <div class="column-one-third">
                  </div>
                  <div style="clear:both"></div>
                  <nav class="guide-nav">
                            <ul>
                                <li class="button-guide button-guide-previous">
                                    <a href="/prototype_161124/photoguide-shop/what-you-get">Previous</a>
                                </li>
                                <li class="button-guide button-guide-next">
                                    <a href="/prototype_161124/upload">Next</a>
                                </li>
                            </ul>
                  </nav>
              </div>

          </div>
        </div>

{{/ main-content}}

{{/ layout}}
