
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Book an appointment</h1>
{{/header}}

{{$main-content}}


<h1>Book an appointment</h1>


<h2>Choose a date and location</h2>
<p>There are 7 passport offices in the UK. <a href="https://www.gov.uk/find-regional-passport-office">Find my nearest passport office</a></p>


<div class="manage-times">
  <!--<div class="manage-time-next">
    <span class="font-small"><a href="/priority_service_170202/book-appointment/book-appointment-3">Next &nbsp; ▶</span>
</div>
-->
<div class="manage-time-previous">
<a href="/priority_service_170202/book-appointment/book-appointment-2">◀ &nbsp; Previous</a></span>
</div>
</div>


<div class="book-table">
  <table class="book-table">
  <tbody>
    <tr>
    <td><span class="bold-small">Thursday<br> 16 February</span></td>
    <td><span class="bold-small">Friday<br>  17 February</span></td>
    <td><span class="bold-small">Saturday<br>  19 February</span></td>
    <td><span class="bold-small">Monday<br>  20 February</span></td>
    <td><span class="bold-small">Tuesday<br>  21 February</span></td>
    </tr>
  <tr>
  <td><span class="unavailable">London</br></span></td>
  <td><a href="/priority_service_170202/book-appointment/book-appointment_london_4_feb"><span class="city-available">London </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">London </br></span></td>
    <td><span class="unavailable">London </br></span></td>
    <td><a href="/priority_service_170202/book-appointment/book-appointment_london_4_feb"><span class="city-available">London </br><span class="available">Available</span></span></a></td>

</tr>
<tr>
  <td><span class="city-available"><a href="#">Peterborough </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Peterborough </br></span></td>
    <td><span class="unavailable">Peterborough </br></span></td>
    <td><span class="city-available"><a href="#">Peterborough </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Peterborough </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">Newport </br></span></td>
  <td><a href="#"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
    <td><a href="#"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
    <td><a href="#"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Newport </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></san></td>
      <td><a href="#"><span class="city-available">Liverpool </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Liverpool </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">Durham </br></span></td>
  <td><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Durham </br></span></td>
  <td><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Durham </br></span></td>
</tr>
<tr>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Glasgow </br></span></td>
</tr>
  <tr>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></span></a></td>

  </tr>

  </tbody>
  </table>


</div>
</div>


{{/main-content}}

{{/ layout}}
