
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1>Check your appointment</h1>
    <!--
    <div class="reserve-notice">
          <p class="font-small">If you can't start your application now, you'll need to choose a new appointment.</p>
        </div>
      -->

      <span class="bold-medium">Saturday, 11 February 2017 </br> at 1.30pm</span>
      <span class="bold-medium"><a href="/priority_service_170202/book-appointment/book-appointment_london_10_feb">change</a></span>
      <p>&nbsp;</p>
      <p class="font-small"><span class="bold-small">London passport office</span></br>
    Globe House </br>
    89 Eccleston Square </br>
    London </br>
    SW1V 1PN</br>
    </p>
        <p class="font-small">  <a href="https://www.google.co.uk/maps/place/HM+Passport+Office/@51.4935294,-0.1461351,17z/data=!3m1!4b1!4m5!3m4!1s0x4876051f799cb11f:0xaa05e82d4f114209!8m2!3d51.4935294!4d-0.1439464">View map</a></p>

        <p>We’ve reserved this appointment while you apply. You’ll get an email with the details once you’re finished.</p>


        <h2><input class="button" type="submit" value="Start your application"></h2>



      </div>




    </>
    </tbody>
    </table>
    </div>
    </div>  </div>

  <div class="column-one-third">
    <p>&nbsp;</p>
  </div>

</div>

{{/main-content}}

{{/ layout}}
