
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Book an appointment</h1>
{{/header}}

{{$main-content}}


<h1>Book an appointment</h1>


<h2>Choose a date and location</h2>
<p>There are 7 passport offices in the UK. <a href="https://www.gov.uk/find-regional-passport-office">Find my nearest passport office</a></p>


<div class="manage-times">
  <div class="manage-time-next">
<span class="font-small"><a href="/priority_service_170202/book-appointment/book-appointment-2">Next &nbsp; ▶</a> </span>
</div>
<div class="manage-time-previous">
<!-- <span class="font-small muted">Previous 5 days</a></span>-->
</div>
</div>

<div class="book-table">
  <table class="book-table">
  <tbody>
    <tr>
    <td><span class="bold-small">Saturday<br> 4 February</span></td>
    <td><span class="bold-small">Monday<br>  6 February</span></td>
    <td><span class="bold-small">Tuesday<br>  7 February</span></td>
    <td><span class="bold-small">Wednesday<br>  8 February</span></td>
    <td><span class="bold-small">Thursday<br>  9 February</span></td>
    </tr>
  <tr>
  <td><span class="unavailable">London</br></span></td>
  <td><span class="unavailable">London </br></span></td>
  <td><span class="unavailable">London </br></span></td>
    <td><span class="unavailable">London </br></span></td>
    <td><a href="/priority_service_170202/book-appointment/book-appointment_london_4_feb"><span class="city-available">London </br><span class="available">Available</span></span></a></td>

</tr>
<tr>
  <td><span class="unavailable">Peterborough </br></span></td>
  <td><span class="unavailable">Peterborough </br></span></td>
    <td><span class="unavailable">Peterborough </br></span></td>
    <td><span class="city-available"><a href="/priority_service_170202/book-appointment/book-appointment_peterborough_4_feb">Peterborough </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Peterborough </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">Newport </br></span></td>
  <td><a href="/priority_service_170202/book-appointment/book-appointment_newport_4_feb"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
    <td><a href="#"><span class="city-available">Newport </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Newport </br></span></td>
    <td><span class="unavailable">Newport </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></san></td>
      <td><span class="unavailable">Liverpool </br></span></td>
    <td><span class="unavailable">Liverpool </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">Durham </br></span></td>
  <td><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Durham </br></span></td>
  <td><a href="#"><span class="city-available">Durham </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Durham </br></span></td>
</tr>
<tr>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td><a href="#"><span class="city-available">Glasgow </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">Glasgow </br></span></td>
  <td><span class="unavailable">Glasgow </br></span></td>
    <td><span class="unavailable">Glasgow </br></span></td>
</tr>
  <tr>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><a href="#"><span class="city-available">Belfast </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">Belfast </br></span></td>
    <td><span class="unavailable">Belfast </br></span></td>

  </tr>

  </tbody>
  </table>


</div>
</div>


{{/main-content}}

{{/ layout}}
