
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Passport Offices in the UK{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1>Passport offices</h1>

    <p class="font-small">There are 7 passport offices in cities in the UK.</p>

    <p>Before going to a passport office, you must choose a collection time and complete your application. </p>

    <p class="heading-medium">
    London HM Passport Office</p>
    <p>Globe House</br>
    89 Eccleston Square </br>
    London </br>
    SW1V 1PN</br>
    <a href="https://www.google.co.uk/maps/place/HM+Passport+Office/@51.4935294,-0.1461351,17z/data=!3m1!4b1!4m5!3m4!1s0x4876051f799cb11f:0xaa05e82d4f114209!8m2!3d51.4935294!4d-0.1439464">View map</a></p>


    <p class="heading-medium">
    Peterborough HM Passport Office</p>
    <p>Aragon Court</br>
    Northminster Road</br>
    Peterborough</br>
    PE1 1QG</br>
    <a href="https://www.google.co.uk/maps/place/Peterborough+Passport+Office/@52.5746016,-0.2385385,15z/data=!4m2!3m1!1s0x0:0x2270e172c720db4?sa=X&ved=0ahUKEwiCtficmI3SAhXCB8AKHR3uAkwQ_BIIdTAK">View map</a></p>


    <p class="heading-medium">
    Newport HM Passport Office</p>
    <p>Newport House</br>
    Northminster Road</br>
    Peterborough</br>
    PE1 1QG</br>
    <a href="https://www.google.co.uk/maps/place/Newport+HM+Passport+Office/@51.5812985,-2.9860147,15z/data=!4m2!3m1!1s0x0:0x572ae1c5870c53da?sa=X&ved=0ahUKEwi-0JXZmI3SAhUECsAKHfFiCq0Q_BIIdjAK">View map</a></p>


    <p class="heading-medium">
    Liverpool HM Passport Office</p>
    <p>101 Old Hall Street</br>
    Liverpool</br>
    L3 98P
  </br> <a href="https://www.google.co.uk/maps/place/Liverpool+Passport+Office/@53.4102909,-2.9959637,15z/data=!4m2!3m1!1s0x0:0x6d7aa71737213fbc?sa=X&ved=0ahUKEwj8keabmY3SAhVqIcAKHfizBvQQ_BIIdjAK">View map</a></p>



    <p class="heading-medium">
    Durham HM Passport Office</p>
    <p>Freeman's Reach</br>
    Freeman's Place</br>
    Durham</br>
    DH1 1SL</br>
    <a href="https://www.google.co.uk/maps/place/HM+Passport+Office/@54.7790911,-1.5786929,17z/data=!3m1!4b1!4m5!3m4!1s0x487e7d8b7590e4a1:0x6391814399e4a9db!8m2!3d54.7790911!4d-1.5765042">View map</a></p>


    <p class="heading-medium">
    Glasgow HM Passport Office</p>
    <p>3 Northgate</br>
    96 Milton Street</br>
    Cowcaddens</br>
    G4 0BT</br>
    <a href="https://www.google.co.uk/maps/place/Glasgow+HM+Passport+Office/@55.8681372,-4.252739,15z/data=!4m2!3m1!1s0x0:0x9fe84415f3fc5237?sa=X&ved=0ahUKEwj3tIqxm43SAhXGD8AKHU1TC-sQ_BIIdzAK">View map</a></p>


    <p class="heading-medium">
    Belfast HM Passport Office</p>
    <p>Law Society House</br>
    90–106 Victoria Street</br>
    Belfast</br>
    BT1 3GN</br>
    <a href="https://www.google.co.uk/maps/place/Passport+Office/@54.5966682,-5.923658,15z/data=!4m5!3m4!1s0x0:0x7b8ce876b686943!8m2!3d54.5966682!4d-5.923658">View map</a></p>




</div>

{{/main-content}}

{{/ layout}}
