{{< layout-referee}}


{{$pageTitle}}Not recognised{{/pageTitle}}

{{$header}}
    <h1>Details not recognised</h1>
{{/header}}

{{$content}}


<p>Please try again. You need to check:</p>

<ul class="list-bullet">
  <li>the reference in the email from HM Passport Office</li>
  <li>the applicant's date of birth</li>
</ul>

<p>If this keeps happening, please let the applicant know. They'll need to contact the Passport Office.</p>

<a class="button" href="applicant-info">Try again</a>

{{/content}}


{{/ layout-referee}}
