{{< layout}}

{{$pageTitle}}{{/pageTitle}}


{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<br>
    <header>
      <div class="panel panel-border-wide alert-success">
        <h2>You've paid £128</h2>
        <p>Details sent to jack.jones@gmail.com<br><a href="">Download confirmation</a></p>
      </div>
      <p>Application reference: <strong>PEX 319 825 680X</strong></p>
    </header>


  <div class="panel-important" style="margin:-10px 0 10px 0;">
    <p>You can't use your old passport on the day of your appointment.</p>
  </div>

        
  <h2>Your collection appointment</h2>
  <p>
    Friday, 7 April 2017<br/>
    at 1:30pm</p>

  <p>London HM Passport Office<br/>
      Globe House <br/>
      London <br/>
      SW1V 1PN<br/>
      <a href="https://www.google.co.uk/maps/place/Newport+HM+Passport+Office/@51.5812985,-2.9860147,15z/data=!4m2!3m1!1s0x0:0x572ae1c5870c53da?sa=X&ved=0ahUKEwi-0JXZmI3SAhUECsAKHfFiCq0Q_BIIdjAK">View map</a></p>
  </p>

  <p>Follow signs for the main entrance and tell staff at the check-in desk you've arrived. Don't go to the collection desk.</p>

  <p>It usually takes 30 minutes to collect your new passport. Don't arrive any earlier than 10 minutes before your collection appointment.</p>

    <h2>What you need to bring</h2>

  <p>You must bring your old passport with you.</p>

  <h2>Track your application</h2>

  <p>Use your reference <strong>PEX 319 825 680X</strong> to <a href="/../tracking-dps">track your application</a>. We'll send updates to <b>test@example.com</b> and <b>0792555555</b>.</p>

  <p>We'll check your application. If there's a problem, we'll call you on the number you provided.</p>

  <p>If you have questions contact <a href="https://www.gov.uk/browse/abroad/passports" target="_blank">contact HM Passport Office<span class="visuallyhidden">(Opens in a new window)</span></a></p>

  <a href="" class="button">Give feedback</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
