{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$content}}

<header>
  <h1>Appointment no longer available</h1>
</header>

<p>The collection appointment you selected is no longer available. You need to choose a different one</a>.</p>

<a href="/../priority_service_170731/book-appointment" class="button js-gaevent" role="button" data-gakey="start" data-galabel="or">Choose a different appointment</a>
<p></p>

{{/ content}}

{{/ layout}}
