{{< layout}}


{{$pageTitle}}What is your date of birth?{{/pageTitle}}

{{$header}}
    <h1>Are you 16 or older?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
       <div id="over-sixteen-group" class="form-group inline js-gaevent" data-gakey="eligibility">
    <fieldset role="radiogroup" aria-required="true">
        <legend>
   
            
            
        </legend>
            <label class="block-label" for="over-sixteen-true">
                <input type="radio" name="over-sixteen" id="over-sixteen-true" value="true" required="true" data-galabel="sixteen-or-older">
                Yes
            </label>
            <label class="block-label" for="over-sixteen-false">
                <input type="radio" name="over-sixteen" id="over-sixteen-false" value="false" required="true" data-galabel="under-sixteen">
                No
            </label>
    </fieldset>
</div>

        <details>
            <summary><span class="summary">I'll be 16 in the next 3 weeks</span></summary>
            <div class="panel panel-border-narrow">
              <p>It should take around 3 weeks to get your new passport. You need to apply for a 10 year adult passport by answering 'yes' to this question.</p>

            </div>
        </details>

        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
