{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_oix_171117/intro/choose-photo-method" class="back-link">Get your digital passport photo</a>
            <span class="marker">Guide part 2 of 2</span>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>What you'll get from a booth</h1>
                </header>
                <div class="grid-row">
                  <div class="column-two-thirds">

                  <!--

                    <p>Remember to check that photos meet the <a href="/../prototype_oix_171117/photoguide-static/photorules">rules for digital passport photos</a>.</p>

                  -->

                      <p>You'll get printed photos with a photo code. We'll show you how to use the phot code to retrieve your digital photo when you apply online.</p>


                      <nav class="guide-nav">
                                <ul>
                                  <li class="button-guide button-guide-previous">
                                    <a href="/prototype_oix_171117/photoguide-shop" style="font-size: 20px">Back</a>
                                    </li>
                                     <li class="button-guide button-guide-next">
                                       <a href="/prototype_oix_171117/intro/choose-photo-method" style="font-size: 20px">Next</a>
                                   </li>
                                </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
