{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_oix_171117/intro/choose-photo-method" class="back-link">Get your digital passport photo</a>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>Go to a booth or shop</h1>
                </header>
                <div class="grid-row">
                  <div class="column-two-thirds">

                    <h2 class="heading-medium">What to ask for at a shop</h2>

                      <p>Ask if their photos meet the <a href="/prototype_oix_171117/photoguide-static/photorules">rules for digital passsport photos</a>. If they do, check that they can give you a digital copy of your photo.</p>  
                 
                      <p>Some shops can also give you a photo code. We'll show you how to use the code to retrieve your digital photo.</p>



                      <h2 class="heading-medium">What you'll get from a booth</h2>

                      <p>From some booths in the UK and some booths abroad, you'll get a photo code with your printed photos. We'll show you how to use the code to retrieve your digital photo.</p> 
          

            <div class="panel panel-border-wide">
                <p>The photo code is a new service and may not be available yet from photo booths or shops in your area.
              </p>
            </div>
                      

                      <nav class="guide-nav">
                                <ul>
                                <li class="button-guide button-guide-previous">
                                                   <a href="/../prototype_oix_171117/intro/choose-photo-method" style="font-size: 20px">Back</a>
                                               </li>

                                </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
