{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_oix_171117/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 1 of 2</span>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
          <div class="flash-card">
              <header>
                <h1>How to access your photo</h1>
              </header>
              <div class="grid-row">
                  <div class="column-two-thirds">
                    <p>You can access your digital photo when you apply for a new passport online.</p>
                    <p>If you have an email with your photo attached, you'll need to save it on the device you're using to apply. You'll be asked to upload it.</p> 

                    <p>If you have a code from a shop or a booth, you'll be asked to enter it.</p>

                  
                  <div class="column-one-third">
                  </div>
                  <div style="clear:both"></div>
                  <nav class="guide-nav">
                            <ul>
                                <li class="button-guide button-guide-previous">
                                    <a href="/prototype_oix_171117/photoguide-shop">Back</a>
                                </li>
                            </ul>
                  </nav>
              </div>

          </div>
        </div>

{{/ main-content}}

{{/ layout}}
