{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_oix_171117/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 3 of 4</span>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
          <div class="flash-card">
              <header>
                <h1>What you’ll get</h1>
              </header>
              <div class="grid-row">
                  <div class="column-half">
                    <p>Your photo will now be a digital photo file rather than a printed copy.</p>
                    <p>The shop will put this file on either a CD or USB stick. Some shops may email it to you.</p>
                  </div>
                  <div class="column-half">
                        <img src="../../public/images/photoguide/icon-digital-not-printed-x2.png"  alt="">
                  </div>
                  <nav class="guide-nav">
                            <ul>
                                <li class="button-guide button-guide-previous">
                                    <a href="/prototype_oix_171117/photoguide-shop/what-to-ask">Previous</a>
                                </li>
                                <li class="button-guide button-guide-next">
                                    <a href="/prototype_oix_171117/photoguide-shop/transfer-photo">Next</a>
                                </li>
                            </ul>
                  </nav>
              </div>

          </div>
        </div>

{{/ main-content}}

{{/ layout}}
