{{< layout}}

{{$main-content}}

<div class="column-full">

    <div class="flash-card">

        <div class="grid-row">
            <div class="column-two-thirds">

              <header>
                <h1>Get your digital passport photo</h1>
              </header>
              <!--<h2>You can take your photo or you can get one from a shop.</h2> -->
              <h2>You can get a friend to take your photo.</h2><br/>
              <p>There are some rules for digital passport photos. Read the guide to help you take a good passport photo.</p><br/>
              <a href="/prototype_161124/photoguide-myself" class="button">Read the photo guide</a><br><br>
              <p><a href="">I'd prefer to go to a photo shop</a></p>
              <p><a href="/../prototype_161124/uploadphoto">I have a digital photo</a></p>
            </div>
            <div class="column-one-third">
              <img src="../../public/images/Photo_methods_myself@2x.png" alt="" style="">
            </div>
        </div>
    </div>



</div>

{{/main-content}}

{{/ layout}}
