{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Declaration{{/pageTitle}}

{{$header}}
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<header class="update-notice">
      <h1>Countersignature submitted</h1>
<!-- if we need some extra info?      <p>Your passport application is on hold. You look very different in your old and new photos, so you need to get a countersignature. </p> -->
</header>

      <p>Thank you for submitting a countersignature. We've sent the applicant a confirmation that their application has progressed.</p>

      <a href="/csig_170601/referee" class="button">Sign out</a><br>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
