{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Confirm applicant{{/pageTitle}}


{{$header}}
    <h1>Confirm an applicant's identity</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
      <img src="../../public/images/thumbnail.jpeg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
      {{#radio-group}}applicant-check{{/radio-group}}
      <div id="knowntime-group" class="form-group">
          <label for="knowntime" class="form-label-bold">
              How many years have you known Jane?
          </label>
          <span>
              <input type="text" id="knowntime" class="form-control date" name="knowntime" value="" maxlength="2" aria-describedby="knowntime" aria-required="true" style="width:70px;">
              <span id="reference-prefix" class="prefix"></span>
          </span>
      </div>
        {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}



{{/content}}

{{/ layout}}
