{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Declaration{{/pageTitle}}

{{$header}}
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<header class="update-notice">
      <h1>Details submitted</h1>
      <p>We'll let Adrian know. Thank you for your time.</p>
<!-- if we need some extra info?      <p>Your passport application is on hold. You look very different in your old and new photos, so you need to get a countersignature. </p> -->
</header>

      <p>We may contact you if we need to check any details.</p>

      <a href="/csig_170601/referee" class="button">Sign out</a><br>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
