{{< layout}}
{{$propositionHeader}}Renew a passport{{/propositionHeader}}

{{$pageTitle}}Give a countersignature{{/pageTitle}}


{{$header}}
    <h1>Confirm someone's identity</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

      <p>This will take about 10 minutes. We'll ask a few questions about you and show you a photo of the person applying.</p>

      <p>To confirm somebody's identity, you must:</p>
        <ul class="list-bullet">
          <li>work in or be retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories" target="_blank">recognised profession</a></li>
          <li>have a current UK passport</li>
          <li>live in the UK</li>
          
        </ul>

        <a href="/csig_170601/referee/csig-info" class="button">Sign in</a>

        <br/><br/>

        <p>I'd like you to tell the person applying that <a href="">I don't meet the criteria</a>.</p>

    {{/form}}
{{/ hmpo-partials-form}}



{{/content}}

{{/ layout}}
