{{< layout}}
{{$propositionHeader}}Renew a passport{{/propositionHeader}}

{{$pageTitle}}Give a countersignature{{/pageTitle}}


{{$header}}
    <h1>Confirm someone's identity</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

      <p>We'll ask a few questions about you and show you a photo of the person applying for a UK passport. </p>

      <p>To confirm somebody's identity, you must:</p>
        <ul class="list-bullet">
          <li>work in or be retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories" target="_blank">recognised profession</a></li>
          <li>have a current UK passport</li>
          <li>live in the UK</li>

        </ul>
        <p>This takes about 10 minutes.</p>

        <a href="/csig_170601/referee/csig-info" class="button">Start</a>

        <br/><br/>

        <p><a href="">I don't meet the criteria</a></p>

    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <div class="sidebar " style="margin-top:50px">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">What you'll need</h2>
          <ul class="list-bullet" >
            <li style="list-style-type: disc;"> your UK passport</li>
            <li>national insurance number</li>
            <li>employer's details</li>
          </ul>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}
