{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>We're checking your application</h1>
      </header>

      <p>We'll update this page soon.</p>

      {{> partials-csig-sidebar}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 8 October 2018</td>
            </tr>
          </tbody>
        </table>
      </article>
    {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}

{{/ layout-csig}}
