{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Ask someone to confirm<br>your identity</h1>
      </header>
        <h2>What you need to do</h2>
        {{#nunjucks}}
          {% if values['change-of-name-reason'] or values['lost-stolen-docs'] %}
            <p>You need to ask someone to confirm your identity. We can't receive your documents until this is done.</p>
            <p>Once your identity is confirmed, we’ll let you know where to send your documents.</p>
          {% else %}
            <p>You need to ask someone to confirm your identity. We can't complete your application until this is done.</p>
          {% endif %}
        {{/nunjucks}}
        {{#input-submit}}{{/input-submit}}
        <!-- <details>
          <summary><span class="summary">If the person you ask can't do this online</span></summary>
          <div class="panel panel-border-narrow">
          <p>If they can't do this online, they can use a paper form. You'll need to <a href="who-can-paper">download a form to confirm your identity</a>.</p>
          </div>
        </details> -->

      <input type="hidden" name="renominate" id="renominate" value="false">
      {{> partials-csig-sidebar}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
          <tr>
            <td>Ask someone to confirm your identity</td>
            <td>10:09am on 8 October 2018</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:05am on 8 October 2018</td>
          </tr>
          </tbody>
        </table>
      </article>
    {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}

{{/ layout-csig}}
