{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Identity details received</h1>
      </header>
      <h2>What happens next</h2>
      <p>Charlotte Moore has provided details to help confirm your identity. We're checking these details.</p>
      <p>We’ll email you when your application is approved.</p>

      {{> partials-csig-sidebar}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Identity details received</td>
              <td>2:05pm on 11 October 2018</td>
            </tr>
            <tr>
            <td>Email sent to person confirming your identity</td>
            <td>10:14am on 8 October 2018</td>
          </tr>
          <tr>
            <td>Ask someone to confirm your identity</td>
            <td>10:09am on 8 October 2018</td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>10:06am on 8 October 2018</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:05am on 8 October 2018</td>
          </tr>
          </tbody>
        </table>
      </article>
    {{/form}}
  {{/ hmpo-partials-form}}
{{/content}}

{{/ layout-csig}}
