{{< layout-csig}}

{{$pageTitle}}Give details{{/pageTitle}}
{{$header}}
    <h1>The person's contact details</h1>
{{/header}}

{{$content}}
<p>We'll only contact this person about confirming your identity.</p>
{{< hmpo-partials-form}}
    {{$form}}
      <div id="csig-number-group" class="form-group">
        <div id="csig-name-group" class="form-group">
            <label for="name" class="form-label-bold">
                Their first name
            </label>
            {{#input-text}}csig-name{{/input-text}}
        </div>
        <div id="csig-name-group" class="form-group">
            <label for="name" class="form-label-bold">
              Last name
            </label>
            {{#input-text}}csig-last-name{{/input-text}}
        </div>
        <div id="csig-email-group" class="form-group">
            <label for="csig-email" class="form-label-bold">
                Email
            </label>
          {{#input-text}}csig-email{{/input-text}}
        </div>
        <div id="csig-email-group" class="form-group">
            <label for="csig-email" class="form-label-bold">
                Confirm their email
            </label>
          {{#input-text}}csig-email-confirm{{/input-text}}
        </div>
      </div>
      <p>You must contact this person before we send them an email with your details.</p>
      <div id="contact-csig-group" class="form-group form-group-compound" style="margin-top:-15px">
        <label for="contact-csig" class="block-label">
          <input type="checkbox" id="contact-csig" name="contact-csig" value="true" aria-required="false" required="true">
            I've contacted this person
        </label>
      </div>
      <br>
    <input type="submit" id="Send" value="Send the email" class="button">
    {{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout-csig}}
