{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Ask someone else to confirm <br> your identity</h1>
      </header>

      <h2>What you need to do</h2>
      <p>Charlotte Moore can't do this for you &ndash; you need to ask someone else. We can't work on your application until your identity is confirmed.</p>
      {{#input-submit}}{{/input-submit}}

      {{> partials-csig-sidebar}}
      <hr>
      <h2>Application history</h2>
      <article>
      <table>
          <tbody>
            <tr>
              <td>Person not eligible</td>
              <td>7:30pm on 11 October 2018</td>
            </tr>
            <tr>
            <td>Email sent to person confirming your identity</td>
            <td>10:14am on 8 October 2018</td>
          </tr>
          <tr>
            <td>Ask someone to confirm your identity</td>
            <td>10:09am on 8 October 2018</td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>10:06am on 8 October 2018</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:05am on 8 October 2018</td>
          </tr>
          </tbody>
        </table>
      </article>
    {{/form}}
{{/ hmpo-partials-form}}
{{> partials-csig-links}}
{{/content}}
{{$sidebar}}

{{/sidebar}}

{{/ layout-csig}}