{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$main-content}}
{{< hmpo-partials-form}}
    {{$form}}
<div class="column-full">
  <div class="flash-card">
    <header>
      <h1>Ask someone to confirm your identity</h1>
    </header>
  <style>
    table {margin-bottom: 30px}
    table th, table td {
      color: white;
      vertical-align: top;
      border-bottom: 1px solid #5293CC;
      }
    .footer {
      padding-top: 40px;
      border-bottom: 0;
    }
  </style>
  <div class="grid-row">
    <div class="column-two-thirds">
    <h2>Who can do this</h2>
    <p>You need to ask someone who:</p>
    <ul class="list-bullet">
      <li>has known you personally for at least 2 years, for example as a friend, neighbour or colleague.</li>
      <li>and works in or is retired from a <a href="/guidance/who-can-confirm" target="_blank">recognised profession</a></li>
    </ul>
    <h2>Who can't do this</h2>
          <p>You can't ask someone to confirm your identity if you’re:</p>
          <ul class="list-bullet">
            <li>related to them by birth or marriage</li>
            <li>in a relationship with or live at the same address as them</li>
          </ul>
          
          <p>They can't work at HM Passport Office or some areas of UK Visas and Immigration.</p>
    </div>
  </div>
  <div class="grid-row">
      <div class="column-full">
        <h2>Choose how they confirm your identity</h2>
        <!-- <p>How they confirm your identity depends on where they live and<br>what type of passport they have.</p> -->
       
        <!-- <div class="grid-row">
            <div class="column-half">
              <ul class="list-table">
                <li><h3>Online</h3></li>
                <li>Current UK Passport<br><br></li>
                <li>lives in the UK</li>
              </ul>
              <a href="" class="button">Continue online</a>
            </div>
            <div class="column-half ">
              <ul class="list-table">
                  <li><h3>Paper</h3></li>
                  <li>Current UK, Irish or other EU, US or Commonwealth passport</li>
                  <li>lives in the UK or overseas</li>
              </ul>
              <a href="" class="button">Download a form</a>
            </div>
        </div> -->
        <!-- <br>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Online</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Paper form</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Passport type</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">Current UK Passport</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">Current UK, Irish or other EU, US or Commonwealth passport</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Location</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">lives in the UK</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">lives in the UK or overseas</td>
            </tr>
            
          </tbody>
        </table> -->
        <div class="grid-row"> 
            <div class="column-half">
              <h3>Online</h3>
              <p>Choose to do this online if they:</p>
              <ul class="list-bullet">
                <li>live in the UK</li>
                <li>and have a current UK passport</li>
                <li>and are 18 or older</li>
              </ul>
              <a href="how-to" class="button">Continue online</a>
            </div>
            <div class="column-half ">
                <h3 >Paper form</h3>
                <p>Download a paper form if they:</p>
              <ul class="list-bullet">
                  <li>live in or outside the UK</li>
                  <li>and have a current UK, Irish or other EU, US or Commonwealth passport</li>
                  
              </ul>
              <a href="paper-application-select" class="button">Download a form</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{/form}}
{{/ hmpo-partials-form}}
{{/main-content}}

{{/ layout-csig}}

