{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$main-content}}
{{< hmpo-partials-form}}
    {{$form}}
<div class="column-full">
  <div class="flash-card">
    <header>
      <h1>Ask someone to confirm your identity</h1>
    </header>
  <div class="grid-row">
    <div class="column-two-thirds">
    <h2>Who can do this</h2>
    <p>You need to ask someone who:</p>
    <ul class="list-bullet">
      <li>has known you personally for at least 2 years, for example as a friend, neighbour or colleague</li>
      <li>and works in or is retired from a <a href="/guidance/who-can-confirm" target="_blank">recognised profession</a></li>
    </ul>
    <h2>Who can't do this</h2>
      <p>You can't ask someone to confirm your identity if you're:</p>
      <ul class="list-bullet">
        <li>related to them by birth or marriage</li>
        <li>in a relationship with or live at the same address as them</li>
      </ul>
      <p>They can't work at HM Passport Office or some areas of UK Visas and Immigration.</p>
    </div>
  </div>
  <div class="grid-row">
      <div class="column-full">
        <h2>Choose how they confirm your identity</h2>
        <div class="grid-row flex-container"> 
            <div class="column-half">
              <h3>Online</h3>
              <p>Choose to do this online if they:</p>
              <ul class="list-bullet">
                <li>live in the UK</li>
                <li>and have a current UK passport</li>
                <li>and are 18 or older</li>
              </ul>
              <a href="how-to" class="button">Continue online</a>
            </div>
            <div class="column-half">
                <h3 >Paper form</h3>
                <p>Download a paper form if they:</p>
              <ul class="list-bullet">
                  <li>live in or outside the UK</li>
                  <li>and have a current UK, Irish or other EU, US or Commonwealth passport</li>
              </ul>
              <a href="paper-application-select" class="button">Download a form</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{/form}}
{{/ hmpo-partials-form}}
{{/main-content}}

{{/ layout-csig}}

