{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Waiting for your identity to <br>
          be confirmed</h1>
        <span>Email sent to {{values.csig-email}}</span>
      </header>
      <h2>What happens next</h2>
      <p>If you don’t get an update in the next few days, remind the person doing this for you. You can only ask one person at a time.</p>

      <p>If you need to, you can <a href="/tracking/user/give-csig-details" id="someone-else">resend the email</a> or 
      {{#nunjucks}}
        {% if values['group'] == 'overseas' %}
          <a href="/tracking/user/select-overseas-method" id="someone-else">ask someone else</a>.</p>
        {% else %}
          <a href="/tracking/user/who-can" id="someone-else">ask someone else</a>.</p>
        {% endif %}
        {% if values['csig-type'] != 'examiner' %}
          {% if values['change-of-name-reason'] or not values['lost-stolen-no-docs'] %}
            <p>Get your documents ready. Once your identity is confirmed, we'll let you know where to send them.</p>
          {% endif %}
        {% endif %}
      {{/nunjucks}}

      <details>
        <summary><span class="summary">If the person you ask can't do this online</span></summary>
        <div class="panel panel-border-narrow">
        <p>You need to ask them to <a href="paper-application-select">use a paper form</a>.</p>
        </div>
      </details>
      {{#nunjucks}}
        <div class="sidebar-container">   
          <ul class="sidebar-task">
            <li class="sidebar-task__panel">
              <h3>Application reference</h3>
              <p>PEX 319 825 680X</p>
            </li>
              {% if values['csig-type'] != 'examiner' %}
                {% if values['change-of-name-reason'] or not values['lost-stolen-no-docs'] %}
                  <li class="sidebar-task__panel">
                    <h3>Documents</h3>
                    {% if values['passport-before'] %}
                      <a href="/prototype/apply/docs-renew" target="_blank">
                        What you need to send
                      </a>
                    {% else %}
                      <a href="/prototype/apply/docs-fta" target="_blank">
                        What you need to send
                      </a><br>
                    {% endif %}
                  </li>
                {% endif %}
              {% endif %}
          </ul>
          <ul class="sidebar-task">
              <li class="sidebar-task__panel" style="margin-top:-16px">
                <h3>Give us feedback</h3>
                <p><a href="http://passport-office-surveys.homeoffice.gov.uk/s/passport-applications/">Fill in a survey about this service</a></p>
              </li>
          </ul>
        </div>
      {{/nunjucks}}
      <hr>
      <h2>Application history</h2>
      <article>
      <table>
          <tbody>
            {{#nunjucks}}
              {% if values['renominate'] == 'anytime' %}
              <tr>
                <td>Email sent to person confirming your identity</td>
                <td>2:42pm on 25 October 2018</td>
              </tr>
              {% endif %}
            {{/nunjucks}}
            <tr>
              <td>Email sent to person confirming your identity</td>
              <td>2:30pm on 25 October 2018</td>
            </tr>
            <tr>
              <td>Ask someone to confirm your identity</td>
              <td>10:05am on 19 October 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 October 2018</td>
            </tr>
          </tbody>
        </table>
      </article>
    {{/form}}

{{/ hmpo-partials-form}}
{{/content}}

{{/ layout-csig}}
