{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$main-content}}
{{< hmpo-partials-form}}
    {{$form}}
<div class="column-full">
  <div class="flash-card">
    <header>
      <h1>Ask someone to confirm your identity online</h1>
    </header>
  <div class="grid-row">
      <div class="column-two-thirds">
          <h2>Who can do this</h2>
          <p>You need to ask someone who:</p>
              <ul class="list-bullet" style="margin-left:32px;">
                <li>is 18 or older</li>
                <li>and lives in the UK</li>
                <li>and has a current UK passport</li>
                <li>and works in or is retired from a <a href="/guidance/who-can-confirm" target="_blank">recognised profession</a></li>
              </ul>

          <p>They must have known you personally for at least 2 years, for example as a friend, neighbour or colleague.</p>
          {{#nunjucks}}
            {% if values['group'] =="overseas" %}
              <div class="panel panel-border-narrow">
                <p>If they don't live in the UK or have a current UK passport, you need to ask them to <a href="paper-application-select">use a paper form</a>.</p>
              </div>
            {% else %}
              <details>
                <summary><span class="summary">If they can't do this online</span></summary>
                <div class="panel panel-border-narrow">
                <p>You need to ask them to <a href="paper-application-select">use a paper form</a>.</p>
                </div>
              </details>
            {% endif %}
          {{/nunjucks}}
          <h2>Who can't do this</h2>
          <p>You can't ask someone to confirm your identity if you’re:</p>
          <ul class="list-bullet" style="margin-left:32px;">
            <li>related to them by birth or marriage</li>
            <li>in a relationship with or live at the same address as them</li>
          </ul>
          
          <p>They can't work at HM Passport Office or some areas of UK Visas and Immigration.</p>


        {{#input-submit}}{{/input-submit}}

      </div>
    </div>
  </div>
</div>

{{/form}}
{{/ hmpo-partials-form}}
{{/main-content}}

{{/ layout-csig}}
