{{< layout}}

{{$main-content}}
    <div class="column-full">
        <div class="flash-card">
        <header>
        <h1>Before you continue</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">
              <p>If you’ve changed your name since your last passport you’ll need to <a href="https://www.gov.uk/changing-passport-information">change your passport information</a>.</p>
              <p>It usually takes about 3 weeks to get your new passport. If you need a passport urgently, <a href="https://www.gov.uk/get-a-passport-urgently">use a different service</a>.</p>
              <p>If you think you're not recognisable since your last passport, you’ll need to <a href="https://passportapplication.service.gov.uk/ips-olc/">apply in a different way</a>.</p>
              <a href="/prototype_161110/intro/what-you-need" class="button">Continue</a>
              <details>
                  <summary><span class="summary">I need help with online services</span></summary>
                  <div class="panel panel-border-narrow">
                    <!-- this link is above the button in the build -->
                    <p>You can call the Passport Adviceline for help</p>
                    <ul>
                      <li>Telephone: 0300 330 0901</li>
                      <li>Textphone: 0300 330 0808</li>
                      <li>Monday to Friday, 8:00am to 8:00pm</li>
                      <li>Weekends and public holidays, 9:00am to 5:30pm</li>
                      <li><a href="">Find out more about call charges</a></li>
                    </ul>
                  </div>
              </details>
            </div>
        </div>

        </div>
    </div>

{{/ main-content}}

{{/ layout}}
