{{< layout}}


{{$main-content}}

      <div class="column-full">
          <div class="flash-card">
              <header>
              <h1>What you need to do to renew your passport</h1>
              </header>
              <div class="grid-row">
                  <div class="column-half">
                      <p>Upload a digital photo of yourself (we’ll show you how).</p>
                      <p>Check your details match those in your old passport.</p>
                      <p>Pay for your new passport with a credit or debit card. It costs £72.50 to renew your passport.</p>
                      <p>Send us your old passport – we can’t process your application until we receive it.</p>
                      <!--<a href="{{nextPage}}" class="button" role="button">{{#t}}buttons.next{{/t}}</a>-->
                      <a href="/prototype_161110/intro/you-need-a-photo-v2" class="button">Continue</a>
                  </div>
                  <!-- passport image -->
                  <div class="column-half">
                      <object type="image/svg+xml" data="../../public/images/passport_open_final.svg"type="image/svg+xml" class="svg" tabindex="-1" style="width:70%;padding-left:30px;padding-top:30px">
                          <img src="../../public/images/passport_open_final.png" width="206" height="215" alt="">
                      </object>
                  </div>

              </div>
          </div>
      </div>

{{/ main-content}}

{{/ layout}}
