{{< layout}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">
        <header>
          <h1>Get your digital passport photo</h1>
        </header>
        <div class="grid-row">
            <div class="column-half">

              <h2>There are two ways you can get a digital passport photo:</h2>
              <p>Get a friend to take one with a mobile or digital camera</p>
              <p>Go to a photo shop and get one on a USB stick or CD</p>
              <a href="/prototype_161110/intro/choose-photo-method" class="button">Continue</a>

              <!-- add a message about meeting rules and the 'You can also upload a photo taken in the last month' message. There's much more content on this than on the original radio buttons-->

            </div>
            <div class="column-half">
              <img src="../../public/images/Photo_methods_@2x.png" alt="">
            </div>
        </div>
    </div>
</div>

{{/main-content}}

{{/ layout}}
