{{< layout}}

{{$main-content}}

<div class="column-full">

    <div class="flash-card">
      <header>
        <h1>Get your digital photo</h1>
      </header>
        <div class="grid-row">
            <div class="column-two-thirds">
              <p>You can take your photo. You'll need a friend to help you. We'll show you how to take a good passport photo.</p>
              <a href="/prototype_161110/photoguide-short" class="button">Take your photo</a>
            </div>
            <div class="column-one-third">
              <img src="../../public/images/Photo_methods_myself@2x.png" alt="" style="width:60%; padding-left:40px;">
            </div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
              <p>Or, you can go to a photo shop. They'll take a digital photo and give it to you on a disc or a memory stick.</p>
              <a href="" class="button">Go to a shop</a>
            </div>
            <div class="column-one-third">
              <img src="../../public/images/Photo_methods_shop@2x.png" alt="" style="width:60%; padding-left:40px;">
            </div>
        </div>

        <a href="/../prototype_161110/uploadphoto">I have a digital photo</a>

    </div>
    <!--<a href="/prototype_161110/intro/choose-photo-method" class="button" style="background-color:#BFC1C3; color:#000;">I have a digital photo</a>-->


</div>

{{/main-content}}

{{/ layout}}
