{{< layout}}

{{$main-content}}

<div class="column-full">

    <div class="flash-card">
      <header>
        <h1>Get your digital passport photo</h1>
      </header>
        <div class="grid-row">
            <div class="column-half">
              <h2>You can take your photo or you can get one from a shop.</h2>
              <p>There are things you need to do to take a good digital passport photo.</p><br/>
            </div>
            <div class="column-half">
              <div class="column-half">
                  <img src="../../public/images/Photo_methods_myself@2x.png" alt="" >
                  <a href="/prototype_161110/intro/choose-photo-method" class="button" style="padding-left:1em;padding-right:1em">Read the guide</a>

              </div>
              <div class="column-half">
                  <img src="../../public/images/Photo_methods_shop@2x.png" alt="">
                  <a href="/prototype_161110/intro/choose-photo-method" class="button" style="padding-left:1em;padding-right:1em">Read the guide</a>

              </div>
            </div>
        </div>
    </div>
    <br/>
    <p><a href="">I have a digital photo</a></p>

</div>

{{/main-content}}

{{/ layout}}
