{{< layout}}

{{$main-content}}

<div class="column-full">

    <div class="flash-card">
      <header>
        <h1>Get your digital passport photo</h1>
      </header>
        <div class="grid-row">
            <div class="column-half">

              <h2>You can get a friend to take your photo or get one from a photo shop.</h2>
              <p>There are some rules for digital passport photos. Read the guides to help you take a good passport photo.</p><br/>

            </div>
            <div class="column-half">
              <div class="column-half">
                  <img src="../../public/images/Photo_methods_myself@2x.png" alt="" >

                  <a href="/prototype_161110/photoguide-myself" class="button" style="padding-left:1em;padding-right:1em">Read the guide to taking a photo</a>


              </div>
              <div class="column-half">
                  <img src="../../public/images/Photo_methods_shop@2x.png" alt="">
                  <a href="" class="button" style="padding-left:1em;padding-right:1em">Read the guide for photo shops</a>


              </div>
            </div>
        </div>
    </div>
    <br/>

    <p><a href="/../prototype_161110/uploadphoto">I have a digital photo</a></p>


</div>

{{/main-content}}

{{/ layout}}
