{{< layout}}

{{$main-content}}

<div class="column-full">

    <div class="flash-card">
      <header>
        <h1>Get your digital passport photo</h1>
      </header>
        <div class="grid-row">
            <div class="column-two-thirds">
              <!--<h2>You can take your photo or you can get one from a shop.</h2> -->
              <h2>You can get a friend to take your photo.</h2><br/>
              <!--<p>There are things you need to do to take a good digital passport photo.</p><br/>-->
              <a href="/prototype_161110/intro/choose-photo-method" class="button">Read the guide to taking a photo</a>
            </div>
            <div class="column-one-third">
              <img src="../../public/images/Photo_methods_myself@2x.png" alt="" style="margin-top:20px;width:60%; padding-left:40px;">
            </div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
              <!--<h2>You can take your photo or you can get one from a shop.</h2> -->
              <h2>Or, you can go to a photo shop.</h2><br/>
              <!--<p>There are things you need to do to take a good digital passport photo.</p><br/>-->
              <a href="/prototype_161110/intro/choose-photo-method" class="button">Read the guide for photo shops</a>
            </div>
            <div class="column-one-third">
              <img src="../../public/images/Photo_methods_shop@2x.png" alt="" style="width:60%; padding-left:40px;">
            </div>
        </div>
        <a href="/../prototype_161110/uploadphoto">I have a digital photo</a>

    </div>
    <!--<a href="/prototype_161110/intro/choose-photo-method" class="button" style="background-color:#BFC1C3; color:#000;">I have a digital photo</a>-->

</div>

{{/main-content}}

{{/ layout}}
