{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$content}}

<header>
  <h1>You need a different service</h1>
</header>

<p>If you're 16 or older, you can't get a first adult passport urgently. You need to <a title="Part 1: Choose another sevice" href="https://www.gov.uk/apply-first-adult-passport">use the standard service</a>.</p>

<p>If you're 15 or younger, you need to complete a paper form and <a title="Part 1: Choose another sevice" href="hhttps://www.gov.uk/get-a-passport-urgently">choose Fast Track</a>.</p>

{{/ content}}

{{/ layout}}
