{{< layout}}

{{$pageTitle}}{{/pageTitle}}


{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <header class="update-notice">
          <h1><span class="icon-tick"></span> Application submitted</h1>
          <p>Application reference: <strong>PEX 319 825 680X</strong></p>
              <p>Your payment: £128, reference: IE19852</p>
          <p>Email confirmation sent to <strong>jack.jones@gmail.com</strong></p>
          <a href="" class="download">Download PDF receipt</a>
    </header>
    <br/>
    <div class="panel-important">
              <p>You can't use your old passport on the day of your appointment.</p>
    </div>
    <h2>Your collection time</h2>
    <p>
      Friday, 7 April 2017<br/>
      at 1:30pm</p>

    <p>London HM Passport Office<br/>
       Globe House <br/>
       London <br/>
       SW1V 1PN<br/>
       <a href="https://www.google.co.uk/maps/place/Newport+HM+Passport+Office/@51.5812985,-2.9860147,15z/data=!4m2!3m1!1s0x0:0x572ae1c5870c53da?sa=X&ved=0ahUKEwi-0JXZmI3SAhUECsAKHfFiCq0Q_BIIdjAK">View map</a></p>
    </p>

    <p>It usually takes 30 minutes to get your new passport. Don't arrive any earlier than 10 minutes before your collection time.</p>

     <h2>What you need to bring</h2>

    <p>You must bring your old passport with you.<br/>

    <h2>Track your application</h2>

    <p>Use your reference <strong>PEX 319 825 680X</strong> to <a href="/../tracking">track your application</a>.</p>

     <p>We'll check your application. If there's a problem, we'll call you on the number you provided.</p>

    <p>If you have questions contact <a href="https://www.gov.uk/browse/abroad/passports" class="new-window" target="_blank">contact HM Passport Office<span class="visuallyhidden">(Opens in a new window)</span></a></p>

    <a href="" class="button">Give feedback</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
