{{< layout}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Give a countersignature{{/pageTitle}}


{{$header}}
    <h1 class="heading-large">Check your details</h1>
{{/header}}

{{$content}}
<!-- <h2 class="heading-medium">Your UK passport</h2> -->
<br>
<dl class="govuk-check-your-answers cya-questions-short">

        <div>
          <dt class="cya-question">
            Passport number
          </dt>
          <dd class="cya-answer">
            502135326
          </dd>
          <dd class="cya-change">
            <a href="/csig_170731/referee-5/csig-info">
              Change<span class="visually-hidden"> passport number</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Passport expiry date
          </dt>
          <dd class="cya-answer">
            12 21
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> passport expiry date</span>
            </a>
          </dd>
        </div>
</dl>
<br>
<!-- <h2 class="heading-medium">Your details</h2> -->
<br>
<dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            First and middle names
          </dt>
          <dd class="cya-answer">
            Adrian
          </dd>
          <dd class="cya-change">
            <a href="/csig_170731/referee-5/csig-identity-check">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Last name
          </dt>
          <dd class="cya-answer">
            Brereton
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            12 07 1979
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            National insurance number
          <dd class="cya-answer">
            JL123456C
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>

      </dl>
<p></p>
<a href="/csig_170731/referee-5/confirm-applicant" class="button">Continue</a>

{{/content}}

{{/ layout}}
