{{< layout}}
{{$propositionHeader}}Renew {{/propositionHeader}}

{{$pageTitle}}Give a countersignature{{/pageTitle}}


{{$header}}
    <h1>Your UK passport</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

    <div id="reference-number-group" class="form-group">
          <fieldset>
              <legend><span class="form-label-bold">Passport number</span></legend>
                <p class="form-hint" id="dob-hint">For example 502135326</p>
                  {{#input-text}}passport-number{{/input-text}}
          </fieldset>

          <div id="expiry-date-group" class="form-group">
              <fieldset>
                  <legend><span class="form-label-bold">Passport expiry date</span></legend>
                  <div class="form-date">
                    <p class="form-hint" id="dob-hint">For example 08 2015</p>
                      {{#input-text}}expiry-month{{/input-text}}
                      {{#input-text}}expiry-year{{/input-text}}
                  </div>
              </fieldset>
          </div>

          <p>We need your phone number but we'll only call you if there's a problem.</p>

          <div id="phoneno-group" class="form-group">
              <label for="phoneno" class="form-label-bold">
                  Your phone number
                  <!--<span class="form-hint">We'll only call you if there's a problem.</span> -->
              </label>
              <span>
                  <input type="text" id="phoneno" class="form-control phoneno" name="phoneno" value="" maxlength="16" aria-describedby="phoneno-prefix" aria-required="true">
              </span>
          </div>
          {{#input-submit}}{{/input-submit}}
      </div>


    {{/form}}
{{/ hmpo-partials-form}}



{{/content}}

{{/ layout}}
