{{< layout}}


{{$main-content}}

      <div class="column-full">
          <div class="flash-card">
              <header>
              <h1>How to renew your passport online</h1>
              </header>
              <div class="grid-row">
                  <div class="column-two-thirds">
                          <ul>
                              <li><span class="circle circle-step">1</span><h2>Get a digital passport photo</h2>
                               <p style="margin-left:32px;">We'll show you how to get a good passport photo.</p></li>

                               <li><span class="circle circle-step">2</span><h2>Apply online</h2>
                                <p style="margin-left:32px;">You'll need to check the details in your old passport.</p></li>

                              <li><span class="circle circle-step">3</span><h2>Pay for your new passport</h2>
                                <p style="margin-left:32px;">A standard passport is £72.50 including special delivery.</p>
                              </li>
                              <li><span class="circle circle-step">4</span><h2>Send us your old passport</h2>
                                <p  style="margin-left:32px;">You need to pay the postage to return your old passport.</p>
                              </li>
                          </ul>
                      <a href="/prototype_oix_170518/photo-retrieved" class="button">Continue</a>
                      <details>
                        <summary><span class="summary">I need help doing things online</span></summary>
                        <div class="panel panel-border-narrow">
                          <p>You can call the Passport Adviceline for help.</p>
                          <ul>
                            <li>Telephone: 0300 330 0901</li>
                            <li>Textphone: 0300 330 0808</li>
                            <li>Monday to Friday, 8:00am to 8:00pm</li>
                            <li>Weekends and public holidays, 9:00am to 5:30pm</li>
                            <p></p>
                            <li><a href="">Find out about call charges</a></li>
                          </ul>
                        </div>
                    </details>
                  </div>
                  <!-- passport image -->
                  <div class="column-one-third">
                      <object type="image/svg+xml" data="../../public/images/passport_open_final.svg"type="image/svg+xml" class="svg" tabindex="-1" style="padding-top:30px">
                          <img src="../../public/images/passport_open_final.png" width="206" height="215" alt="">
                      </object>
                  </div>

              </div>
          </div>
      </div>

{{/ main-content}}

{{/ layout}}
