{{< layout}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">
        <header>
          <h1>You need a digital passport photo</h1>
        </header>
        <div class="grid-row">
            <div class="column-half">
              <p>You can get a friend to take a digital photo then upload it - we'll show you how.</p>
              <p>Or, you can get a digital photo from a shop. <br>You'll get a copy on disc or memory stick to upload.</p>
              <br>
              <a href="/priority_service_170330/intro/choose-photo-method" class="button">Continue</a>

            </div>
            <div class="column-half">
              <img src="../../public/images/Photo_methods_@2x.png" alt="">
            </div>
        </div>

    </div>
</div>

{{/main-content}}

{{/ layout}}
