{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../priority_service_170215/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 1 of 4</span>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>Get a digital passport photo from a shop</h1>
                </header>
                <div class="grid-row">
                      <p>Most high street photo shops can take your digital passport photo. </p>
                      <p>They’ll give you the photo as a digital file on either a CD or USB stick.</p>
                      <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-next">
                                        <a href="/prototype_170123/photoguide-shop/what-to-ask">Next</a>
                                    </li>
                                </ul>
                      </nav>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
