{{< layout}}


{{$pageTitle}}When does your passport expire?{{/pageTitle}}

{{$header}}
    <h1>Are your other passports in the same name?</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
  {{$form}}
    <fieldset class="inline">
      <p>Your dual national passports must be in the same name you want on your UK passport. If they aren't, you must update them before you apply.</p>
      {{#radio-group}}uncancelled-check{{/radio-group}}
    </fieldset>
    {{#input-submit}}{{/input-submit}}
  {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
