{{< layout}}

{{$pageTitle}}Home address{{/pageTitle}}

{{$header}}
    <h1>Home address</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

      <p>This is the address we will post your passport to.</p>
      {{#input-text}}address1{{/input-text}}
      {{#input-text}}address2{{/input-text}}

      <label for="town-title" class="form-label-bold">
          Town or city (optional)
      </label>
      <input type="text" name="town-title" id="town-title" class="form-control" aria-required="true" maxlength="50">

      <label for="state-title" class="form-label-bold">
          State of Province (optional)
      </label>
      <input type="text" name="state-title" id="state-title" class="form-control" aria-required="true" maxlength="50">

      <label for="state-title" class="form-label-bold">
          Postcode (optional)
      </label>
      <input type="text" name="state-title" id="state-title" class="form-control" aria-required="true" maxlength="50">

      <label for="state-title" class="form-label-bold">
          Country
      </label>
      <p>France</p>

    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
