{{< layout-referee}}

{{$pageTitle}}Applicant's details{{/pageTitle}}


{{$header}}
    <h1>Applicant's details</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

    <p>We need these details to match you with the right application.</p>
      <div id="pex-number-group" class="form-group">
          <fieldset>
              <legend><span class="form-label-bold">Reference</span></legend>
              <p class="form-hint" id="pex-hint">For example 123 456 7890. You'll find this is in the email from HM Passport Office.</p>
                {{#input-text}}pex-number{{/input-text}}
          </fieldset>
          <fieldset>
            <legend><span class="form-label-bold">Applicant's date of birth</span></legend>
            <div class="form-date">
              <p class="form-hint" id="dob-hint">For example 31 08 1970. You may need to check with the applicant.</p>
                {{#input-text}}age-day{{/input-text}}
                {{#input-text}}age-month{{/input-text}}
                {{#input-text}}age-year{{/input-text}}
            </div>
          </fieldset>
      </div>
      {{#input-submit}}{{/input-submit}}

    {{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout-referee}}
