

{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$main-content}}
<div class="column-full">
  <div class="flash-card">
    <header>
      <h1>Checking who you are</h1>
    </header>
  <div class="grid-row">
      <div class="column-two-thirds">

        <p>Before we share someone's details with you, we have to verify your identity.</p>

        <p>To do this, we need to check information about you from 2 different sources: </p>

        <ul>
        <span class="circle circle-step">1</span><p>we'll check the details on your UK passport</p>

        <span class="circle circle-step">2</span><p>Experian will check information linked to your address.<br>
          This has no affect on your credit score.</p>

        </ul>


        <br>
        <div class="form-group">
          <a href="./declaration" class="button">Continue</a>
        </div>
        <p></p>
        </br>
      </div>
      <!-- passport image -->
      <div class="column-one-third">
        <object type="image/svg+xml" data="../../public/images/passport_open_final.svg"type="image/svg+xml" class="svg" tabindex="-1" style="padding-top:30px">
            <img src="../../public/images/passport_open_final.png" width="206" height="215" alt="">
        </object>
      </div>
    </div>
  </div>
</div>
{{/main-content}}






{{/ layout-csig}}
