{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Not recognised{{/pageTitle}}

{{$header}}
    <h1>Details not recognised</h1>
{{/header}}

{{$content}}


<p>You need to check:</p>

<ul class="list-bullet">
  <li>the reference in the email from HM Passport Office</li>
  <li>the applicant's date of birth</li>
</ul>

<p>If this keeps happening, you need to tell the applicant to ask someone else.</p>

<a class="button" href="applicant-info">Try again</a>

{{/content}}


{{/ layout}}
