

{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$main-content}}
<div class="column-full">
  <div class="flash-card">
    <header>
      <h1>How to confirm someone's identity</h1>
    </header>
  <div class="grid-row">
      <div class="column-two-thirds">
   <ul>
            <span class="circle circle-step">1</span><h2>Enter a reference</h2>
              <p style="margin-left:32px;">This is in the email from Her Majesty's Passport Office. You'll also need to enter the person's date of birth, including the year.</p>



            <span class="circle circle-step">2</span><h2>Verify who you are</h2>
            <p style="margin-left:32px;">We'll check your UK passport details and information linked to your address, for example the electoral register.</p>

            <span class="circle circle-step">3</span><h2>Check their photo and details</h2>
            <p style="margin-left:32px;">We'll ask a few questions about how you know the person. You'll also need to confirm their:</p>

            <ul class="list-bullet" style="margin-left:32px;">
            <li>current address</li>
            <li>previous names (if any)</li>
          </ul>



        <div class="form-group">
          <a href="./applicant-info" class="button">Continue</a>
        </div>
        <p><a href="http://www.gov.uk">I'll do this later (sign out)</a></p>
        </br>
      </div>
      <!-- passport image -->
      <div class="column-one-third">
        <!-- <object type="image/svg+xml" data="../../public/images/passport_open_csig_required.svg"type="image/svg+xml" class="svg" tabindex="-1" style="padding-top:30px">
            <img src="../../public/images/passport_open_final.png" width="206" height="215" alt="">
        </object> -->
      </div>
    </div>
  </div>
</div>
{{/main-content}}


{{/ layout}}
