{{< layout}}
{{$propositionHeader}}Renew a passport{{/propositionHeader}}

{{$pageTitle}}Confirm someone's identity{{/pageTitle}}


{{$header}}
    <h1 class="heading-xlarge">Confirm someone's<br>identity</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

      <p>Before you start, you need to know the person's:</p>
        <ul class="list-bullet">

          <li>date of birth, including the year</li>
          <li>current address</li>
          <li>previous names (if any)</li>
        </ul>
        <p>This takes about 10 minutes.</p>


        <a href="/csig/referee-5/declaration" class="button">I have these details</a>

        <br/><br/>

        <p><a href="http://www.gov.uk">I need to get these details (sign out)</a></p>



        {{/form}}
    {{/ hmpo-partials-form}}
    {{/content}}

    {{$sidebar}}
    <div class="column-one-third">
        <div class="sidebar" style="margin-top:50px">
          <div class="photo-preview-inner">
              <h2 class="heading-medium">Who can do this</h2>

              <p>You can check who can do this on <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories">GOV.UK<a>.</p>
          </div>

        </div>
    </div>
    {{/sidebar}}

    {{/ layout}}
