{{< layout-referee}}

{{$pageTitle}}Confirm someone's identity{{/pageTitle}}


{{$header}}
    <h1 class="heading-xlarge">Confirm someone's<br>identity</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

        <p>Before you start, make sure you know:</p>
        <ul class="list-bullet">

          <li>the applicant's date of birth and place of birth</li>
          <li>the parents' names and year of birth</li>

        </ul>
        <p>You'll also need your UK passport details.</p>

        <p>This takes about 10 minutes.</p>

        <a href="/csig/referee-5/applicant-info" class="button">Start</a>

        <br/><br/>

        {{/form}}
    {{/ hmpo-partials-form}}
    {{/content}}

    {{$sidebar}}
    <div class="column-one-third">
        <div class="sidebar" style="margin-top:50px">
          <div class="photo-preview-inner">
              <h2 class="heading-medium">You need to:</h2>


              <ul class="list-bullet">
                <li>have known the person applying for at least 2 years</li>
                <li>work in or be retired from a <a href="https://www.gov.uk/countersigning-passport-applications/accepted-occupations-for-countersignatories" target="_blank">recognised profession</a></li>
                <li>live in the UK with a current UK passport</li>
              </ul>
              </div>

        </div>
    </div>
    {{/sidebar}}

    {{/ layout-referee}}
