
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
{{/header}}

{{$main-content}}

<h1>Choose an appointment time</h1>

<h2>Peterborough &nbsp;<span class="font-small"><a href="/priority_service_170202/book-appointment">Change</a>
</span></h2>


<p>You need to be at London passport office 5 minutes before your appointment.</p>

<p>It takes about 15 minutes to get your new passport. </p>




<div class="manage-times">
  <div class="manage-time-next">
<span class="font-small"><a href="/priority_service_170202/book-appointment/book-appointment_peterborough_10_feb">Next &nbsp; ▶</a> </span>
</div>
<div class="manage-time-previous">
<!--<span class="font-small muted">◀ &nbsp; Previous</a></span>-->
</div>
</div>

<div class="book-table">
  <table class="book-table">
  <tbody>
  <tr>
  <td><span class="bold-small">Wednesday<br> 8 February</span></td>
  <td><span class="bold-small">Thursday<br>  9 February</span></td>
  <td><span class="bold-small">Friday<br>  10 February</span></td>
  <td><span class="bold-small">Saturday<br>  11 February</span></td>
  <td><span class="bold-small">Monday<br>  13 February</span></td>
  </tr>
<tr>
  <td><a href="/priority_service_170202/book-appointment/confirmation-scenario-2/"><span class="available">10.00am </br><span class="available">Available</span></span></a></td>
  <td><span class="unavailable">10.00am </br></span></td>
  <td><span class="unavailable">10.00am </br></span></td>
  <td><span class="unavailable">10.00am </br></span></td>
  <td><span class="unavailable">10.00am </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">10.30am </br></span></td>
    <td><span class="unavailable">10.30am </br></span></td>
    <td><span class="unavailable">10.30am </br></span></td>
    <td><span class="unavailable">10.30am </br></span></td>
    <td><span class="unavailable">10.30am </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">12.30pm </br></span></td>
  <td><span class="unavailable">12.30pm </br></span></td>
  <td><span class="unavailable">12.30pm </br></span></td>
  <td><span class="unavailable">12.30pm </br></span></td>
  <td><span class="unavailable">12.30pm </br></span></td>

</tr>
<tr>
  <td><a href="/priority_service_170202/book-appointment/confirmation-scenario-2/"><span class="available">1.00pm </br><span class="available">Available</span></span></a></td>
    <td><span class="unavailable">1.00pm </br></span></td>
    <td><span class="unavailable">1.00pm </br></san></td>
      <td><span class="unavailable">1.00pm </br></span></td>
    <td><span class="unavailable">1.00pm </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">1.30pm </br></span></td>
  <td><span class="unavailable">1.30pm </br></span></td>
  <td><span class="unavailable">1.30pm </br></span></td>
  <td><span class="unavailable">1.30pm </br></span></td>
    <td><span class="unavailable">1.30pm </br></span></td>
</tr>
<tr>
  <td><span class="unavailable">4.30pm </br></span></td>
  <td><span class="unavailable">4.30pm </br></span></td>
  <td><span class="unavailable">4.30pm </br></span></td>
  <td><span class="unavailable">4.30pm </br></span></td>
    <td><span class="unavailable">4.30pm </br></span></td>
</tr>
  <tr>
    <td><span class="unavailable">5.00pm </br></span></td>
    <td><span class="unavailable">5.00pm </br></span></td>
    <td><span class="unavailable">5.00pm </br></span></td>
    <td><span class="unavailable">5.00pm </br></span></td>
    <td><span class="unavailable">5.00pm </br></span></td>

  </tr>

  </tbody>
  </table>


</div>
</div>


<script>
window.onscroll = function() {
    var sticky = document.getElementById('stickynav');
    if( document.body.scrollTop+document.documentElement.scrollTop > 240)
        sticky.className = "stuck";
    else sticky.className = "";
};
</script>


{{/main-content}}

{{/ layout}}
