
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
{{/header}}

{{$main-content}}

<h1>Choose an appointment time</h1>


<h2>Peterborough appointments</h2>
<p><a href="#">Choose a different location</a></p>

testy test

testy test 2

<p>You need to be at Peterborough passport office 5 minutes before your appointment.</p>

<p>It takes about 15 minutes to get your new passport. </p>


<div class="manage-times">
  <div class="manage-time-next">
<span class="font-small"><a href="#">Next 5 days</a> </span></h2>
</div>
<div class="manage-time-previous">
<span class="font-small">Previous 5 days</a></h2>
</div>
</div>

<div class="book-table">
  <table class="book-table">
  <tbody>
  <tr>
  <td><span class="bold-small">Saturday<br> 21 January</span></td>
  <td><span class="bold-small">Monday<br>  23 January</span></td>
  <td><span class="bold-small">Tuesday<br>  24 January</span></td>
  <td><span class="bold-small">Wednesday<br>  25 January</span></td>
  <td><span class="bold-small">Thursday<br>  26 January</span></td>
  </tr>
<tr>
  <td><span class="unavailable">10.00am </br></span></td>
  <td><a href="#"><span class="available">10.00am </br><span class="available">available</span></span></a></td>
  <td><span class="unavailable">10.00am </br></span></td>
    <td><span class="unavailable">10.00am </br></span></td>
    <td><a href="#"><span class="available">10.00am </br><span class="available">available</span></span></a></td>

</tr>
<tr>
  <td><span class="available"><a href="#">10.30am </br><span class="available">available</span></span></a></td>
  <td><span class="unavailable">10.30am </br></span></td>
    <td><span class="unavailable">10.30am </br></span></td>
    <td><span class="available"><a href="#">10.30am </br><span class="available">available</span></span></a></td>
    <td><span class="unavailable">10.30am </br></span></td>


</tr>
<tr>
  <td><span class="unavailable">12.30pm </br><span class="available">available</span></span></td>
  <td><a href="#"><span class="available">12.30pm </br><span class="available">available</span></span></a></td>
    <td><a href="#"><span class="available">12.30pm </br><span class="available">available</span></span></a></td>
    <td><a href="#"><span class="available">12.30pm </br><span class="available">available</span></span></a></td>
    <td><span class="unavailable">12.30pm </br><span class="available">available</span></span></td>

</tr>
<tr>
  <td><span class="unavailable">1.00pm </br></span></td>
    <td><span class="unavailable">1.00pm </br></span></td>
    <td><span class="unavailable">1.00pm </br></san></td>
      <td><a href="#"><span class="available">1.00pm </br><span class="available">available</span></span></a></td>
    <td><span class="unavailable">1.00pm </br></span></td>

</tr>
<tr>
  <td><span class="unavailable">1.30pm </br></span></td>
  <td><a href="#"><span class="available">1.30pm </br><span class="available">available</span></span></a></td>
  <td><span class="unavailable">1.30pm </br></span></td>
  <td><a href="#"><span class="available">1.30pm </br><span class="available">available</span></span></a></td>
    <td><span class="unavailable">1.30pm </br></span></td>
</tr>
<tr>
  <td><span class="unavailable">4.30pm </br></span></td>
  <td><a href="#"><span class="available">4.30pm </br><span class="available">available</span></span></a></td>
  <td><span class="unavailable">4.30pm </br></span></td>
  <td><a href="#"><span class="available">4.30pm </br><span class="available">available</span></span></a></td>
    <td><span class="unavailable">4.30pm </br></span></td>
</tr>
  <tr>
    <td><span class="unavailable">5.00pm </br></span></td>
    <td><span class="unavailable">5.00pm </br></span></td>
    <td><a href="#"><span class="available">5.00pm </br><span class="available">available</span></span></a></td>
    <td><span class="unavailable">5.00pm </br></span></td>
    <td><a href="#"><span class="available">5.00pm </br><span class="available">available</span></span></a></td>

  </tr>

  </tbody>
  </table>


</div>
</div>


<script>
window.onscroll = function() {
    var sticky = document.getElementById('stickynav');
    if( document.body.scrollTop+document.documentElement.scrollTop > 240)
        sticky.className = "stuck";
    else sticky.className = "";
};
</script>


{{/main-content}}

{{/ layout}}
