
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
{{/header}}

{{$main-content}}

<h1>Choose an appointment time</h1>


<h2>Peterborough appointments</h2>
<p><a href="#">Choose a different location</a></p>


<p>You need to be at Peterborough passport office 5 minutes before your appointment.</p>

<p>It takes about 15 minutes to get your new passport. </p>

<!--
<p class="heading-medium">Peterborough Passport Office</p>
  Aragon Court</br>
  Northminster Road</br>
Peterborough</br>
PE1 1QG</p>
-->
<!--

<div class="stuck" id="stickynav">
  <div class="book-table">
  <table class="book-table">
    <tbody>
    <tr>
    <td><p class="bold-small">Saturday<br> 21 January</p></td>
    <td><p class="bold-small">Monday<br>  23 January</p></td>
    <td><p class="bold-small">Tuesday<br>  24 January</p></td>
    <td><p class="bold-small">Wednesday<br>  25 January</p></td>
    <td><p class="bold-small">Thursday<br>  26 January</p></td>
    </tr>
  </tbody>
  </table>
</div>
</div>
-->

<div class="book-table">

  <table class="book-table">
  <tbody>

  <tr>
  <td><span class="bold-small">Saturday<br> 21 January</span></td>
  <td><span class="bold-small">Monday<br>  23 January</span></td>
  <td><span class="bold-small">Tuesday<br>  24 January</span></td>
  <td><span class="bold-small">Wednesday<br>  25 January</span></td>
  <td><span class="bold-small">Thursday<br>  26 January</span></td>
  </tr>
<tr>
  <td><span class="time-unavailable">10:00am </br></span></td>
    <td><span class="time-unavailable">10:00am </br></span></td>
    <td><a href="#"><span class="time-available">10:00am </br>available</span></a></td>
    <td><span class="time-unavailable">10:00am </br></span></td>
    <td><span class="time-unavailable">10:00am </br></span></td>

</tr>
<tr>
  <td><span class="time-available"><a href="#">10:30am </br>available</span></a></td>
    <td><span class="time-unavailable">10:30am </br></span></td>
    <td><span class="time-unavailable">10:30am </br></span></td>
    <td><span class="time-unavailable">10:30am </br></span></td>
    <td><span class="time-unavailable">10:30am </br></span></td>


</tr>
<tr>
  <td><span class="time-unavailable">12:30pm </br></span></td>
    <td><span class="time-unavailable">12:30pm </br></span></td>
    <td><a href="#"><span class="time-available">12:30pm </br>available</span></a></td>
    <td><span class="time-unavailable">12:30pm </br></span></td>
    <td><span class="time-unavailable">12:30pm </br></span></td>

</tr>
<tr>
  <td><span class="time-unavailable">13:00pm </br></span></td>
    <td><span class="time-unavailable">13:00pm </br></span></td>
    <td><span class="time-unavailable">13:00pm </br></san></td>
    <td><span class="time-unavailable">13:00pm </br></span></td>
    <td><span class="time-unavailable">13:00pm </br></span></td>

</tr>
<tr>
  <td><span class="time-unavailable">13:30pm </br></span></td>
    <td><span class="time-unavailable">13:30pm </br></span></td>
    <td><span class="time-unavailable">10:00am </br></span></td>
    <td><span class="time-unavailable">10:00am </br></span></td>
    <td><span class="time-unavailable">10:00am </br></span></td>

</tr>
<tr>
  <td><span class="time-unavailable">10:00am </br></span></td>
    <td><span class="time-unavailable">10:00am </br></span></td>
    <td><span class="time-unavailable">10:00am </br></span></td>
    <td><span class="time-unavailable">10:00am </br></span></td>
    <td><span class="time-unavailable">10:00am </br></span></td>

</tr>
  <tr>
    <td><span class="time-unavailable">10:00am </br></span></td>
      <td><span class="time-unavailable">10:00am </br></span></td>
      <td><span class="time-unavailable">10:00am </br></span></td>
      <td><span class="time-unavailable">10:00am </br></span></td>
      <td><span class="time-unavailable">10:00am </br></span></td>

  </tr>

  </tbody>
  </table>


</div>
</div>


<script>
window.onscroll = function() {
    var sticky = document.getElementById('stickynav');
    if( document.body.scrollTop+document.documentElement.scrollTop > 240)
        sticky.className = "stuck";
    else sticky.className = "";
};
</script>


{{/main-content}}

{{/ layout}}
