
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<h1>Appointment booking</h1>

<div class="reserve-notice">
      <p class="bold-medium">This appointment is reserved for 30 minutes.</p>
      <p class="font-medium">You need to start your application now to keep this appointment.</p>

</div>

  <h2>Date</h2>
  <p class="bold-medium">Saturday, 21 January 2016 at 9:00pm</br>
  Peterborough passport office</p>

  <h2>Location</h2>
  <p class="font-small">Aragon Court</br>
    Northminster Road</br>
    Peterborough </br>
    PE1 1QG</p>

    <p class="font-small">  <a href="https://www.google.co.uk/maps/place/Peterborough+Passport+Office/@52.5752709,-0.2437722,16z/data=!4m5!3m4!1s0x0:0x2270e172c720db4!8m2!3d52.574671!4d-0.2384722">View map</a></p>


    <h2>Good to know</h2>

    <p>You need to be at London passport office 5 minutes before your appointment.</p>

    <p>It takes about 15 minutes to get your new passport. </p>

    <h2><input class="button" type="submit" value="Start your application"></h2>



  </div>




</>
</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
