
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<h1>Check your appointment</h1>

<div class="reserve-notice">
      <p class="font-medium">If you can't start your application now, you'll need to choose a new appointment.</p>
</div>

  <p class="bold-medium">Saturday, 11 February 2017, at 1.30pm</p>

  <p class="font-small"><span class="bold-medium">London passport office</span></br>
Globe House </br>
89 Eccleston Square </br>
London </br>
SW1V 1PN</br>
</p>
    <p class="font-small">  <a href="https://www.google.co.uk/maps/place/Peterborough+Passport+Office/@52.5752709,-0.2437722,16z/data=!4m5!3m4!1s0x0:0x2270e172c720db4!8m2!3d52.574671!4d-0.2384722">View map</a></p>



    <h2><input class="button" type="submit" value="Start your application"></h2>



  </div>




</>
</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
