
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Pick appointment time{{/pageTitle}}

{{$header}}

{{/header}}

{{$main-content}}

<h1>Appointment booking</h1>

<div class="flash-card">


      <h2>Your appointment is not confirmed yet</h2>

      <p>This appointment is reserved for you.</p>
      <p>You need to start your application now to keep this appointment.</p>

  <p class="bold-medium">Saturday, 21 January 2016 at 9:00pm</br>
  Peterborough passport office</p>

  <p class="font-small">Aragon Court</br>
    Northminster Road</br>
    Peterborough </br>
    PE1 1QG</p>

    <p class="font-small">  <a href="https://www.google.co.uk/maps/place/Peterborough+Passport+Office/@52.5752709,-0.2437722,16z/data=!4m5!3m4!1s0x0:0x2270e172c720db4!8m2!3d52.574671!4d-0.2384722">View map</a></p>


    <p>You need to be at London passport office 5 minutes before your appointment.</p>

    <p>It takes about 15 minutes to get your new passport. </p>

    <p><input class="button" type="submit" value="Start your application"></p>



  </div>




</>
</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
