
{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Book an appointment{{/pageTitle}}

{{$header}}
    <h1>Book an appointment</h1>
{{/header}}

{{$main-content}}


<h1>Book an appointment</h1>


<h2>Select a location and date for your appointment</h2>
<p><a href="https://www.gov.uk/find-regional-passport-office">Where is my nearest passport office?</a></p>


<div class="book-table">

<div class="manage-times">
<h2>21 January to 26 January 2017 &nbsp; <span class="font-small"><a href="/priority_service_170118/book-appointment/book-appointments-2">Next 5 days</a> →</span></h2>
</div>


<table class="book-table">
<tbody>
<tr>
<td><p class="bold-small">Saturday<br> 21 January</p></td>
<td><p class="bold-small">Monday<br>  23 January</p></td>
<td><p class="bold-small">Tuesday<br>  24 January</p></td>
<td><p class="bold-small">Wednesday<br>  25 January</p></td>
<td><p class="bold-small">Thursday<br>  26 January</p></td>
</tr>


<tr>
  <td>London<br><span class="font-xsmall">None available</span></td>
  <td>London<br><span class="font-xsmall">None available</span></td>
  <td>London<br><span class="font-xsmall">None available</span></td>
  <td>London<br><span class="font-xsmall">None available</span></td>
  <td>London<br><span class="font-xsmall">None available</span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="/priority_service_170118/book-appointment/book-time_peterborough_21_jan">Peterborough</span><br><span class="font-xsmall">Available</a></span></td>
  <td>Peterborough<br><span class="font-xsmall">None available</span></td>
<td>Peterborough<br><span class="font-xsmall">None available</span></td>
<td>Peterborough<br><span class="font-xsmall">None available</span></td>
<td>Peterborough<br><span class="font-xsmall">None available</span></td>
</tr>
<tr>
  <td>Newport<br><span class="font-xsmall">None available</span></td>
  <td>Newport<br><span class="font-xsmall">None available</span></td>
  <td>Newport<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="/priority_service_170118/book-appointment/book-time_newport_25_jan">Newport</span><br><span class="font-xsmall">Available</a></span></td>
  <td>Newport<br><span class="font-xsmall">None available</span></td>

</tr>
<tr>
  <td>Liverpool<br><span class="font-xsmall">None available</span></td>
  <td>Liverpool<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Liverpool</span><br><span class="font-xsmall">Available</a></span></td>
  <td><span class="bold-medium"><a href="#">Liverpool</span><br><span class="font-xsmall">Available</a></span></td>
  <td><span class="bold-medium"><a href="#">Liverpool</span><br><span class="font-xsmall">Available</a></span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="#">Durham</span><br><span class="font-xsmall">Available</a></span></td>
  <td>Durham<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Durham<br><span class="font-xsmall">Available</a></span></td>
  <td>Durham<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Durham<br><span class="font-xsmall">Available</a></span></td>
</tr>
<tr>
  <td><span class="bold-medium"><a href="#">Glasgow</span><br><span class="font-xsmall">Available</a></span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
  <td>Glasgow<br><span class="font-xsmall">None available</span></td>
</tr>
<tr>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td>Belfast<br><span class="font-xsmall">None available</span></td>
  <td><span class="bold-medium"><a href="#">Belfast</span><br><span class="font-xsmall">Available</a></span></td>
</tr>

</tbody>
</table>
</div>
</div>

{{/main-content}}

{{/ layout}}
