{{< layout}}

{{$pageTitle}}{{/pageTitle}}


{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <header class="update-notice">
      <h1><span class="icon-tick"></span> Application submitted</h1>
      <p>Application reference: <strong>PEX 319 825 680X</strong></p>
          <p>Your payment: £102.86, reference: IE19852</p>
      <p>Email confirmation sent to <strong>{{values.email}}</strong></p>
      <a href="" class="download">Download PDF receipt</a>
    </header>
    <br/>
    <div class="panel-important">
      <p>We can't start your application until your identity has been confirmed.</p>
    </div>

<h2>Ask someone to confirm your identity</h2>
 <p>You need to do this because your old passport is damaged.</p>

 <a class="button" href="/csig_171101/user/csig-requirements">Confirm my identity</a>.
 <br>
 <br>


<!--
    <h2>Track your application</h2>
    It should take 4 weeks to get your new passport. Use your reference <strong>PEX 319 825 680X</strong> to <a href="/../csig_171101/user/">track your application</a>.</p>
    <p>If you have questions contact <a href="https://www.gov.uk/browse/abroad/passports" class="new-window" target="_blank">contact HM Passport Office<span class="visuallyhidden">(Opens in a new window)</span></a></p>-->
    <a href="">Give feedback</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
