{{< layout}}

{{$pageTitle}}{{/pageTitle}}


{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <header class="update-notice">
      <h1><span class="icon-tick"></span>Payment successful</h1>
          <p>You have paid £72.50. Your payment reference is IE19852.<br>
            We'll email you a receipt. You can also download a copy.</p>
      <a href="" class="download">Download PDF receipt</a>
    </header>

<h2>What you need to do next</h2>
 <p>Your passport is damaged so you need to ask someone to confirm your identity. They can do this online.</p>
 <p>Your identity must be confirmed before we can print your new passport.</p>

 <a class="button" href="/csig_171101/csig">Continue</a>
 <br>
 <br>


<!--
    <h2>Track your application</h2>
    It should take 4 weeks to get your new passport. Use your reference <strong>PEX 319 825 680X</strong> to <a href="/../csig_171101/user/">track your application</a>.</p>
    <p>If you have questions contact <a href="https://www.gov.uk/browse/abroad/passports" class="new-window" target="_blank">contact HM Passport Office<span class="visuallyhidden">(Opens in a new window)</span></a></p>
    <a href="">Give feedback</a><br/><br/>-->
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
