{{< layout}}

{{$main-content}}
    <div class="column-full">
        <div class="flash-card">
        <header>
        <h1>Confirm your identity</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">
              <p>
                As your passport is damaged we need to confirm your identity.
              </p>
              <p>
                You'll be requested to find someone to do this once your application is completed.
              </p>
              <a href="title" class="button">Continue</a><br>
            </div>
        </div>

        </div>
    </div>

{{/ main-content}}

{{/ layout}}
