{{< layout}}


{{$pageTitle}}Is your passport damaged?{{/pageTitle}}

{{$header}}
    <h1>Is your passport damaged?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
      <fieldset class="inline">
          {{#radio-group}}passport-damaged{{/radio-group}}
          <div id="damaged-info" class="panel panel-border-wide alert-default">
            <p>You'll need to ask someone to confirm your identity online. We'll show you how to do this.</p>
          </div>
          <details>
              <summary><span class="summary">I'm not sure if my passport is damaged</span></summary>
              <div>
                <p>Your passport is damaged if:
                  </p>
                <ul class="list-bullet">
                  <li>you can't read any of your details</li>
                  <li>any pages are missing</li>
                  <li>there's significant water damage</li>
                  <li>a spillage covers information on any page</li>
                  <li>the laminate on the photo page is coming away</li>
                  <li>the photo page is discoloured</li>
                  <li>the chip is damaged or showing through the back cover (e-passports only)</p>
                </ul>
            </div>
          </details>
        {{#input-submit}}{{/input-submit}}
      </fieldset>
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
