{{< layout}}

{{$pageTitle}}Confirm your identity{{/pageTitle}}


{{$content}}
  <br>
  <p>Application reference: <strong>PEX 319 825 680X</strong></p>
  <header class="update-notice" style="background: #DEE0E2; color: #0B0C0C">
    <h1>You need to ask someone to<br>confirm your identity</h1>
    <p>Your old passport is damaged.</p>
  </header>
  <div class="panel-important">
    <p>We can't start your application until your identity has been confirmed.</p>
  </div>
  <a href="/csig_171101/csig" class="button">Continue</a>
  <hr>
  <h2>Your application history</h2>
  <article>
  <table>
    <tbody>
      <tr>
        <td>Payment sent</td>
        <td>10:03am on 5 September 2017 </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Application completed</td>
        <td>10:03am on 5 September 2017 </td>
      </tr>
    </tbody>
  </table>
  <br>
  <a href="/csig">Sign out</a>

{{/content}}


{{/ layout}}
