{{< layout}}

{{$pageTitle}}Your old passport{{/pageTitle}}

{{$header}}
    <h1>Your damaged passport</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>You must enter these details if they are still visible on your passport.</p>

  <div id="passport-number-group" class="form-group">
    <fieldset>
       <legend><span class="form-label-bold">Passport number</span></legend>
      <p class="form-hint" id="dob-hint">For example 502135326</p>
        {{#input-text}}passport-number{{/input-text}}
        <!-- {{#checkbox}}number-illegible{{/checkbox}} -->
    </fieldset>
    <fieldset>
      <legend><span class="form-label-bold">Passport expiry date</span></legend>
      <div class="form-date">
        <p class="form-hint" id="dob-hint">For example 31 08 1970</p>
          {{#input-text}}age-day{{/input-text}}
          {{#input-text}}age-month{{/input-text}}
          {{#input-text}}age-year{{/input-text}}
      </div>
    </fieldset>
    <br>
    <div class="panel-important">
      <p>You'll need to send us your damaged passport so we can cancel it.</p>
    </div>

  {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}

{{/ layout}}
