{{< layout}}

{{$pageTitle}}Your old passport{{/pageTitle}}

{{$header}}
    <h1>About your damaged passport</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
  {{$form}}

    <div class="form-group">
    <label class="form-label-bold" for="what-damaged">
      What is damaged on your passport?
    </label>
    <span class="form-hint">For example the cover, photo page or any of the other other pages.</span>
      {{#input-text}}what-damaged{{/input-text}}
    <div class="form-group">
      <label class="form-label-bold" for="textarea">
        Describe what happened to your passport
      </label>
      {{#textarea}}how-damaged{{/textarea}}
    </div>

    {{#input-submit}}{{/input-submit}}

  {{/form}}
{{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
