{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$content}}

<header>
  <h1>You need a different service</h1>
</header>

<p>We're experiencing problems booking collection appointments. You can still get a passport urgently.</p>

<p>You need to apply with <a title="Part 1: Choose another sevice" href="https://www.gov.uk/get-a-passport-urgently">Paper Premium</a>.</p>

<h2>You will be refunded</h2>

<p>We'll refund your payment for Online Premium within 2 working days. If you don't receive it by then, <a href="https://www.passport.service.gov.uk/help">contact us</a>.</p>

{{/ content}}

{{/ layout}}
