{{< layout}}

{{$main-content}}
    <div class="column-full">
        <div class="flash-card">
        <header>
        <h1>We'll need to confirm your identity</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">

              <p>After submitting your application, you'll need to ask someone you know well you confirm your identity. They can do this online. We'll give you all the details.</p>

              <h2>Changes</h2>
              <p>If your face has changed significantly, for example you've had a stroke or major surgery, you'll need to let us know. </p>



              <a href="/damaged_171018/intro/what-you-need" class="button">Continue</a><br>

            </div>
        </div>

        </div>
    </div>

{{/ main-content}}

{{/ layout}}
