{{< layout}}

{{$pageTitle}}You need another photo{{/pageTitle}}

{{$header}}
    <h1>You need another photo</h1>
{{/header}}

{{$content}}

        <p>You’ve told us there’s a shadow in your photo.</p>
        <p>Your photo must have a light-coloured background with no shadows, patterns, objects or other people.</p>
        <p>Find out how to <a href="/prototype_oix_170518/intro/choose-photo-method">get another photo</a>.</p>

        <a href="/prototype_oix_170518/upload" class="button">Try another photo</a><br/><br/>

{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Your photo</h2>
          <div class="photo">
              <img src="../../public/images/thumbnail.jpeg" alt="Your uploaded photo" title="Your uploaded photo" width="150">
          </div>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}
