{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Who is the new passport for?{{/pageTitle}}

{{$header}}
    <h1>Who is the new passport for?</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
        {{#radio-group}}application-for{{/radio-group}}
        <div class="panel panel-border-narrow js-hidden" id="someone-else">
          Please answer these questions as the applicant
        </div>
        {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
