{{< layout}}

{{$pageTitle}}Do you have parental responsibility?{{/pageTitle}}

{{$header}}
    <h1>Do you have parental responsibility?</h1>
{{/header}}

{{$content}}

<p>This means you can legally act for this child. It's best to <a href="https://www.gov.uk/parental-rights-responsibilities/who-has-parental-responsibility">check you have parental responsibility</a>.</p>
<!-- <div class="panel panel-border-wide alert-default">
  <p>If there are any court orders restricting parental responsibility or travel, you must include them.</p>
</div> -->
    {{< hmpo-partials-form}}
      {{$form}}
        {{#radio-group}}parental-responsibility{{/radio-group}}
        <div class="panel panel-border-narrow js-hidden" id="parental-no">
          <p>You'll need to send extra documents confirming you can make this application.</p>
        </div>
        {{#input-submit}}{{/input-submit}}
      {{/form}}
    {{/ hmpo-partials-form}}

{{/content}}

{{/ layout}}
