{{< layout}}


{{$pageTitle}}What is your relationship to the passport holder?{{/pageTitle}}

{{$header}}
    <h1>What is your relationship to the passport holder?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
      {{#radio-group}}relationship-applicant{{/radio-group}}
      <div class="panel panel-border-narrow js-hidden" id="relationship-other">
        <label for="relationship-other" class="form-label">
        Your relationship
        </label>
        {{#input-text}}relationship-other{{/input-text}}
      </div>

      {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
