{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Your application{{/pageTitle}}

{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header>
        {{#values.16-or-older}}
          <h1>Renewing an adult passport</h1>
        {{/values.16-or-older}}
        {{^values.16-or-older}}
          <h1>Renewing a child passport</h1>
        {{/values.16-or-older}}

      </header>
      {{#values.16-to-18}}
        <div class="panel panel-border-wide alert-default" style="margin-bottom:20px">
            <p>Your child is aged between 16-19</p>
        </div>
      {{/values.16-to-18}}
      {{#values.16-or-older}}
        <p>Based on your answers, you're renewing an adult passport {{^values.application-for}}on behalf of someone else{{/values.application-for}}. If this is not correct, <a href="./">start again</a>.</p>
      {{/values.16-or-older}}
      {{^values.16-or-older}}
        <p>Based on your answers, you're renewing a child passport. If this is not correct, <a href="./">start again</a></p>
      {{/values.16-or-older}}

      {{#values.16-or-older}}
        <h2>You'll need:</h2>
        <ul class="list-bullet">
          <li>the applicant's old passport</li>
          <li>a digital photo of the applicant - we'll show you how to get one</li>
          <li>to explain why the applicant can't make this application</li>
          <li>a debit or credit card</li>
        </ul>

        <h2>You'll need to send us:</h2>
        <ul class="list-bullet">
          <li>the applicant's old passport</li>
          {{^values.application-for}}
          <li>1 document confirming you can make this application, for example a letter from the court, social services or a doctor</li>
          {{/values.application-for}}
        </ul>

        <p>We may ask for more information depending on what you tell us.</p>
      {{/values.16-or-older}}
      {{^values.16-or-older}}
        <h2>You'll need:</h2>
        <ul class="list-bullet">
          <li>the child's old passport</li>
          <li>passport details of both parents</li>
          <li>date and place of birth of both parents</li>
          <li>a digital photo of the child - we'll show you how to get one</li>
          <li>a debit or credit card</li>
        </ul>

        <p>If you can't provide both parents' details, you'll need to tell us why.</p>


        <h2>You'll need to send us:</h2>
        <ul class="list-bullet">
          <li>the child's old passport</li>
          <li>any court orders relating to the child's residence, contact or removal from the UK</li>
        </ul>

        <p>We may ask for more information depending on what you tell us.</p>
      {{/values.16-or-older}}










      <!-- {{^values.application-for}}
        <p>Third party application.</p>
      {{/values.application-for}} -->
      <!-- <div class="confirmation">
        <div class="section old-passport-details">
            <dl class="passport-number">
                <dt class="column-two-thirds column-long">Who is the new passport for?</dt>
                <dd class="column-one-third">
                  <p>{{values.applicant-check-friend}}</p>
                  <div class="button-wrapper">
                      <a href="./apply-uk/edit">Change</a>
                  </div>
                </dd>
            </dl>
            <dl class="expiry-date">
                <dt class="column-two-thirds column-long">Lost or stolen</dt>
                <dd class="column-one-third">
                  <p>{{values.applicant-check-address}}</p>
                  <div class="button-wrapper">
                      <a href="./">Change</a>
                  </div>
                </dd>
            </dl>
            <dl class="passport-number">
                <dt class="column-two-thirds column-long">Issue date</dt>
                <dd class="column-one-third">
                  <p>{{values.knowntime}}</p>
                  <div class="button-wrapper">
                      <a href="./">Change</a>
                  </div>
                </dd>
            </dl>
            <dl class="passport-number">
                <dt class="column-two-thirds column-long">Date of birth</dt>
                <dd class="column-one-third">
                  <p>{{values.knowntime}}</p>
                  <div class="button-wrapper">
                      <a href="./dob/edit">Change</a>
                  </div>
                </dd>
            </dl>
        </div>
      </div> -->
      <!-- <p>Based on your answers, you're:</p>
      {{^values.application-for}}
        <p>on behalf of someone else.</p>
      {{/values.application-for}} -->
      <!-- <div class="prototype-box prototype-box__header">

      </div> -->

      <a class="button" href="../intro">Continue</a>
      <br><br>
      <!-- <a href="./">Answer questions again</a> -->

    {{/ form}}
  {{/ hmpo-partials-form}}
{{/ content}}

{{/ layout}}
