{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>We received your photo</h1>
      </header>
      
      <p>Thank you for submitting a new photo.</p>
      <p>We'll now carry on with your application.</p>
      <h2>What happens next</h2>
      <p>We'll text and email you when your application is approved.</p>

      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>New photo received</td>
              <td>10:05am on 26 July 2018</td>
            </tr>
            <tr>
              <td>Photo rejected</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Old passport received</td>
              <td>10:05am on 22 July 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 21 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 20 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-fta-links}}  
{{/content}}
{{$sidebar}}
  {{> partials-csig-sidebar-no-docs}}
{{/sidebar}}

{{/ layout-csig}}

