{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>We've received your old passport</h1>
      </header>
      
      <h2>What happens next</h2>
      {{> partials-csig-sidebar-no-docs}}
      <p>We'll check your application and your old passport. If we need more information, we'll contact you.</p>
      <p>When we've finished checking your application, we'll update this page.</p>

      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Old passport received</td>
              <td>10:05am on 20 August 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 19 August 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-fta-links}} 
{{/content}}
{{/ layout-csig}}

