{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
          <h1> Send your documents </h1>
      </header>
      
      <h2>What you need to do</h2>
      
      <p>You can now send your documents. Use a strong envelope that is the right size for your documents. You can use standard post or special delivery.</p>

      <p>Send your documents to:</p>

      <p>HM Passport Office<br>
        UK-DAP<br>
        PEX 318 437 555X<br>
        Aragon Court<br>
        Northminster Road<br>
        Peterborough<br>
        PE1 1QG
      </p>
      
      <p>Find out how to send your documents if you're <a href="../../prototype/help/group-applications.html">applying as part of a family or couple</a>.</p>

      <details>
        <summary><span class="summary">Already sent</span></summary>
        <div class="panel panel-border-narrow">
          <p>Check again in 3 days. If we still haven’t received your documents, <a href="/help" target="_blank">contact HM Passport Office <span class="visuallyhidden">(Opens in a new window)</span></a></p>
        </div>
      </details>
      {{#nunjucks}}
        <div class="sidebar-container">
          <ul class="sidebar-task">
            <li class="sidebar-task__panel">
              <h3>Application reference</h3>
              <p>PEX 319 825 680X</p>
            </li>
              {% if values['csig-type'] != 'examiner' %}
                {% if values['change-of-name-reason'] or not values['lost-stolen-no-docs'] %}
                  <li class="sidebar-task__panel">
                    <h3>Documents</h3>
                    {% if values['passport-before'] %}
                      <a href="/prototype/apply/docs-renew" target="_blank">
                        What you need to send
                      </a>
                    {% else %}
                      <a href="/prototype/apply/docs-fta" target="_blank">
                        What you need to send
                      </a><br>
                    {% endif %}
                  </li>
                {% endif %}
              {% endif %}
              <li class="sidebar-task__panel" style="border-top: none;">
                <h3>Other links</h3>
                <p><a href="/prototype/startpage">Start a new application</a></p>
                <p><a href="/prototype/startpage">Give feedback</a></p>
              </li>
          </ul>
        </div>
      {{/nunjucks}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Application received</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-fta-links}} 
{{/content}}

{{/ layout-csig}}

