{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$header}}
    <h1>Track a passport application</h1>
{{/header}}

{{$content}}
      <p>You'll need your application reference.</p>
      <p>You'll find this in your confirmation email and any other email or text updates from HM Passport Office. Your reference begins with 'PEX'.</p>
      <a href="/tracking/track" class="button">Start now</a><br>
      <br/>
      <div class="panel panel-border-wide">
          <p>
              If you can't find your reference <a href="">contact HM Passport Office</a>.
          </p>
      </div>

{{/content}}
{{$sidebar}}
    <div class="column-one-third">
        <div class="sidebar related GDS">
          <div class="photo-preview-inner">
            <div class="inner group related-subsection">
            <h2 id="parent-subsection">Passports</h2>
            <nav role="navigation" aria-labelledby="parent-subsection">
              <ul>
                <li>
                  <a href="">Passport advice and complains</a>
                </li>
             </ul>
            </nav>
          </div>
          </div>
        </div>
    </div>
{{/sidebar}}

{{/ layout}}
