{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>Waiting for your old passport</h1>
    </header>
    <br/>
    <h2>Action required</h2>
        <h3>Send us your old passport </h3>
        <p>We haven't received your old passport.</p>
        <p>We can't send your new passport until we've examined and cancelled your old one.</p>
        <details>
          <summary><span class="summary">Where to send your old passport</span></summary>
          <div class="panel panel-border-narrow">
          </div>
        </details>
        <p>Once we've cancelled your old passport we'll send it back to you with the corner clipped. </p>
        <details>
          <summary><span class="summary">I've already sent it</span></summary>
          <div class="panel panel-border-narrow">
          </div>
        </details>

    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of January 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking" class="button">Sign out</a><br>


{{/content}}
{{$sidebar}}
    <div class="column-one-third">
        <div class="sidebar related GDS">
          <div class="photo-preview-inner">
            <div class="inner group related-subsection">
            <h2 id="parent-subsection">Passports</h2>
            <nav role="navigation" aria-labelledby="parent-subsection">
              <ul>
                <li>
                  <a href="">Passport advice and complains</a>
                </li>
             </ul>
            </nav>
          </div>
          </div>
        </div>
    </div>
{{/sidebar}}

{{/ layout}}
