{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
      {{#nunjucks}}
        {% if values['document-list'] or values['application-for-someone-else'] or values['change-of-name-reason'] 
            or (values['relationship-applicant'] === 'Mother' or values['relationship-applicant'] === 'Father' 
            or values['relationship-applicant'] === 'Social Worker' or values['relationship-applicant'] === 'Other') %}
            
          <h1> Send us your documents </h1>
        {% else %}
          <h1> Send us your old passport </h1>
        {% endif %}
      {{/nunjucks}}
      </header>
      
      <h2>What you need to do</h2>

      {{#nunjucks}}
      {% if values['document-list'] or values['application-for-someone-else'] or values['change-of-name-reason'] 
          or (values['relationship-applicant'] === 'Mother' or values['relationship-applicant'] === 'Father' 
          or values['relationship-applicant'] === 'Social Worker' or values['relationship-applicant'] === 'Other') %}
        <h3> Send us your documents </h3>
      {% else %}
        <h3> Send us your old passport </h3>
      {% endif %}
      {{/nunjucks}}

      {{> partials-csig-sidebar}}

      <p>We can't complete your application without it. You don't need to include a covering letter.</p>
      
      <p>HM Passport Office<br>
        Ref: PEX 318 437 555X<br>
        Aragon Court<br>
        Northminster Road<br>
        Peterborough<br>
        PE1 1QG</p>
      
      <p>Use a strong enevlope that is the right size for your passport. You can use standard post or special delivery.</p>
      
      <details>
        <summary><span class="summary">I've already sent it</span></summary>
        <div class="panel panel-border-narrow">
          <p>Check again in 3 days. If we still haven’t received your old passport <a href="/help" target="_blank">Contact HM Passport Office <span class="visuallyhidden">(Opens in a new window)</span></a></p>
        </div>
      </details>

      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Application received</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-fta-links}} 
{{/content}}

{{/ layout-csig}}

