{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Ask someone to confirm your identity</h1>
      </header>
      
      <p>Your passport application is on hold until someone confirms your identity. They'll need to use a paper form so we've posted one to you.</p>
      <h2>What you need to do</h2>
      <p>Find out <a href="">who you can ask to confirm your identity.</a> If someone has already confirmed your identity, ask a different person this time.</p>
      <p>Send the completed form to us.</p>
      <h2>What happens next</h2>
      <p>We may contact the person who confirmed your identity. We'll carry on with your application once we've made this check.</p>
      <p>We'll text and email you when your application is approved.</p>
      
      {{> partials-csig-sidebar}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Countersignature needed: on hold</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>New photo received</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Photo rejected</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Old passport received</td>
              <td>10:05am on 22 July 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 21 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 20 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-fta-links}} 
{{/content}}
{{$sidebar}}
  {{> partials-csig-sidebar}}
{{/sidebar}}

{{/ layout-csig}}

