{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>You need a countersignature</h1>
      </header>
      
      <p>Your passport application is on hold.</p> 

      <p>You need to ask someone to fill in and sign a form to confirm your identity. This is known as getting a countersignature.</p>
      
      <p>We've posted a form to you.</p>
      
      <h2>What you need to do</h2>
      
      <p>Find out <a href="">who you can ask to countersign your passport application</a>.</p> 
      
      <p>If someone has already confirmed your identity for this passport application, ask a different person this time.</p>
      
      <p>After they've filled in and signed the form, return it to us.</p>
      
      <h2>What happens next</h2>
      
      <p>We may contact the person who signed the form. We'll carry on with your application once we've made this check.</p>
      
      <p>If you chose to get updates, we'll send you an email or text when your application is approved.</p>
      
      {{> partials-csig-sidebar}}
      <hr>
      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Countersignature needed: on hold</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>New photo received</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Photo rejected</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Old passport received</td>
              <td>10:05am on 22 July 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 21 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 20 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-tracking-fta-links}} 
{{/content}}
{{$sidebar}}
  {{> partials-csig-sidebar}}
{{/sidebar}}

{{/ layout-csig}}

