{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}
{{$back}}
{{/back}}
{{$content}}
  {{< hmpo-partials-form}}
    {{$form}}
      <header class="update-notice update-notice--grey">
        <h1>Your passport is coming</h1>
      </header>
      
      <p>We've printed your new passport and have sent it by secure delivery.</p>
      <p>We're sending your old passport back. It's been clipped, so no-one can use it.</p>
      
      <div class="panel panel-border-narrow">
          <h2>You must sign your new passport when you receive it</h2>
          <p>You won't be able to use it until you do.</p>
      </div>

      <h2>Application history</h2>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Application approved</td>
              <td>10:05am on 23 July 2018</td>
            </tr>
            <tr>
              <td>Joined processing queue</td>
              <td>10:05am on 21 July 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 20 July 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          </tbody>
        </table>
      </article>

    {{/form}}
  {{/ hmpo-partials-form}}
  {{> partials-tracking-pages-links}} 
{{/content}}
{{$sidebar}}
  {{> partials-csig-sidebar-no-docs}}
{{/sidebar}}

{{/ layout-csig}}

