{{< layout}}

{{$pageTitle}}{{/pageTitle}}


{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <header class="update-notice">
          <h1><span class="icon-tick"></span> Application submitted</h1>
          <p>Application reference: <strong>PEX 319 825 680X</strong></p>
              <p>Your payment: £128, reference: IE19852</p>
          <p>Email confirmation sent to <strong>email@email.com</strong></p>
          <a href="" class="download">Download PDF receipt</a>
    </header>
    <br/>
    <div class="panel-important">
              <p>You must bring your old passport to your appointment.</p>
    </div>
    <h2>Your appointment</h2>
    <p>
      Saturday, 25 February 2017<br/>
      12:30pm</p>
    <p>London HM Passport Office<br/>
       Globe House <br/>
       89 Eccleston Square <br/>
       London <br/>
       SW1V 1PN<br/>
        <a href="https://www.google.co.uk/maps/place/HM+Passport+Office/@51.4935294,-0.1461351,17z/data=!3m1!4b1!4m5!3m4!1s0x4876051f799cb11f:0xaa05e82d4f114209!8m2!3d51.4935294!4d-0.1439464">View map</a>
    </p>
    <p>You need arrive no earlier than 10 minutes before your appointment. <br/>It usually takes 30 minutes to get your new passport.</p>

    <h2>Track your application</h2>
    <p>Use your reference <strong>PEX 319 825 680X</strong> to <a href="/../tracking">track your application</a>.</p>
    <p>If you have questions contact <a href="https://www.gov.uk/browse/abroad/passports" class="new-window" target="_blank">contact HM Passport Office<span class="visuallyhidden">(Opens in a new window)</span></a></p>

    <a href="" class="button">Give feedback</a><br/><br/>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
