{{< layout}}

{{$pageTitle}}Your contact details{{/pageTitle}}

{{$header}}
    <h1>Your contact details</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

      <p>We’ll only use these details to contact you about your application.</p>
      <p>It's best to use a phone that you'll have access to. We may call you if there's a problem with your application.</p>
      {{#input-text}}email{{/input-text}}
      {{#input-text}}mobile{{/input-text}}
      <!-- <details>
          <summary><span class="summary">I need to tell you more about how to contact me</span></summary>
          <div class="panel panel-border-narrow">
            <label for="yes" class="block-label selected">
                  <input type="radio" name="title" id="yes" value="Yes" aria-required="true" data-toggle="yes-title" aria-controls="yes-title" aria-expanded="true">
                  Text only (no voice calls)
            </label>
            <label for="no" class="block-label selected">
                  <input type="radio" name="title" id="no" value="No" aria-required="true" data-toggle="no-title" aria-controls="no-title" aria-expanded="true">
                  Voice only (no text)
            </label>
          </div>
      </details>-->

    {{#input-submit}}{{/input-submit}}
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
