{{< layout}}

{{$pageTitle}}Passport options{{/pageTitle}}

{{$header}}
    <h1>Your new passport</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
    {{$form}}
      {{#radio-group}}passport-options-dps{{/radio-group}}

      <fieldset>
          <legend class="visuallyhidden">Add a braille sticker</legend>
          <p>We can add a free sticker that says 'passport' in braille.</p>
          {{#checkbox}}braille{{/checkbox}}
          <!-- discuss the change from 'want' to 'need' a Braille sticker-->
    </fieldset>
    <br/>
    {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
