{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$main-content}}
<div class="column-full">
  <div class="flash-card">
    <header>
      <h1>How to confirm your identity</h1>
    </header>
  <div class="grid-row">
      <div class="column-two-thirds">
   <ul>
            <span class="circle circle-step">1</span><h2>Decide who can do this for you</h2>
              <p>You need to ask someone who:</p>
              <ul class="list-bullet" style="margin-left:32px;">
                <li>has known you personally for at least 2 years, for example as a friend or neighbour</li>
                <li>and works in or is retired from a <a href="/govuk/" target="_blank">recognised profession</a></li>
                <li>and has a current UK passport</li>
              </ul>

            <span class="circle circle-step">2</span><h2>Contact the person</h2>
            <p style="margin-left:32px;">You must contact the person before we send them an email with your details. Tell them:</p>
            <ul class="list-bullet" style="margin-left:32px;">
              <li>your date of birth including the year (they'll enter this online so we can display your photo)</li>
              <li>they need their UK passport and National Insurance number</li>
              <li>to expect an email from HM Passport Office</li>
            </ul>

            </li>
            <span class="circle circle-step">3</span><h2>Provide their name and email</h2>
              <p style="margin-left:32px;">We'll send them an email with your application details and a link to go online.</p>
            </li>
        <br>
        </ul>
        <div class="form-group">
          <a href="give-csig-details" class="button">Continue</a>
        </div>
        <p><a href="http://www.gov.uk">I'll do this later (sign out)</a></p>
        </br>
      </div>
      <!-- passport image -->
      <div class="column-one-third">
        <object type="image/svg+xml" data="../../public/images/passport_open_csig_required.svg"type="image/svg+xml" class="svg" tabindex="-1" style="padding-top:30px">
            <img src="../../public/images/passport_open_final.png" width="206" height="215" alt="">
        </object>
      </div>
    </div>
  </div>
</div>
{{/main-content}}


{{/ layout}}
