{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>We've sent the email</h1>
    </header>

    <h2>What happens next</h2>
    <p>We'll let you know when your identity has been confirmed. We can then continue with your application.</p>

    <p>If you don't get an update in the next few days, remind the person that they need to confirm your identity.</p>

    <h2>Your application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Email sent to the person confirming your identity</td>
            <td>07:30pm on 10th of September 2017 </td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>10:05am on 5th of September 2017 </td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of September 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="http://www.gov.uk">Sign out</a><br>


{{/content}}


{{/ layout}}
