{{< layout}}

{{$main-content}}
    <div class="column-full">
        <div class="flash-card">
        <header>
        <h1>Before you continue</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">

              <p>It usually takes about 3 weeks to get your new passport. If you need 
               a passport urgently, <a href="https://www.gov.uk/get-a-passport-urgently">use a different service</a>.</p>

              <p>You can still use an old valid passport after you've applied. However, we can't work on your application until we've received your old passport. </p>

              <h2>Changes</h2>

              <p>If your name has changed, you need to <a href="https://www.gov.uk/changing-passport-information">update your information</a>.</p>

              <p>If your face has changed significantly, not including the normal signs of ageing, you need to <a href="https://passportapplication.service.gov.uk/ips-olc/">apply in a different way</a>.</p> 
              <br>

              <a href="/prototype_161212/intro/what-you-need" class="button">Continue</a><br>

            </div>
        </div>

        </div>
    </div>

{{/ main-content}}

{{/ layout}}
