{{< layout}}


{{$main-content}}

      <div class="column-full">
          <div class="flash-card">
              <header>
              <h1>How to renew your passport online</h1>
              </header>
              <div class="grid-row">
                  <div class="column-half">
                      <ol class="list-number">
                           <li><h2>Get a passport photo</h2><p>
                            You can upload a digital photo - we'll show you how.</li>
                           <p></p>
                           <li><h2>Check your old passport</h2> <p>
                            You'll need to enter details from your old passport.</li>
                           </p>
                          <!-- is this too prescriptive, what about going to a photo shop? -->
                          <li><h2>Pay for your new passport</h2> <p>
                            A standard passport is £72.50 including special delivery.</li>
                          <p></p>
                          <li><h2>Send us your old passport</h2> <p>
                            You'll need to pay the postage to return your old passport.</li>
                      </ol>
                      <!--<a href="{{nextPage}}" class="button" role="button">{{#t}}buttons.next{{/t}}</a>-->
                      <a href="/prototype_161212/intro/choose-photo-method" class="button">Continue</a>
                  </div>
                  <!-- passport image -->
                  <div class="column-half">
                      <object type="image/svg+xml" data="../../public/images/passport_open_final.svg"type="image/svg+xml" class="svg" tabindex="-1" style="width:70%;padding-left:30px;padding-top:30px">
                          <img src="../../public/images/passport_open_final.png" width="206" height="215" alt="">
                      </object>
                  </div>

              </div>
          </div>
      </div>

{{/ main-content}}

{{/ layout}}
