{{< layout}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">
        <header>
          <h1>You need a digital passport photo</h1>
        </header>
        <div class="grid-row">
            <div class="column-half">
              <p>You can get a friend to take a digital photo then upload it - we'll show you how.</p>
              <p>Or, you can get a digital photo from a shop. <br>You'll get a copy on disc or memory stick to upload.</p>
              <br>
              <a href="/prototype_161212/intro/choose-photo-method" class="button">Continue</a>
          
            </div>
            <div class="column-half">
              <img src="../../public/images/Photo_methods_@2x.png" alt="">
            </div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
              <details>
                    <summary><span class="summary">I have printed passport photos</span></summary>
                    <div class="panel panel-border-narrow">
                        You need to post 2 printed photos with your old passport. They must be taken within the last month.</p>
                      <p>We’ll check your photos. Your application will be delayed if we have to ask for different ones.</p>
                      <p><a href="/../prototype_161212/renew-without-photo">Apply with printed photos</a></p>
                    </div>
                </details>
            </div>
            <div class="column-one-third">
            </div>
        </div>
    </div>
</div>

{{/main-content}}

{{/ layout}}
