{{< layout}}

{{$main-content}}

<div class="column-full">
    <div class="flash-card">
        <header>
          <h1>You need a passport photo</h1>
        </header>
        <div class="grid-row">
            <div class="column-half">
              <p>You can get a friend to take a digital photo. We'll show you how.</p>
              <p>Or, you can get a digital photo from a shop. They'll give you a copy on disc or memory stick.</p>
              <a href="/prototype_161212/intro/choose-photo-method" class="button">Continue</a>
          <details>
                <summary><span class="summary">I have a printed passport photo</span></summary>
                <div class="panel panel-border-narrow">
                  <p>You’ll need to post your printed photo with your old passport.</p>
                  <p>We’ll check your photo. Your application will be delayed if we have to ask you for a different one.</p>
                  <p><a href="/../prototype_161212/renew-without-photo">Apply with a printed photo</a></p>
                </div>
            </details>
            </div>
            <div class="column-half">
              <img src="../../public/images/Photo_methods_@2x.png" alt="">
            </div>
        </div>
    </div>
</div>

{{/main-content}}

{{/ layout}}
