
{{< layout}}

{{$back}}
<div class="photo-guide">
  <a href="/../prototype_170123/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
           <span class="marker">Guide part 4 of 8</span>
       </div>
{{/back}}

{{$main-content}}
       <div class="column-full">
           <div class="flash-card">
               <header>
                 <h1>Stand in the right position</h1>
                 <!-- Should this appear after 'get the lighting right'? -->
               </header>
              <div class="grid-row">
                   <div class="column-two-thirds">
                     <p>To avoid shadows, stand 50 centimetres away from your plain background. The person taking your photo needs to stand 1.5 metres away from you.</p>
                   </div>
               </div>
               <div class="grid-row">
                 <div class="column-one-third">
                      &nbsp;
                     </div>
                   <div class="column-two-thirds">
                     <object type="image/svg+xml" data="/public/images/photoguide/diagram_distance_white2.svg" type="image/svg+xml" class="svg" tabindex="-1">
                         <img src="/public/images/photoguide/diagram_distance_white@x2.png"  alt="" width="550" height="212">
                     </object>
                   </div>
                   <nav class="guide-nav">
                             <ul>
                                   <li class="button-guide button-guide-previous">
                                       <a href="{{backLink}}" style="font-size: 20px">Back</a>
                                   </li>
                                   <li class="button-guide button-guide-next">
                                       <a href="{{nextPage}}" style="font-size: 20px">Check for shadows</a>
                                   </li>
                               </ul>
                   </nav>
               </div>

                     <nav class="guide-nav">

                     </nav>
                   </div>

           </div>
       </div>

{{/main-content}}

{{/ layout}}
