{{< layout}}

{{$back}}
<div class="photo-guide">
  <a href="/../prototype_170123/intro/choose-photo-method" class="back-link">Other ways to get a photo</a>
           <span class="marker">Guide part 2 of 8</span>
           <!-- discuss if we need this -->
       </div>
{{/back}}

{{$main-content}}
       <div class="column-full">
           <div class="flash-card">
               <header>
                   <h1>Find a plain background</h1>
               </header>
               <div class="grid-row">
                   <div class="column-full">
                     <!-- Add max width for this line -->
                     <p><h2>You need a background without any texture or patterns.</h2>
                     </p>
                     <p>A light grey or cream wall works best. Check there are no objects behind you.</p>
                     <div class="guidance-photos" aria-hidden="true">
                         <ul>
                             <li>
                                 <img src="/public/images/photoguide/uncropped-photos/image-m2-plain.jpg" alt="">
                                 <div class="result" style="height: 57px;">
                                     <p class="approved">Plain background</p>
                                 </div>
                             </li>
                             <li>
                                 <img src="/public/images/photoguide/uncropped-photos/image-m2-textured-background.jpg" alt="">
                                 <div class="result" style="height: 57px;">
                                     <p class="failed">Textured background</p>
                                 </div>
                             </li>
                             <li>
                                 <img src="/public/images/photoguide/uncropped-photos/image-m2-object-in-background.jpg" alt="">
                                 <div class="result" style="height: 57px;">
                                     <p class="failed">Object in background</p>
                                 </div>
                             </li>
                         </ul>
                     </div>
                     <nav class="guide-nav">
                               <ul>
                                   <li class="button-guide button-guide-previous">
                                       <a href="{{backLink}}" style="font-size: 20px">Back</a>
                                   </li>
                                   <li class="button-guide button-guide-next">
                                       <a href="{{nextPage}}" style="font-size: 20px">Get the lighting right</a>
                                   </li>
                               </ul>
                     </nav>
                   </div>

               </div>
           </div>
       </div>

{{/main-content}}

{{/ layout}}
