{{< layout}}

{{$pageTitle}}Your name{{/pageTitle}}

{{$header}}
    <h1>How did you change your name?</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
  {{$form}}
    <fieldset class="inline">
        <p>We need to know <a href="https://www.gov.uk/changing-passport-information">how you changed your name</a> so we can tell you which documents to send.
        {{#radio-group}}change-of-name-reason{{/radio-group}}
    </fieldset>

    <!--<p>You’ll need to send us proof of your new name. We’ll tell you what document you’ll need to provide.</p>-->
    {{#input-submit}}{{/input-submit}}
  {{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
