{{< layout}}


{{$pexpiryTitle}}Do you have dual nationality?{{/pexpiryTitle}}

{{$header}}
    <h1>Do you have any other passports?</h1>
    <p class="form-hint">For example, from another country if you have dual nationality.</p>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}


    <!-- RADIO TOGGLE OPTIONS-->


  <div class="form-group" style="margin-top:10px">
    <fieldset>

      <div class="block-label" data-target="contact-by-email">
        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes" aria-controls="override" aria-expanded="false">
        <label for="example-contact-by-email">Yes</label>
      </div>
      


      <div class="block-label" data-target="contact-by-phone" style="margin-left: 10px;
    clear: none;}">
        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
        <label for="example-contact-by-phone">No</label>
      </div>
     
      <div class="panel panel-border-narrow js-hidden" id="override" aria-hidden="true">
        <label class="form-label" for="contact-phone">

            <p>Your name must match your other passports. If it does not, you have to update your other passports first before applying for a British passport. You’ll also have to send us your other passports.</p>
                        </label>
      </div>


    </fieldset>
  </div>
</form>

<div class="form-group">
                <a href="./get-updates" class="button" role="button">Continue</a>
            </div>


<!-- END OF TOGGLE -->

  {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}



{{/ layout}}
