{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}

{{$content}}

<h1>Application history</h1>
<article>
  <table>
      <tbody>
        <tr>
          <td>Email sent to person confirming identity</td>
          <td>2:30pm on 25 July 2018</td>
        </tr>
        <tr>
            <td>Ask someone to confirm your identity</td>
            <td>10:05am on 19 July 2018</td>
          </tr>
        <tr>
          <td>Application received</td>
          <td>10:05am on 19 July 2018</td>
        </tr>
        <tr>
          <td>Application submitted</td>
          <td>10:03am on 19 July 2018</td>
        </tr>
      </tbody>
    </table>
</article>


{{/content}}


{{/ layout-csig}}
