{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$main-content}}

<div class="column-full">
  <h1>What you need to do</h1>
  <p style="width:66%">We can't print the new passport until your application is complete. You can do this now or <a href="#">sign out and do it later.</a></p>
</div>

<div class="column-two-thirds">
  <h3 style="margin-bottom:-20px; padding:0">To do</h3>
  <ol class="task-list">
    <li>
      <ul class="task-list-items">
        <li class="task-list-item">
          <a class="task-name" href="./track/how-to" aria-describedby="eligibility-completed">
          Ask someone to confirm identity
          </a>
          <strong style="margin-right:15px" class="task-to-do" id="eligibility-completed">To do</strong>
        </li>
        <!-- <li class="task-list-item">
          <a class="task-name" href="./track/fta-docs" aria-describedby="read-declaration-completed">
            Get your documents ready
          </a>
          <strong class="task-to-do" id="eligibility-completed">To do</strong>
        </li> -->
      </ul>
    </li>
  </ol>
<h3 style="margin: 40px 0 0; padding-bottom:10px; border-bottom: 1px solid #bfc1c3;">Done</h3>
      <article>
        <table>
          <tbody>
            <tr>
              <td>Application received</td>
              <td>10:05am on 19 February 2018 <strong class="task-completed" id="eligibility-completed">Done</strong></td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:03am on 19 February 2018 <strong class="task-completed" id="eligibility-completed">Done</strong></td>
            </tr>
          </tbody>
        </table>
      </article>
  <!-- <a href="http://www.gov.uk">I'll do this later (sign out)</a> -->

</div>

<div class="column-one-third">
  <ul class="sidebar-task" style="margin-top: 54px">
    <li class="sidebar-task__panel">
      <h3>Application reference</h3>
      <p>PEX 319 825 680X</p>
    </li>
    <li class="sidebar-task__panel">
      <a href="./track/fta-docs" aria-describedby="read-declaration-completed">
        Required documents
      </a><br>

    </li>
  </ul>
  <p style="margin:15px"><a href="http://www.gov.uk">Sign out</a></p>
</div>


{{/main-content}}



{{/ layout}}
