{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$main-content}}
<div class="column-full">
  <h1>What you need to do</h1>
</div>

<div class="column-two-thirds">

  <ol class="task-list">
    <li>
      <ul class="task-list-items">
        <li class="task-list-item">
          <a class="task-name" href="how-to" aria-describedby="eligibility-completed">
            Ask someone to confirm identity
          </a>
          <strong class="task-pending" id="eligibility-completed">Waiting</strong>
          <p>Email sent to {{values.csig-email}} <br>You can remind the person or <a href="/csig/user-contact/" id="someone-else">ask someone else</a>.</p>
        </li>
        <li class="task-list-item">
          <a class="task-name" href="fta-docs" aria-describedby="read-declaration-completed">
          Get your documents ready
          </a>
          <strong class="task-to-do" id="eligibility-completed">To do</strong>
        </li>
      </ul>
    </li>
  </ol>
  <details>
    <summary><span class="summary">Application history</span></summary>
    <div class="panel panel-border-narrow">
      <article>
        <table>
          <tbody>
            <tr>
              <td>Ask someone to confirm your identity</td>
              <td>10:05am on 21 February 2018</td>
            </tr>
            <tr>
              <td>Application received</td>
              <td>10:05am on 19 February 2018</td>
            </tr>
            <tr>
              <td>Application submitted</td>
              <td>10:03am on 19 February 2018</td>
            </tr>
          </tbody>
        </table>
      </article>
    </div>
  </details>
</div>

<div class="column-one-third">
  <ul class="sidebar-task">
    <li class="sidebar-task__panel">
      <h3>Application reference</h3>
      <p>PEX 319 825 680X</p>
    </li>
    <li class="sidebar-task__panel">
      <a href="./track/fta-docs" aria-describedby="read-declaration-completed">
        Required documents
      </a><br>
    </li>
  </ul>
    <p style="margin:15px"><a href="http://www.gov.uk">Sign out</a></p>
</div>
{{< hmpo-partials-form}}
  {{$form}}
  <input type="hidden" name="renominate" id="renominate" value="anytime">
  <input type="submit" value="Continue" id="submit-hidden" class="button visuallyhidden">
{{/form}}
{{/ hmpo-partials-form}}
<script>
  $("#someone-else").click(function(e){
    e.preventDefault();
    $("#submit-hidden").click();
  })
</script>
{{/main-content}}

{{/ layout}}
