{{< layout}}

{{$pageTitle}}{{/pageTitle}}

{{$main-content}}

<div class="column-full">
  <h1>What you need to do</h1>
</div>

<div class="column-two-thirds">

  <ol class="task-list">
    <li>
      <ul class="task-list-items">
        <li class="task-list-item">
          <a class="task-name" href="/csig/user-contact" aria-describedby="eligibility-completed">
            Ask someone to confirm your identity
          </a>
          <strong class="task-to-do" id="eligibility-completed">To do</strong>
        </li>
        <li class="task-list-item">
          <a class="task-name" href="/csig/user-contact" aria-describedby="eligibility-completed">
            Ask someone to confirm your identity
          </a>
          <strong class="task-pending" id="eligibility-completed">Pending</strong>
        </li>
        <li class="task-list-item">
          <a class="task-name" href="#" aria-describedby="read-declaration-completed">
            Get ready to send your documents
          </a>
          <strong class="task-completed" id="eligibility-completed">Complete</strong>
          <p>You’ll need to send these once your identity is confirmed.</p>
        </li>
      </ul>
    </li>
  </ol>

<p>You can sign in to do this later and to track your application.<br>The details are in your confirmation email.</p>

</div>

<div class="column-one-third">
  <ul class="sidebar-task">
    <li class="sidebar-task__panel">
      <h3>Application reference</h3>
      <p>PEX 319 825 680X</p>
    </li>
    <li class="sidebar-task__panel">
      <h3>Payment reference</h3>
      <p>IE19852</p>
      <a href="#">Download PDF receipt</a>
    </li>
    <li class="sidebar-task__panel">
      <h3>Documents and history</h3>
      <a href="#">Check documents to send</a>
      <a href="#">Application history</a>
    </li>
  </ul>
</div>


{{/main-content}}



{{/ layout}}
