{{< layout-csig}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
{{< hmpo-partials-form}}
    {{$form}}
    <header class="update-notice update-notice--grey">
      <h1>Waiting for identity to be confirmed</h1>
      Email sent to {{values.csig-email}}
    </header>
    <h2>What happens next</h2>

    <p>When this is done, we'll update this page and send you an email.</p>

    <p>If you don’t get an update in the next few days, remind the person doing this for you or  <a href="/csig/user-contact/" id="someone-else">ask someone else</a>. You can only ask one person at a time.</p>

    <hr>
    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Email sent to person confirming identity</td>
            <td>5:30pm on 01 March 2018</td>
          </tr>
          <tr>
            <td>Person not eligible</td>
            <td>7:30pm on 27 July 2018</td>
          </tr>
          <tr>
            <td>Email sent to person confirming identity</td>
            <td>2:30pm on 25 July 2018</td>
          </tr>
          <tr>
              <td>Ask someone to confirm your identity</td>
              <td>10:05am on 19 July 2018</td>
            </tr>
          <tr>
            <td>Application received</td>
            <td>10:05am on 19 July 2018</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 19 July 2018</td>
          </tr>
        </tbody>
      </table>
      <br>
      <a href="/csig">Sign out</a>
      {{/form}}
      {{/ hmpo-partials-form}}

{{/content}}


{{/ layout-csig}}
