{{< layout}}


{{$pageTitle}}Do you have any uncancelled passports from a different country?{{/pageTitle}}

{{$header}}
    <h1>Do you have any other passports?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
      <fieldset class="inline">
      <!--  <p>For example, if you're a dual national. </p>-->
        {{#radio-group}}uncancelled{{/radio-group}}

        <div id="which-passport" class="reveal js-hidden" style="margin-top:-25px; margin-bottom:20px">
            <div class="panel panel-border-narrow">
              <legend><span class="form-label-bold">Which country is it for?</span></legend>
              <div class="form-date">
                <div id="country-code-group" class="form-group">
                  <label for="country-code" class="visuallyhidden"></label>
                  {{#select}}dual-national-country{{/select}}
                </div>
              </div>
        </div>
        </div>
      </fieldset>

        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
