{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../overseas/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 1 of 6</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>How to take your own digital passport photo</h1>
                </header>
                <div class="grid-row">
                    <div class="column-half">
                      
                      <p>This guide will show you how to get a digital photo that meets the passport photo rules, with the help of a friend.</p>
                      <p>Your application will be delayed if your photo doesn’t meet the rules.</p>

                      <p>We will show you these steps:</p>
                      <ol class="list-number">
                        <li>Rules for passport photos</li>
                        <li>Find a plain background</li>
                        <li>Where to stand to get the right image</li>
                        <li>How to get your lighting right</li>
                      </ol>
                      <br>
                     
                      <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-next">
                                        <a href="/photoguide-short/short-find-camera">Next: Find a camera</a>
                                    </li>
                                </ul>
                      </nav>
                    </div>
                    <div class="column-half">
                      <!--image here-->
                    </div>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
