{{< layout}}


{{$pageTitle}}What is your date of birth?{{/pageTitle}}

{{$header}}
    <h1>Are {{> partials-applicant-you-they}} 16 or older?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
        {{#radio-group}}16-or-older{{/radio-group}}

        <!-- <details>
            <summary><span class="summary">Turning 16 in the next 3 weeks</span></summary>
            <div class="panel panel-border-narrow">
              <p>It should take around 3 weeks to get a new passport. You need to apply for a 10 year adult passport by answering 'yes' to this question.</p>

            </div>
        </details> -->

        {{#input-submit}}{{/input-submit}}
    {{/form}}
    {{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
