{{< layout}}
{{$propositionHeader}}
{{/propositionHeader}}
{{$pageTitle}}Have you had a UK passport before?{{/pageTitle}}

{{$header}}
    <h1>Have {{> partials-applicant-you-they}} had a UK passport before?</h1>
{{/header}}

{{$content}}
{{< hmpo-partials-form}}
    {{$form}}

        <fieldset class="inline">
            {{#radio-group}}passport-before{{/radio-group}}
        </fieldset>

        <div id="passport-before-no" class="reveal js-hidden">
            <div class="panel panel-border-narrow">
                <p>You may need to have a <a href="../../guidance/identity-interviews" target="_blank">passport interview</a>. We'll tell you if that happens and what you need to do.</p>
            </div>
        </div>

        {{#input-submit}}{{/input-submit}}

    {{/form}}
{{/ hmpo-partials-form}}
{{/content}}

{{/ layout}}
