{{< layout}}
{{$propositionHeader}}
{{/propositionHeader}}
{{$pageTitle}}
  {{#nunjucks}}
    {% if not values['passport-before'] or (values['passport-before'] and values['old-blue']) %}
      Apply for a first UK passport
    {% elif values['passport-before'] and values['passport-damaged'] == 'No' %}
      Renew a UK passport
    {% elif values['passport-before'] and values['passport-damaged'] == 'Yes' %}
      Replace a UK passport
    {% endif %}
  {{/nunjucks}}
{{/pageTitle}}

{{$header}}
  {{#nunjucks}}
    {% if not values['passport-before'] or (values['passport-before'] and values['old-blue']) %}
      <h1>Apply for a first UK passport</h1>
    {% elif values['passport-before'] and values['passport-damaged'] == 'No' %}
      <h1>Renew a UK passport</h1>
    {% elif values['passport-before'] and values['passport-damaged'] == 'Yes' %}
      <h1>Replace a UK passport</h1>
    {% endif %}
  {{/nunjucks}}
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

{{#nunjucks}}
  {% if values['passport-before'] and values['old-blue'] %} {# Hidden FTA #}
    <p>Based on your answers, you have an old passport that expired some time ago. If this is incorrect, <a href="./">start again</a>.</p>

    <p>You can't renew this type of passport. You need to apply for a first UK passport and you may need to have a <a href="../../guidance/identity-interviews" target="_blank">passport interview</a>.</p>

    <p>It should take around 6 weeks to get a new passport.</p>

  {% elif values['passport-before'] and values['16-or-older'] and values['passport-damaged'] == 'No' %} {# Renew adult #}
    <p>Based on your answers, you're renewing a UK passport. If this is incorrect, <a href="./">start again</a>.</p>
    <p>If your face has changed because of an accident or illness such as a stroke, you need to apply a different way. This doesn't include the normal signs of ageing.<p>
    <p>It should take around 3 weeks to get a new passport. Use a different service if you need to get a passport urgently.<p>

  {% elif values['passport-before'] and not values['16-or-older'] and values['rising-16'] and values['passport-damaged'] == 'No'%} {# Renew rising 16 #}
    <p>Based on your answers, you're renewing a UK passport. If this is incorrect, <a href="./">start again</a>.</p>
    <p>If your face has changed because of an accident or illness such as a stroke, you need to apply a different way. This doesn't include the normal signs of ageing.<p>
    <p>It should take around 3 weeks to get a new passport. Use a different service if you need to get a passport urgently.<p>

  {% elif values['passport-before'] and not values['16-or-older'] and values['passport-damaged'] == 'No' %} {# Renew 12–15s #}
    <p>Based on your answers, you're renewing a UK passport. If this is incorrect, <a href="./">start again</a>.</p>
    <p>If your name has changed you need to apply a different way.<p>
    <p>If your face has changed you need to apply a different way.<p>
    <p>It should take around 3 weeks to get a new passport. Use a different service if you need to get a passport urgently.<p>

  {% elif values['passport-before'] and not values['16-or-older'] and values['rising-16'] and values['passport-damaged'] == 'Yes' %} {# Damaged rising 16 #}
    <p>Based on your answers, you're replacing a damaged UK passport. If this is incorrect, <a href="./">start again</a>.</p>
    <p>If your face has changed because of an accident or illness such as a stroke, you need to apply a different way. This doesn't include the normal signs of ageing.<p>
    <p>It should take around 3 weeks to get a new passport. Use a different service if you need to get a passport urgently.<p>

  {% elif values['passport-before'] and values['16-or-older'] and values['passport-damaged'] == 'Yes' %} {# Damaged adult #}
    <p>Based on your answers, you're replacing a damaged UK passport. If this is incorrect, <a href="./">start again</a>.</p>
    <p>If your face has changed because of an accident or illness such as a stroke, you need to apply a different way. This doesn't include the normal signs of ageing.<p>
    <p>It should take around 3 weeks to get a new passport. Use a different service if you need to get a passport urgently.<p>

  {# {% elif DPS %}
    <p>Based on your answers, you're applying for a UK passport urgently. If this is incorrect, <a href="./">start again</a>.</p> #}

  {% elif not values['passport-before'] %} {# FTA #}
    <p>Based on your answers, you're applying for a first UK passport. If this is incorrect, <a href="./">start again</a>.</p>

    <p>You need to have <a href="../../guidance/british-nationality" target="_blank">British nationality</a> to get a UK passport. Check you're eligible before you apply.</p>

    <p>It should take around 6 weeks to get a new passport.</p>

    {# {% if values['application-for-someone-else-why'] == 'adult-supported' %}
      <p>You're helping someone to apply online for their first adult passport. If this is not correct, <a href="./">start again</a>.</p>

      <div class="panel-important">
          <p>The applicant must agree to the terms and conditions. They need to be with you when you apply.</p>
      </div>

      <p>You need to have <a href="../../guidance/british-nationality" target="_blank">British nationality</a> to get a UK passport. Check you're eligible before you apply.</p>

      <p>It should take around 6 weeks to get a new passport.</p>

    {% elif values['application-for-someone-else-why'] == 'adult-no-capacity' %}
      <p>You're applying for a first adult passport for someone who doesn't have mental or physical capacity. If this is not correct, <a href="./">start again</a>.</p>

      <div class="panel-important">
          <p>You'll need to send evidence and agree to the terms and conditions on behalf of the applicant.</p>
      </div>

      <p>You need to have <a href="../../guidance/british-nationality" target="_blank">British nationality</a> to get a UK passport. Check you're eligible before you apply.</p>

      <p>It should take around 6 weeks to get a new passport.</p> #}

  {% endif %}
{{/nunjucks}}

{{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}

{{/ content}}

{{/ layout}}
