{{< layout}}

{{$pageTitle}}Applying for your first UK passport{{/pageTitle}}

{{$header}}
<h1>Apply for a first UK passport</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

{{#nunjucks}}
  {% if values['application-for-why'] == 'adult-supported' %}
    <p>You're helping someone to apply online for their first adult passport. If this is not correct, <a href="./">start again</a>.</p>

    <p>You need to:</p>
    <ul class="list-bullet">
      <li>be with the applicant when you do this</li>
      <li>ask the applicant to agree to the terms and conditions</li>
    </ul>

    <p>You need to have <a href="https://www.gov.uk/types-of-british-nationality" target="_blank">British nationality</a> to get a UK passport. Check you're eligible before you apply.</p>

  {% elseif values['application-for-why'] == 'adult-no-capacity' %}
    <p>You're applying for a first adult passport for someone who doesn't have mental or physical capacity. If this is not correct, <a href="./">start again</a>.</p>
    <p>You'll need to:</p>
    <ul class="list-bullet">
     <li>send evidence that you can make this application</li>
     <li>agree to the terms and conditions on behalf of the applicant</li>
    </ul>

    <p>You need to have <a href="https://www.gov.uk/types-of-british-nationality" target="_blank">British nationality</a> to get a UK passport. Check you're eligible before you apply.</p>

  {% elseif values['old-blue'] %}
    <p>Based on your answers, you have an old style passport that has expired. If this is incorrect, <a href="./filter">start again</a>.</p>

    <p>You can't renew an old style passport. You need to apply for a first UK passport and you may need to have a <a href="../../guidance/identity-interviews" target="_blank">passport interview</a>.</p>

  {% elseif not values['old-blue'] %}
    <p>Based on your answers, you're applying for a first UK passport. If this is incorrect, <a href="./filter">start again</a>.</p>

    <p>You need to have <a href="https://www.gov.uk/types-of-british-nationality" target="_blank">British nationality</a> to get a UK passport. Check you're eligible before you apply.</p>
  {% endif %}
{{/nunjucks}}

<p>It should take around 6 weeks to get a new passport.</p>

<a href="/ftas/intro" class="button">Continue</a>
<br>


{{/form}}
{{/ hmpo-partials-form}}

{{/ content}}

{{/ layout}}
