{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}>Who for help{{/pageTitle}}

{{$header}}
    <h1>Applying for someone else</h1>

    <p>You can help someone to apply online or legally apply on someone's behalf.</p>

    <h2>Helping someone to apply online</h2>

    <p>You can help someone to apply, for example someone who isn't confident doing things online or a teenager who isn't used to completing forms.

      <p>You'll need to:</p>

    <ul class="list-bullet">
      <li>be with the applicant when you apply</li>
      <li>ask the applicant to agree to the terms and conditions</li>
    </ul>

    <h2>Applying on behalf of someone</h2>

    <p>You can legally apply on behalf of someone, for example if you have parental responsibility or power of attorney. You'll need to:</p>

    <ul class="list-bullet">
      <li>send evidence that you can make this application</li>
      <li>agree to the terms and conditions on behalf of the applicant</li>
    </ul>



{{/header}}

{{$content}}

{{/content}}

{{/ layout}}
