{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Who are you applying for?{{/pageTitle}}

{{$header}}
    <h1>Why are you applying?</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
    {{$form}}
        {{#radio-group}}application-for-why{{/radio-group}}
        {{#input-submit}}{{/input-submit}}
    {{/form}}
{{/ hmpo-partials-form}}

<p>You'll need to send evidence and agree to the terms and conditions on behalf of the applicant.</p>

{{/content}}

{{/ layout}}
