{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$content}}

<header>
  <h1>You need a different service</h1>
</header>

<p>Online Premium is a new service - it's only available for some kinds of applications.</p>

<p>To get your passport urgently, you need to apply with <a title="Part 1: Choose another sevice" href="https://www.gov.uk/get-a-passport-urgently">paper Premium (1 day) or Fast Track</a>.</p>
<p></p>

{{/ content}}

{{/ layout}}
