{{< layout}}

{{$main-content}}
    <div class="column-full">
        <div class="flash-card">
        <header>
        <h1>Before you continue</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">

              <p>If your name has changed, you need to <a href="https://www.gov.uk/changing-passport-information">update your information</a>.</p>

              <p>If your face has changed significantly, not including the normal signs of ageing, you need to <a href="https://passportapplication.service.gov.uk/ips-olc/">apply in a different way</a>.</p>

              &nbsp;

              <a href="/priority_service_170510/intro/what-you-need" class="button">Continue</a><br>

            </div>
        </div>

        </div>
    </div>

{{/ main-content}}

{{/ layout}}
