{{< layout}}

{{$pageTitle}}Home address{{/pageTitle}}

{{$header}}
    <h1>Check home address</h1>
{{/header}}

{{$content}}

<!--<p>We've shortened your address so that it fits on an address label.
<br>Check your address is still correct. You may need to edit it.</p>-->
            <fieldset>
                <legend class="visually-hidden">Home address</legend>

                <div id="address-line-1-group" class="form-group form-group-compound">
    <label for="address-line-1" class="form-label-bold">
        Address<span class="visuallyhidden"> line 1</span>
       <!-- <p class="form-hint" id="dob-hint">There is a limit of 40 characters in each line.</p>-->


    </label>
    <input type="text" name="address-line-1" id="address-line-1" class="form-control form-control-3-4" aria-required="true" value="Flat A/01" maxlength="40"></div>

                <div id="address-line-2-group" class="form-group form-group-compound">
    <label for="address-line-2" class="visually-hidden">
        Address line 2


    </label>
    <input type="text" name="address-line-2" id="address-line-2" class="form-control form-control-3-4" aria-required="false" value="Parliament View Apartments, 1" maxlength="40"></div>


<br>

                <div id="address-town-group" class="form-group">
    <label for="address-town" class="form-label-bold">
        Town or city


    </label>
    <input type="text" name="address-town" id="address-town" class="form-control" aria-required="true" value="London" maxlength="30"></div>

                    <div id="address-postcode-group" class="form-group">
    <label for="address-postcode" class="form-label-bold">
        Postcode


    </label>
    <input type="text" name="address-postcode" id="address-postcode" class="form-control input-code" aria-required="true" value="SE1 7XH"></div>


                    <div class="form-group">
                        <label class="form-label-bold">
                            Country
                        </label>
                        United Kingdom
                    </div>
            </fieldset>

    <a href="./contact-details" class="button">Continue</a>

</div>

{{/content}}


{{/ layout}}
