{{< layout}}

{{$pageTitle}}Home address{{/pageTitle}}

{{$header}}
    <h1>Select an address</h1>
{{/header}}

{{$content}}

<form action="/renew/address-select" method="POST" autocomplete="off" novalidate="true" spellcheck="false">
            <div class="form-user-data">

                <div id="address-select-group" class="form-group">

                <select id="address-select" name="address-select">
                    <option value="">43
                            addresses found
                     </option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610fOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDEAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/01, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.6103OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDIAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/02, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610vOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDMAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/03, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610nOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDQAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/04, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610.OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDUAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/05, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610XOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDYAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/06, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610rOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDcAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/07, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610zOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDgAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/08, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610bOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMDkAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/09, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610EOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTAAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/10, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610cOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTEAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/11, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.6100OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTIAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/12, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610sOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTMAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/13, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610kOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTQAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/14, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.6108OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTUAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/15, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610UOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTYAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/16, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610oOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTcAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/17, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610wOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTgAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/18, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610YOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMTkAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/19, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610gOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMjAAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/20, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.6104OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMjEAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/21, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610QOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMjIAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/22, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610IOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMjMAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/23, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610AOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMjQAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/24, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610YOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMjUAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/25, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610wOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMjYAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/26, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610MOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMjcAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/27, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610UOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMjgAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/28, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.6108OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMjkAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/29, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610jOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMzAAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/30, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.6107OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMzEAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/31, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610TOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMzIAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/32, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610LOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMzMAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/33, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610DOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMzQAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/34, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610bOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMzUAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/35, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610zOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMzYAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/36, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610POGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMzcAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/37, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610XOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMzgAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/38, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610.OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAAMzkAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/39, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610_OGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAANDAAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/40, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610mOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAANDEAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/41, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610OOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAANDIAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/42, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                        <option value="GBR|831f781b-31da-4beb-9bff-d360949fe65b|7.610WOGBREQvhBwAAAAABAwEAAAABfMImkgAgAAAAAAAANDMAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAU0UxIDdYSCBAeAA-">Flat A/43, Parliament View Apartments, 1 Albert Embankment, LONDON SE1 7XH</option>
                </select>
            </div>
                <h2>Postcode</h2>
                <p><span>SE1 7XH</span><a href="./home-address-postcode">Change<span class="visually-hidden"> your postcode</span></a></p>
            </div>
            
            <p><a href="./home-address-manual">I can’t find my address in the list</a></p>



</form>

<a href="./home-address-filled" class="button">Continue</a>
</div>


{{/content}}


{{/ layout}}
