{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>Your passport is coming</h1>
    </header>
        <p>We've printed your new passport and have sent it by courier.</p>
        <p>We're sending your old passport back. It's been clipped, so no-one can use it.</p>
          <div role="note" aria-label="Information" class="panel panel-border-wide application-notice info-notice">
                    <h2>You must sign your new passport when you receive it</h2>
                    <p>You won't be able to use it until you do.</p>
                </div>
            </div>
          </div>

       <h2>Application history</h2>
    <article>
    <table>

        <tbody>
          <tr>
            <td>Passport printed and sent</td>
            <td>10:40am on 5th of January 2017</td>
          </tr>
           <tr>
            <td>Application approved</td>
            <td>10:39am on 5th of January 2017</td>
          </tr>
           <tr>
            <td>Joined processing queue</td>
            <td>10:39am on 5th of January 2017</td>
          </tr>
           <tr>
            <td>Old passport received</td>
            <td>10:39am on 5th of January 2017</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>10:38am on 5th of January 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking-ovs" class="button">Sign out</a><br>

      <br/><br/><br/><br/>
      <p>Other statuses:</p>
      <ul>
          <li><a href="/public/images/tracking/track-5.png">Application received</li>
          <li><a href="/public/images/tracking/track-6.png">We've received your old passport</li>
          <li><a href="/public/images/tracking/track-7.png">Joined processing queue</li>
          <li><a href="/public/images/tracking/track-8.png">Photo rejected</li>
          <li><a href="/public/images/tracking/track-9.png">New photo received</li>
          <li><a href="/public/images/tracking/track-10.png">You need a countersignature</li>
          <li><a href="/public/images/tracking/track-11.png">Application approved</li>
          <li><a href="/public/images/tracking/track-12.png">Your passport is coming</li>
          <li><a href="/public/images/tracking/track-13-withdrawn.png">Withdrawn</li>
          <li><a href="/public/images/tracking/track-14-failed.png">Failed</li>
          <li><a href="/public/images/tracking/track-15-onw.png">Onw</li>
          <li><a href="/public/images/tracking/track-15-refused.png">Refused</li>
          <li><a href="/public/images/tracking/track-16-rpd.png">Don't track your application here</li>
      </ul>

{{/content}}


{{/ layout}}
