{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>Waiting for your old passport</h1>
    </header>
    <br/>
    <h2>Action required</h2>
        <h3>Send us your old passport </h3>
        <p>We haven't received your old passport.</p>
        <p>We can't send your new passport until we've examined and cancelled your old one.</p>
        <details>
          <summary><span class="summary">Where to send your old passport</span></summary>
          <div class="panel panel-border-narrow">
            <p>HM Passport Office<br>
                    INT &ndash; OR<br>
                    Ref: PEX 318 437 555X<br>
                    Aragon Court<br>
                    Northminster Road<br>
                    Peterborough<br>
                    PE1 1QG<br>
                    UK</p>
            <p>You don’t need to include anything else, and it’s up to you whether you use standard post or a secure service.</p>
          </div>
        </details>
        <p>Once we've cancelled your old passport we'll send it back to you with the corner clipped. </p>
        <details>
          <summary><span class="summary">I've already sent it</span></summary>
          <div class="panel panel-border-narrow">
            <p>Check again in 5 days. If we still haven’t received your old passport <a href="/help" target="_blank">Contact HM Passport Office <span class="visuallyhidden">(Opens in a new window)</span></a></p>
          </div>
        </details>

    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Application submitted</td>
            <td>10:03am on 5th of January 2017 </td>
          </tr>
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/tracking-ovs" class="button">Sign out</a><br>

      <br/><br/><br/><br/>
      <p>Other statuses:</p>
      <ul>
          <li><a href="/public/images/tracking/track-5.png">Application received</li>
          <li><a href="/public/images/tracking/track-6.png">We've received your old passport</li>
          <li><a href="/public/images/tracking/track-7.png">Joined processing queue</li>
          <li><a href="/public/images/tracking/track-8.png">Photo rejected</li>
          <li><a href="/public/images/tracking/track-9.png">New photo received</li>
          <li><a href="/public/images/tracking/track-10.png">You need a countersignature</li>
          <li><a href="/public/images/tracking/track-11.png">Application approved</li>
          <li><a href="/public/images/tracking/track-12.png">Your passport is coming</li>
          <li><a href="/public/images/tracking/track-13-withdrawn.png">Withdrawn</li>
          <li><a href="/public/images/tracking/track-14-failed.png">Failed</li>
          <li><a href="/public/images/tracking/track-15-onw.png">Onw</li>
          <li><a href="/public/images/tracking/track-15-refused.png">Refused</li>
          <li><a href="/public/images/tracking/track-16-rpd.png">Don't track your application here</li>
      </ul>

{{/content}}


{{/ layout}}
