{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../overseas/choose-photo-method" class="back-link">Other ways to get a photo</a>
            <span class="marker">Guide part 8 of 12</span>
        </div>
{{/back}}

{{$main-content}}
        <link rel="stylesheet" href="{{assetPath}}/stylesheets/app-photo.css">

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>Take off any headwear</h1>
                </header>
                <div class="grid-row">
                    <div class="column-half">
                      <p>Please remove any headwear unless worn for religious or medical reasons.</p>
                      <p>You must take off anything else that may obstruct the photo, like hair clips or glasses.</p>
                      <nav class="guide-nav">
                                <ul>
                                    <li class="button-guide button-guide-previous">
                                        <a href="/photoguide-myself/guidemyself-lighting">Previous</a>
                                    </li>
                                    <li class="button-guide button-guide-next">
                                        <a href="/photoguide-myself/guidemyself-face-visible">Next</a>
                                    </li>
                                </ul>
                      </nav>
                    </div>
                    <div class="column-half">
                      image here
                    </div>
                </div>
            </div>
        </div>

{{/main-content}}

{{/ layout}}
