{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}
<div class="padding-wrapper">

<div class="grid-row"><div class="column-two-thirds">

<h1>Choose how to get a passport urgently</h1>

<p>You'll need to attend an appointment at a <a href="/priority_service_170330/book-appointment/passport-offices">passport office in the UK</a>. You can choose an appointment online when you apply.</p>

<p>There are 3 ways to get a passport urgently.</p>

<div class="service-info">
  <h2>Paper Premium</h2>
    <p class="question">Who can apply? </p>
  <p>Adults over 16</p>
    <p class="question">How do I apply? </p>
<p>Paper form</p>
    <p class="question">When do I get my new passport? </p>
<p>4 hours after your appointment</p>
    <p class="question">What photos do I need? </p>
<p>2 printed photos</p>
    <p class="question">How much is an adult passport?</p>
<p>£128</p>
    <p><input class="button" type="submit" value="Choose"></p>
  </div>

<div class="service-info">
<h2>Online Premium</h2>
<p class="question">Who can apply? </p>
<p>Adults over 26</p>
<p class="question">How do I apply? </p>
<p>Online</p>
<p class="question">When do I get my new passport? </p>
<p>30 minutes after your appointment</p>
<p class="question">What photos do I need? </p>
<p>1 digital photo</p>
<p class="question">How much is an adult passport?</p>
<p>£128</p>

  <p><input class="button" type="submit" value="Choose"></p>
</div>

    <div class="service-info">
      <h2 class=>Fast Track</h2>
      <p class="question">Who can apply? </p>
      <p>Adults and children</p>
      <p class="question">How do I apply? </p>
      <p>Paper form</p>
      <p class="question">When do I get my new passport? </p>
      <p>1 week after your appointment (by post)</p>
      <p class="question">What photos do I need? </p>
      <p>2 printed photo</p>
      <p class="question">How much is an adult passport?</p>
      <p>£103</p>
    </div>

      <p>Use this service to apply for a child passport urgently.</p>

      <p><input class="button" type="submit" value="Choose"></p>

    </div>






{{/main-content}}




{{/ layout}}
