{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}
<div class="padding-wrapper">

<div class="grid-row"><div class="column-two-thirds">

<h1>Choose how to get a passport urgently</h1>

<p>You'll need to attend an appointment at a <a href="/priority_service_170330/book-appointment/passport-offices">passport office in the UK</a>. You can choose an appointment online when you apply.</p>

<div class="service-info">
  <h2>Paper Premium</h2>
  <ul class="list-bullet">
    <li>Apply using a paper form</li>
    <li>Get your passport 4 hours after your appointment</li>
    <li>Costs £128</li>
  </ul>
    <p><input class="button" type="submit" value="Choose"></p>
  </div>
  
<div class="service-info">
<h2>Online Premium</h2>
<ul class="list-bullet">
  <li>Apply online</li>
  <li>Get your passport 30 minutes after your appointment</li>
  <li>Costs £128</li>
</ul>

  <p><input class="button" type="submit" value="Choose"></p>
</div>

    <div class="service-info">
    <h2>Fast Track</h2>
    <ul class="list-bullet">
      <li>Apply using a paper form</li>
      <li>Get your passport 1 week after your appointment</li>
      <li>Costs £103</li>
    </ul>

      <p><input class="button" type="submit" value="Choose"></p>
    </div>

    </div>






{{/main-content}}




{{/ layout}}
