{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}

<h1>Apply with paper Premium</h1>

<ul class="list">
  <li><div class="tick"></div>Apply with a paper form</li>
  <li><div class="tick"></div>Receive passport 4 hours after appointment</li>
  <li><div class="tick"></div>Apply with two printed passport photos</li>
  <li><div class="tick"></div>Costs £128</li>
</ul>

</br>
<h2>You'll need to:</h2>

</p>
<ol class="list">
<li><span class="circle circle-step black-circle">1</span> <p>Get a paper form at the Post Office</p></li>
<li><span class="circle circle-step black-circle">2</span> <p>Get 2 printed passport photos from a photo shop</p></li>
<li><span class="circle circle-step black-circle">3</span> <p>Book an appointment</a> to drop off your completed form and photos</p> </li>
<li><span class="circle circle-step black-circle">4</span> <p>Collect your new passport 4 hours later</p> </li>
</ol>
<p>An adult passport costs £128 using this service. If you're applying for <br>
 a child passport, you need to use <a href="/priority_service_170215/get-urgent-passport/fast-track">Fast Track</a>.

<td><h2><a href=""><input class="button" type="submit" value="Book an appointment"></h2></a></td>

{{/main-content}}

{{/ layout}}
