{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}

<div class="padding-wrapper">


<h1>Apply with online Premium</h1>
<p>This is a new service &ndash; it's only available for some kinds of applications. </p>


<ul>
  <li><div class="tick"></div>Apply online</li>
  <li><div class="tick"></div>Receive passport 30 minutes after your appointment</li>
  <li><div class="tick"></div>Apply with one digital photo</li>
  <li><div class="tick"></div>Costs £128</li>
</ul>
</br>


<p>The earliest appointment is in 2 days. If you need your passport sooner, </br>
	<a href="https://www.gov.uk/get-a-passport-urgently">check the paper Premium (1 day) service</a>.</p>


<div class="grid-row">
<div class="column-two-thirds">

	<h2>You'll need to:</h2>

<ol>
<li><span class="circle circle-step black-circle">1</span><p>Choose an appointment time to collect your new passport</p></li>
<li><span class="circle circle-step black-circle">2</span><p>Take a digital passport photo - we'll show you how</p></li>
<li><span class="circle circle-step black-circle">3</span><p>Apply online and pay with a debit or credit card</p></li>
<li><span class="circle circle-step black-circle">4</span><p>Collect your new passport</p></li>
</p>
</ol>

<td><h2><a href="/priority_service_170419/filter-common"><input class="button" type="submit" value="Check if you can use this service"></h2></a></td>

</div>
</div>
</div>

{{/main-content}}

{{/ layout}}
