{{< layout}}

{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Information about urgent passport{{/pageTitle}}

{{$header}}
{{/header}}


{{$main-content}}

<div class="padding-wrapper">



  <div class="grid-row">
  <div class="column-two-thirds">

  </br>
<h1>Apply with online Premium</h1>
<p>This is a new service &ndash; it's only available for some kinds of applications. </p>

<p>The earliest appointment is in 2 days. If you need your passport sooner,
  <a href="https://www.gov.uk/get-a-passport-urgently">check the paper Premium (1 day) service</a>.</p>



  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          How do I apply?
        </td>
        <td>
          <span class="bold-small">Online</span>
        </td>
        <td class="change-answer">
        <!--  <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          -->
          </a>
        </td>
      </tr>
      <tr>
        <td>
          When do I get my new passport?
        </td>
        <td>
          <span class="bold-small">30 minutes after your appointment</span></br>
          The earliest appointment is in 2 days
        </td>
        <td class="change-answer">

        </td>
      </tr>
      <tr>
        <td>
          What photos do I need?
        </td>
        <td>
          <span class="bold-small">One digital photo</span>
        </td>
        <td class="change-answer">

        </td>
      </tr>
      <tr>
        <td>
          How much is an adult passport?
        </td>
        <td>
          <span class="bold-small">£128</span>
        </td>
        <td class="change-answer">

        </td>
      </tr>
      <tr>
        <td>
          Can I apply for a child passport?
        </td>
        <td>
          <span class="bold-small">No</span>
        </td>
        <td class="change-answer">

        </td>
      </tr>

    </tbody>
  </table>


<!--
<ul>
  <li><div class="tick"></div>Apply online</li>
  <li><div class="tick"></div>Receive passport 30 minutes after your appointment</li>
  <li><div class="tick"></div>Apply with one digital photo</li>
  <li><div class="tick"></div>Costs £128</li>
</ul>
</br>
-->
</br>


	<h2>You'll need to:</h2>
</br>

<ol>
<li><span class="circle circle-step black-circle">1</span><p>Choose an appointment time to collect your new passport</p></li>
<li><span class="circle circle-step black-circle">2</span><p>Take a digital passport photo &ndash; we'll show you how</p></li>
<li><span class="circle circle-step black-circle">3</span><p>Apply online and pay with a debit or credit card</p></li>
<li><span class="circle circle-step black-circle">4</span><p>Collect your new passport</p></li>
</p>
</ol>
</br>

<td><h2><a href="/priority_service_170419/filter-common"><input class="button" type="submit" value="Check if you can use this service"></h2></a></td>
</br>
<p><a href="#">Back to other services</a></p>

</div>
</div>
</div>

{{/main-content}}

{{/ layout}}
