{{< layout}}


{{$pageTitle}}What is your date of birth?{{/pageTitle}}

{{$header}}
    <h1>Are you 16 or older?</h1>
{{/header}}

{{$content}}

    {{< hmpo-partials-form}}
    {{$form}}
        {{#radio-group}}16-or-older{{/radio-group}}
        {{#input-submit}}{{/input-submit}}
    {{/form}}
        {{/ hmpo-partials-form}}

    <details>
            <summary><span class="summary">I'll be 16 in the next 3 weeks</span></summary>
            <div class="panel panel-border-narrow">
              <p>If you're turning 16 in the next 3 weeks you need to answer 'yes' to this question. You'll have to apply for a 10 year adult passport.</p>

            </div>
        </details>

{{/content}}

{{/ layout}}
