{{< layout}}

{{$pageTitle}}Track your application{{/pageTitle}}


{{$header}}
    <h1>Track your application</h1>
{{/header}}

{{$content}}

<h2>Does your application reference begin with PEX or POD?</h2>
<p>You'll find this in your confirmation email.</p>



{{< hmpo-partials-form}}
    {{$form}}
    <fieldset class="form-group inline">
      <label for="yes" class="block-label selected">
            <input type="radio" name="title" id="yes" value="Other" aria-required="true" data-toggle="yes-title" aria-controls="yes-title" aria-expanded="true">
            Yes
      </label>




        <label for="no" class="block-label selected">
              <input type="radio" name="title" id="no" value="Other" aria-required="true" data-toggle="no-title" aria-controls="no-title" aria-expanded="true">
              No
        </label>
<!-- PEX Reveal -->
        <div id="yes-title" class="reveal" aria-hidden="false" >
            <div class="panel panel-border-narrow">
          <div id="other-title-group" class="form-group">
              <span id="previous-name-hint" class="form-hint">Enter your reference, for example PEX1234567890
              </span>
              <!-- <span id="reference-prefix" class="prefix" style="margin-right:5px">PEX</span>--><input type="text" name="other-title" id="other-title" class="form-control" aria-required="true" maxlength="20">
          </div>
        </div>
        </div>


 <!-- POD Reveal -->
     <!--   <div id="no-title" class="reveal" aria-hidden="false">
            <div class="panel panel-border-narrow">
          <div id="other-title-group" class="form-group">
              <span id="previous-name-hint" class="form-hint">Enter your number, for example POD1234567890
              </span>
              <span id="reference-prefix" class="prefix" style="margin-right:5px">POD</span><input type="text" name="other-title" id="other-title" class="form-control" aria-required="true" maxlength="20">
          </div>
        </div>
        </div>-->

    </fieldset><br/>


    <!--<details>
              <summary><span class="summary">My number doesn't start with PEX or POD</span></summary>
              <div class="panel panel-border-narrow">
                <p>You need to track your application a <a href="/">different way</a>.</p>
               
              </div>
          </details>-->


    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}



{{/content}}

{{/ layout}}
