{{< layout}}

{{$pageTitle}}Track your application{{/pageTitle}}


{{$header}}
    <h1>Track your application</h1>
{{/header}}

{{$content}}

<p>You can only use this service if your reference begins with PEX or POD.</p>


<h2>Your application reference</h2>
{{< hmpo-partials-form}}
    {{$form}}
    <fieldset class="form-group inline">
<div id="other-title-group" class="form-group">
              <!--<span id="previous-name-hint" class="form-hint">Enter your number, for example PEX1234567890
              </span>-->
          <input type="text" name="other-title" id="other-title" class="form-control" aria-required="true" maxlength="20">

        </div>
</fieldset>


    <details>
              <summary><span class="summary">I can't find my application reference</span></summary>
              <div class="panel panel-border-narrow">
                <p>You can find your reference in your confirmation email or text, for example PEX1234567890.
                  <p>If your reference doesn't begin with PEX or POD you need to track your application a <a href="https://passportapplication.service.gov.uk/ips-olc/">different way</a>.</p>
               
              </div>
          </details>


    {{#input-submit}}{{/input-submit}}

{{/form}}
{{/ hmpo-partials-form}}



{{/content}}

{{/ layout}}
