{{< layout}}

{{$pageTitle}}Track a passport application{{/pageTitle}}


{{$content}}
    <header class="update-notice">
          <h1>Your passport is coming</h1>
    </header>
    <br/>
    <h2>What happens next</h2>
      
        <p>We've printed your passport and have sent it by secure delivery.</p>

      <p>We're sending your old passport back. It's been clipped so no one can use it.</p>
      

      <div class="panel panel-border-wide">
   <h2>You must sign your passport when you receive it.</h2>
            <p>You won't be able to use it till you do.</p>
</div>



<br>
    <h2>Application history</h2>
    <article>
    <table>
        <tbody>
          <tr>
            <td>Passport printed and sent</td>
            <td>9:25pm on 9 March 2018</td>
          </tr>
          <tr>
            <td>Application approved</td>
            <td>2:46pm on 8 March 2018</td>
          </tr>
          <tr>
            <td>Joined processing queue</td>
            <td>11.56pm on 8 March 2018</td>
          </tr>
          <tr>
            <td>Old passport received</td>
            <td>10:30pm on 8 March 2018</td>
          </tr>
          <tr>
            <td>Application received</td>
            <td>1:29pm on 4 March 2018</td>
          </tr>
          <tr>
            <td>Application submitted</td>
            <td>1:28pm on 4 March 2018</td>
          </tr>
      
        </tbody>
      </table>
    </article>
      <br/>
      <a href="/pod" class="button">Sign out</a><br>

      

{{/content}}


{{/ layout}}
