{{< layout}}

{{$pageTitle}}Applying for your first UK passport{{/pageTitle}}

{{$header}}
<h1>Apply for a first UK passport</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>Based on your answers, you're an adult applying for your first UK passport. If this is incorrect, <a href="./filter">start again</a>.</p>

<p>Check you're <a href="https://www.gov.uk/british-passport-eligibility" target="_blank">eligible for a UK passport</a> before you apply.</p>

<p>It should take around 6 weeks to get your new passport.</p>

<a href="/ftas/intro/how-to-apply" class="button">Continue</a>
<br>

{{/form}}
{{/ hmpo-partials-form}}

{{/ content}}

{{/ layout}}