{{< layout}}

{{$pageTitle}}Applying for your first UK passport{{/pageTitle}}

{{$header}}
<h1>Apply for a first UK passport</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>Based on your answers, you're applying for a first UK passport. If this is incorrect, <a href="./filter">start again</a>.</p>

<p>You need to have <a href="https://www.gov.uk/types-of-british-nationality" target="_blank">British nationality</a> to get a UK passport. Check you're eligible before you apply.</p>

<p>It should take around 6 weeks to get a new passport.</p>

<a href="/ftas/intro/how-to-apply" class="button">Continue</a>
<br>

{{/form}}
{{/ hmpo-partials-form}}

{{/ content}}

{{/ layout}}
