{{< layout}}

{{$pageTitle}}Getting your first UK passport{{/pageTitle}}

{{$header}}
<h1>Getting your first UK passport</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p>Based on your answers, you're an adult applying for your first UK passport. If this is not correct, <a href="./filter">start again</a>.</p>

<p>It should take around 6 weeks to get your new passport, but some applications may take longer.</p>

<a href="/ftas/intro/what-you-need" class="button">Continue</a>
<br>

{{/form}}
{{/ hmpo-partials-form}}

{{/ content}}

{{/ layout}}