{{< layout}}

{{$pageTitle}}What you'll need{{/pageTitle}}

{{$header}}
<h1>What you'll need</h1>
{{/header}}

{{$content}}

{{< hmpo-partials-form}}
{{$form}}

<p style="margin-bottom: 30px;">You won't be able to save your application – get this information ready before you continue. If you can't provide these details, you'll need to tell us why.</p>

<h2>Your details</h2>
<ul class="list-bullet list-bullet-header-spacing">
    <li>birth or adoption certificate</li>
</ul>

<h2>Parents' details</h2>
<ul class="list-bullet list-bullet-header-spacing">
    <li>name, date and place of birth</li>
    <li>nationality</li>
    <li>UK passport details (if this applies)</li>
    <li>date of marriage or civil partnership (if this applies)</li>
</ul>

<h2>Grandparents' details</h2>
<p>Based on what you tell us, we may ask for your grandparents:</p>
<ul style="margin-bottom: 30px;" class="list-bullet list-bullet-header-spacing">
    <li>name, date and place of birth</li>
    <li>date of marriage or civil partnership (if this applies)</li>
</ul>

<!-- <p style="margin-bottom: 30px;">If you can't provide any of these details, you'll need to tell us why.</p> -->

<!-- <h2>By continuing you confirm that:</h2>
<ul class="list-bullet">
    <li>you have read and understand the information on what you'll need</li>
</ul> -->

<fieldset style="margin-bottom: 50px;">
    <legend class="visuallyhidden">You must agree in order to continue.</legend>
    <div id="what-you-will-need-declaration-group" class="form-group form-group-compound">
        <label for="what-you-will-need-declaration" class="block-label ">
            <input type="checkbox" id="what-you-will-need-declaration" name="what-you-will-need-declaration" value="true" aria-required="false" required="true">
                I have these details and I'm ready to continue
        </label>
    </div>
</fieldset>

<a href="./you-need-a-photo" class="button">Continue</a>

{{/form}}
{{/ hmpo-partials-form}}

{{/ content}}

{{/ layout}}