<div class="column-full">
    <div class="flash-card">
        <header>
            <h1>How to apply</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">
                <ul>
                    <li>
                        <span class="circle circle-step">1</span>
                        <h2>Get a digital passport photo</h2>
                        <p style="margin-left:32px;">We'll show you how to get a digital photo that <a href="/how-to">meets the rules</a>.</p>

                    </li>
                    <li>
                        <span class="circle circle-step">2</span>
                        <h2>Apply and pay online</h2>
                        <p style="margin-left:32px;">A standard passport costs £75.50.</p>
                    </li>
                    <li>
                        <span class="circle circle-step">3</span>
                        <h2>Ask someone to confirm your identity</h2>
                        <p style="margin-left:32px;">They can <a href="../../guidance/confirming-your-identity" target="_blank">confirm your identity online</a> without a printed photo.</p>

                    </li>
                    <li>
                        <span class="circle circle-step">4</span>
                        <h2>Send us your documents</h2>
                        <p style="margin-left:32px;">They need to be originals. We'll tell you what you need to send.</p>
                    </li>
                    <li>
                        <span class="circle circle-step">5</span>
                        <h2>Go for an interview</h2>
                        <p style="margin-left:32px;">If you need an <a href="../../guidance/identity-interviews" target="_blank">interview</a>, we'll write to you with the details.</p>
                    </li>
                </ul>
                <br>
                <!-- <div class="panel panel-border-narrow">
                    <p>You may need to have an <a href="../../guidance/identity-interviews" target="_blank">identity interview</a>. We'll tell you if that happens and what you need to do.</p>
                </div> -->

                {{#input-submit}}{{/input-submit}}

                <details>
                    <summary>
                        <span class="summary">I need help doing things online</span>
                    </summary>
                    <div class="panel panel-border-narrow">
                        <p>You can call the Passport Adviceline for help.</p>
                        <ul>
                            <li>Telephone: 0300 330 0901</li>
                            <li>Textphone: 0300 330 0808</li>
                            <li>Monday to Friday, 8:00am to 8:00pm</li>
                            <li>Weekends and public holidays, 9:00am to 5:30pm</li>
                            <p></p>
                            <li>
                                <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
                            </li>
                        </ul>
                    </div>
                </details>
            </div>

        </div>
    </div>
</div>
